[2015-05-31 23:41] tgfrerer commented on #3507
Yes

[2015-05-31 23:46] pizthewiz commented on #3507
Closing, OS X minimum is now 10.7 :+1:

[2015-05-31 23:46] #3507 closed

[2015-06-01 00:33] bakercp commented on #3669
If you've got working static libs go ahead and PR!

[2015-06-01 06:01] #3878 closed

[2015-06-01 06:08] bilderbuchi commented on #3881
So, what do we have to do to get C++11 on 32-bit OSX running?

[2015-06-01 06:13] arturoc commented on #3881
just compile it with libc++ instead of libstdc++ but then old addons with compiled libraries that use the std won't work anymore. i would do it anyway since i'd say most addons don't have static libraries and only a few of those use the std

[2015-06-01 09:34] DomAmato commented on #3843
I will give it a push this week, I'm pretty confident it can be done easily enough just a matter of determining failure points and creating workarounds or patches

[2015-06-01 11:42] jamet opened #3882 "undefined reference to ai* assimp method in ofxAssimpModelLoader"
hello,

i cloned today's openframeworks master (01 june ), and when compiling an app with ofxAssimpModelLoader, i'm getting the following error :
/home/acryl/mapping/dev/openframeworks/git01062015/openframeworks/apps/devApps/lpmtX2/../../../addons/ofxAssimpModelLoader/src/ofxAssimpModelLoader.cpp|37|undefined reference to `aiImportFileExWithProperties'|
and 20 more errors concerning assimp referen

[2015-06-01 14:09] procedural opened #3883 "tess2 leaks 9.5 MB of memory"
ofTrueTypeFont doesn't leak anything by itself, but if you set `makeContours` to true, tess2 will leak 9.5 MB, as Clang's Leak Sanitizer and Valgrind reports.

Repro:

[code]

Leak Sanitizer's report:

[code]

Valgrind's report with `--leak-check=full` flag (system leaks are omitted):

[code]

[2015-06-01 14:48] arturoc commented on #3882
we changed the version of assimp recently to 3 (we were using 2 before).
In linux the library is now installed through the
install_dependencies.sh script when you install OF so you'll need to
rerun the script now to install the new libraries

On 01.06.2015 13:42, jamet wrote:

[2015-06-01 14:50] bilderbuchi commented on #3883
I like your work trying to find memleaks, warnings, etc, very much!
The next steps should probably be:

1. find out if this happens in vanilla tess2, or if it's due to one of our [patches](https://github.com/openframeworks/openFrameworks/tree/master/scripts/apothecary/formulas/tess2)
2. If it's in current vanilla tess2, [report it usptream](https://github.com/memononen/libtess2/issues).
3. If it's

[2015-06-01 14:50] arturoc commented on #3883
i think this is just memory allocated at the beginning and never
deallocated, since it's a one time thing that memory will get destroyed
when the program finishes but perhaps there's a way to finish tess2 like
you just did with font config. if you want to look into it? in any case
i don't think it's a real leak but it'll be nice to get rid of it so
leak analysis tools don't report it

On 01.06.201

[2015-06-01 16:04] jamet commented on #3882
hi @arturoc ,

i rerun install_dependencies.sh, but it seems all deps are already installed :

installing OF dependencies
Reading package lists... Done
Building dependency tree
Reading state information... Done
Note, selecting 'libsndfile1-dev' instead of 'libsndfile-dev'
Note, selecting 'libpython2.7-stdlib' instead of 'python-argparse'
freeglut3-dev is already the newest version.
g++ is already

[2015-06-01 16:10] arturoc commented on #3882
mmh, yeah sorry i changed the install dependencies scripts but never updated the addon config so it uses the library from the system. will do it later but by now you can add to your project's config.make in the LDFLAGS section:

[code]

[2015-06-01 16:16] jamet commented on #3882
that seems to make the thing OK and compiling, thanks a lot @arturoc !!!

should i close the issue?

[2015-06-01 16:20] arturoc commented on #3882
no leave it open, i'll close it when i fix the original problem without need to change the config file

[2015-06-01 17:16] procedural commented on #3883
Ok, I fixed the leak. PR on the way.

[2015-06-01 21:19] patrickFuerst opened #3886 "OpenGL subroutines in ofShader"
I just played around with subroutines in glsl and already implemented basic info output in ofShader, like:

	void printSubroutineNames( GLenum shadertype) const;
	void printSubroutineUniforms( GLenum shadertype) const;

Since subroutine uniforms are handled completely different then normal uniforms I wanted to start a discussion on how to add them to the ofShader class.

Subroutines are part of th

[2015-06-02 08:26] #3883 closed

[2015-06-02 08:29] #3877 closed

[2015-06-02 08:49] arturoc commented on #3886
perhaps if you could show an example of how this would be used will make it easier to understand and decide if it's something worth adding

[2015-06-02 08:55] arturoc opened #3887 "assimp materials don't behave as they did"
this is how the assimp example looks now:

![screenshot from 2015-06-02 10 52 59](https://cloud.githubusercontent.com/assets/48240/7932042/add1f3b4-0915-11e5-94f0-fe7ebaa0dcc9.png)

not sure what's going on, i've also tested other lighting examples and all look as they used to so i doubt the problem is in ofLight or ofMaterial

[2015-06-02 18:54] DomAmato commented on #3843
Just a quick clarification we just need the libpng and zlib LIB files to build cairo but they don't come packaged with OF? There is a zlib DLL file in the export folder but is that related or can it be a separate build step? As for Pixman and Cairo itself I think I will just make a static lib project in VS that can live in the scripts and be moved over and compiled rather than using the make scrip

[2015-06-03 06:38] bilderbuchi commented on #3762
I think this can be closed now that #3842 is merged.

[2015-06-03 06:38] #3762 closed

[2015-06-03 06:44] 2bbb commented on #3762
@bilderbuchi
oh... sorry!!
i forgot this issue...!

thanks!!

[2015-06-03 07:17] DomAmato commented on #3843
I got Cairo to compile with all the dependencies. Its a pretty convoluted process but I will try to clean it all up and post it tonight

[2015-06-03 07:48] bilderbuchi opened #3890 "Change ofRandom implementation to uniform_real_distribution"
As soon as we support C++11 on all platforms (currently lacking MacOS 32bit support), we should switch the `ofRandom*` implementations to use the [built-in](http://www.cplusplus.com/reference/random/uniform_real_distribution/) `uniform_real_distribution`instead of self-made code.
Ref. #3842
cc @2bbb @kylemcdonald @arturoc

[2015-06-03 09:19] patrickFuerst commented on #3886
hey,

I just created a small example on gist : https://gist.github.com/patrickFuerst/7367115a09f2eeb6bffd#file-ofapp-h

See comments.

[2015-06-03 17:24] ungerik commented on #3188
How can I fix that when I install via apt-get install gstreamer1.0 and get this error?

[2015-06-03 19:55] schmitzware commented on #3000
Any follow up on this? I'm in the same boat and need to get video working on Android with ES 2+. I'm just starting to look into the notes above.

[2015-06-03 23:56] schmitzware commented on #3000
I'm now at the same point as Geoff but am still not getting anything other than a black rectangle.

Texture target is GL_TEXTURE_EXTERNAL_OES
Sampler is samplerExternalOES
The movie plays fine (I can hear it).
I've stuffed in a bunch of glGetError calls and everything seem to be running fine but no texture.

I have this running on OS X (same shader other than the sampler) and it's rendering perfec

[2015-06-03 23:59] schmitzware commented on #3000
Also, the errors from the original post

05-30 12:17:04.637: W/Adreno-ES20(14871): <process_gl_state_enables:511>: GL_INVALID_ENUM

are from the glEnable/glDisable calls in ofxAndroidVideoPlayer::reloadTexture().

FYI.

[2015-06-04 13:05] dimitre opened #3891 "ofPath.h : Thread-local storage is not supported for the current target"
Using OS X 10.10 / XCode 6.3.2
I'm having the following issues to compile

/openFrameworks/libs/openFrameworks/graphics/ofPath.h:405:9: Thread-local storage is not supported for the current target

[code]

/openFrameworks/libs/poco/include/Poco/Net/StreamSocket.h:171:3: Expected identifier

[code]

[2015-06-04 13:23] #3891 closed

[2015-06-04 13:39] dimitre opened #3892 "StreamSocket.h:171:3: Expected identifier"
Using OS X 10.10 / XCode 6.3.2
/openFrameworks/libs/poco/include/Poco/Net/StreamSocket.h:171:3: Expected identifier

[code]

[2015-06-04 17:56] bilderbuchi commented on #3892
looks like a bug in poco, not OF? @arturoc @bakercp

[2015-06-04 19:33] bakercp commented on #3892
OF and poco version info?

[2015-06-04 19:33] bakercp commented on #3892
Also, have you cleaned your project lately?

[2015-06-04 19:46] dimitre commented on #3892
I've used project generator. I've just created an empty project there and it compiles OK for 32 bit and for 64 I have some errors:
![screen shot 2015-06-04 at 4 45 08 pm](https://cloud.githubusercontent.com/assets/58289/7992943/261e783c-0ad9-11e5-874d-93b3c396fc86.png)

I'll try to discover which Addon is causing StreamSocket error and in which Schemes.

[2015-06-04 19:57] bakercp commented on #3892
What version of OF are you using? 64 bit doesn't work for 0.8.4 on OSX.

[2015-06-04 20:03] kylemcdonald opened #3893 "Build OpenCV 3.0 Libraries"
Just released today: http://opencv.org/opencv-3-0.html

| osx | vs | win_cb | ios | android | emscripten |
|-----|-------|---------|-------------|-------------|----|--------|-----|---------|---------|
|   ✗      | ✗  | ✗      | ✗   | ✗       |    ✗     |

[2015-06-04 21:02] arturoc commented on #3892
@bakercp i think this is latest master i fixed another problem reported by @dimitre this morning on master.

@dimitre do the examples work or do you get compiling errors there too?

[2015-06-04 21:05] dimitre commented on #3892
@arturoc @bakercp yes it is git master. I don't know if the examples are working because buildAllExamples.sh is not running well here
[code]

[2015-06-04 21:08] arturoc commented on #3892
yes you need to run the project generator over the examples to generate the project, can you check with one and see if that works?

[2015-06-04 21:09] dimitre commented on #3892
sure

[2015-06-04 21:14] dimitre commented on #3892
I've just build clean and it is not compiling in 64bit. in 32bit it is running OK
![screen shot 2015-06-04 at 6 11 39 pm](https://cloud.githubusercontent.com/assets/58289/7994626/3a5900ea-0ae5-11e5-9caf-fb61dca2d901.png)

[2015-06-05 21:04] schmitzware commented on #3000
So, I have this working and thought I'd post the fix here for other folks and for future OpenFrameworks releases.  There were a couple things going on in OFAndroidVideoPlayer.java & ofxAndroidVideoPlayer.cpp. I'm including my versions below so you can diff them.

In a nutshell, the order of creating an Android movie player and assigning the texture surface to renderer to was not quite right (accor

[2015-06-06 15:29] DomAmato commented on #3843
Everything should build now. I ran:

    apothecary update core

excluding the android script and everything compiled with both architectures. There is still probably a better option for Cairo but I made a project file that should build everything that the script downloads and builds.

https://github.com/DomAmato/Cairo-VS

[2015-06-06 23:15] corybarr opened #3896 "Request to add setLineWidth warning in ofGLProgrammableRenderer"
Hello. I was tracking down why ofSetLineWidth() and glLineWidth() wasn't having an effect. There's a very useful warning commented out in ofGLProgrammableRenderer::setLineWidth in v0.8.4. It looks like it's gone from master. How would people feel about uncommenting it and putting it back in? It would have helped me out.

Thanks!

[2015-06-06 23:59] ofTheo commented on #3843
Thanks so much @DomAmato!
Looking forward for the PRs.

[2015-06-07 00:01] DomAmato commented on #3843
forgot to post those haha

Scripts:
https://github.com/openframeworks/openFrameworks/pull/3894

Libraries:
https://github.com/openframeworks/openFrameworks/pull/3895

[2015-06-07 00:02] ofTheo commented on #3896
Is the comment this?
I wouldn't be opposed. @arturoc ?

[code]

[2015-06-07 08:49] DomAmato commented on #3843
New Scripts PR for updates made to the master:
https://github.com/openframeworks/openFrameworks/pull/3897

[2015-06-07 09:13] arturoc commented on #3896
yes i'm ok too, let's change it to something else though, asking people to implement a geom shader to get thick lines is kind of scary :) OF should do it internally but meanwhile let's just tell that line width is not supported on gl3+

[2015-06-07 12:35] 2bbb opened #3898 "why can't vector<ofColor> compare?"
i want to compare like `x == y` with `vector<T> x, y;`.

but, this code can't compile.
[code]

and i found solution, like this:
[code]
so, i added this code to global context.
but i can't understand now.

why can't compare and can compare...?

if somebody has advice about this problem, please tell me the fact.
and let's think perfect solution together...

[2015-06-07 12:48] 2bbb commented on #3898
sorry, i found reason.
http://stackoverflow.com/questions/14291849/vector-of-custom-class-comparison-using-operator

so, reason is ofColor's source code:
[code]
doesn't has const.

[2015-06-07 12:54] 2bbb commented on #3898
i do PR.

[2015-06-07 12:54] #3898 closed

[2015-06-07 18:26] corybarr commented on #3896
Yep, that's the comment @ofTheo. What about bumping the level up from ofLogVerbose to something most people would see by default?

I got it working with a geometry shader, but it brings up a lot of questions about how to best abstract it and similar things while still using other shaders. Perhaps more expressiveness is just simply going to mean more work.

[2015-06-08 02:36] 2bbb commented on #3890
:+1:

[2015-06-08 12:23] kontur opened #3902 "Weird texture rendering on a ofSpherePrimitive"
Hey,

I am a beginner with OF and 3D programming, so forgive me if this turns out not to be a bug but instead failure to use correctly.

Trying to render a simple 512x512 texture on a ofSpherePrimitive in a iOS openFrameworks project I get very odd results:

![rendering issue preview](http://forum.openframeworks.cc/uploads/default/optimized/2X/9/9fe7f3b622e6e208ef1560eb1b9e2ce0f0c990af_1_375x500.P

[2015-06-08 12:25] kontur commented on #3902
Forgot to mention that the screenshots are from a iPad mini with iOS 8.01 and created with the of_v0.8.4_ios_release.

[2015-06-08 12:29] tgfrerer commented on #3902
Hey @kontur, two things come to mind-

1. Try enabling backface culling
2. Try disabling arb tex when loading the texture (although it should work without)

Maybe consider checking out the openFrameworks forum for hints & help. This also, so that if someone else runs into the same issue, there is a permanent record of the way to solve it =)

[2015-06-08 13:11] kontur commented on #3902
Thanks @tgfrerer

I had previously tried `ofEnableArbTex()` and `ofEnableDepthTest()` but assumed that either by default or automatically openframeworks would enable backface culling.

After some searching, adding these two lines before drawing the texture and then rendering the sphere solved this, so it's a matter of Open GL instructions, I assume:

[code]

Not sure though if this issue is thus r

[2015-06-08 15:05] kontur commented on #3902
It turns out that this works fine also by explicitly setting the window mode in the generated `main.mm`. The problem, it seems to me, is that the ProjectGenerator creates a different kind of `main.mm` that doesn't use `ofAppiOSWindow` nor has depth buffering by default.
See the [forum topic here](http://forum.openframeworks.cc/t/texture-on-ofsphereprimitive-breaks/19824).

I'll close this issue an

[2015-06-08 15:05] #3902 closed

[2015-06-08 15:12] kontur opened #3903 "Make ProjectGenerator for iOS release automatically generate main.mm using ofAppiOSWindow"
Hey,

in a rather lengthy debugging session ([github issue](https://github.com/openframeworks/openFrameworks/issues/3902), [forum post](http://forum.openframeworks.cc/t/texture-on-ofsphereprimitive-breaks/19824)) I figured out some rendering issues on an iOS openframeworks project that uses 3D.

It turns out that the ProjectGenerator by defaults creates this `main.mm`
[code]

My issue got resolved

[2015-06-08 18:52] Daandelange commented on #3669
I commited the changes but did not make a branch for it and now i'm kinda stuck doing a separate PR...

The compiled libs are in my master branch in https://github.com/Daandelange/openFrameworks/commit/09bac515ae1971fda69cb6f74772abb6c4cadca0 which has already an active PR (https://github.com/openframeworks/openFrameworks/pull/3807)...
Somehow, the commit was even added to that PR...

How to handl

[2015-06-08 23:52] nykwil commented on #3853
Maybe I should open another bug.  Not sure what the best thing to do with the missing external symbols, it's all the Bugcheck.h functions.  Should I rebuild poco?

[2015-06-09 00:04] nykwil commented on #3853
Rebuilding poco fixes the problem.  Should I make a pull request with the ofConstant, the project changes and my poco libs?  (File sizes are very different)

[2015-06-09 04:13] bakercp commented on #3853
So -- just to clarify -- @nykwil what was your final solution to get this working?  What was changed in the OF core and what did you change in Poco?

[2015-06-09 04:16] bakercp commented on #3864
@ofTheo ofSketch could work with VS, but the goal is to be able to download one open-source zip file and not install Visual Studio, Xcode, etc.  Currently with ofMinGW this is possible with makefiles -- and it also makes it possible to use the same Makefile-based build system for linux, osx, and windows (which is much nicer :)

[2015-06-09 07:22] nykwil commented on #3853
I just had to recompile poco for some reason the bugcheck stuff was missing from the foundation lib.   in ofConstants.h _WIN32_WINNT 0x0501.  In the projects I added winmm.lib as an addition dependency.

[2015-06-09 12:44] 2bbb opened #3904 "propose to replace `ofToString` if environments can use C++11."
i wanna propose to replace `ofToString` about, on environments that can use C++11.

like this:

[code]

so, on my environment (Xcode6.3.2/clang on OSX 10.10), this code is 2-3 times faster than current version.

test with this:

[code]

and results is:

[code]

please opinion or more good idea!!

[2015-06-09 17:46] growlerpig opened #3905 "Poco libraries and OSX/Cmake"
Hi, the forum is down so I hope it's OK to raise this issue here. I'm trying to compile the master branch under OSX10.10 w/ CMake. Getting a bunch of Poco-related linker errors (though not as many as if the libraries weren't linked at all).

The errors disappear in x86_64, it's just in 32bit that they turn up.

`  "Poco::TextConverter::convert(std::__1::basic_string<char, std::__1::char_traits<cha

[2015-06-10 11:42] ofTheo opened #3906 "ofDirectshowPlayer memory leak + fix"
See: https://github.com/ofTheo/ofDirectShowVideoPlayer/issues/5

Going to look into this.
Solution seems to be to change:

`m_pGrabber->SetBufferSamples(TRUE);`

to

`m_pGrabber->SetBufferSamples(FALSE);`

[2015-06-10 19:38] frauzufall opened #3907 "typo in ofEvents.h ofUnregisterMouseEvents()"
in ofEvents.h, line 319 must be changed from
[code]
to
[code]

[2015-06-10 19:50] bakercp commented on #3907
Nice find. Thanks.

[2015-06-10 20:35] bakercp commented on #3853
@domamato Have you had this problem?  I was able to get all dependencies compiled, compiled on your branch, but was unable to get any oF apps compiled due to this.

[2015-06-10 21:19] DomAmato commented on #3853
Yeah I had to change the ofConstants value to get things working

[2015-06-10 21:29] #3907 closed

[2015-06-10 21:31] quinkennedy commented on #3853
I'm curious as to what _should_ be happening. Do the windows .h files need to be included earlier? seems like only a temporary solution to have ofConstants defining _WIN32_WINNT (especially without it actually checking the environment in any way).

[2015-06-11 00:31] DomAmato commented on #3853
Well the error that @nykwil ran into has to do with a redefinition issue with the quicktime headers so I am not sure that undefining the macro in ofConstants is actually problematic. I think this issue popped up somewhere else before with the quicktime headers. Maybe that has something to do with the macro definition since the quicktime issue doesnt seem to pop up on lower windows versions? really

[2015-06-11 00:37] DomAmato commented on #3843
Im trying to build openframeworks with the compiled libraries and it works with vs2013 but with vs2015 I am getting an error that says

    Error C2061 syntax error: identifier '_Dynamic_tag' (compiling source file ..\..\..\openFrameworks\app\ofAppGlutWindow.cpp)	openframeworksLib	C:\Users\Dominic\Desktop\openFrameworks\libs\openFrameworks\types\ofTypes.h	354

Immediately followed by:

    Error C

[2015-06-11 06:50] frauzufall opened #3909 "error on tls detection in ofConstants.h under linux64"
As I commented in commit 29e0718, I get this error on linux 64bit:

[code]

[2015-06-11 07:25] arturoc commented on #3909
fixed by https://github.com/openframeworks/openFrameworks/commit/45cef3b771c5874a24b4d4c0f6064c919a567244

[2015-06-11 07:25] #3909 closed

[2015-06-11 13:40] tgfrerer commented on #3843
@DomAmato how strange - this would hint that the compiler follows the pre-cpp11 path in ofTypes.h#L304.

The line you name causing the error should be masked out by an `#ifdef` checking for cpp11 or above. The `#ifdef` sitting on line 304 in `ofTypes.h`.

Do you mind checking to what `__cpplusplus` resolves to in your environment? In VS2012 it used to be `199711L` - It should be `201103L` or above

[2015-06-11 14:31] arturoc commented on #3843
we can probably just remove all of the `ofPtr` code is super messy and most people using shared pointers are probably using github instead of the download which means that they are probably using shared_ptr instead since some time ago

[2015-06-11 14:34] bakercp commented on #3843
I agree w/ removing it.  We've been talking about (and slowly deprecating it) for a while.  It's no longer used in the core and is a copy-paste replacement for `std::shared_ptr`... so +1 to streamlining.

[2015-06-11 14:35] tgfrerer commented on #3843
+1 =)

[2015-06-11 17:31] arturoc commented on #3843
ok, i've removed the old definitions but left the new one that works only for c++11 the problem with this one is that it can't be deprecated with an attribute so we might want to just remove it completely. in any case that should solve this problem i guess. it's weird though that the __cplusplus definition isn't returning the right value, perhaps in vs2015 you need to tell the compiler explicitly

[2015-06-11 18:02] tgfrerer commented on #3843
Hang on - I just had an afterghought - removing the old definition will most likely break OS X/ 32 bit, since it doesn't use cpp11 - unless we want to deprecate cpp98 altogether already =)

I think the issue is more related to that __cplusplus not being set as we'd expect by the VS tool chain. I found this issue in their bug tracker:

https://connect.microsoft.com/VisualStudio/feedback/details/859

[2015-06-11 20:23] LeoColomb commented on #3843
No.

[2015-06-11 20:24] DomAmato commented on #3843
I wonder if its a bug in the release candidate because its not a problem with the v120 toolset which is visual studio 2013's toolset. Microsoft's response is illuminating to why this might be a problem:

To be fair I am on board with deprecating cpp98. OSX hasnt been 32 bit since what, snow leopard? my 2007 macbook pro which is barely clinging to life runs 10.10 and its free to upgrade though its

[2015-06-11 21:18] arturoc commented on #3843
i think it's ok to have only the c++11 version as it'll only mean that ofPtr won't work on c++ < 2011 but other than that it'll compile...

i'd also vote for at least using libc++ for osx32 if not removing it completely. otherwise it's going to stop us from using c++11 in the core which brings a lot of really useful stuff

[2015-06-12 02:25] liquidzym commented on #3843
something like this?
#if __cplusplus>=1900
#include <memory>
#else

i just did testing against last master,complied with both 32&64,although haven't testing with examples yet.

another line should be changing is in OfAppRunner.cpp
#if defined (TARGET_WIN32) || defined(TARGET_OSX)
	#include "ofQtUtils.h"
#endif
as
#if defined (TARGET_OSX)
	#include "ofQtUtils.h"
#endif

since we're no longer to usi

[2015-06-12 06:51] danoli3 commented on #3891
Same Applies for iOS. Also it was sneakily declared in the header as well.. Pushing PR now.

[2015-06-12 08:29] arturoc commented on #3843
this is a bug in visual studio, seems to be there since vs2012: https://connect.microsoft.com/VisualStudio/feedback/details/763051/a-value-of-predefined-macro-cplusplus-is-still-199711l  and no answer from ms.

i'm going to add a constant in ofConstants to check for CPP11 support that takes this into account

[2015-06-12 08:30] DomAmato commented on #3843
I got everything to compile after the changes made to ofPtr and getting rid of the redefinition in ofConstants

    100:  #define _WIN32_WINNT 0x500

though doing so causes a problem in quicktime/processes.h

    194: EXTERN_API( OSErr )
    GetProcessInformation  (const ProcessSerialNumber * PSN, ProcessInfoRec * info) THREEWORDINLINE(0x3F3C, 0x003A, 0xA88F);

which requires that to be commented

[2015-06-12 08:55] arturoc commented on #3843
removing this from ofConstants:

[code]
and that include from ofAppRunner + a similar definition in ofExitCallback fixes those problems.

i'm getting a ton of errors from poco, again, with some definitions of network constants in ofAppURLFileLoader though. seems like poco somehow is including 2 different headers that define those constants, one as defines and the other as enum which makes the comp

[2015-06-12 08:57] arturoc commented on #3843
also getting Severity
[code]
which should be solved by defining NOMINAX as we do in ofConstants but somehow it doesn`t

[2015-06-12 09:38] arturoc commented on #3843
just managed to solve all the compiling problems but now i'm getting some linking issues. the libraries seem to be now in:

libs/libname/lib/vs/win32
libs/libname/lib/vs/x64

but the project properties files are still pointing to the old location at:

libs/libname/lib/vs

is this still missing or do i need to pull from somewhere else?

[2015-06-12 09:42] DomAmato commented on #3843
I dont think it has been updated yet as I had to do it on my end as well. After I got all that done I am hitting some unresolved externals

    Error LNK2001 unresolved external symbol _png_get_IHDR	projectGenerator  cairo-static.lib(cairo-png.obj)

I am looking at the cairo build see if I can resolve it since its looking for libpng's png.h

[2015-06-12 09:45] arturoc commented on #3843
mmh, ok, there's some weird things:

- some libraries are still in their old location, i guess because there's only 32 bit versions? specifically glut and quicktime, i guess we can leave them as 32bit only but we would want to move them to vs/Win32

- fmod should be there for 64bit too

i'm going to send you a PR with my changes

[2015-06-12 09:53] DomAmato commented on #3843
I got it to work, I needed to include the libpng.lib that was used to build cairo

[2015-06-12 09:57] arturoc commented on #3843
yeah i'm seeing that too, libpng was missing, let me send you my changes first, there were several errors in the folder structure... then we can add libpng and merge it

[2015-06-12 10:08] arturoc commented on #3843
i don't seem to be able to send a PR to your branch, can you commit only the libpng files?

[2015-06-12 10:16] DomAmato commented on #3843
Its the same as the one included in the Cairo-VS libs folder which also happens to be built in the cairo apothecary formula. running:

    apothecary update libpng

should produce the lib file. Using the above method its located at build/libpng/projects/visualc71/win32_lib_release

[2015-06-12 10:26] arturoc commented on #3843
ok great i'll do that. thanks!

[2015-06-12 10:31] DomAmato commented on #3843
I have been successfully able to build the Win32 project generator in VC2015, x64 i get a litany of errors from quicktime. It all stems from the quicktime/ConditionalMacros.h since there is nothing to handle x64 architecture. with win32 it uses the _M_IX86 predefined macro, ill try adding the _M_AMD64 macro and see what happens

[2015-06-12 10:37] arturoc commented on #3843
i have everything building now with cairo, in 64bit the only thing that seems to be missing is fmod, did you downloaded fmod or used the one that was already there?

[2015-06-12 10:38] DomAmato commented on #3843
I used the one that was already there

[2015-06-12 10:39] arturoc commented on #3843
perfect, so we need to find out which version it is and download the 64bit version if there's one available

[2015-06-12 10:47] DomAmato commented on #3843
the .h file says FMOD_VERSION    0x00044221

[2015-06-12 13:51] arturoc commented on #3843
so, 64bits still has some problems but i've just merged everything so we can at least have 32bits working and can keep working on everything else. i'm going to open a separate issue for 64bits. thanks so much for taking care of this!!

[2015-06-12 13:51] #3843 closed

[2015-06-12 13:53] arturoc opened #3910 "remaining 64bit libs for vs2015"
there's some libraries that are still missing or seem to have unresolved symbols:

missing:

    - glut

unresolved:

    - poco
    - libpng

[2015-06-12 14:03] bakercp commented on #3843
Yes, +1 for the epic work all.

[2015-06-12 14:15] arturoc opened #3911 "libcairo problems with libpng"
there's 2 versions of libpng includes in the cairo folder 15 and 16 with symlinks from the main directory. the symlink breaks pulling in linux. which one is the correct one? we should have one only and remove the symlinks

[2015-06-12 14:56] #3911 closed

[2015-06-12 15:28] #3853 closed

[2015-06-12 15:29] arturoc commented on #3853
this is fixed in the latest commits

[2015-06-12 20:46] procedural commented on #3896
Related issue: https://github.com/openframeworks/openFrameworks/issues/3460

:)

[2015-06-13 00:56] DomAmato commented on #3910
I found glut, nvidia's cg framework has them. https://developer.nvidia.com/cg-toolkit-download
 the only unresolved symbols remaining for me are pixmans in cairo.

libpng needs to be compiled in 64bit which I am working on a patch to go along with the script. Doing it manually is easy but obviously if we can make it automated thats even better.

What problems are you getting with poco? I don't see

[2015-06-13 08:56] DomAmato commented on #3910
I was able to get x64 projects up and running but they need their own 64 bit dlls as well which were easy enough to come by. havent exactly stress tested it but the project generator builds without issue. I also got pixman to stop throwing unresolved symbols by excluding mmx from the 64 bit build so the apothecary formula should now run. The Cairo-VS builds libpng and zlib now as well as pixman an

[2015-06-13 15:01] liquidzym commented on #3910
i got bunch of errors with poco,i guess something to do with openssl libs ?

1>PocoNetSSLmdd.lib(SSLManager.obj) : error LNK2001: unresolved external symbol X509_STORE_CTX_get_error_depth
1>PocoNetSSLmdd.lib(SSLManager.obj) : error LNK2001: unresolved external symbol X509_STORE_CTX_get_current_cert
1>PocoNetSSLmdd.lib(SSLManager.obj) : error LNK2001: unresolved external symbol X509_verify_cert_err

[2015-06-13 16:52] mruegenberg commented on #3871
Just to confirm: when I directly pull OF and then do `git submodule update --init`, the projectGenerator is at the right place for the compile script.

[2015-06-13 20:23] mhashmi opened #3915 "Minor project generator issues (iOS Platform)"
Hi all,

A couple of minor issues when generating projects for iOS:

 * The ofxiOS addon appears to get linked twice, resulting in duplicate symbol errors
 * When the OpenCV addon is included, the AssetsLibrary.framework does not get linked

Originally reported on the following [forum thread](http://forum.openframeworks.cc/t/some-errors-when-generating-ios-projects-git-checkout/19894)

Thanks.

[2015-06-13 23:26] nykwil opened #3916 "opencv 32bit libs for vs2015"
The opencv libs are compiled with vs2012 and aren't compatible with the new build.

Related to #3910

[2015-06-14 09:54] bilderbuchi commented on #3669
this happened because you didn't create a separate branch for your other PR, so that PR contains all the commits you have added to your master branch (and all you will add in the future) which are not in our master branch yet (see the line "Daandelange wants to merge 5 commits into openframeworks:master from Daandelange:master" in the PR description.)

To avoid this, you should follow the [guideli

[2015-06-14 10:04] Daandelange commented on #3669
Ok, thanks you and sorry for the mess. I'm up to date with the guidelines now :)

I'll wait for Christopher's or Zach's answer and hope it can merge. :angel:
_(I can also make additional changes to validate it)_

[2015-06-14 11:15] bilderbuchi commented on #3904
hm, shouldn't the function parameter in both versions be `const`?

[2015-06-14 11:17] bilderbuchi commented on #3905
osx 32bit and c++11 currently don't work together. there is currently work ongoing to fix this: #3913

[2015-06-14 11:17] #3905 closed

[2015-06-14 11:21] bilderbuchi commented on #3896
thank you @procedural, closing this as a near-enough duplicate.

[2015-06-14 11:21] #3896 closed

[2015-06-14 11:22] bilderbuchi commented on #3460
consensus from #3896 is also that this warning should go back in, maybe with a slightly changed formulation.

[2015-06-14 11:24] bilderbuchi commented on #3871
thanks for the follow-up!

[2015-06-14 11:24] bilderbuchi commented on #3915
pinging @ofZach

[2015-06-14 11:25] bilderbuchi commented on #3916
pinging @openframeworks/windows

[2015-06-14 11:29] 2bbb commented on #3904
@bilderbuchi
thanks for comment.

i think that it may attach `const`. but (i think) that is not important.

`template <class T>
typename enable_if<!is_arithmetic<T>::value, string>::type ofToString(const T& value)` for not arithmetic type, and `template <class T>
typename enable_if<is_arithmetic<T>::value, string>::type ofToString(T value)` for arithmetic type.
version of arithmetic type, that's p

[2015-06-14 12:18] bilderbuchi commented on #3669
ok, your compiled libs have been merged. does that mean this issue can be closed? @Daandelange @bakercp

[2015-06-14 13:28] arturoc commented on #3669
the original issue refers to something else. we need to check if raspbian already brings the latest gstreamer omx module

[2015-06-14 15:21] Daandelange commented on #3669
I downloaded a fresh Raspbian installation 2 weeks ago and I don't remember installing omxplayer.
This information may help:
`Debian GNU/Linux 7.8 (wheezy)`
`uname -a: Linux 3.18.14+ #792 armv6l`
[code]

Line 4 in `/openFrameWorks/scripts/linux/debian_armv6l/install_dependencies.sh` still needs to be removed in order to run it.
And gcc++ 4.8 (C++11) needs to be installed but is indeed off topic he

[2015-06-14 16:29] arturoc commented on #3669
ok that sounds correct, can you remove that line and send a PR. about gcc which one is the default installed in raspbian? if we change it to install gcc 4.8 by default and next version ships with 4.9 5... it'll keep installing 4.8

[2015-06-14 16:58] bilderbuchi commented on #3669
isn't there a possibility to specify `gcc >= 4.8` somehow?

[2015-06-14 17:02] bilderbuchi commented on #3669
if it mirrors wheezy, gcc default should be [4.7.2](https://packages.debian.org/wheezy/devel/gcc).

[2015-06-14 17:41] vade commented on #3887
I can maybe take a look @arturoc

[2015-06-14 17:42] kylemcdonald commented on #3887
for reference, here is what it used to look like (0.8.4):

![screen shot 2015-06-14 at 13 41 48](https://cloud.githubusercontent.com/assets/157106/8149693/1dabfb6a-129b-11e5-870f-4a9eeb2415f3.png)

[2015-06-14 17:49] kylemcdonald opened #3917 "ability to build combinations of shaders"
this is important for things like controlling mesh deformation using bones, and calculating this on the GPU. it's faster to calculate the mesh deformation on the GPU, but if you also want to use a shader to render the mesh, right now you would have a problem because only one shader would run.

for the skinning example above, the simplest version of this might just be loading separate vertex and fr

[2015-06-14 17:52] vade commented on #3917
2¢ questions:

Has anyone benchmarked CPU skinning and found it to be an issue?

Is the increased complexity for GPU skinning worth the cost on all platforms (RPI, iOS etc)

Is the increased complexity for GPU skinning worth the cost in interoperability with generic GLSL shaders non rockstar devs would be experimenting with?

Does this mean that ofMesh won't be up to date with the animation data?

[2015-06-14 18:11] Daandelange commented on #3669
Yes, gcc [needs to be updated](https://github.com/openframeworks/openFrameworks/issues/3669#issuecomment-106778065) from a clean install.
`sudo rm g++` & `sudo ln -s g++-4.8 g++` replaces the old `gcc` shorthand symlink from the old version to the new version so compiling OF succeeds. (so logically this is a workaround, not a fix)

Maybe we could change `g++` to `gcc-4.8` in [debian_armv6l/install

[2015-06-14 18:21] #3669 closed

[2015-06-15 03:58] microcosm commented on #1474
I'm having exactly this problem. Does anyone have a workaround that's current?

(No matter how hacky)?

[2015-06-15 04:48] microcosm commented on #1474
Ok... yep... draw the FBO into another FBO. It's ugly but it works.

[2015-06-15 07:18] liquidzym commented on #3910
does openssl build script only build for win32?

[2015-06-15 07:46] arturoc commented on #1474
are you in 0.8.4 or latest master?

[2015-06-15 09:45] Daandelange commented on #3834
Arm6 is done now in  https://github.com/openframeworks/openFrameworks/commit/26fdfd172e2763fd06ff6339147ceb78cf51e396

[2015-06-15 10:07] tgfrerer commented on #3917
I feel like siding with the devil on this =)

There's more than one way to skin a mesh, and adding a built-in method could add complexity and support promises which might be difficult to keep up in the core on the long run.

I'm not sure more than a vertex + fragment shader combination is needed to minimally shade & skin a mesh on the GPU; But if done "properly," there's a lot of thought that has

[2015-06-15 10:28] patrickFuerst opened #3921 "vs2015 win32 High Res Timing linking error"
When I try to run examples with VS2015 and the latest libs I get the following linking error.

[code]
To resolve this I added lib winmm.lib, but I'm not sure if this is the right way and why it shows me these linking error since I updated to VS2015.
[code]

Oh and of course if I undefine "WIN32_HIGH_RES_TIMING" the error also disappears

Does someone else had the same errors, or should the lib be

[2015-06-15 10:36] arturoc opened #3922 "remove exports folder and pick files directly from libs/*"
we have duplicated files and it's easy to forget when compiling new libs... the project files shoud take care of copying the correct dynamic libraries from wherever they are

[2015-06-15 10:46] arturoc commented on #3921
i thought i had fixed this by including winmm.lib in the project files, i might have not pushed that chnage. let me check

[2015-06-15 10:58] arturoc commented on #3921
i had fixed it in the c++11 branch but not in master, i just merged that so it should be fixed. feel free to reopen if it's still a problem

[2015-06-15 10:58] #3921 closed

[2015-06-15 11:40] patrickFuerst commented on #3921
thanks. works now

[2015-06-15 12:06] 2bbb commented on #3904
@bilderbuchi

i was thinking about this.
i agree to add `const`.
that is more better to reading the codes.

and, similarly, i think better to use the functions of C++11 for ofToDouble, and others.
like this:

[code]

are those not bad as refactoring?
if those are not bad, i willi send PR after rewrite concretely about those, and please discuss again with new codes.
otherwise... i will think again.

[2015-06-15 13:11] bilderbuchi commented on #3917
this sounds like something that would be great to discuss on the list, or at the next devmeet, or open a separate issue so that this point/thought doesn't get lost.

[2015-06-15 13:14] bilderbuchi commented on #3904
I think that in current master, we can use c++11 on all platforms, so it's not necessary to have two versions. correct, @arturoc ?
and yes, refactoring to use C++11 functionality would be welcomed as far as I know.

[2015-06-15 13:28] microcosm commented on #1474
0.8.4
On Jun 15, 2015 3:46 AM, "arturo" <notifications@github.com> wrote:

[2015-06-15 13:58] arturoc commented on #3904
something that i doubt is if we should begin to deprecate functions that are already in the std. now you can do `to_string(5)` or `to_string(ofGetFramerate)` which are even faster than our impl with stringstreams so probably we should just mark those as deprecated with a message pointing out which is the std equivalent

[2015-06-15 14:18] bilderbuchi commented on #3904
yeah, that would be an even better solution.

[2015-06-15 14:33] bakercp commented on #3834
I've got arm7 on the way.

[2015-06-15 15:22] danoli3 opened #3923 "Apothecary - OpenSSL 1.0.2c"
Updated to OpenSSL 1.0.2c (latest).

Will require libraries to be updated with Apothecary: (this will also means Poco needs recompiling)

### OpenSSL 1.0.2c current build status:

|                 | osx | vs | win_cb | ios | android |
|--------------|-----|-------|---------|-------------|-------------|----|--------|-----|---------|
| Merged? |   ✗   | ✓  | ✗      | ✗   | ✗       |
| PR          |

[2015-06-15 15:31] danoli3 opened #3924 "Apothecary - Poco with OpenSSL 1.0.2c"
With the fixes in OpenSSL 1.0.2c it is required to rebuild Poco.
https://github.com/openframeworks/openFrameworks/issues/3923

### Poco current build status with OpenSSL 1.0.2c:

| osx | linux | linux64 | linuxarmv6l | linuxarmv7l | vs | win_cb | ios | android |
|-----|-------|---------|-------------|-------------|----|--------|-----|---------|
|   ✗ |   ✗   |   ✗     |     ✗       |       ✗     |

[2015-06-15 15:33] bakercp commented on #3924
I can rebuild osx, arm6/7 and linux32/64.  I'm also looking working on win_cb/mingw 32/64.

[2015-06-15 15:38] danoli3 opened #3925 "Apothecary - FreeImage 3.17.0"
The Apothecary Script is now building against 3.17.0 which was released in April.
For 0.9.0, oF will be required to step up to 3.17.0 due to limitations of release builds of 64bit versions for Windows.

For other platforms: I've fixed the core issues with FreeImage that were patched for 3.16.0 for iOS / OSX.
https://github.com/danoli3/freeimage (PR's still out in the wild for a lot of the original

[2015-06-15 15:42] danoli3 commented on #3893
Is this something tagged for 0.9.0?

[2015-06-15 16:09] danoli3 commented on #3904
ofToString could just wrap the c++11 to_string(*)

[2015-06-15 16:38] danoli3 opened #3926 "Apothecary - Boost 1.58.0"
Boost for C++17 features for filesystem:

| | osx | vs | win_cb | ios | android | emscripten |
|----|-----|-------|---------|-------------|-------------|----|--------|-----|---------|-------|
| Merged? |   ✓      | ✓  | ✓      | ✓   | ✓       |✓   |
| PR |  #3913    | #3913  |  #3913     |  #3955 |   #3913   | #3913   |

[2015-06-15 16:38] danoli3 commented on #3926
I'll get the iOS part going @arturoc

[2015-06-15 17:21] arturoc commented on #3926
thanks so much!

[2015-06-15 17:28] arturoc opened #3927 "Apothecary - uricpp"
| | osx | vs | win_cb | ios | android | emscripten | linuxarmv6 | linuxarmv7 |
|----|-----|-------|---------|-------------|-------------|----|--------|-----|---------|-------|
| Merged? |   ✓      | ✓  |  ✓      | ✓   | ✓       |✓   | ✗ | ✗|
| PR |  #3913   |  #3913   |      |  #3952   | #3913       |#3913   |  |  |

[2015-06-15 17:31] tgfrerer opened #3928 "project generators broken in VS2015, windows VS relative filepaths broken"
It appears that with some of the latest changes, the project generators for windows got broken.

When i run the project generator from devApps (compiled from latest master using vs2015), i get this in my console window:

[ error ] ofFile: copyTo(): unable to copy "C:\Users\Tim\Documents\developer\of\apps\throwaway\test2/src":copy_file(p1,p2, options): invalid arguments: operation not permitted

An

[2015-06-15 17:46] arturoc commented on #3904
i think we shouldn't wrap things that are simple enough on the stl. before we were wrapping ofToString cause the implementation using a stringstream... was kind of convoluted but to_string is simple enough that probably doesn't make sense to rewrap it. we can keep it deprecated for a while since it's used a lot but i would remove it for the next major version

[2015-06-15 18:04] 2bbb commented on #3904
oh yeah, i agree to don't wrap.

i have just idea.
C++11 has [[deprecated("message")]]

so, we can notice deprecated as easier in C++11.
is only we notice [[deprecate("use to_string")]] better solution?
if it is better solution, i agree all of that.

[2015-06-15 18:08] arturoc commented on #3904
yes didn't remember about the deprecated annotation in c++11, we have a multi platform macro, OF_DEPRECATED for this but i guess it's better to use this from now on.

[2015-06-15 18:10] ofTheo commented on #3904
I think we could have that function and mark it deprecated for a long time.
Mainly because getting rid of it even at the next major version would probably make a good % of addons break.

[2015-06-15 18:13] 2bbb commented on #3904
okay.
maybe this problem (use deprecated attribute or OF_DEPRECATED macro) is i can't judge.
i think, this problem is judged by core oF members.
i will follow to decided things, and i can only proposing a idea.
i want the cool solution about this!
:+1:

[2015-06-15 18:21] arturoc commented on #3904
thinking of it our implementation can do things like:

[code]
which std's can't, right? in that case perhaps your original proposal is better,

[2015-06-15 18:33] 2bbb commented on #3904
@arturoc
yeah! i think, problem of `ofToString(ofVec3f(0, 0));` is important.
so, i believe, openFrameworks must support openFrameworks internal type.
i will think about this, as best solution.
just a idea, i think, solution is

[code]

but, perhaps, there are more better solution.
discuss about like this, is more constructive. i believe.

i will think again about complicated types of internal typ

[2015-06-15 18:49] arturoc commented on #3904
the current solution already works for anything that implements the << operator so there's no need change that. i think your original proposal is correct

[2015-06-15 19:02] 2bbb commented on #3904
@arturoc
hmmmm…?
sorry, i can't understand your opinion.

do you say "correct answer is only deprecated, not extend ofToString"?
or, "extend ofToString as of internal types"?

in the former case, maybe i can do nothing, and close this issue.
in the latter case, we can propose some code, and we can discuss about it.

which is your opinion? or other?

[2015-06-15 19:11] 2bbb commented on #3904
(and sorry if i did a rude expression.)

[2015-06-15 19:23] bilderbuchi commented on #3904
[apparently](http://stackoverflow.com/a/5171750/599884) you can make `to_string` work with custom classes, so it's just a matter of implementing that for our classes we want to be able to represent as string.

[2015-06-15 19:27] bilderbuchi commented on #3923
question: do we really need to update openssl for every sub-patch-level update? we currently don't have the binaries outside the repo, and all the lib recompiles will really bloat the repo. :-(

[2015-06-15 19:28] bilderbuchi commented on #3893
hopefully not, as this one is _strictly_ a new feature...

[2015-06-15 19:37] arturoc commented on #3904
@2bb no not at all :)  i was just trying to say that what you posted in the first post:

[code]

would be the most correct if to_string `won't` work with custom classes.

@bilderbuchi, we already do that but i think that only works with << not with to_string. not sure though

[2015-06-15 19:48] bilderbuchi commented on #3904
argh you're correct, in haste I misread the SO question. :-/

[2015-06-15 23:27] DomAmato commented on #3910
no it should build for both

[2015-06-16 00:01] timknapen commented on #3348
I have the same issue with XCode6.3.2 OF 0.8.4 on OSX 10.10.3
The strange thing is that it only started happening after running the same app a few times!
So the first few times I compiled and ran the app it worked fine, then all of a sudden it stopped working. I did see some weird shareKit errors popping up:
[code]
I'll try to investigate further.

[2015-06-16 00:04] danoli3 commented on #3923
We can do a historical delete for targeted archives in the repo to lighten the history.

In this case though we have to get it up to date as we didn't have the VS libs until 1.0.2c was released. So those libs are built against it.

With SSL, it only seems to have updates every 4-6 months.
Even minor patches seem to fix serious holes in security (heart bleed and other code words were patched in min

[2015-06-16 00:10] pizthewiz commented on #3348
@timknapen if you have a spare moment and can get a solid repro case down, could you please try to reproduce on the master branch as quite a lot has changed since the 0.8.4.

[2015-06-16 00:14] timknapen commented on #3348
@pizthewiz yes, i'll try it as soon as possible

[2015-06-16 00:19] iColpitts opened #3931 "ofLog.h Semantic Issue"
I'm getting semantic errors when trying to load the empty example in of_v0.8.4_ios_release. Seems ot be connected to setting the deployment target and complier dialect etc. but I've tried just about every combination and can't seem to get things to run.

[code]

[2015-06-16 03:04] danoli3 commented on #3925
Hey @arturoc I just noticed this android.zip https://github.com/openframeworks/openFrameworks/blob/master/libs/FreeImage/lib/android.zip

[2015-06-16 03:32] liquidzym commented on #3910
ok,i'm also getting the videoInput link error under the X64,did you get any of this? i have to add some DX libs in order to working
#pragma comment(lib, "strmbase.lib")
#pragma comment(lib, "Strmiids.lib")
#pragma comment(lib, "dmoguids.lib")

[2015-06-16 03:44] danoli3 commented on #3926
Boost for iOS Completed with #3933

[2015-06-16 04:32] jedahan commented on #3923
@bilderbuchi

At first glance, it would seem prudent to remove old archives using a tool like https://github.com/rtyley/bfg-repo-cleaner ... this would certainly reduce the initial clone of oF, but I would advise against it.

For people who want a lightweight repo (and I prefer a light/code-only repo, espcially with a tiny SSD...), we have two good options: git clone --depth=1, and downloading a r

[2015-06-16 04:46] DomAmato commented on #3910
weird i had no problems with the videoInput libs and did not add any directX libs

[2015-06-16 05:16] liquidzym commented on #3910
maybe something wrong with my vs2015 IDE? i was installed online. i'm not sure its b'coz my git messup or what,anyway,i did re-complied cairo,no more error.
still got poco left,i still think something wrong with openssl libs
x64\ssleay32MD.lib : warning LNK4272: library machine type 'X86' conflicts with target machine type 'x64'

[2015-06-16 05:23] DomAmato commented on #3910
ill try cleaning everything and building to see if I can repeat the issue but it certainly looks like openssl was compiled with 32 bit and not 64 bit.

[2015-06-16 05:32] danoli3 commented on #3923
As long as https://github.com/rtyley/bfg-repo-cleaner doesn't touch the "Releases" binary's we have the best of both worlds.

[2015-06-16 06:26] bilderbuchi commented on #3923
sorry, but no. the biggest problem is that ripping the binaries out of the repo (using whichever tool) is going to break the repo for _all_ the people who have forked OF (because you're rewriting public history).
Also, as clarification, the "Releases" zips are unconnected to the git repo binary bloat issues, and are _not_ our regular packaged releases, but archives of repo snapshots.

Please see t

[2015-06-16 06:31] bilderbuchi commented on #3931
please try with current master if this problem has been resolved already.

[2015-06-16 07:51] 2bbb commented on #3904
@arturoc @bilderbuchi
thanks a lot. maybe i understand...(?)

in that sense, i think my proposal is correct.

surely, `to_string` won't work with custom classes.

and, `typename enable_if<is_arithmetic<T>::value, string>::type` enables only case of `T` is arithmetic type, (i.e., `unsigned char`, `short`, `double`, etc...).
if we call the `ofToString(ofVec3f());`, then `ostringstream` version will

[2015-06-16 07:55] #3928 closed

[2015-06-16 08:58] timknapen commented on #3348
@pizthewiz I dowloaded the 0.9.0 master branch as a zip, but it doesnt include an emptyExample for Xcode. Any idea if there's an example project I can start from to test this?

[2015-06-16 09:13] arturoc commented on #3348
it's easier to use the nightly builds, you can find them in http://openframeworks.cc/downloads

[2015-06-16 09:24] timknapen commented on #3348
thanks @arturoc I'll try that

[2015-06-16 09:34] timknapen commented on #3348
@arturoc is there no nightly build for OSX?

[2015-06-16 09:57] arturoc commented on #3348
yes: http://192.237.185.151/versions/nightly/of_v20150616_osx_nightly.zip

[2015-06-16 12:23] #3089 closed

[2015-06-16 12:25] #126 closed

[2015-06-16 12:27] #3831 closed

[2015-06-16 12:34] #3906 closed

[2015-06-16 16:07] ofTheo opened #3940 "Bug / regression with ofFilePath::getEnclosingDirectory()"
With 0.8.4:
 ```cout << " enclosing path is " << ofFilePath::getEnclosingDirectory("astroBoy_walk.dae") << endl; ```
 enclosing path is ../../../data/

With master:
 ```cout << " enclosing path is " << ofFilePath::getEnclosingDirectory("astroBoy_walk.dae") << endl; ```
 enclosing path is ../../../data

This currently breaks the assimp example - put perhaps a lot of other code.
It might be worth ch

[2015-06-16 16:29] ofTheo commented on #3887
I think this is due to the change in ofFilePath::getEnclosingDirectory() ( see: #3940 )

[2015-06-16 16:49] ofTheo commented on #3887
ps @arturoc did you fix the scale issue with assimp?
I'm putting an issue in for it - did you manually scale up the astroboy in your above screenshot?

[2015-06-16 19:40] tgfrerer commented on #2581
In an effort to show my enthusiasm for this, and after reading http://gotw.ca/gotw/053.htm
I've spent five hours this afternoon refactoring the whole of oF core so that it would work without having `using namespace std` in `ofConstants.h`.

Here's the branch:

https://github.com/tgfrerer/openFrameworks/tree/core-explicit-std

* It's only been tested on vs2015RC, so it's well possible that other pl

[2015-06-16 20:05] arturoc commented on #3887
i'll add the trailing slash but that shouldn't be a problem. in any case this bug is from 2 weeks ago when getEnclosingDirectory was still using poco

[2015-06-16 20:06] arturoc commented on #3887
also the texture is really there, if you look closely the colors are there they are just almost white, it's something related with the materials colors probably

[2015-06-16 20:09] #3940 closed

[2015-06-16 20:11] arturoc commented on #3887
actually that seems to fix it :) i guess i tried while developing the port to std::filesystem. sorry for the noise.

the assimp addon shouldn't rely on that trailing slash though it should be using ofFilePath::join instead

[2015-06-16 20:11] #3887 closed

[2015-06-16 20:35] arturoc commented on #3887
btw, no idea about the scale issue, it's working fine now

[2015-06-16 20:41] arturoc commented on #3887
actually it's super small when compiling for emscripten, so it's possibly an openGL ES thing but no idea where it's coming from

[2015-06-16 20:58] bilderbuchi commented on #2581
+100 to this. I think if we merge after 0.9.0 release, we got enough time to iron out non-merging PRs and other wrinkles caused by this change.

[2015-06-16 20:58] arturoc commented on #2581
i think we should merge this, we can re-import std from for example ofMain.h by now so everything outside the core keeps working as it is right now but the core or anything that doesn't include ofMain directly needs to import std manually.

[2015-06-16 21:28] tgfrerer commented on #2581
Let me check this option tomorrow in my testing branch.

I've grouped the commits in two - and I believe the better (and less intrusive way of doing this) would be to apply the changes to the header files, but in some of the cpp files add a `using namespace std;`

My hope would be that a PR would then touch less files, and merging would be simpler, and the git history less noisy. That said, I thin

[2015-06-17 00:11] timknapen commented on #3348
@pizthewiz i tried with the main branch (the one @arturoc linked to). I can perfectly reproduce the problem in this version with this simple code:
[code]

and

[code]

after opening the load file dialog and closing it again (click cancel), the drawing of the OF view doesn't restart.

[2015-06-17 00:17] timknapen commented on #3348
The weird thing with ``` bShowLoadDialog = true;``` in keyPressed is because I first tried
[code]
inside update();
I thought the p

[2015-06-17 00:41] ofTheo commented on #3887
oh weird - on OS X its also tiny.  Is there a chance your using a different ( or newer ) version of assimp on  linux?

[2015-06-17 02:16] ofTheo opened #3942 "change with lighting / regression"
This is testing on OS X current master. The example project hasn't changed.
ping @openframeworks/core  @openframeworks/2d-3d

this is what the model noise example looks like in 0.8.4

![screen shot 2015-06-16 at 10 14 05 pm](https://cloud.githubusercontent.com/assets/144000/8198489/2a2acb7e-1475-11e5-8881-4c9feb1d35c0.png)

this is what it looks like in master ( 0.9.0 )

![screen shot 2015-06-16 a

[2015-06-17 07:10] arturoc commented on #3887
mmh, yeah that might be it, i'm using whatever is in the system repos which seems to be 3.0 emscripten which is using the same version as other platforms has the same problem so it's surely something in assimp. perhaps they have some scaling factor in later versions?

[2015-06-17 07:42] arturoc commented on #3942
will check this later but surely is related with a bug we had in OF up until 0.8.4 where lights were being calculated using the full modelview matrix. this caused that when using calls like ofTranslate, rotate, scale but even when applying a node transformation. The lights were also affected by this. This issue was reported by @armadillu but can't find it right now.

Now OF stores the view matrix

[2015-06-17 09:48] tgfrerer commented on #2581
I just tested this with `using namespace std;` in `ofMain.h`. It works. Here's what i found:

* ofApp.h + ofApp.cpp (userland code) work as they did (no need for the `std::` prefix). However, because ofMain.h is importing `std` into the global namespace, anything included after `ofMain.h` will have to deal with the "overpopulated" global namespace.
* This would mean that any external library had t

[2015-06-17 10:04] gorkacortazar opened #3943 "Xcode Crashes after finishing compiling the last master"
With a clean version of the master, Xcode 6.3.2 on Yosemite crashes and closes after when compiling and running any ofx application. It happens on all combinations of Debug/Release, 32/64 bits.

The applications compiles, but crashes when starts running. It started to happen in one of the last weeks commits, in my personal development repo I can revert the commits until a point where doesn't happe

[2015-06-17 10:19] tgfrerer commented on #3943
confirmed this running the latest ProjectgeneratorSimple from apps/

[2015-06-17 11:16] gorkacortazar commented on #3943
Does not happen with an empty project, but in multilight example it happens when loading an image; it may be related to the uri discovery or path translation maybe?

[2015-06-17 11:38] ofTheo commented on #3943
I just tried the multiLightExample on 10.9 with Xcode 6.1 and I don't get any crash.
Could you try building in Debug and run it from Xcode and see if Xcode can catch where it is crashing.

Could you also post the path you are running OF from on your Hard Drive i.e.: /Users/theo/Documents/OF/

[2015-06-17 11:59] arturoc commented on #3943
@ofTheo what's crashing is xcode itself not the app i think, right?

[2015-06-17 12:00] tgfrerer commented on #3943
yes. xcode 6.3.2 with me. on irc, btw =)

[2015-06-17 12:03] gorkacortazar commented on #3943
@arturoc  yes, xcode closes and the app never runs. But you can run the compiled binary.
@ofTheo , the main difficulty is that Xcode crashes and closes before any breakpoint in the file when you try to debug. The clean ofx resides in:
/Volumes/DataHD/Projects/ofx_090Test/openFrameworks

The problem resides in the URL parsing segment in ofImage.cpp, if I comment the full block, everything runs perf

[2015-06-17 12:06] gorkacortazar commented on #3943
More specifically, in ofImage.cpp, line 178, is the one that causes the crash
`uri = network::uri(fileName);`

[2015-06-17 12:17] tgfrerer commented on #3943
Might be a dependency on Poco, and openssl...

Maybe this is related to what prevents me from compiling in XCode 7 beta, where it refuses to compile saying:
`/Users/tim/dev/of/libs/poco/include/Poco/Crypto/OpenSSLInitializer.h:26:10: 'openssl/crypto.h' file not found`

[2015-06-17 12:45] gorkacortazar commented on #3943
@tgfrerer Correct, I need to go the this commit: ece2a4200bfabbe8e321acddf66dcf1cc12dad9b , before Poco removal, to avoid this behaviour.

Also i just noticed that while the ofx application compile and runs without a problem, it crashes Xcode if you try to attach the debugger.

[2015-06-17 12:46] danoli3 commented on #2581
+10000 for removing ```using namespace std;``` in favour of an explicit ```std::*``` throughout the core with proposed fix by @tgfrerer.

It's the standard way ;P

[2015-06-17 12:51] ofZach commented on #2581
+1 (add as many zeros as you want) I think this is definitely think this is a good move.

I also support moving to using namespaces, it definitely feels like time.  I found a folder on an old drive that says OF 0.00 -- it has like 5 files in it  :)   I think alot of the older worry about namespaces was coming from a different place entirely and OF has matured and changed a great deal since then.

[2015-06-17 13:11] misteralex commented on #3703
Remove the package <python-argparse> from installation script <linux/debian/install_dependencies.sh> to build properly of_v0.8.4 under Debian Jessie release  (not required for Debian Wheezy or Ubuntu 14.04). XDAQ @ www.embeddedrevolution.info

[2015-06-17 13:16] arturoc commented on #3943
does it crash when compiling in release too? also does this happen when compiling or when running the app?

[2015-06-17 13:16] arturoc commented on #3943
it doesn't happen for me with 6.0.1 btw

[2015-06-17 13:21] gorkacortazar commented on #3943
@arturoc It compiles and build without a problem.

Only when running (or attaching the app to the debugger if i run it manually), xcode crash. If I comment that URL check line in ofImage, it works without a problem, so for sure is related to the boost change; with the poco version of that check, runs without crashing .

[2015-06-17 13:23] bilderbuchi commented on #3104
@pierrep can you still reproduce this on latest master?

[2015-06-17 13:24] bilderbuchi commented on #3506
where should this documentation end up for the release? is the list current?

[2015-06-17 13:25] bilderbuchi commented on #3365
@BananasGoMoo can you still reproduce this on current master?

[2015-06-17 13:27] bilderbuchi commented on #3629
@openframeworks/video @openframeworks/macos a quick update on the status of this, please? is this something we will fix for 0.9.0?

[2015-06-17 13:29] bilderbuchi commented on #3686
ping @K0j0 @arturoc @openframeworks/windows what shall we do about this?

[2015-06-17 13:35] tgfrerer commented on #2581
Brilliant! i guess, the next step would be to figure out if we want the change to happen before or after 0.9. I tend to *after* currently, so we can focus on getting the release out asap =)

[2015-06-17 13:38] bilderbuchi commented on #2581
no, the next step is obviously to graduate from +1e4 to at least 1e9, to get to the next stage on the hype cycle. D:

anyway, yeah, I'd also vote for (right) after 0.9.0.

[2015-06-17 13:47] 2bbb commented on #3904
sorry, i made a mistake. so, i wrote

but, [[deprecated]] attribute from C++14.

maybe we continue to use `OF_DEPRECATED` and `OF_DEPRECATED_MSG`. (as an example: newest Visual Studio doesn't support [[deprecated]] now.)

[2015-06-17 13:53] tgfrerer commented on #3686
I just tested this on VS2015RC and could not reproduce the error (everything worked as it should). I think we can close this.

[2015-06-17 14:02] bilderbuchi commented on #3686
thanks!

[2015-06-17 14:02] #3686 closed

[2015-06-17 14:09] arturoc commented on #3943
can you check if the latest commit fixes it?

[2015-06-17 14:10] tgfrerer commented on #3486
Just tested w/ VS2015RC debug+release 32 bit, and i'm bit seeing this anymore.

[2015-06-17 14:14] gorkacortazar commented on #3943
@arturoc Thanks! It works in all Debug/Release 64bits/32bits combinations

[2015-06-17 14:15] tgfrerer commented on #3943
may be related: on windows, i see a non-crashing debug output:

Exception thrown at 0x76044598 in mySketch.exe: Microsoft C++ exception: network::uri_syntax_error at memory location 0x0018FA4C.

[2015-06-17 14:15] bilderbuchi commented on #3486
thanks!

[2015-06-17 14:15] #3486 closed

[2015-06-17 14:21] arturoc commented on #3943
i don't think it has anything to do, vs stops when an exception is thrown no matter if it's catched, when a uri is can't be parsed it throws an exception but that was the same with poco. you can tell vs not to stop on them but it's pretty annoying that is enabled by default

[2015-06-17 14:21] arturoc commented on #3943
i'm going to close this then

[2015-06-17 14:22] ofTheo commented on #3104
I get this issue with current master.

console message is:
[code]

![screen shot 2015-06-17 at 10 21 56 am](https://cloud.githubusercontent.com/assets/144000/8209403/b9f1ae52-14da-11e5-9c62-28717add4c28.png)

[2015-06-17 14:28] bilderbuchi commented on #3943
haha what? that's pretty hilarious!

[2015-06-17 14:29] tgfrerer commented on #3943
Oh, i understand. it's not enabled by default, so not that tragic. You can catch it if you specifically set it using `Debug->Exception settings` in the VS menu.

[2015-06-17 14:29] bilderbuchi commented on #3104
pinging @arturoc

[2015-06-17 14:36] ofTheo commented on #3104
yeah I see this with Xcode 6.01 and 6.1 - really not sure what is causing it.
Maybe the order of destruction?

[2015-06-17 14:38] ofTheo commented on #3104
changing

[code]

to

[code]

in ofApp.h stops the crash -

[2015-06-17 14:42] ofTheo commented on #3104
Hmm I bet the issue is simply that syncGroup which is ofParameterGroup parameters; has been deleted as things higher up are deleted first. So syncGroup in ofxOscParameterSync is a pointer to a deleted object - hence the crash

[code]

[2015-06-17 14:48] tgfrerer commented on #3104
That would make sense - the order in which members are declared in cpp determines the order in which they will be deleted. Could it make sense to use `weak_ptr` instead of shared_ptr there, to not propagate ownership?

[2015-06-17 14:50] ofTheo commented on #3104
Thats partially the problem. Its a regular pointer
[code]
So there isn't a way to do weak_ptr without making the user use shared_ptr <ofParameterGroup> in ofApp

[2015-06-17 14:53] tgfrerer commented on #2874
Seems this (the data race) has been fixed compiler-side with VS2015RC. Tested both release and debug on windows, and it works.

The question remains whether we want to have an `init()` method which sets up the environment somewhere...

[2015-06-17 14:57] arturoc commented on #3904
yeah i realized about this later, i'll remove the ones i added. we can't use the macro by now for typedefs. also for this i don't think we should deprecate anything just send a PR with your original proposal

[2015-06-17 15:07] arturoc commented on #3104
the parameter group acts as a shared_ptr already so we just need to make a copy instead of store a pointer. i'll fix it

[2015-06-17 15:08] caodepalha commented on #3104
constantly receiving email from this and cannot unsubscrive

2015-06-17 16:07 GMT+01:00 arturo <notifications@github.com>:

--
Cumprimentos
Mauro Fernandes

917777142 /  927173680

[2015-06-17 15:15] ofZach commented on #3104
@caodepalha maybe this can help

https://help.github.com/articles/watching-repositories/
https://help.github.com/articles/configuring-notification-delivery-methods/

you have to unwatch this repo or change your alerts in github

[2015-06-17 15:17] caodepalha commented on #3104
thanks

2015-06-17 16:15 GMT+01:00 ofZach <notifications@github.com>:

--
Cumprimentos
Mauro Fernandes

917777142 /  927173680

[2015-06-17 15:28] #3942 closed

[2015-06-17 15:29] tgfrerer commented on #3828
tested the blending example after re-generating project files and it works for me (XCode 6.3.2, OSX 10.11beta / Intel Iris Pro, Nvidia GT 750M)

[2015-06-17 15:29] ofTheo commented on #3942
That makes sense @arturoc
I just added a light.setPosition to the example and it looks fairly close to the old version. Closing this issue.

Thanks!

[2015-06-17 15:34] danoli3 commented on #3927
@arturoc do you think that OSX patch should apply for the iOS version as well?

[2015-06-17 15:35] ofTheo commented on #2581
I would be curious how namespaces in OF would look / work.

If it was simply to have an of:: namespace for the whole project I could see that being useful in terms of all the global enums we have and constants like PI etc.

I would be curious to hear what people's ideal namespace scenario is and what problems would it be solving? Maybe in a separate issue?

[2015-06-17 15:36] armadillu commented on #3942
BTW Issue was reported on the forum http://forum.openframeworks.cc/t/oflight-positioning-weirdness/12806

[2015-06-17 15:48] ofTheo commented on #3828
Yup works for me too! thanks!

[2015-06-17 15:48] tgfrerer commented on #2738
As of the current codebase, `ofGLProgrammableRenderer::setCurrentFBO` has no implementation, the implementation has been removed in commit 94cb65672e92dc33dc67733f4397699f15a41399

I suspect it's just the header file that needs updating to remove the method signature, but let's ask @arturoc if he remembers what's best.

[2015-06-17 15:54] arturoc commented on #3927
might be, in any case it doesn't change the functionality at all so probably better to apply it just in case

[2015-06-17 15:59] pizthewiz commented on #3629
I think @admsyn determined that the oF AV Foundation player _is_ capable of reverse playback, however not all media types (specifically audio tracks) allow it.

Adding the iOS keyword since the player is now shared.

[2015-06-17 16:02] arturoc commented on #2581
i think we should begin with of:: and perhaps of::system for system utils since those are already ofSystem.... and of::fs or filesystem since we already have a name clash there with of::path for graphics path and of::fs::path for ofFilePath everything else should be in of:: directly i think

also we can bring parts of the std into of:: like std::filesystem could be of::fs or of::filesystem (that's

[2015-06-17 16:14] i-n-g-o commented on #3629
depending on compression format AV Foundation Player itself is capable of playing media backwards.

ofAVFoundationPlayer does use AVAssetReader to read media frames. To my knowledge AVAssetReader is _not_ capable of playing back media backwards (preloading frames in reverse order...)

please see my comment above.

for reverse playback ofAVFoundationPlayer has to work differently, caching frames in

[2015-06-17 16:59] ofTheo commented on #2581
I would also be fine keeping it simple i.e.:
of::path
of::filepath / of::file / of::directory

but yeah lets maybe address this after 0.9.0  :-)

[2015-06-17 16:59] mitchmindtree commented on #2581
Big :+1: to all this name-spacing! Especially `of::`... beautiful and clean :)

[2015-06-17 17:15] arturoc commented on #2738
should we close this then?

[2015-06-17 17:15] tgfrerer commented on #2738
i would say so =)

[2015-06-17 17:39] #2738 closed

[2015-06-17 17:40] arturoc commented on #2738
i don't think this is an issue anymore since other people would have noticed but if it's still a problem feel free to reopen

[2015-06-17 17:44] arturoc commented on #2874
we have an ofInit now which could set the path, it's in ofAppRunner

[2015-06-17 17:45] arturoc commented on #2874
oh actually it's already doing it :) going to close this then

[2015-06-17 17:45] #2874 closed

[2015-06-17 18:28] bilderbuchi commented on #2581
could also get rid of many of those `of*` names when switching to namespaces.

[2015-06-17 18:31] bilderbuchi commented on #3629
while it is a regression, I think it's not very important. I'll push this back to 0.9.1

[2015-06-17 21:12] danoli3 commented on #3926
Tested and working! All the new iOS PR's working well

[2015-06-17 21:31] urshofer commented on #3629
i think - from a creative coding viewpoint - backwards, slow motion, frame by frame is kind of important. and it would be great to keep the functionalities between the platforms in sync. a different approach would be to use gstreamer as video framework as widely as possible. it's probably not the fastest, but the most open and versatile system and fit probably best what oF is meant to be.

Am 17.0

[2015-06-18 06:56] bilderbuchi commented on #3926
so, close this?

[2015-06-18 07:22] danoli3 commented on #3926
Yeah this is completed.

[2015-06-18 07:22] #3926 closed

[2015-06-18 07:27] danoli3 commented on #3927
iOS Merged.

[2015-06-18 11:22] danoli3 commented on #1022
Re-igniting this @memo was this an issue with OS X project or iOS. I've just made changes to fix the iOS side. I'll have a look at the OSX settings as well...

[2015-06-18 11:23] #3104 closed

[2015-06-18 12:12] tgfrerer opened #3960 "vs apps report wrong scancodes for key presses"
On windows, i get the wrong scancodes for key presses.

here's a minimal testcase: https://gist.github.com/tgfrerer/77cbd9e2a60acc95ee1f

When i press lowercase `a`, then uppercase `A` I get:

	[notice ] key press   :    97
	[notice ] key released:    -1
	[notice ] key press   :    2304
	[notice ] key press   :    2305
	[notice ] key press   :    2304
	[notice ] key press   :    2305
	[notice ] ke

[2015-06-18 12:29] arturoc commented on #3960
it's probably been compiled from my repo since otherwise it won't compile. i think the problem is the merge from glfw master into my repo that @igiso sent some time ago. i merged it thinking it was well tested but i think it was only tested in osx and broke all other platforms. i was just going to keep the old version in linux since it doesn't have any issues but if it's failing in windows too i'l

[2015-06-18 12:33] tgfrerer commented on #3960
Hmm. Apothecary links to / downloads from @oftheo's repository. Would we need to update this, too?

typed on tocuh

[2015-06-18 12:44] ofTheo commented on #3960
the link can point back to @arturoc 's repo ( https://github.com/arturoc/glfw/tree/feature-keysUnicode )  as he merged in the PR for the disappearing mouse on OS X issue.

I've been using this version of GLFW in a project and it seems to work well on OS X.
Ideally though we should try and get the keyscan issue fixed in GLFW so we can point apothecary to glfw/stable or glfw/master

[2015-06-18 14:44] 2bbb commented on #3904
i sent a PR #3948
and please do discussion on this PR.

[2015-06-18 14:44] #3904 closed

[2015-06-18 15:36] arturoc commented on #3828
the fileBuffeLoadingrCSVExample is working fine now

[2015-06-18 16:58] tgfrerer opened #3962 "visual studio 2015RC link times very slow"
Adding the `/time` link option in VS and profiling the link times tells me that VS spends about 10 seconds linking on my machine. It's a reasonably fast machine.

#3961 should speed up things a little bit, but that's only happening after the linker stage has been passed.

One build output message might be revealing:

`cairo-static.lib(cairo.obj) : MSIL .netmodule or module compiled with /GL found;

[2015-06-18 17:05] DomAmato commented on #3962
I think thats an older library which can be fixed now using the apothecary scripts. When i first did the PR for the newer libs i didnt catch that right away since I was just trying to get it to compile.

[2015-06-18 17:26] tgfrerer commented on #3962
Sweet!

I managed to recompile cairo using apothecary on my machine, and the errors disappear, and the link time drops to `>  Final: Total time = 2.359s`.

We should update the cairo, libpng and pixman static lib from the apothecary generated ones.

It seems that when i compile cairo it re-compiles its dependency freetype, and the freetype header files it generates are more recent than the ones we

[2015-06-18 17:43] DomAmato commented on #3962
It should be I dont think I changed the version type when I updated the scripts for freetype.

[2015-06-18 17:53] arturoc commented on #3799
closed via 5b2971a9b2e1cdec715c2338f0a7bddf22bb3188

[2015-06-18 17:53] #3799 closed

[2015-06-18 17:54] arturoc commented on #3641
closed via 5b2971a9b2e1cdec715c2338f0a7bddf22bb3188

[2015-06-18 17:54] #3641 closed

[2015-06-18 17:54] arturoc commented on #3263
closed via 5b2971a9b2e1cdec715c2338f0a7bddf22bb3188

[2015-06-18 17:54] #3263 closed

[2015-06-18 18:03] #2796 closed

[2015-06-18 18:06] arturoc commented on #3962
have you checked that is really different, in windows it usually shows as it has changed but it's only the breaklines

[2015-06-18 18:08] tgfrerer commented on #3962
I did the ol' push / pop stash trick, yes =) and then a git diff ... there are differences, our headers for example have their copyright up until 2013, the new headers go up to 2014.

[2015-06-18 18:43] #3238 closed

[2015-06-18 18:43] arturoc commented on #3238
really smart! :) thanks. i've implemented it as ofTypeInfo until we have a namespace

[2015-06-18 20:17] dimitre commented on #3557
I second this issue.
Thank you @armadillu @galsasson for the workaround it works well.

[2015-06-19 07:18] 2bbb opened #3966 "crush when call ofToLower"
i encount this bug when i develop to replace `ofToBool`.
on Xcode6.3.2, with oF is HEAD of master.

log is:
[code]

and result of `locale -a` on my env.
[code]

so, i can't find C.UTF-8 locale.

and i rewrite `ofToLower` from
[code]

to
[code]

this seems like good.

Is there anything wrong on this code?

[2015-06-19 07:40] arturoc commented on #3966
I fixed this already. check latest master

[2015-06-19 07:40] #3966 closed

[2015-06-19 07:51] 2bbb commented on #3966
oh, sorry.
i checked! thx!!

[2015-06-19 07:59] 2bbb commented on #3966
@arturoc
i pulled latest master.
but still it seems to have a same problem... omg...

is this problem about my env?

[2015-06-19 09:32] arturoc commented on #3966
oh i see, there was another exception yesterday, i'll fix this too. thanks!

[2015-06-19 09:42] arturoc commented on #3966
btw, the problem with using the default locale is that in some OS it might not be utf8 and something like ofToUpper("àbcdèö") would be "àBCDèö" instead of "ÀBCDÈÖ"

[2015-06-19 10:14] #3962 closed

[2015-06-19 10:52] 2bbb commented on #3966
okay. i see!
:+1:

[2015-06-19 11:55] tgfrerer commented on #3960
Ok, I think i found the lines that did it, they are in [this switch branch](https://github.com/glfw/glfw/compare/master...arturoc:feature-keysUnicode#diff-bee1cd5e5316d5bf136cbaddbcd3b95eL344).

@arturoc I've sent your feature branch a PR: https://github.com/arturoc/glfw/pull/5

If you re-generate the archive and we point glfw back to `https://github.com/arturoc/glfw/archive/feature-keysUnicode.ta

[2015-06-19 16:45] kylemcdonald commented on #2581
i support merging @tgfrerer's branch, but i think we need to go all the way:

1. figure out what the error messages are for various pieces of "old" code that assumed `using namespace std` was present. check this on all the different compilers / IDEs we use.
2. post a thread to the OF forum that just says "if you are getting one of these errors: [list of errors] then at the top of your file write `

[2015-06-19 16:47] kylemcdonald commented on #3629
in my opinion the absolute minimum thing we need to do here before 0.9.0 is to log an `ofWarning` about negative play rates not being support for AVFoundationPlayer, and convert it to a 0 play rate. otherwise the jittery behavior will create confusion when someone runs into this.

[2015-06-19 17:02] kylemcdonald commented on #126
@ofTheo i didn't see a corresponding PR closing this, what happened?

[2015-06-20 05:43] liquidzym commented on #3923
i'm trying to rebuild the openssl with vs,but the openssl.sh script saying that :line 402 :conditional binary operator expected

[2015-06-20 15:41] liquidzym commented on #3923
ok,i did complied openssl anyway,but seems missing opensslconf_vs.h file afterwards which required for compiling poco

[2015-06-20 15:43] liquidzym commented on #3910
i double check with videoinput, i also did manual compiled with vs2015,same result. which version of vs2015 rc are you using? i have to add those dx lib to debug&release props sheets.
updated poco&openssl its here:https://github.com/liquidzym/openFrameworks/tree/vs2015-POCO-OPENSSL

[2015-06-20 20:12] bilderbuchi commented on #3960
closed by #3969

[2015-06-20 20:12] #3960 closed

[2015-06-21 01:13] DomAmato commented on #3910
I cant replicate your issue on any of my machines. I cloned the master and built it on two machines and never ran into the problems you are experiencing though I did run into a few issues related to poco and cairo that I will update in a PR shortly

[2015-06-21 15:00] liquidzym opened #3973 "pdfExample images[j].width issue"
line 74 shoule be if (images[j].getWidth() > 0)

[2015-06-21 18:01] ofZach opened #3974 "objects with events gives "Call to implicitly-deleted copy constructor" error (c++11 related)"
(I may be doing something wrong so apologies in advance!)

	class objectWithEvent {
		public:
		ofEvent<void> triggerEvent;
	};

	//--------------------------------------------------------------
	void ofApp::setup(){

		vector < objectWithEvent > tests;

		for (int i = 0; i < 10; i++){
		    objectWithEvent t;
		    tests.push_back(t);
		}

	}

gives this error "Call to implicitly-deleted copy con

[2015-06-22 07:21] #3974 closed

[2015-06-22 07:25] arturoc commented on #3974
it was just that when i ported the events to not use poco i forgot to add a copy constructor. since the ofEvent class contains a mutex it can't be copied by default it isn't really a c++11 thing. also in c++11 when an object can't be copied (and in general in any case it's usually easier and faster) you can do:

[code]

where you pass the parameters of the constructor to the emplace_back method in

[2015-06-22 07:46] #3973 closed

[2015-06-22 10:41] ofZach commented on #3974
ah makes sense!  thanks for the fix and explanation.  learned something new too !

[2015-06-22 16:03] kylemcdonald commented on #3893
i've tagged it 0.9.1 so it doesn't keep the release back, but to be clear, i think the API should be backwards compatible with ofxOpenCv.

[2015-06-23 02:00] danoli3 opened #3977 "Xcode 7.0 - Requires iOS 6.0+ as minimum. Time for iOS 7.0 Minimum step up"
Building for a device under Xcode 7 fails due to
`clang: error: -fembed-bitcode is not supported on versions of iOS prior to 6.0`
Apple's new bitcode enhancements require at least iOS 6.0

This is due to the current Deployment Target of `5.1.1`

I think it's a good idea to push forward even further and make iOS `7.0` oF minimum.

The current statistics from Apple:
![ios8](https://cloud.githubuserc

[2015-06-23 02:28] danoli3 commented on #3977
@openframeworks/ios

[2015-06-23 03:59] DomAmato commented on #3916
@elliotwoods compiled the 64 bit ones. Did you change the script to get it to compile or how did you go about doing it?

[2015-06-23 05:13] danoli3 commented on #3977
Adding to this: When any static library is built without ENABLE_BITCODE for iOS 6.0 and above: The following "URGENT" warning is displayed for every object of every architecture of every static lib.

[2015-06-23 05:44] julapy commented on #3977
+1
also agree that moving to iOS 7.0 minimum would be a good idea.

[2015-06-23 12:24] ofTheo commented on #3977
That chart looks a bit dubious to me :)  Half my iOS devices are iOS 5 or 6.
Any reason to not have iOS 6 as a minimum?
Is there a huge workaround that we could then avoid?

I know for people making games being able to support the most number of devices is really helpful.

If there is a really strong reason to make iOS 7 minimum I�m for it - but generally with OF if we can easily support more devi

[2015-06-23 12:55] julapy commented on #3977
yeah apple is pretty aggressive with their iOS upgrades. generally when working on pure iOS commercial projects (non-OF), it's safe to target the last 2 major releases, so right now it would be iOS 7 & 8.

ofxiOS has always been behind this standard, and we tend to support the last 3 major releases. so following this pattern, we should be supporting iOS 6, until iOS 9 comes out anyway.

ok so lets

[2015-06-23 13:08] gorkacortazar commented on #3977
While bitcode plans are not completely clear yet, seems that it will be some sort of intermediate code to compile for each new platform. Is not yet mandatory for ios 9 (but it will be for apple watch),  and will be mandatory in the near future.

This article, while highly speculative, have some arguments that may make sense about this change
https://medium.com/@InertialLemon/apple-s-bitcode-telegr

[2015-06-23 14:00] danoli3 commented on #3977
I have a solution for the bit code issue in Xcode for now:
```ENABLE_BITCODE = NO``` in the config.

@ofTheo Get updating your devices ! ;D

If they are back there for testing, well Apple's stance is test for the 98% not the 2% (that are not likely to download apps), they actually only do real AppStore submission test on the latest and the last (so 8.0 and 7.0 currently, it will be 8.0 and 9.0 in

[2015-06-23 16:04] ofTheo commented on #3977
I think that graph is quite skewed in that it is based on people who downloaded apps in June 2015 which will always favor recent devices or very active users.

A lot of older devices won't be downloading apps as they are already setup how the user wants them. My hunch is that if you were to survey the iOS versions in the wild. It would be probably less than 40% iOS 7 and above.  Apple just loves t

[2015-06-23 16:45] bakercp opened #3978 "GLUT on OSX? Broken on master."
I'm not sure what the current status is w/ Glut (are we leaving it behind for 0.9.0)?  Anyway, if one attempts to use the current master and something like this:

[code]

It will call this system GLUT framework, which is missing some symbols, namely:

[code]

Anyway, if we're leaving GLUT behind, let's get rid of ofxAppGlutWindow, or go back to including the custom framework in the template by def

[2015-06-23 16:46] bakercp opened #3979 "ofGetFrameNum increments super fast when in background (and covered by another window)"
Code on current master:
[code]

When the window is in the background (and completely covered) the frame count is incremented by several thousand.

Here's a gif:

![ezgif-1296895755](https://cloud.githubusercontent.com/assets/300484/8311671/61e289b2-199d-11e5-9bef-7d803fba6516.gif)

Haven't tested it w/ GLUT as GLUT seems to be broken on OSX at the moment (ref #3978)

I'm assuming this is a GLFW re

[2015-06-23 16:50] danoli3 commented on #3977
Google would be the first to call that card out if they were skewing the data (they do run the largest Analytics API in the world :D!).

I did think of that possibility though a while back and checked some sources, public SDK's being used in apps all over the AppStore and the stats do match or are usually less than what is actually out in the real world.

### References:

#### Unity SDK
- Realtime

[2015-06-23 17:26] ofTheo commented on #3977
touche!

[2015-06-23 17:37] bakercp commented on #3977
Seems like a pretty strong case for 7+ ... :) Thanks for all the research @danoli3

[2015-06-23 17:39] bakercp commented on #3931
@iColpitts any news on this?  I just tried master and everything seemed to work out of the box.

[2015-06-23 17:40] arturoc commented on #3978
are you using 64bits? i think the modified framework is still there but it was never compiled for 64bits.

[2015-06-23 17:42] bakercp commented on #3978
No, using 32bit (I can't get 64 bit to compile at all on OSX / master).

I think the new project templates no longer are including the old 32bit glut framework in the project files, so it could be as simple as including them (all of the frameworks are no longer in the tree view of the osx empty project template used by PG).

[2015-06-23 17:42] arturoc commented on #3979
i think this has always been there it's just how osx works. if a window is not visible or is minified the vertical sync doesn't work on it so it runs as fast as possible. in the PG we had to limit the fps so this won't happen cause it was eating a full cpu when it was in the background.

not sure if there's anything we can do and i think it's the same with glut

[2015-06-23 17:44] bakercp commented on #3979
Strange, yeah, I remember those older issues.  I didn't realize it was an issue.  If it's just the way it is, I'll close this.

[2015-06-23 17:55] bakercp commented on #3978
Looks like the copy phase of the updated project template is simply missing from the updated project templates.

![example_browser_xcodeproj](https://cloud.githubusercontent.com/assets/300484/8313230/1a41bb82-19a7-11e5-89d6-6f14fe65d4af.png)

[2015-06-23 17:56] bakercp commented on #3978
That said, it would be nice to not have this framework in every app if the app doesn't use it, so perhaps we just need to document this or copy it conditionally (not sure how to do this).

[2015-06-23 18:00] bakercp commented on #3978
So all of that said -- where is the glut source so that we can get the 64 bit version compiled and included (if we are keeping GLUT support)?

[2015-06-23 18:08] bakercp opened #3980 "remove -lpthread C++ flag"
I'm getting lots of warnings about the `-lpthread` flag not being used.

Can we delete this from the OSX project template flags for 0.9.0?

[2015-06-23 18:12] arturoc commented on #3978
i think only @ofTheo has them

[2015-06-23 18:13] arturoc commented on #3980
didn't @tgfrerer removed them already?

[2015-06-23 18:14] ofZach commented on #3979
as a side note, glfw does provide good mechanisms for knowing if a window is out of focus or not (it's a callback for getting / loosing focus).  I don't know if that helps, this is more about it being covered, but I could imagine a kind of fix where you add a frame rate cap on loosing focus (for a window that has vsync and no frame rate set) and drop the frame rate cap when it's in focus.

[2015-06-23 18:14] bakercp commented on #3980
Hm.  Just pulled the latest ... checking again.

[2015-06-23 18:16] arturoc commented on #3980
this was a while ago, at least a week so you should have them just pinging tim so he tells us where that was it might have been in other platform or something

[2015-06-23 19:50] tgfrerer commented on #3980
Could be that I left some out.

The flags are set in the App project files and per configuration (so worst case in 4 places), so it's possible that the project generator project file might still have them set somewhere.

The project file template should not have them, and project files generated through the project manager should also not have them, but best double check.

[2015-06-24 00:18] DomAmato opened #3983 "Separate VS Builds"
Changing architectures requires openframeworks to be rebuilt. Should we maybe have them separated by architecture so that it would be libs\openFrameworksCompiled\lib\vs\(Win32/x64)

I don't think its a big deal but it will cut down on recompiling each time someone switches architectures

[2015-06-24 00:25] bakercp commented on #3983
If this is possible, it would be cool.  I ran into this issue today.

---
http://christopherbaker.net

On Tue, Jun 23, 2015 at 7:18 PM, Dominic Amato <notifications@github.com>
wrote:

[2015-06-24 02:56] kylemcdonald commented on #3979
related to #3181

[2015-06-24 03:17] danoli3 opened #3984 "iOS arm64 - ld: 128-bit / 64-bit LDR/STR not 16-byte / 8-byte aligned"
#### The following Errors reported in linking process for iOS arm64.

[code]
http://forum.openframeworks.cc/t/poco-linking-error-for-ios-64-bit/19831

[code]
http://forum.openframeworks.cc/t/solved-linker-errors-with-opencv-64bits/19572/5?u=danoli3

[code]
https://github.com/openframeworks/openFrameworks/issues/3039#issuecomment-102740590

[code]
https://github.com/openframeworks/openFrameworks/co

[2015-06-24 03:18] #3984 closed

[2015-06-24 06:32] bilderbuchi commented on #3979
thanks @kylemcdonald, I'll close this is a duplicate since it's basically about the same thing.

[2015-06-24 06:32] #3979 closed

[2015-06-24 06:34] bilderbuchi commented on #3181
#3979 has some additional discussion. the reason seems to be that, with no vsync, it just renders as fast as possible, leading to very high framerates and 100% CPU. One possible fix would be to

[2015-06-24 06:56] DomAmato commented on #3983
Changing the output directory and intermediate directories didn't work

[2015-06-24 07:17] DomAmato opened #3986 "ofxOSC conflicts with poco"
Compiling throws redefinition issues which can be fixed by changing the class NetworkInitializer's name

[2015-06-24 07:31] elliotwoods commented on #3843
so just to check. what's the status now?
we've got merged working VS2015 apothecary scripts for all libs?

and now just need to change up the rest of oF to use VS2015?
is there another issue for that?

[2015-06-24 07:32] elliotwoods commented on #3843
and congrats all!

[2015-06-24 08:00] elliotwoods commented on #3843
OK.

So

### VS2015 / x64 WORKS with current mastser
Just update the Project Generator to use VS2015 rather than VS2012, also you need to setup the solution for x64)

### VS2015 / x86 DOESN'T WORK with current mastser
Lots of linker errors with Poco. I guess this is what you're discussing above

[2015-06-24 08:01] rezaali opened #3987 "ofx3DModelLoader Addon Example Fails to Build (texture3DS.cpp)"
Here are the errors when building:

texture3DS.cpp:18:23: error: 'width' is a protected member of 'ofImage_<unsigned char>'
    m_width     = img.width;
texture3DS.cpp:19:23: error: 'height' is a protected member of 'ofImage_<unsigned char>'
    m_height    = img.height;
texture3DS.cpp:20:23: error: 'bpp' is a protected member of 'ofImage_<unsigned char>'
    m_bpp       = img.bpp;

Looks like tex

[2015-06-24 08:45] rezaali opened #3990 "AllAddonsExample doesn't compile on OSX 10.10 ofxTCPServer ofMutex::ScopedLock Error"
got many errors of this type:

ofxTCPServer.cpp:86:11: error: no member named 'ScopedLock' in 'std::__1::mutex'

Proposing to use: std::unique_lock<std::mutex> instead of ScopedLock instead.

[2015-06-24 10:18] bilderbuchi commented on #3987
Closed by #3989

[2015-06-24 10:18] #3987 closed

[2015-06-24 10:18] bilderbuchi commented on #3990
Closed by #3993

[2015-06-24 10:18] #3990 closed

[2015-06-24 12:07] danoli3 commented on #3978
Kill GLUT. It's not open source. GLFW few

https://www.opengl.org/resources/libraries/glut/

[2015-06-24 12:25] ofTheo commented on #3978
Okay there is a FAT build of GLUT now in master. I tested it and it works fine.
The only issue is the examples are now building without adding the copy framework to the app frameworks so currently apps with GLUT windows on OS X are linking with the one in /System/Library/Frameworks.

edit: okay I think its cause the template got converted to plist from xml. going to fix.

[2015-06-24 16:23] bakercp commented on #3978
Still broken -- see comment here https://github.com/openframeworks/openFrameworks/commit/4f4aa8455eaf13494fa79153b7d9525e8098f6ad

[2015-06-24 16:25] bakercp commented on #3978
Also, wouldn't it make more sense to use rsync like we do w/ ios instead of repeatedly copying libfmodx and GLUT?

[2015-06-24 16:45] bakercp opened #3999 "64bit osx crashes on close (via escape) with imageLoaderWebExample."
32bit osx doesn't.

tested both http and https.

[2015-06-24 17:14] DomAmato commented on #3843
The poco errors are actually related to the wrong architecture of openssl libs which are in my most recent PR

[2015-06-24 17:59] ofTheo commented on #3978
@bakercp def feel free to change it to rsync - I think that could be fine as well.
I just matched what we had there already.

[2015-06-24 18:16] #3978 closed

[2015-06-24 19:26] jamet opened #4000 "master not compiling on linux "boost/filesystem.hpp not found""
hi all,

having a problem with might be related to this commit 96530d7 and the introduction of boost lib.

all dependencies are installed ok, but it seems boost lib is not present on linux

[2015-06-24 19:30] jamet opened #4001 "framerates drops when connecting hdmi display"
hi all,

as the title says, when i connect my hdmi display to my laptop, every app that make a call to ofGetScreenWidth() or ofGetScreenHeigth() drops framerate to 1 FPS.

i described the problem in this thread, but have no ideas how to continue debugging :
http://forum.openframeworks.cc/t/framerate-drops-when-connecting-hdmi-display-on-lubuntu-14-04-related-to-ofgetscreenwith/19970

[2015-06-24 20:21] arturoc commented on #4000
fixed by https://github.com/openframeworks/openFrameworks/pull/3971

you need to run the install_dependencies script which will install the needed libraries

[2015-06-24 20:21] #4000 closed

[2015-06-24 20:26] arturoc commented on #4001
i think this is an OS thing, that call is requesting the screen size which might be slow depending on the config i guess. glfw the library we use has callbacks to detect when a new monitor is present so you can query the screen size only when that happens. also unless you have some special config that fakes all the screens being only one the reported size is for the monitor in which the app is run

[2015-06-24 20:40] jamet commented on #4001
thanks for your answer @arturoc , i understand the point of the screen size being the one that the app runs too, so it seems ok that it always return same value.

i will try to test with latest master and to get deeper in xorg.conf, could try with Glut window instead maybe?

[2015-06-25 03:09] bakercp commented on #3980
This is superseded by #3995 and @ofTheo 's commits.

[2015-06-25 03:09] #3980 closed

[2015-06-25 07:18] tpltnt commented on #3855
confirmed for 0.8.4 (64bit) on Debian:
* soundPlayerExample: `[ error ] ofOpenALSoundPlayer: sfReadFile(): couldn't read "/home/[redacted]/of_v0.8.4_linux64_release/examples/sound/soundPlayerExample/bin/data/sounds/1085.mp3"
Floating point exception`
* soundPlayerFFTExample: `[ error ] ofOpenALSoundPlayer: sfReadFile(): couldn't read "/home/[redacted]/of_v0.8.4_linux64_release/examples/sound/sound

[2015-06-25 07:41] bilderbuchi commented on #3855
@tpltnt please try to repro on current master, much has changed since 0.8.4

[2015-06-25 07:44] arturoc commented on #3855
also i think your problem is that you haven't installed the codecs with the install_codecs.sh script. otherwise OF won't be able to decode mp3s

[2015-06-25 14:43] danoli3 commented on #3943
@arturoc I believe this is still causing the crashes in iOS Xcode Simulator.

[2015-06-25 15:17] arturoc commented on #3943
can you try removing all references to this library? the only ones are in ofImage.cpp lines 176 and 178 and ofUtls.cpp in the ofLaunchBrowser function, you can comment it entirely. also comment out the includes in both files. then remove the library and it's headers from the system and the xcconfig

if this solves the problem then we are sure that liburi is the culprit and we can swap it with some

[2015-06-25 15:20] danoli3 commented on #3943
I'll try that now.

[2015-06-25 15:33] danoli3 commented on #3943
Yeah no crash when I defined those references in ofUtils and ofImage and removed the URI headers / lib from the project.

Definitely URI causing this Xcode crash. Maybe this is also something we need to report to Apple

[2015-06-25 15:56] arturoc commented on #3943
yes definitely i reported it to the liburi author but they don't want to add workarounds since it's a bug in xcode. my guess is that the backtrace is so big that it overflows some internal buffer xcode is reserving for it which crashes the process.

something else to try is to divide those lines further to see if it fixes the problem but since it only affects a couple of places probably the easies

[2015-06-25 17:14] danoli3 commented on #3943
Just added a PR to fix this with Poco + removal for now.

[2015-06-25 17:59] obviousjim opened #4004 "ExtensionComparator / allowExt need . (dot) to be included in file path"
In 0.8.4 The following use of ofDirectory::allowExt() works to filter for only pngs:

     ofDirectory dir(pathToFolder);
     dir.allowExt("png");
     dir.listDir();
     //now dir is full of only pngs

In current master one needs to include the . for the extension, otherwise no files pass the test

     ofDirectory dir(pathToFolder);
     dir.allowExt(".png");
     dir.listDir();
     //now dir

[2015-06-25 19:48] ofTheo commented on #4004
It should be fairly easy to fix so it works both ways I think.
We should also check if the behavior of ofFile::getExtension and ofFilePath::getExtension has changed too.

[2015-06-25 20:24] tpltnt commented on #3855
@bilderbuchi with 6c91878f3dc667b5affec86b5c19f877622607bb:
[code]

[2015-06-25 20:29] tpltnt commented on #3855
executing my updated install_dependencies.sh (#3971) fixes the boost-issues. i may ran install_codecs.sh before, but good call @arturoc.

[2015-06-25 20:54] ImanolGo commented on #3052
Hi,

I was able to compile the library of the patched version of glfw that arturoc suggested. However if I substitute the libglfw3.a library in OF 0.8.4,  I get massive linking errors. Anything else that I should take into account?

[2015-06-25 21:09] arturoc commented on #4004
i fixed getExtension but not this one, seems the std filesystem functions understand extension with the ., i'll fix it so it works as it did and we can consider later if we won't to make it work with the . too

[2015-06-25 21:50] #4004 closed

[2015-06-25 21:53] ofTheo commented on #3052
It should be named glfw3.a not libglfw3.a :)

[2015-06-25 21:54] pizthewiz commented on #3052
Are we still stripping the `lib` prefix from OS X static libs?

[2015-06-25 21:55] ofTheo commented on #3052
@pizthewiz - yes always because of a long standing bug with Xcode and it potentially linking to libs in /usr/local/lib instead of the ones supplied by OF.

[2015-06-25 22:00] pizthewiz commented on #3052
Probably external to this cursor issue but discussed in #2252 and #2882. I still wonder if it could have been a search path ordering issue and if not, possibly fixed in our minimum required Xcode version if it is that long standing :wink:.

[2015-06-26 03:16] elliotwoods opened #4006 "Safety : Intermediate paths for Visual Studio"
Since now we have Win32 and x64 support....

If you switch between Win32 and x64, VS will build the intermediate files (.obj, .lib, etc) to the same locations. Which :

1. Can cause Visual Studio to get confused (resulting in needing to rebuild solution)
2. Each time you switch platform you overwrite the previous platform's files

I suggest that we change in `openFrameworks.vcxproj`
![image](https

[2015-06-26 03:20] elliotwoods commented on #4006
If we agree, I can PR this right away

[2015-06-26 03:21] elliotwoods commented on #3910
I can replicate videoInput issue here (pulled master 2 days ago):
![image](https://cloud.githubusercontent.com/assets/328294/8369939/1fcc11ae-1bfc-11e5-8572-69437cc047bb.png)

Same unresolved external symbols on Win32 and x64 builds.
This issue only shows when you try to use videoInput. @DomAmato - were you able to open a camera?

On Win32 I get the extra issues with OpenSSL:
![image](https://clou

[2015-06-26 03:28] bakercp commented on #4006
+1 on this.

[2015-06-26 03:29] bakercp commented on #4006
But also see this https://github.com/openframeworks/openFrameworks/issues/3983.

[2015-06-26 03:30] liquidzym commented on #3910
@elliotwoods,i was actually added to the .props sheet at the end,within the <AdditionalDependencies>
not too sure is this best option or not

[2015-06-26 03:32] elliotwoods commented on #3910
side point :
we have 'winmm.lib' in the 'Additonal Dependencies' of 'openFrameworksLib.vcxproj' for:
* Win32 / Debug NO
* Win32 / Release YES
* x64 / Debug YES
* x64 / Release NO

WinMM is legacy audio (wavein / waveout). I checked, we're not using functions from WinMM or including it anywhere. Replacing it with `strmbase.lib;Strmiids.lib;dmoguids.lib` solves the above unresolved symbols. But usua

[2015-06-26 03:37] elliotwoods commented on #3910
aha. winmm is in the .props also

since we're already using conditional groups inside the .props, is there any opposition to combining `openFrameworksDebug.props` and `openFrameworksRelease.props` completely? (this would remove a lot of redundancy / accidental variations)

[2015-06-26 06:27] bilderbuchi commented on #3855
thank you, closing this then.

[2015-06-26 06:27] #3855 closed

[2015-06-26 06:29] bilderbuchi commented on #4004
a situation like this is another +1 for automated tests. :-)

[2015-06-26 07:18] tpltnt commented on #3855
@bilderbuchi please reopen the issue since it is not solved (yet).

[2015-06-26 07:21] tpltnt commented on #3855
I just finished a test run in a VM *without* executing install_codecs.sh and it does fail with a floating point exception (like @arturoc pointed out). I think missing codecs should be handled more gracefully than just an exception.

[2015-06-26 07:37] arturoc commented on #4006
@elliotwoods yes if you can send a PR with this it would be great. we should do the same for xcode i think it has the same problem

[2015-06-26 07:38] arturoc commented on #3910
the only problem i see is that it would break old projects, is it possible to have an openFrameworksDebug and Release.props that include the new file? the main reason to have this props files was that old projects kept working when we changed the settings

[2015-06-26 07:53] elliotwoods commented on #3910
i see. yes.
then perhaps have `openFrameworksCommon` which is included by both, and any specialization is done in the individual files?

[2015-06-26 08:05] arturoc commented on #3910
yes that would be great or even having both debug and release just including the new file that has everything in it just to keep old files compatible so in a couple of releases we can remove the debug and release files

[2015-06-26 09:17] bilderbuchi commented on #3855
@tpltnt: you wrote:

this sounds like the issue is fixed to me?

sorry, but `install_codecs.sh` is just part of the setup process, so this not working is not an issue (or maybe a, different, documentation issue)

Agreed, please file another issue about that.

[2015-06-26 10:08] danoli3 opened #4007 "Branch Pruning for openframeworks/openFrameworks"
Might be a good idea to prune the old / closed and merged branches from the core repository.
I was thinking if you currently fork the repo, you get all these added by default.

Nice break down by github here: (with handy delete button :D!)
https://github.com/openframeworks/openFrameworks/branches

![branches](https://cloud.githubusercontent.com/assets/830748/8375215/b450107c-1c3e-11e5-93f0-6db15ea

[2015-06-26 10:13] danoli3 commented on #4004
@bilderbuchi I'll try out a branch on my fork for travis integration on OSX oF Lib + empty example for now. See how it handles it.

[2015-06-26 11:59] bilderbuchi commented on #4007
Totally, yeah. I just deleted the ones which are definitely safe to delete. Only master and stable are permanent branches, and it's policy to work/create PR branches in your own repo, but some creep in anyway.

@ofTheo @ofZach @arturoc can you check and delete those of your old branches which we can nuke?

[2015-06-26 12:01] bilderbuchi commented on #4004
@danoli3  great! unfortunately travis is probably not gonna cut it, but it's a great initial step. see also  #2917

[2015-06-26 12:20] danoli3 commented on #1068
After seeing @bilderbuchi 's comment about automated testing.. I setup a quick test branch for this:

- Branch: https://github.com/danoli3/openFrameworks/tree/Automated/Travis-OSX
- Travis Status: https://travis-ci.org/danoli3/openFrameworks/branches
- I had to remove the documentation compiler travis code (not sure why this is a travis thing in the core).
- Testing iOS and Testing OSX.
- Using th

[2015-06-26 12:46] bilderbuchi commented on #1068
Ah nice, when I checked Travis in the beginning, this was 10min or so, so I discarded the idea of using it for OF.

Nice work! One thing: could you leverage the make system instead of xcodebuild on the travis job? (this does work in osx already, right?) That way we could also detect errors in our makefiles, and the build code would be more homogeneous  (could easily include linux, too).

[2015-06-26 12:55] bilderbuchi commented on #1068
ha, I just found out that you can create a virtual framebuff (xvfb) with Travis, now: http://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-GUI-%28e.g.-a-Web-browser%29
This could enable us to compile and run OF applications (like the EmptyExample) on Travis.

[2015-06-26 16:26] tpltnt commented on #3855
@bilderbuchi I am aware that `install_codecs.hs` is part of the setup process. I skiped it deliberately to verify @arturoc hint and to reproduce the error message of @procedural. The takeaway is: the floating point error is indeed attributable to the missing codecs. I was just checking if there could be some other issue hidden by it.

:+1:  ... will do

[2015-06-26 17:01] tpltnt commented on #3855
at least in Virtualbox (after running `install_codecs.sh` and rebooting) i also get:
[code]

[2015-06-26 17:27] liquidzym commented on #3910
+1 on this,yes,no need for winmm

[2015-06-26 17:56] tpltnt commented on #3855
To anyone having this issue, i finally nailed it: run `install_codecs.sh` and afterwards `compileOF.sh` to incorporate the codecs into oF. You may even have to remove the old compiled version of oF to make it work.

[2015-06-26 19:01] DomAmato commented on #3910
The 32bit OpenSSL issues are because the current libs on the master are compiled for 64 bit. It should be fixed in the PR i made a few days ago https://github.com/openframeworks/openFrameworks/pull/3985

That PR also handles updates to the addons libs. I actually didn't try opening a camera.

 I wonder if this is something we can fix with the videoInput project rather than having to alter build pr

[2015-06-26 22:18] frauzufall opened #4015 "of compile error on linux 64bit: undefined reference to `std::__throw_out_of_range_fmt"
I get the following error when compiling the current git version of OF on linux 64bit.
The dependencies are all installed.

[code]

[2015-06-26 23:35] rezaali opened #4016 "ImageLoaderExample does not compile out of the box"
An ofImage's properties are being accessed directly, will send over a pull request.

[2015-06-27 00:22] rezaali opened #4018 "parameterGroupExample does not compile out of the box"
on OSX 10.10.3 using xCode 6.3.2. Specifically:

/openFrameworks/examples/gui/parameterGroupExample/src/ofApp.cpp:53:15: Unimplemented pure virtual method 'setSerializable' in 'ofCirclesRendererParam'

After adding the serSerializable function I got this error:
/openFrameworks/examples/gui/parameterGroupExample/src/CirclesRenderer.h:18:7: In instantiation of member function 'ofReadOnlyParameter<in

[2015-06-27 08:22] #4016 closed

[2015-06-27 11:15] frauzufall commented on #4015
I changed to an older revision (45cef3b771c5874a24b4d4c0f6064c919a567244) which used to work, but now I get a lot of these errors:

[code]

Is maybe something wrong with some Ubuntu packages that got included recently?

[2015-06-27 11:30] jamet commented on #4001
it seems i get rid of that comportement when using Glut window instead of glfw, so you wer right @arturoc , it seems it's not related with openframeworks at all but with glfw libs in ubuntu 14.04 lts.

i close the issue

[2015-06-27 11:30] #4001 closed

[2015-06-27 17:54] bilderbuchi commented on #4018
ping @arturoc

[2015-06-27 17:56] bilderbuchi commented on #4015
did you run `install_dependencies.sh` before your initial test? We changed dependencies a bit recently.

[2015-06-27 17:59] bilderbuchi commented on #4015
the initial error seems to be a problem with the new uri lib - @arturoc can you help here?

[2015-06-27 18:01] frauzufall commented on #4015
I did, and since I installed the new dependencies I seem to get errors no matter which revision I use.

[2015-06-27 18:06] frauzufall commented on #4015
The second error is not important I guess. That was just a try to get back to a working OF version and I was surprised that it did not work.

[2015-06-27 18:07] bilderbuchi commented on #4015
hm, did you clean the compiled libs out after switching?

[2015-06-27 18:09] frauzufall commented on #4015
Sorry, but how do I do that?

[2015-06-27 18:29] bilderbuchi commented on #4015
what IDE do you use? if you're using the make system, a `make clean` instead of `make` should do it.

[2015-06-27 18:46] frauzufall commented on #4015
Sorry, stupid question, thought I did that. Its working now, thank you! Back to the initial error.

[2015-06-27 20:46] frauzufall commented on #4015
By the way, I had to manually remove everything within `libs/openFrameworksCompiled/lib/linux64` in order for it to work. `make clean` does not do that.

[2015-06-28 04:35] roymacdonald opened #4020 "ofCamera enableOrtho() not working correctly with translated viewport"
When a translated viewport (any that has its x or y values non zero) is used as the viewport for an ofCamera in ortho mode the render appears translated.
Digging a bit it happens that the orthomatrix that the camera uses that's created by calling ofMatrix4x4::newOrthoMatrix(...) might be the problem.
inside ofMatrix4x4::newOrthoMatrix(..) there seems to bee something weird.
according to this http:

[2015-06-28 08:33] #4018 closed

[2015-06-29 05:07] kylemcdonald commented on #3052
i've seen this bug working with XCode without OF, but it could still be a path ordering issue...! after all cinder doesn't seem to care: https://github.com/cinder/Cinder/tree/master/lib/macosx

[2015-06-29 06:09] bilderbuchi commented on #4015
that is strange, it should do that. I'll try to repro this sometime this week, otherwise @arturoc do you know what's going on there?

[2015-06-29 21:18] rezaali commented on #4018
thanks @arturoc :D

[2015-06-30 05:52] DomAmato commented on #3910
I figured out an easier way to fix the issue, by adding
#pragma comment(lib,"Strmiids.lib")

to @ofTheo 's videoInput files it fixes everything related to the videoInput errors that @liquidzym and @elliotwoods describe above

[2015-06-30 05:54] DomAmato commented on #4006
Seems to work using the above method which is super convenient for testing the platforms +1

[2015-06-30 09:09] elliotwoods commented on #3910
great!
i'll update to your method when it's in master
let's pull it!

[2015-06-30 10:21] elliotwoods opened #4026 "ofImage::isAllocated() should be const"
especially since all it does is call an internal ofPixels::isAllocated() which is already const :)

[2015-06-30 14:11] #4026 closed

[2015-06-30 14:17] usama-ghufran opened #4029 "ofxKinect tilt control on Raspberry Pi2 does not go below 0 degrees"
Hey there,

So I've been using the default kinect addon provided by openframeworks and my code works just fine on my windows, pi2 and linux machies. On the raspberry pi2 however the tilt of kinect does not go below 0 degrees. So on other machines it goes between -30 to +30 degrees. Where as on the Pi2 it goes only between 0 and +30 degrees.

I tested my Pi2 with the kinect example provided ( the o

[2015-06-30 14:37] bilderbuchi commented on #4029
ping @ofTheo

[2015-06-30 15:14] elliotwoods opened #4030 "bug : exceptions thrown on empty strings"
in
* ofToLower
* ofTrueTypeFont::createStringMesh

(still finding them)

[2015-06-30 15:15] elliotwoods commented on #4030
generally throws on these kinds of lines:

[code]

[2015-06-30 16:24] obviousjim opened #4032 "ofVideoPlayer + Programmable Render Incorrect behavior on draw(ofRect)"
The expected behavior when drawing images with ofRectangle (or specifying x,y,w,h explicitly) is that the texture will be scaled into the rectangle.

Under GLProgrammableRenderer, ofVideoPlayer's draw(ofRectangle) does not scale the video texture, rather it crops or stretches it.

    ofVideoPlayer player;
    player.load("mymovie.mov");
    ofRectangle rect(0,0,player.getWidth()*2,player.getHeigh

[2015-06-30 18:11] usama-ghufran commented on #4029
I must add that in the libfreenect example glview on the Pi2 the tilt is
working fine.  i.e the range of -30 to +30 degrees works. So I think it
might be an addon issue.

On Tue, 30 Jun 2015 8:07 pm Christoph Buchner <notifications@github.com>
wrote:

[2015-06-30 18:43] bilderbuchi commented on #4030
probably empty iterators error out or something? this most probably comes from ofToLower. ping @arturoc

[2015-06-30 18:45] bilderbuchi commented on #4032
ping @openframeworks/video @openframeworks/2d-3d

[2015-06-30 18:45] bilderbuchi commented on #4032
heh, the video team only has you in it. sorry ^^

[2015-06-30 19:10] obviousjim commented on #4032
haha! Well we should fix that cuz some wonderful hackers have risen to the
occasion :)

On Tue, Jun 30, 2015 at 2:45 PM, Christoph Buchner <notifications@github.com

--
- James

[2015-06-30 20:42] tpltnt commented on #2581
@tgfrerer do you need help to ship stuff? I have a few spare cycles.

[2015-07-01 07:06] arturoc commented on #3855
i think it makes sense to include a better error message for this, install_codecs is separated from install_dependencies because of the patent issues that the libraries installed by install_codecs might have in some countries. installing then even if it's explained in the guide is optional and OF should fail with a more explicative message than a crash

[2015-07-01 07:12] arturoc commented on #4015
you need to make clean the OF project, doing make clean will only clean the example and any addon it uses. the makefiles for the OF library are in libs/openFrameworksCompiled/project. you can easily clean from your project doing: `make clean -C ../../../libs/openFrameworksCompiled/project`

do you still get any error after cleaning... ?

[2015-07-01 07:36] bilderbuchi commented on #4015
hm, I assumed that's what @frauzufall did because she talked about compiling OF, not compiling any example.

[2015-07-01 07:52] #4006 closed

[2015-07-01 08:04] frauzufall commented on #4015
Alright, no, then I was doing the wrong cleanup, thanks for clarifying.

The first error with the master version still remains:

[code]

[2015-07-01 08:06] bilderbuchi commented on #3983
closed by #4025

[2015-07-01 08:13] bilderbuchi commented on #3774
@ofZach any updates on this?

[2015-07-01 08:13] bilderbuchi commented on #3141
@arturoc are you still getting this?

[2015-07-01 08:16] bilderbuchi commented on #3039
I think we can close this issue as it's pretty fragmented/outdated, and overtaken by recent developments. Let's open new issues for any items that remain.

[2015-07-01 08:16] #3039 closed

[2015-07-01 08:18] bilderbuchi commented on #3851
@openframeworks/sound could any of you take a stab at this?

[2015-07-01 08:59] tpltnt opened #4033 "more graceful error message for missing codecs"
When codes are missing (i.e. `install_codecs.sh` was not run during install), there should be an error message hinting at the missing codecs and not just a floating point exception (as it is the case currently). This ticket spawned of #3855. The codec installation is a separate step due to patent/licensing issue in some jurisdictions. This is only hinted at in the installation guide.

[2015-07-01 09:00] tpltnt commented on #3855
@arturoc i filed a new issue #4033.

[2015-07-01 09:06] tpltnt opened #4034 "removing using namespace std from core"
This ticket spawned of #4012 & #2851. `using namespace std` shall be moved from `ofConstants.h` into `ofMain.h` to ease the transition for beginners. There could also group headers be added per folder so including different modules. `ofUtils.h` would include everything in the utils folder.

[2015-07-01 09:06] tpltnt commented on #4034
ping @arturoc @tgfrerer

[2015-07-01 09:10] bilderbuchi commented on #3855
thank you!

[2015-07-01 09:12] bilderbuchi commented on #4034
Closed as duplicate of #2581

[2015-07-01 09:12] #4034 closed

[2015-07-01 09:13] bilderbuchi commented on #2581
see also #3517

[2015-07-01 09:52] pierrep commented on #4015
I'm getting this as well, latest GIT, Ubuntu 14.04 64 bits

[2015-07-01 10:08] pierrep commented on #4015
Also as @frauzufall says, rolling back to above commit works.

[2015-07-01 10:45] arturoc commented on #4015
@pierrep have you run install_dependencies again?

[2015-07-01 10:46] pierrep commented on #4015
Yes, tried all the usual tricks.

[2015-07-01 11:51] arturoc commented on #4015
oh, i think what's going on is that libraries compiled with ubuntu 15.10 are not compatible with 14.04, i got this when we compiled poco. can you try running the apothecary formular for liburi?

[code]

that should compile the library for your system, once you have it can you send a PR with the new binaries? those should be compatible with latest versions

[2015-07-01 11:53] bilderbuchi commented on #4015
will those be compatible with 15.10, though? (thinking about compiler version)

[2015-07-01 11:53] arturoc commented on #4015
: )

[2015-07-01 11:54] bilderbuchi commented on #4015
:)

[2015-07-01 11:59] tgfrerer opened #4035 "ofTexture::allocate(const ofBufferObject &, int ) is ambiguous"
Allocating a texture using an `ofBufferObject` implicitly (and silently) makes the ofTexture a **Buffer Texture** which is a very specialised type of 1D texture. This confused me royally.

**Buffer textures** are useful for sampling large amounts of memory in shaders. Their texture target must be `GL_TEXTURE_BUFFER`. In modern OpenGL this largely duplicates the functionality of SSBOs. But in GLSL,

[2015-07-01 14:04] tgfrerer opened #4036 "texData.glTypeInternal should be glInternalFormat"
In OpenGL, a texture **format** is an enum specifying the number of color components and how these are laid out in memory, whilst a **type** refers to an enum specifying a data type such as `GL_FLOAT`,` GL_UNSIGNED_BYTE` etc.

In openFrameworks `ofTextureData::glTypeInternal` is used to refer to the internal **format**, i.e. how data is laid out, but is named after the type. Let's fix this so that

[2015-07-01 14:46] gorkacortazar opened #4038 "Project generator issue with VS2015"
I am trying to build assimp for VS2015, and i noticed that creating a project with the Project Generator Simple (and legacy too) and adding ofxAssimpModelLoader addon doesn't add the proper lib in release mode.

In debug mode the lib gets added
![debug](https://cloud.githubusercontent.com/assets/608719/8457244/9b5a5d0e-2010-11e5-9175-80e714b8ce51.png)

But in release mode is not added
![release](h

[2015-07-01 15:04] bilderbuchi commented on #4038
ping @openframeworks/windows

[2015-07-01 16:03] #4030 closed

[2015-07-01 16:08] #4032 closed

[2015-07-01 16:15] arturoc commented on #3141
nope it's fixed now

[2015-07-01 16:15] #3141 closed

[2015-07-01 16:17] arturoc commented on #3855
perfect, thanks!

[2015-07-01 16:27] arturoc commented on #4035
my idea was that if you were allocating a texture with a buffer you want a buffertexture. when you want a normal texture then you just use the normal method and send data to it using loadData(buffer).

a 2d texture can't backed by a buffer but you can load data to it from a buffer. a buffertexture though uses glTexBuffer which according to: https://www.opengl.org/sdk/docs/man/html/glTexBuffer.xhtm

[2015-07-01 16:48] kylemcdonald commented on #4036
:+1: this always confused me and i thought i just didn't understand it correctly.

[2015-07-01 16:53] admsyn commented on #3851
:p

I've been too busy to get involved the last couple months, but should be able to get back into things in ~a week. I won't be able to tackle this immediately though.

The bug seems very similar to #1694, i.e. a conflict between rtAudio and FMOD. I'd guess one of the libs is configuring some shared resource in the low level OSX audio system in a way that's incompatible with the other. Sounds lik

[2015-07-01 16:57] tgfrerer commented on #4035
Yes, my point is more about making the **intent** more explicit. I was originally following the red herring of believing it was a regular overloaded method.

Renaming would be great, so it's clear we're not dealing with a "vanilla texture" anymore once it's a buffer texture. I used this as a reference to get my head around buffer textures: https://www.opengl.org/wiki/Buffer_Texture.

As for the na

[2015-07-01 21:02] bilderbuchi commented on #3851
sorry, I only realized after posting. :-P

[2015-07-02 02:02] pierrep commented on #4015
OK just ran that command:

Downloading "uri"

Cloning into 'uri'...
remote: Counting objects: 7016, done.
remote: Total 7016 (delta 0), reused 0 (delta 0), pack-reused 7016
Receiving objects: 100% (7016/7016), 5.77 MiB | 945.00 KiB/s, done.
Resolving deltas: 100% (2093/2093), done.
Checking connectivity... done.
Note: checking out '55ec3cd78918c42dfb874e01c9745b4daf51091b'.

You are in 'detached H

[2015-07-02 02:33] pierrep commented on #4015
I ran

    sudo apt-get install libgtest-dev
which installed it, but didn't fix the above

[2015-07-02 03:50] BananasGoMoo commented on #3365
Hello,

downloaded the current master and I cannot compile the oF library now (openFrameworksLib) because it gives me this error: "error: 'closeQuicktime' was not declared in this scope". It's inside an if statement checking whether I have a quicktime player, which I don't, but it activates anyways? not sure what's going on.

[2015-07-02 05:23] #3983 closed

[2015-07-02 07:10] arturoc commented on #4015
can you try now?

[2015-07-02 07:14] bilderbuchi commented on #3365
did you clean the all projects before compiling the new version? could be some stuff compiled with the previous version was left over.

[2015-07-02 07:18] DomAmato opened #4039 "glew errors in VS compilations"
When I try to compile the most recent master I get a litany of errors that all stem from glew.h complaining that it can't find GL/glu.h, fixing the path leads to glu.h complaining that it can't find gl.h

[2015-07-02 11:55] #3943 closed

[2015-07-02 12:19] arturoc commented on #3927
closed by https://github.com/openframeworks/openFrameworks/commit/84793fa1f767bebbcae187d3e71a917f6b18675a

[2015-07-02 12:19] #3927 closed

[2015-07-02 12:19] #3870 closed

[2015-07-02 12:26] arturoc commented on #4015
i just removed the problematic library since it was giving problems in other platforms so this should be fixed now.

[2015-07-02 12:26] #4015 closed

[2015-07-02 12:26] #3860 closed

[2015-07-02 12:30] arturoc commented on #1617
this was merged a while ago

[2015-07-02 12:30] #1617 closed

[2015-07-02 15:36] arturoc opened #4041 "threadExample use of locks don't make sense"
- it uses `if(lock())` with locking mutex so it's not necessary to check if it locked
- it locks to access an integer which is only written from 1 thread so it's not even necessary to lock

[2015-07-02 15:58] #3854 closed

[2015-07-02 15:59] arturoc commented on #3854
i think that should fix it but have never been able to reproduce it so if you can give it a try?

[2015-07-02 16:27] gorkacortazar opened #4042 "VS 2015 not compiling after ut8 commit"
Building the openframeworks project report the following error and fails:
[code]
It happens in 32 and 64 bits architectures, after commit: #84793fa1f767bebbcae187d3e71a917f6b18675a

[2015-07-02 16:50] arturoc commented on #4035
ok, ok : )   can you send a PR adding a comment with a url to the opengl link?

[2015-07-02 16:59] tgfrerer commented on #4042
just tested it, i have this too on VS2105. could it be that vs2015 has a different signature for `std::isspace(c)` - it requires the locale to be given.

[2015-07-02 17:10] arturoc commented on #4042
can't take a look right now but haven't changed that at all, i think it might be a missing include or something like that

[2015-07-02 17:12] tgfrerer commented on #4042
i'm working on it - seems that the trim methods need a locale specified in the second param of `std::isspace()` on VS, will send a PR in a sec - but would be good to know if other platforms have the same signature for `std::isspace`...

[2015-07-02 18:07] tgfrerer commented on #4035
Here's the PR, i've updated the comments (the opengl link was already in there if you meant the wiki one). Also updated the example which uses the method. Sorry for the API hair-splitting =)

[2015-07-02 19:33] bilderbuchi commented on #4042
god we need some CI server soonest, I get the (subjective and wrong) feeling lately that half the issues/PRs are about issues that crop up because some introduced change was not tested on all our platforms. I think that could be easily avoided with some CI solution... :-(

[2015-07-02 21:09] bakercp opened #4048 "Add an implementation of std::make_unique<>?"
Hi all, I'm really enjoying these new C++11 capabilities and thinking through teaching this in the fall.  One small syntactic frustration (shared by others e.g. [here](https://stackoverflow.com/questions/7038357/make-unique-and-perfect-forwarding)) is that unlike `std::shared_ptr`, `std::unique_ptr` has no method like `std::make_unique` in C++11.  Apparently it was an oversight and will be added i

[2015-07-02 22:29] BananasGoMoo commented on #3365
Hello,

Yes, I started with GCC 5.1.0, and that didn't work so I cleaned and rebuilt with GCC 4.8.1 and that didn't work either.

[2015-07-02 22:45] arturoc commented on #4048
linux is already using c++14 and vs, although it has some features of c++14, doesn't even report __cplusplus>=201103 so you need to ifdef for __cplusplus and make an exception for vs if that feature exists for it. but as long as you ifdef it properly i think it should be fine and yes it's really useful, the other syntax is quite verbose

[2015-07-02 22:46] arturoc commented on #4035
: )

[2015-07-03 01:11] bakercp commented on #4048
@arturoc good to know - if there are no objections, I'll put together a PR to test.

[2015-07-03 07:48] bilderbuchi commented on #4035
closed by #4045

[2015-07-03 07:48] #4035 closed

[2015-07-03 08:50] bilderbuchi commented on #4042
closed by #4044

[2015-07-03 08:50] #4042 closed

[2015-07-03 12:37] gorkacortazar opened #4049 "Problem with new projects in last nigthly build for OSX (ofxAssimpModelLoader related)"
I am having problems with the ofxAssimpModelLoader, this time in OSX. I am testing with the last nightly build.

To replicate:
* Use the project generator to create an empty project with ofxAssimpModelLoader
* Compile

If i build the debug and release versions in 64bits and i get this errors in the linking phase:
[code]
Also happens switching to 32bits, as undefined symbols for i386.

It doesn't h

[2015-07-04 00:33] cjdg opened #4051 "Cant install on Debian 7 @ Banana pi"
I have a Banana pi M1 and wanted to work with of on it, unfortunally what i got everytime i do a make is:

"couldn't find some pkg-config packages, did you run the latest install dependencies.sh?"

I have the latest bananian 7.

[2015-07-04 00:44] bakercp commented on #4051
I think this is better discussed on the forums.  Post over there and I'll leave some thoughts!

[2015-07-04 00:44] #4051 closed

[2015-07-04 01:44] ofTheo commented on #4049
hmm - I think we need to add
-framework CoreFoundation to the linker flags of the template

[2015-07-04 02:56] bakercp opened #4052 "Events / Main Loop go out of scope before ofApp"
So, I'm not sure if this is a philosophical problem or an architecture problem, but in my attempt to practice RAII (which means I prefer to do my setup in constructors and teardown in destructors, rather than in setup() and exit() style functions), I'm running into this issue.  I don't think it's a new issue, but has caused problems for me in the past so, I thought I'd post a minimal code example

[2015-07-04 03:18] bakercp commented on #4052
Also, if it's helpful here is the call stack that I get on crash.  Basically when it's trying to access the core events, everything in that context is null ...

![ofmainloop_cpp](https://cloud.githubusercontent.com/assets/300484/8506257/0d13867a-21d1-11e5-8062-e8c3a05db9f4.png)

![ofmainloop_cpp](https://cloud.githubusercontent.com/assets/300484/8506264/7061b774-21d1-11e5-8dae-9f18ab56e7c5.png)

[2015-07-04 04:47] bakercp commented on #4052
Also, just one other reference where this same deregister-events-in-the-destructor pattern is used (and crashes similarly) in the core addons:

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxGui/src/ofxBaseGui.cpp#L98-L100

[2015-07-04 06:01] danoli3 commented on #4049
Yeah that sounds like the fix

Sent from my iPhone

[2015-07-04 08:15] #4052 closed

[2015-07-04 08:17] arturoc commented on #4052
this was introduced a couple of days ago fixing a similar problem, it's super tricky to get right having even one singleton (there were several before which made it even harder) that lasts for the full duration of the app and is used in the initialization and the destruction ( the main loop)

anyway should be fixed now.

[2015-07-04 14:31] bakercp commented on #4052
Hey @arturoc thanks for working on this -- now it works if you quit with a system call (command Q), but if you use a key callback (e.g. ESC) to quit the program, it crashes with similar issues.  I believe the core key event listener was not removed/unregistered from the event before its destruction, thus the last key causes the notify to fail on an invalid pointer.

![banners_and_alerts_and_ofeven

[2015-07-04 18:01] arturoc commented on #4052
mmh, it's working for me fine, let me try in osx

[2015-07-04 18:17] arturoc commented on #4052
it's working fine in osx too, is this with the same code as in the original post?

[2015-07-04 22:03] bakercp commented on #4052
Hey @arturoc really sorry -- my mistake.  I commented out the event un-register in one of my destructor's code, thus the failure.  So, for now this issue is fixed.  Sorry for the extra work :/ and thanks for fixing this so quickly!

[2015-07-05 15:09] procedural opened #4053 "Warning "Couldn't set UTF-8 locale, string manipulation functions won't work correctly""
[code]
Here's output of `locale -a`: http://pastebin.com/raw.php?i=YbQiLUQw

I'm on Fedora 22, using master branch.

[2015-07-05 15:11] procedural commented on #3854
Sure, I'll check it later on Windows, on Linux it seems works fine now. Thanks, Arturo!

[2015-07-05 15:53] ofTheo commented on #4049
hmm - I don't see the issue in the master branch.
if you run the assimpExample does it also occur for you?

Looking at https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig#L66

I see CoreFoundation in the list.

[2015-07-05 20:02] bilderbuchi commented on #4053
ping @arturoc

[2015-07-05 22:35] mruegenberg opened #4054 "Compute shader texture sample isn't updated in each frame"
I'm not certain why, but the `computeShaderTextureExample` code only works correctly for me if I bind the video player's texture in every frame. I have to insert `                player.getTexture().bindAsImage(0,GL_READ_ONLY);` before `shader.begin()` in `ofApp::update()`.

(I'm on Arch Linux, with a GTX 680 and OpenGL 4.5.0. I pulled the repo earlier today.)

broken:
![broken](https://cloud.gith

[2015-07-06 04:43] DomAmato commented on #4039
Seems that this is related to the platform target, if it is set to 8.1 it gives me the glew error if I set it to

    <TargetPlatformVersion>10.0.10069.0</TargetPlatformVersion>

It compiles without problem

[2015-07-06 07:49] bilderbuchi commented on #4054
ping @openframeworks/2d-3d

[2015-07-06 07:50] bilderbuchi commented on #3834
any updates on this? arm7 already done, @bakercp ?

[2015-07-06 07:54] gorkacortazar commented on #4049
@ofTheo If do a clean checkout of the master, the PG and the assimp examples work well. But if download the last nightly build (of_v20150706_osx_nightly.zip) stills happen as in this screenshot. As all the recent commits are related to travis integration, it may be something in the nightly builds creation scripts? I created the project with the precompiled project generator that comes in the night

[2015-07-06 07:55] bakercp commented on #3834
@bilderbuchi Yeah ... it's been done for weeks.  Just been distracted with various projects.  I'll try get it uploaded tomorrow ... it's sitting right next to my computer in my studio ... :sleepy:

[2015-07-06 08:49] openframeworkstests commented on #4054
can you send a PR?

[2015-07-06 15:02] liquidzym opened #4056 "VS complied unresolved external symbol issue"
seems something to do with ofAppRunner?
openframeworksLib_debug.lib(ofAppRunner.obj) : error LNK2019: unresolved external symbol __imp__timeBeginPeriod@4 referenced in function "void __cdecl ofInit(void)" (?ofInit@@YAXXZ)
1>openframeworksLib_debug.lib(ofAppRunner.obj) : error LNK2019: unresolved external symbol __imp__timeEndPeriod@4 referenced in function "void __cdecl ofExitCallback(void)" (?ofE

[2015-07-06 16:21] procedural commented on #4053
Same warning on Manjaro (Arch Linux based distro).

On Ubuntu everything is fine, btw.

[2015-07-06 23:08] procedural commented on #4020
Changing that row to 0,0,0,1 makes the ortho cam to render correctly.

Great! Can you PR the change?

[2015-07-06 23:20] procedural commented on #3722
@chuckleplant and you've closed your PR because ... ? :)

[2015-07-07 04:44] roymacdonald commented on #4020
Hi @procedural,
I cant PR. As said, making that change breaks the ofSetupScreenOrtho(...) function.
The images I attached should all render the same (the five circles inside the white rectangle) but it doesn't. Making the change I mention fixes the wrong render but makes a correct render to render wrong.
There's a gist in my first post with the example code. (the images are taken from it)

The thi

[2015-07-08 01:00] bakercp commented on #1930
@arturoc @kylemcdonald @ofTheo Should I make a PR for this?

[2015-07-08 01:08] bakercp commented on #3485
ping @arturoc

[2015-07-08 01:08] bakercp commented on #3503
I'm closing this because we're no longer supporting 10.7.

[2015-07-08 01:08] #3503 closed

[2015-07-08 01:10] bakercp commented on #3833
I got an invitation to LFS.  Haven't tried it yet, and not exactly sure how it would solve this problem ... but it would be super nice if we could start pushing all static libs over there instead of to the main repo.  Does  the oF org have access to LFS yet?

[2015-07-08 01:23] pizthewiz commented on #3833
The monthly LFS Data bandwidth afforded by GitHub seems to be quite low so far and might be tied to the user/org billing tier. That said, we could use git-lfs and host the files ourselves still…

[2015-07-08 01:23] 2bbb commented on #1930
:+1:

[2015-07-08 01:25] bakercp commented on #3999
I believe this was fixed with one of @arturoc recent PRs.

[2015-07-08 01:25] #3999 closed

[2015-07-08 01:47] bakercp commented on #1930
@arturoc I noticed

[code]

Should I also set `ofFpsCounter` also use `unsigned long long` for its frame count?

[2015-07-08 02:18] danoli3 commented on #3833
Yeah you can point git LFS to a custom server for the files. The current github LFS bandwidth is the issue. I am unsure why they have set it so low for now, we would run out of bandwidth with 3 downloads...

So potentially the statics could be hosted on http://lfs.openframeworks.cc/0.9.0/libraries/*.*
If we paired this with cloud flare or some free cloud service, should take the pressure off the s

[2015-07-08 04:44] bakercp opened #4064 "Make "getId" type function naming consistent."
There is a lot of mixing of getId and getID.  Arguments could be made for either, but we should be consistent.

Examples:

Here: https://github.com/openframeworks/openFrameworks/issues/3780
`GLuint ofBufferObject::getId() const;`
`GLuint VertexAttribute::getId() const;`
`GLuint IndexAttributegetId() const;`
`const GLuint& ofBaseGLRenderer::getCurrentFramebufferId() const;` and sub-classes.
`int of

[2015-07-08 05:06] kylemcdonald commented on #3833
@danoli3 let us know what you discover! :) hosting is not an issue as rackspace has graciously offered free cloud servers for OF.

[2015-07-08 05:35] pizthewiz commented on #3833
Yep, we could run the [reference Git LFS API server](https://github.com/github/lfs-test-server) ourselves or write our own API client if we already had some sort of dynamic web app we wanted to build on.

Not sure what kind of limits you guys are seeing, but my personal account is running the small plan and LFS is limited to 1GB of storage and 1GB of bandwidth a month. It is possible that the limi

[2015-07-08 05:55] liquidzym commented on #4056
had to add winmm.lib back,nothing to do with of,sorry

[2015-07-08 05:55] #4056 closed

[2015-07-08 06:35] bilderbuchi commented on #3833
Yeah, LFS looks potentially nice, but
* The Github bandwidth offers are really strange (why 1:1 storage:traffic?), and definitely not fitting for our usecase, so it would definitely be rackspace for us.
* The LFS test sever is clearly [marked as](https://github.com/github/lfs-test-server#lfs-test-server) not production-ready, so I don't think we should use that (yet). Also, I think we shouldn't co

[2015-07-08 06:56] arturoc commented on #1930
yes please, can you use uint64_t instead, as unsigned int, unsigned long long can be different sizes depending on the architecture.

[2015-07-08 07:03] arturoc commented on #3485
can you send a PR? the way to detect 64 bits is by checking the sizeof int:

[code]

[2015-07-08 07:07] #3780 closed

[2015-07-08 07:08] #3505 closed

[2015-07-08 07:24] #4048 closed

[2015-07-08 07:39] bakercp commented on #1930
Will do.

On Wed, Jul 8, 2015, 1:56 AM arturo <notifications@github.com> wrote:

[2015-07-08 07:46] chuckleplant commented on #3722
The multiplication was flipped :sweat_smile:

[2015-07-08 07:58] bilderbuchi commented on #3722
so, are you saying this isssue should be closed?

[2015-07-08 07:59] bilderbuchi commented on #4007
@ofTheo @ofZach @arturoc can you check and delete those of your old branches which we can nuke?

[2015-07-08 08:11] chuckleplant commented on #3722
No, I'll re-PR in a few minutes.

[2015-07-08 08:12] arturoc commented on #4007
just removed everything except: https://github.com/openframeworks/openFrameworks/pull/4028 which i'll remove once it's fixed and merged

[2015-07-08 08:49] bilderbuchi commented on #4007
thanks :-)

[2015-07-08 08:49] #4007 closed

[2015-07-08 09:31] #4036 closed

[2015-07-08 14:35] bakercp commented on #2605
Closed see https://github.com/openframeworks/openFrameworks/pull/4058

[2015-07-08 14:35] #2605 closed

[2015-07-08 15:17] bakercp commented on #1930
Updated w/ a new PR #4062

[2015-07-08 15:21] bakercp opened #4070 "Use modernized data types for ofBaseSoundInput / ofBaseSoundOutput"
Currently the interface for ofBaseSoundInput ofBaseSoundOutput could use a cleanup.  This would also make it consistent with a modernized `ofSoundBuffer`, etc.

[code]

Proposed (would also require updates in all of the various implementations).

[code]

[2015-07-08 15:39] arturoc commented on #4070
those methods are there for compatibility reasons but everyone should be using the one that accepts an ofSoundBuffer as parameter, changing the types of the old ones will defeat the purpose which is keep old projects working

[2015-07-08 15:41] bakercp commented on #4070
Got it.

[2015-07-08 15:56] bakercp opened #4073 "ofAVFoundationPlayer warnings"
The following null check creates a warning.  `CVOpenGLTextureCacheCreate` is a function that returns an int, not a pointer, thus it always evaluates to `true`.

[code]

The same method is called during `load`, but since `(CVOpenGLTextureCacheCreate != NULL)` always evaluates to `true`, it always gets called.

Some clarity here to get rid of the warning is needed.

@julapy ?

[2015-07-08 18:48] bilderbuchi commented on #4070
are the "old" ones marked deprecated?

[2015-07-08 18:49] bakercp commented on #4070
Good point @bilderbuchi.  Will take a look.

[2015-07-08 19:02] arturoc commented on #4070
this is inherited not directly called so deprecating them won't really trigger a warning i think

[2015-07-08 19:03] bilderbuchi commented on #4070
I _do_ think so... wherever something is _used_, and I think constructing an instance (an therefore triggering the base constructor) is definitely a use in my mind (haven't tried this though)

[2015-07-08 19:04] bakercp commented on #4070
Am working on it now and it def triggers warnings.  So to be clear, all methods above except the ones that take the `ofSoundBuffer& buffer` argument are deprecated?

[2015-07-08 19:06] arturoc commented on #4070
mmh does it trigger a warning when creating a class that overwrites that method? we are calling that methods from the new one so it will always trigger the warning from there but that's not what we want

[2015-07-08 19:08] bilderbuchi commented on #4070
well then our new methods are using deprecated code/code they shouldn't use.  ;-)

[2015-07-08 19:08] bakercp commented on #4070
Yeah. .. that's what's happening.  Always triggering a warning.  It seems that

[code]

and

[code]

isn't deprecated then?

[2015-07-08 19:10] bakercp commented on #4070
Or do we have to deprecate it in two steps to migrate the API over?

[2015-07-08 19:15] bakercp commented on #4070
Hm deprecating only two doesn't remove the warnings because they are cascading through all of the callbacks.

[2015-07-08 19:17] arturoc commented on #4070
they are deprecated but the way they are used is by inheriting in ofApp for example, nobody is going to call this methods except OF internally so it doesn't much sense to mark them as deprecated because it'll trigger the warning when compiling OF and nothing else so it'll never signal people that those methods they are using in their app are deprecated

[2015-07-08 19:19] bilderbuchi commented on #4070
make them private could be an option, then?

[2015-07-08 19:23] arturoc commented on #4070
it won't make any difference, the way of using them is not by calling them but by overwriting them, if you make them private you can still override them

[2015-07-08 19:30] arturoc commented on #4070
in any case this isn't really a problem we just keep compatibility with an old way of receiving that callback we don't need to replicate functionality or anything like that  and it's fine as it is i said deprecated but we can call it legacy if you prefer :) it's totally ok if it remains there. as long as the examples show the new way we can remove the old ones in the future if we want but they can

[2015-07-08 19:32] bilderbuchi commented on #4070
do they at least have docstrings warning users not to use the functions?

[2015-07-08 19:33] bakercp commented on #4070
@arturoc that seems like a reasonable solution.  I do think the data types should be updated or we should schedule it for true deletion.  If we can mark them with deprecation / warnings in the documentation, that might be a compromise.  And basically say -- this will be removed ... use at your own risk!

[2015-07-08 19:44] bakercp commented on #4070
OK.  Added documentation.  Should close this issue.

[2015-07-08 21:01] ImanolGo commented on #3052
I just realised that I needed to compile it for i386 architecture as @kritzikratzi suggested.

cmake -DBUILD_SHARED_LIBS=false -DCMAKE_OSX_ARCHITECTURES=i386
make
cp src/libglfw3.a OF_PATH/lib/glfw/lib/osx/

Thanks for the tip, it worked perfectly!

[2015-07-09 06:54] #1930 closed

[2015-07-09 07:00] #4070 closed

[2015-07-09 07:46] #3722 closed

[2015-07-09 09:58] memo opened #4080 "ofNode::setTransformMatrix is ambigous"
ofNode::setTransformMatrix is ambiguous. Not clear if it's setting Local Transform or Global Transform.

We have:
getLocalTransformMatrix(), getGlobalTransformMatrix(),
setPosition, setGlobalPosition, setOrientation, setGlobalOrientation
so perhaps a setGlobalTransformMatrix would make it clearer

see original conversation at https://github.com/openframeworks/openFrameworks/pull/4066

[2015-07-09 11:00] bilderbuchi commented on #4080
In that case, also getLocalTransformMatrix() should be replaced by getTransformMatrix() to be fully consistent.
It would probably be clearer to have global/local in all names, tbh.

[2015-07-09 11:03] memo commented on #4080
I actually agree with you. Unfortunately the current convention is setPosition, setGlobalPosition. So we'd have to change all of them :)

[2015-07-09 11:47] bilderbuchi commented on #4080
ah, from the examples you cited under "we have", it looked to me like 2:4 with-Local:no-Local, so I was not sure if the convention already exists.

[2015-07-09 11:56] arturoc commented on #4080
i think it's ok as it is. as i see it setGlobal* is a little bit of a hack, 99% of the time you want to set the local transformation. among other things setting the global transformation will break if the parent hierarchy changes.

[2015-07-09 12:41] memo commented on #4080
I generally like very explicit, zero ambiguity names (I think I wrote the first version of ofNode and API, so weird that I didn't do it that way).

Anyways, can stay as is. just adding setGlobalTransformMatrix will do it. (It's very useful if you have a hierarchy, and observations on global transforms, not local. Eg planetary orbital system, or you receive world transforms from kinect, and directl

[2015-07-09 14:57] fx-lange commented on #3086
@kylemcdonald and what about using HSB internally? a lot of work of course but the ofColor interface could stay the same. or would this be to performance heavy?

[2015-07-09 17:26] autofasurer opened #4081 "ofCamera orbit latitude 89º limit"
ofCamera doesn't allow for 90º latitude due to the following in the orbit's function:

    p.rotate(ofClamp(latitude, -89, 89), ofVec3f(1, 0, 0));

[2015-07-09 18:42] bilderbuchi commented on #4081
ping @roymacdonald (correct?)

[2015-07-09 18:42] bilderbuchi commented on #4081
@autofasurer this could be to avoid gimbal-locking the camera

[2015-07-09 20:30] autofasurer commented on #4081
@bilderbuchi yes, that's what @roymacdonald told me as well in his forum reply; he asked me to post it here.

[2015-07-09 20:42] roymacdonald commented on #4081
Hi,
right.
There's an ofClamp function that avoids having an angle of 90 degrees. This is there for some reason, which probably is to avoid gimbal lock. If done using quaternions it doesn't happen.
I'll fix it later and PR.
best

[2015-07-09 20:57] kylemcdonald commented on #3086
@fx-lange unfortunately i think option 3 is not a real possibility, because it would mean any time that a color was used for drawing, we would have to check if it was hsb, and convert it to rgb if necessary.

what would be really cool is an addon for working with colors in more natural ways, then we can make sure OF itself is limited to the few basic utilities we need for manipulating colors.

it

[2015-07-10 02:37] pierrep opened #4083 "Regression bug introduced into ofMesh"
Indices in getMeshForIndices() are being set to zero. Problem introduced into this commit:
https://github.com/openframeworks/openFrameworks/commit/ef7a0b30ca7116965e5822146667948d4fc98eed

[code]

should be

[code]

[2015-07-10 06:40] arturoc commented on #4083
ofIndexType is an unsigned type so the comparison should be done in some other way

[2015-07-10 08:41] pierrep commented on #4083
Is it at all meaningful to do that test then? Can indices be less than zero?

[2015-07-10 08:47] arturoc commented on #4083
no but if getIndex(i) < offsetIndex then index will overflow and probably crash the app when trying to access such an index, i guess

[2015-07-10 08:56] mruegenberg commented on #4054
I sent a PR.

The underlying issue seems to be that ofVideoPlayer doesn't have a valid texture until its `update()` method was called once.

[2015-07-10 09:30] pierrep commented on #4083
@bakercp  @tgfrerer  any input on this?

[2015-07-10 09:38] tgfrerer commented on #4083
if (startIndex < endIndex) {
        for(ofIndexType i = startIndex; i != endIndex; ++i) {
            ofIndexType index = 0;
            if(offsetIndex >  getIndex(i)) {
                 bFoundLessThanZero = true;
            } else {
                index = getIndex(i) - offsetIndex
            }
    }

[2015-07-10 10:34] #4054 closed

[2015-07-10 10:39] bilderbuchi commented on #3340
@bakercp @procedural @ofTheo what shall we do about this issue? Is it still relevant/occurring?

[2015-07-10 10:39] bilderbuchi commented on #3864
@bakercp any updates on this?

[2015-07-10 10:49] bilderbuchi commented on #3828
what's the current status of the astroboy example? that's the only one that's missing before we can close this

[2015-07-10 10:50] bilderbuchi commented on #3916
ping @openframeworks/windows

[2015-07-10 10:51] bilderbuchi commented on #3774
@ofZach any updates on this?

[2015-07-10 11:06] procedural commented on #3340
@bilderbuchi this PR fixes compiling for MinGW: https://github.com/openframeworks/openFrameworks/pull/4085

[2015-07-10 15:37] bakercp commented on #3864
@bilderbuchi on my TODO list.  @procedural might also have some insights here -- as he's a MinGW expert :)

[2015-07-10 15:55] procedural commented on #3864
@bakercp yeah, "expert" :smile:

MinGW-w64 doesn't produce any errors on _popen / _pclose... Sucks that CB doesn't come with MinGW-w64, but I think it should be easy to make it default compiler. It can target both 32 and 64-bit architectures.

[2015-07-10 16:22] DomAmato commented on #3916
I made a new PR with only the lib updates and the apothecary script update https://github.com/openframeworks/openFrameworks/pull/4086

[2015-07-10 19:39] DeqingSun opened #4087 "ofFbo leaks on allocate"
I used this code in update

    for (int i=0;i<1000;i++){
    ofFbo dummy;
    dummy.allocate(200, 200, GL_RGBA);
    }
I can observe that the memory is increasing. Destroy is called and Xcode can not detect this leak.

[2015-07-10 19:40] bilderbuchi commented on #4087
do you mean that memory is increased after the program has terminated, compared to before execution?

[2015-07-10 19:54] DeqingSun commented on #4087
I mean the memory usage keeps going up with the above code. The destructor didn't release all memory.

The problem is also mentioned on
http://forum.openframeworks.cc/t/offbo-deallocate/11834

And the problem leads to crash after a while.

[2015-07-10 20:06] bilderbuchi commented on #4087
pinging @tgfrerer

[2015-07-10 20:30] arturoc commented on #4087
i think this is a bug in some versions of osx, i remember we found something like this working on a project with @tgfrerer and it only happened in certain versions of osx, latest maverick (in december last year) if i remember well, no tim?

[2015-07-10 21:02] tgfrerer commented on #4087
I think the driver leak we found was related to geometry shaders on Mavericks with ATI cards...

I can look into the fbo leak when back at my desk, but in general, allocating and reallocating fbos is something you wouldn't want to do at such high frequency, so it could be just the driver's internal garbage collector not keeping up...

[2015-07-10 21:32] DeqingSun commented on #4087
I remember this also happen on RPi.

I just put the above code on earliest RPi. The memory usage increased from 4.8% to 5.3% in 10 minutes.

I used one ofFbo to store a word and scroll them on screen. The ofFbo is destroyed and recreated every a few seconds. And the memory usage do increase.

[2015-07-11 23:11] procedural opened #4089 "ofFbo::clear() crashes application"
Crash happens because [`colorBuffers.size()` in `ofFbo::clear()` function](https://github.com/openframeworks/openFrameworks/blob/9d973a6/libs/openFrameworks/gl/ofFbo.cpp#L363) returns very large number.

If I cout the value there:

[code]

And recompile openFrameworks, app will print:

[code]

[2015-07-11 23:20] procedural commented on #4089
Interesting, when clear happens it sets the right size:

[code]

[code]

[2015-07-11 23:33] procedural commented on #4089
Ok, nevermind, my mistake! [I should stop modifying openFramewroks internals for projects :D]

[2015-07-11 23:33] #4089 closed

[2015-07-12 09:25] martialgallorini commented on #3774
hello !

Any news about fixing this bug ?

thanks

[2015-07-12 11:47] ofZach commented on #3774
can you produce a 0.9 project which has the addon exactly as you think it should be added and I'll try to recreate?  one issue is that we removed the frameworks from the xcode sidebar, so some of steps for adding a framework have changed and the PG needs to reflect that.   Removing that, I can add the file and file refs to the project file but I'm not sure where it should go in the build and or if

[2015-07-12 12:09] arturoc commented on #3774
btw, just remembering that i added something toi be able to add custom frameworks from the addons config:

https://github.com/arturoc/ofxGStreamer/blob/master/addon_config.mk#L110

that should work for any framework i think as long as you add both -F to specify the search path and the framework itself with -framework

[2015-07-12 12:27] martialgallorini commented on #3774
Hi and thanks for the answer !

@ofZach you need me to generate a project in the latest 0.9 build and include the addons i have issues with then make it to work by setting up the project correctly and send it back to you ?

[2015-07-12 12:29] bangnoise commented on #3774
@martialgallorini am currently doing as requested by @ofZach

[2015-07-12 12:32] martialgallorini commented on #3774
ok @bangnoise

for the record ofxSyphon was the addon i had issues with

let me know if you need any help

[2015-07-12 13:03] bangnoise commented on #3774
First problem: I hit https://github.com/ofZach/projectGeneratorSimple/issues/64

[2015-07-12 13:09] ofZach commented on #3774
sorry I am asking for 0.9 project that manually has done what you want the PG to do....

[2015-07-12 13:14] bangnoise commented on #3774
Yes, I understand. I wanted to keep it as close as possible to what PG generates by adding the ofxSyphon addon in PG and then making the two missing changes manually, but ofZach/projectGeneratorSimple#64 prevents the addon being added at all.

I can obviously provide a project with the addon added entirely by hand, but this will have a large number of differences irrelevant to the question at hand

[2015-07-12 13:23] ofZach commented on #3774
Sorry I think I need an example to solve ofZach/projectGeneratorSimple#64  :)   specifically where do the frameworks go in 0.9 template?   I have half fixed that bug (part of it relates to the template being changed), but I kind of don't know what the project should look like with the framework now.  Seeing a good reference would be helpful!

[2015-07-12 13:54] martialgallorini commented on #3774
Here is a example

http://www.filedropper.com/testsyphon

Note : built in oF09 nightly under OSX Yosemite and xCode 6.1.1

[2015-07-12 13:55] bangnoise commented on #3774
In relation to ofZach/projectGeneratorSimple#64

http://files.kriss.cx/of/64.zip

has three projects

64_fwk_ofxSyphon is as generated by PG (at OF HEAD) - Xcode refuses to open it
64_no_fwk_ofxSyphon is as generated by PG but with Syphon.framework removed from the addon before PG is launched (probably you can ignore this one)
64_fixed_fwk_ofxSyphon is 64_fwk_ofxSyphon modified to add the framewor

[2015-07-12 14:01] i-n-g-o commented on #4073
also just came across this.
CVOpenGLTextureCacheCreate is supported from OSX 10.4.
oF need 10.7 anyways? -> i think its safe to suppose that texture Caches are supported.

for IOS i don't know. there maybe we need to check.

[2015-07-12 14:05] i-n-g-o commented on #4073
for a safety-check we could do it like this:
[code]

[2015-07-12 14:12] bangnoise commented on #3774
Sorry, some of those projects seemed to break - use
http://files.kriss.cx/of/64_2.zip

[2015-07-12 14:24] i-n-g-o commented on #3629
i had another look into AVFoundation and found a solution for backwards playback if we use minimum OSX 10.8.

would be cool if somebody could test this. (also on iOS)
https://github.com/i-n-g-o/openFrameworks/tree/AVFoundationPlayer_dance_backwards

some details:
from OSX 10.8 on we have AVPlayerItemVideoOutput which can be added as an output to a AVPlayerItem. AVPlayerItemVideoOutput always is sy

[2015-07-12 14:24] bangnoise commented on #3774
Project incorporating fix for ofZach/projectGeneratorSimple#64 and minimum required changes for ofZach/projectGeneratorSimple#56 and ofZach/projectGeneratorSimple#58

http://files.kriss.cx/of/56_58_fixed_fwk_ofxSyphon.zip

This project instantiates an ofxSyphonServer so if you have ofxSyphon installed then it will build and run (and do nothing).

[2015-07-12 16:11] bangnoise commented on #3774
Note that you'll have to use the of_head branch of ofxSyphon to successfully build the project.

Responses to @ofZach as I think you've edited your response:

I'm not sure if you mean "put" in the addon directory, in the Xcode project, or in the built product. Currently Syphon.framework resides in ofxSyphon/libs/Syphon/lib/osx exactly as if it were any other sort of library. Maybe you're suggestin

[2015-07-12 18:14] pizthewiz commented on #4073
If OF-0.9.0 requires OS X 10.7, we probably don't need checks for earlier versions no?

[2015-07-12 18:17] pizthewiz commented on #4073
Actually, `CVOpenGLESTextureCacheCreate` was first available in iOS 5 so I think we are good for both OS X and iOS without any explicit checks.

[2015-07-12 20:48] julapy commented on #4073
that sounds right to me.
we should remove the check all together, since it was introduced when ofxiOS target was > 5.0
now that 5.0 is minimum, we can assume those functions are there.

[2015-07-12 21:46] mruegenberg opened #4091 "Support OpenGL ES 3.1"
All the new compute shader and buffer object goodness we're getting should in principle also work with OpenGL ES 3.1. Current versions of Android with recent phones (e.g the Galaxy Note 4) have support for GLES 3.1 as well.

However, the relevant code is usually inside an `#ifndef TARGET_OPENGLES` and we'd also have to include `<GLES3/gl31.h>` in `ofConstants.h`.
Also, I'm wondering what the statu

[2015-07-12 22:30] K0j0 opened #4092 "ofExit() throws error"
Hello,

So I pulled the latest from master today and am getting an error whenever I call ofExit() or pres ESC to close a program. I'm seeing this in Linux and OSX. The stack trace ends in ofEvent.h line 194. I can't really tell what's going on there but it seems like the function object it tries to call there is null.

[2015-07-13 06:36] bilderbuchi commented on #2623
@danoli3 this is not a bug and not of critical importance, so please don't add it to the 0.9 milestone this late in its progress. See also [here][(https://github.com/openframeworks/openFrameworks/wiki/Issue-and-pull-request-management-details#milestones)

[2015-07-13 06:39] bilderbuchi commented on #4092
hm, @arturoc I think you dealt with the exit callbacks last, correct?

[2015-07-13 07:13] danoli3 commented on #2623
This was tagged as 0.9 however not labelled, wasn't changing that, see comments above. However agree with should be next revision.

[2015-07-13 07:18] arturoc commented on #4092
yes i fixed a couple of issues related to the exit sequence some days ago. it's working fine for me.

is this happening on a any example? or in a project in particular only? can you post the whole stack trace.

[2015-07-13 07:23] danoli3 commented on #4092
I just tested emptyExample on OSX. All is fine. Might be related to @K0j0's project... or outdated fetch of master. Just verify you are on the absolute latest @K0j0.

[2015-07-13 17:50] K0j0 commented on #4092
Oh damn you guys are right. Yeah, a different project just exited fine for me. It's strange though, I'm not overriding the ESC functionality in the project that's giving me an issue. Still, it appears that the problem is definitely in my code and not OF. I'll close this now.

[2015-07-13 17:50] #4092 closed

[2015-07-13 18:29] arturoc commented on #4092
there might be some combination that makes it crash in some projects so even if it's only in your project it might be helpful if you post the stack trace. also in any case the error is surely related with a listener that hasn't been removed from the event before being destroying.

[2015-07-13 18:38] bilderbuchi commented on #3910
@elliotwoods @DomAmato can we move forward with this issue now? the two PRs I see linked above are merged...

[2015-07-13 18:55] K0j0 commented on #4092
This is after hitting ESC. It looks like functions_copy is empty in the debug window.

![screen shot 2015-07-13 at 11 51 41 am](https://cloud.githubusercontent.com/assets/2118306/8657997/f24f37bc-2955-11e5-9829-1af6a685649a.png)

[2015-07-13 19:00] DomAmato commented on #3910
No ones raised an issue with a library recently so I think we are good.

Dominic Amato
Human Computer Interaction Masters Candidate
Physical Computing Lab (http://goo.gl/dguGzt)
DePaul University

-----Original Message-----
From: "Christoph Buchner" <notifications@github.com>
Sent: ‎7/‎13/‎2015 1:38 PM
To: "openframeworks/openFrameworks" <openFrameworks@noreply.github.com>
Cc: "Dominic Amato" <dom

[2015-07-13 19:05] bilderbuchi commented on #3910
I'll tentatively close this, then.

[2015-07-13 19:05] #3910 closed

[2015-07-13 19:09] K0j0 commented on #4092
This is after manually calling ofExit(), which is all that happened in step 3 of this stack trace.

![screen shot 2015-07-13 at 12 08 24 pm](https://cloud.githubusercontent.com/assets/2118306/8658320/ef0cb3f2-2957-11e5-9c9b-7ce919572ec7.png)

[2015-07-13 19:15] bakercp commented on #4092
When I was dealing with this I had some ofAddListeners that didn't have a matching ofRemoveListeners, leaving dangling event callbacks.

[2015-07-14 13:37] arturoc commented on #4092
it seems in both cases is crashing when trying to notify the exit event, do you have any object listening to that? that even should be notify before starting the destruction of ofApp but perhaps you are destroying some object before it's exit listener is notified without removing the exit listener?

[2015-07-14 23:58] K0j0 commented on #4092
Thanks for the feedback, guys! Yeah, I definitely wasn't cleaning up a bunch of ofAddListeners but it turns out that that wasn't the problem. Oddly enough, this is getting caused by the ofxUI addon. For some reason deleting a gui from the heap in a destructor (maybe anywhere?) is causing the error.

I haven't updated my version of that addon in awhile so I wonder if a recent pull of OF is no longe

[2015-07-15 08:42] bilderbuchi commented on #3365
hmm, @openframeworks/windows @arturoc can you help out here?

[2015-07-15 08:43] bilderbuchi commented on #4039
@openframeworks/windows do we have to change the VS project files somehow?

[2015-07-15 08:48] bilderbuchi commented on #3340
now that #4085 has been merged, can we get an update about this bug? @bakercp ?

[2015-07-15 11:21] #3916 closed

[2015-07-16 18:29] thyrrestrup commented on #3742
Any news on this issue? I've had the same problem myself some time ago. I never had time to look into it though..

[2015-07-17 07:19] arturoc commented on #3742
can you post a stack trace of the crash?

[2015-07-17 09:08] i-n-g-o commented on #3629
check out the PR:
https://github.com/openframeworks/openFrameworks/pull/4094

[2015-07-17 09:17] i-n-g-o commented on #4073
if not done already, here a PR:
https://github.com/openframeworks/openFrameworks/pull/4095

[2015-07-17 21:46] armadillu opened #4096 "multisampled ofFbo issues when drawing inside another ofFbo"
Hi, I am finding weird issues when drawing one multisample FBO inside another one.

	int numSamples = 8;
	fbo1.allocate(300,300, GL_RGBA, numSamples);
	fbo2.allocate(300,300, GL_RGBA, numSamples);

	fbo1.begin();
	ofClear(0,0,55,255);
	ofDrawCircle(mouseX, mouseY, 33);
	fbo1.end();

	fbo2.begin();
	fbo1.draw(0,0);
	fbo2.end();

This should draw nothing to screen, but if numSamples is > 0, it does.

[2015-07-17 21:51] tgfrerer commented on #4096
Hm, maybe what happens is that the 8 samples fbo does not get allocated properly and the draw operation goes straight to screen instead of into the fbo...

Do you get error messages or printouts when allocating / drawing with such FBO when lowering the log level to OF_LOG_VERBOSE?

Also does it work as expected if the sample count is lower, say, 2?

[2015-07-17 21:55] armadillu commented on #4096
Yep, they allocate fine. It's also fine if I don't draw one inside of each other. I'm on an Nvidia GTX 650 TI if it helps.

[2015-07-18 02:41] charlesveasey opened #4097 "ofxOsc compile error - VS 2015"
ofxOsc not compiling with master and VS 2015.

1) compiler failed at logical "or" instead of the "II"
2) function name conflict with PocoNetmdd.lib

Resolved with 2 commits:

https://github.com/charlesveasey/openFrameworks/commit/0fd621e0bce9dce51f856af0774838b6c058dd10

https://github.com/charlesveasey/openFrameworks/commit/ab63e9bfd8b151e426e67f3139dfb1d0e77b921d

[2015-07-18 20:11] DomAmato commented on #4097
+1 I had this same issue

[2015-07-18 20:18] DomAmato opened #4098 "Extend ofToString to convert Windows data types"
it doesn't happen often, but often enough that the feature would be nice to have, where I need to convert w_chars, LPTSTR, LPTWSTR etc... the functions are already a part of ofSystemUtils

    std::string convertWideToNarrow(const wchar_t *s, char dfault = '?',
	const std::locale& loc = std::locale())
    {
      std::ostringstream stm;

      while( *s != L'\0' ) {
        stm << std::use_facet<

[2015-07-18 21:01] arturoc commented on #4097
can you send a PR?

[2015-07-19 16:05] charlesveasey commented on #4097
https://github.com/openframeworks/openFrameworks/pull/4099

[2015-07-20 09:19] mruegenberg opened #4100 "Warning "Couldn't set UTF-8 locale, string manipulation functions won't work correctly""
I'm on Arch Linux and getting the above error message. It seems that the test introduced in 3a771d114f0da4dc62747b19c91aa710550af06b only works properly in Debian. There is, at the moment, no C.UTF-8 locale on Arch. (See also [here](http://comments.gmane.org/gmane.linux.arch.general/43880))

I think my string manipulation functions will probably be ok, since my default locale (which can be queried

[2015-07-20 09:27] bilderbuchi commented on #4100
ping @arturoc

[2015-07-20 10:37] arturoc commented on #4100
yeah, thanks, i added that warning mostly to see if some people would have any problem with this. usually by default the locale is 'c' but if in platforms where there's no c.utf8 it defaults to the current system language it's totally ok. i'll remove the warning before the release. thanks

[2015-07-20 10:45] frauzufall opened #4101 "linux 64bit: ofAppGlutWindow and mouseScrolled not working"
When I use ofAppGlutWindow, I don't get any mouseScrolled events. Instead, it throws mouseReleased events. To test it, I added a mouseScrolled function to `examples/events/eventsExample`. I'm on linux 64bit.

[2015-07-20 10:46] tgfrerer commented on #4096
Just to flag that i'm working on this. I've currently narrowed it down to `ofFbo::updateTexture`, which is where multisample framebuffers (MSAA framebuffers) get resolved into textures. My current working theory is that there might be a subtle GL state leak.

[2015-07-20 12:30] procedural opened #4103 "Unicode support for MinGW"
[Commenting on this comment in code](https://github.com/openframeworks/openFrameworks/blob/ec83be4/libs/openFrameworks/utils/ofSystemUtils.cpp#L633):

It's true that MinGW uses `char` by default, but if unicode flags are defined it switches to `wchar` and wide strings as MSVC, thus there's no need for separate code logic for these two compilers.

Here's a patch that makes MinGW compile openFramewo

[2015-07-20 12:34] procedural commented on #4100
Duplicate of https://github.com/openframeworks/openFrameworks/issues/4053 :)

[2015-07-20 12:35] procedural commented on #4100
@mruegenberg hope you don't mind that I stole your title because it's clearer than what I had before :)

[2015-07-20 12:56] bilderbuchi commented on #4100
thanks, closing as duplicate of #4053

[2015-07-20 12:56] #4100 closed

[2015-07-20 12:58] bilderbuchi commented on #4053
Intended resolution (TODO) before 0.9.0, by @arturoc:

[2015-07-20 13:06] bilderbuchi opened #4104 "OF 0.9.0 release checklist"
- [x] in general, work through the [release preparation checklist](https://github.com/openframeworks/openFrameworks/wiki/Release-preparation-checklist) and...
- [x] ...update where appropriate.

Just to make sure we haven't forgotten anything, in addition...
- [x] update the *change log*. A list of PRs merged since 0.8.4 can be found [here](https://github.com/openframeworks/openFrameworks/issues/4

[2015-07-20 13:14] bilderbuchi commented on #4103
You can always make a PR, indicate what is missing, and people more knowledgeable in the area you need can send _you_ a PR to your originating branch, which when merged will automatically appear in the PR.

[2015-07-20 13:16] bilderbuchi commented on #4049
@openframeworks/macos @arturoc can anybody reproduce this?

[2015-07-20 13:19] procedural commented on #4103
Ah, I didn't think of that! Thanks, Chris, I'll PR then.

[2015-07-20 13:45] arturoc commented on #4053
@procedural, can you check what's the default locale in those systems with the same method described in #4100

[2015-07-20 19:35] bakercp commented on #4097
See also https://github.com/openframeworks/openFrameworks/issues/3986

[2015-07-20 19:37] bakercp commented on #4097
@bilderbuchi I'd argue that this is a bug / regression that should be fixed before 0.9.0.

[2015-07-20 21:32] arturoc commented on #4097
btw, doesn't poco use namespace? how can it clash then?

[2015-07-20 21:34] charlesveasey commented on #4097
Also:
http://forum.openframeworks.cc/t/networkinitializer-duplicate-symbol-ofxosc-with-new-poco/18122/2

[2015-07-20 21:44] #4096 closed

[2015-07-20 21:51] arturoc commented on #4097
ugh, ok i see, that's really a bug in poco and we should solve it there. i can try to recompile it. can you send your PR without the change to NetworkInitializer?

[2015-07-20 22:20] armadillu commented on #4096
@arturoc  I think you forgot the update the ofGLRenderer and the ofGLProgrammableRenderer with the new method name, you probably meant this: #4107

[2015-07-20 23:21] charlesveasey commented on #4097
New PR: https://github.com/openframeworks/openFrameworks/pull/4108

[2015-07-21 00:13] joshuajnoble opened #4110 "GLEW header conflicts on OSX10.9+"
Not sure whether this is really our problem to fix or just something to be aware of but building an application with the OSX 10.9+ SDK results in an error on the line 1675 in glew.h

    typedef ptrdiff_t GLintptr;
    typedef ptrdiff_t GLsizeiptr;

I see:

    fatal error: typedef redefinition with different types ('ptrdiff_t' (aka 'int') vs 'intptr_t' (aka 'long'))
typedef ptrdiff_t GLintptrARB;

[2015-07-21 04:32] charlesveasey opened #4111 "Linker errors with ofDirectShowPlayer x64"
I'm getting linker errors when compiling video player example as x64 application. Win32 is ok.

Creating an instance of the videoInput class in ofApp resolves the issue.

Visual Studio 2015. Windows 8.1

[code]

[2015-07-21 06:45] bilderbuchi commented on #3629
Closed by #4094

[2015-07-21 06:45] #3629 closed

[2015-07-21 07:02] bilderbuchi commented on #4110
According to the commit you linked, this fix has been released already in glfw 3.0.4 (you can tell by the tag indicators below the commit message)

[2015-07-21 07:03] bilderbuchi commented on #4110
won't fix on our end - we just need to upgrade glfw

[2015-07-21 07:06] bilderbuchi commented on #4110
wait, the apothecary formula [says](https://github.com/openframeworks/openFrameworks/blob/92490e685bf33f3643c62b304e0e22f7cd22d521/scripts/apothecary/formulas/glfw.sh#L12) that we are already on 3.0.4 - are the compile libs up-to-date? @arturoc @tgfrerer

[2015-07-21 07:11] bilderbuchi commented on #4111
hey @charlesveasey I edited your post to use code tags - you fence your code snippets with triple backticks (`) to format it as source code, see also [here](https://guides.github.com/features/mastering-markdown/)

[2015-07-21 07:12] bilderbuchi commented on #4111
ping @openframeworks/video

[2015-07-21 07:17] bilderbuchi commented on #3986
closing this in favour of #4097, where this was discussed in detail already.

[2015-07-21 07:17] #3986 closed

[2015-07-21 07:26] bilderbuchi commented on #3834
@arturoc if you're recompiling poco while taking care of the namespace issue (#4097), could you take a look at this?

[2015-07-21 07:41] danoli3 commented on #4110
Looks like the 3.0.4 tag was there when @ofTheo compiled the OSX libs.

[2015-07-21 13:52] joshuajnoble commented on #4110
That patch fixes it for glfw but this is in glee.h, which is separate and wouldn't be updated with glfw releases. Confusing, I know.

Obligatory phone disclaimer

[2015-07-21 14:06] bilderbuchi commented on #4110
so, we are waiting for a new version of glew (https://github.com/nigels-com/glew), correct? 1.12-next, so to say.

[2015-07-21 15:09] KNNMMDV commented on #233
Did you fix it?

[2015-07-21 20:16] tpltnt opened #4117 "Clean up old copyright notices"
It would unclutter the code significantly if copyright notices the cleaned up/removed (if possible) as mentioned on #4114 and on the [mailing list](http://dev.openframeworks.cc/pipermail/of-dev-openframeworks.cc/2012-August/030570.html). This would require clearance with the respective copyright holders.

[2015-07-21 21:51] armadillu opened #4118 "ofFilePath::removeExt() different behavior in OF v09"
I noticed ofFilePath::removeExt() behaves differently in OF v09. Not clear if it's better or worse, but its different and it breaks past projects using that method.

Let's say we feed it "/Users/oriol/file.txt"

in OF v09 it returns "file"
in OF v08 it returns "/Users/oriol/file"

This might break quite a few projects that try to upgrade to OF v09; and it's debatable what removeExt() should do. I

[2015-07-21 21:56] armadillu commented on #4087
I did notice that in OS X, loading texture data to VRAM doesn't count towards used process memory, but it does count if you generate mipmaps for those textures. Not sure if related, but worth noting.

[2015-07-21 22:10] #4118 closed

[2015-07-22 01:27] kylemcdonald commented on #4098
could you also give some examples of where/when this might be useful? at first glance it looks like a very platform-dependent kind of thing, which OF tries to hide by making things work on different platforms rather than by providing helper functions.

[2015-07-22 13:48] tpltnt commented on #4101
Can you post (your) example code/the content of your `mouseScrolled()` for testing?

[2015-07-22 14:28] frauzufall commented on #4101
Sorry, I can't upload them as files, here is the example:
main.h:
[code]
ofApp.h:
[code]
ofApp.cpp:
[code]

[2015-07-22 18:11] tpltnt commented on #4101
Probably not directly related, but it get a failure (using 112b68e33e5632aae2df62c8af8872a1bbbefa61) trying to build it:
[code]

[2015-07-22 20:58] mattfelsen opened #4122 "Project generator issues for projects outside ..\..\.. level, VS2015"
Hi all. I'm having issues getting generated projects to load in VS2015 using both the legacy & simple PGs when creating projects outside the $OF_ROOT\apps\myApps level. The solution opens, but the project (in the sidebar) reads as "Project Name (load failed)" and another line (when clicking the project's disclosure triangle) reads "The project file cannot be loaded."

I dug into the .vcxproj file

[2015-07-22 21:00] mattfelsen commented on #4122
Looks like the angle brackets got swallowed up...the line is:
\<ProjectReference Include="..\..\..\libs\openFrameworksCompiled\project\vs\openframeworksLib.vcxproj"\>

[2015-07-23 07:01] procedural commented on #4111
[videoInput.h](https://github.com/openframeworks/openFrameworks/blob/master/libs/videoInput/include/videoInput.h) misses [this patch](https://github.com/ofTheo/videoInput/commit/242ab01) from @ofTheo's repo, adding `#pragma comment(lib,"Strmiids.lib")` line to videoInput.h should fix it.

[2015-07-23 13:28] tpltnt commented on #4101
To anyone getting the `error: invalid argument '-std=c++14' not allowed with 'C/ObjC'`: This is triggered by having a *.c file extension when to file actually contains C++ code (i.e. the extension should be *.cpp).

[2015-07-23 13:42] tgfrerer commented on #4122
Yes, i can see that windows project files outside of the apps folder will fail to resolve in a couple of places, and i fear we must consider the feature of having visual studio projects outside the app folder broken for now:

These steps will most likely fail:

* resolving the openframeworks lib location
* copying the .dll files from $OF_ROOT/export/.. to the project directory

I'm trying to find

[2015-07-23 13:43] frauzufall commented on #4101
So your know why the example did not compile?

[2015-07-23 13:44] ofZach commented on #4122
if it's helpful the heart of the "making things work relatively" stuff is here:

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxProjectGenerator/src/projects/visualStudioProject.cpp#L36-L52

which is basically finding and replacing ../../../ in a few text files.  It's trickier in VS since there are windows and unix paths.

[2015-07-23 13:46] tgfrerer commented on #4122
thanks @ofZach =) looking into it!

[2015-07-23 14:06] tpltnt commented on #4101
@frauzufall yes, i had a wrong file extension (ofApp.c instead of ofApp.cpp). The error was on my side, sorry. I can delete my confusing contribution above if you wish.

[2015-07-23 14:14] frauzufall commented on #4101
I don't really care :D Does the scroll event work for you?

[2015-07-23 14:19] arturoc commented on #4122
if it helps, std::filesystem::path or ofFile or ofFilePath now support both / and \ indifferently and will output all \ in vs when calling string()

[2015-07-23 14:21] tpltnt commented on #4101
No, i also got a `mouseReleased` event. The button is set to 4 for scrolling down and 3 for scrolling up.

[2015-07-23 14:33] arturoc commented on #4101
hey, this is just the way it is in glut in linux. in linux we use freeglut and it reports scroll as a mouse press. we could map those specific button id's to the scroll but i'm not sure if it's worth since glfw is the default window now. if anyone wants to fix it is totally ok but just be sure to ifdef this for linux only since other platforms don't report any button press for the scroll wheel und

[2015-07-23 14:36] tpltnt commented on #4101
@arturoc Thank you for the hints.

[2015-07-23 15:13] tpltnt commented on #4101
@frauzufall would you prefer a solution for your particular problem (i got one right now) or are you ok with waiting for another week until a general one for freeglut is done?

[2015-07-23 15:37] ofZach commented on #1524
this seems to be in ofxAndroid now (so I am suggesting this issue be closed) but there's not example about how to use it.  I have found that this seems to work for me:

ofAddListener(ofxAndroidEvents().scaleBegin,this,&ofApp::scaleBegin);

[2015-07-23 16:34] bakercp commented on #3834
@arturoc let me know if you're recompiling, otherwise I will upload it as is.

[2015-07-23 16:38] bakercp commented on #2176
Hi @ofTheo I've done a lot of work to unify oF events into pointer events (based closely on the W3C spec).  You cay try it out here: https://github.com/bakercp/ofxPointer  The develop branch is 0.9.0 compatible.  I'm currently using it to develop ofxDOM, which also supports all the basic gesture events on desktop, mobile / touch, wacom tablet, etc.

[2015-07-23 16:46] bilderbuchi commented on #1524
closing this, then

[2015-07-23 16:46] #1524 closed

[2015-07-23 17:16] arturoc commented on #3834
go for it i don't have any arm7 boards right now, was planing to set something on a server so it recompiles automatically but will take a while

[2015-07-23 17:16] bakercp commented on #3834
@arturoc OK.

[2015-07-23 18:43] DomAmato commented on #4111
Ah I must have forgotten to include the updated header file in the PR when we updated the libs

[2015-07-23 18:48] charlesveasey commented on #4111
Yes that solves the issue. @DomAmato you'll make the PR?

[2015-07-23 19:14] DomAmato commented on #4111
sure I can do it

[2015-07-23 19:20] DomAmato commented on #4111
https://github.com/openframeworks/openFrameworks/pull/4128

[2015-07-23 19:34] #4111 closed

[2015-07-23 19:39] DomAmato commented on #4104
In terms of VS updates off the top of my head it now includes:

+ Win32 & x64 for VS2015
+ WASAPI Audio support due to the RTAudio lib update
I know theres more here...

These should be cross platform updates
+ FreeImage updated to 3.17
+ OpenSSL updated to 1.0.2c
+ RTAudio updated to 4.1.1
+ LibPNG updated to 1.6.2
+ Updates to C++11

[2015-07-23 20:50] DomAmato opened #4129 "Visual Studio 2015 Release"
Microsoft released the release version of VS2015 which replaces the Release Candidate, I will run a test to make sure everything works properly. I don't expect there to be anything different but certainly needs to be checked

[2015-07-23 21:13] DomAmato commented on #4098
Right it is platform specific and ideally it would be a feature of ofString so that those data types could just be passed in like any other data type and thus the code only works in the background. It would be useful for anything that deals with HRESULTs as the error messages are returned as LPTSTR and can't be decoded by ofToString. Here is an example of having to decode things for the Media Foun

[2015-07-23 23:01] kylemcdonald commented on #4129
awesome! thanks for keeping up to date on this, it will be great to release 0.9.0 with support for the latest IDE :)

[2015-07-23 23:20] DomAmato commented on #4129
Everything seems to compile ok, I will probably reopen this when windows 10 gets officially released next week,especially with their added support of ARM processors that could add another wrinkle in the process

[2015-07-23 23:20] #4129 closed

[2015-07-24 04:45] bakercp opened #4137 "Projectgenerator ios - overwrites ios icons/images on project update."
Overwrites all icons with names:

[code]

This makes sad if one didn't duplicate and save all customized icons before updating the project files ... :(

[2015-07-24 04:48] bakercp opened #4138 "Proposed template change for iOS / OSX"
In an effort to make ios / osx multi-platform projects play nicely in the same directory, I'd like to propose that we not use the same `Project.xcconfig` name for both osx and ios projects.  Perhaps we could just prefix the ios Project.xcconfig with `ofxIOS-Project.xcconfig` to match the plist name, etc?

[2015-07-24 04:51] ofZach commented on #4138
while I think that's a good solution, I would still love to suggest we have folders per IDE ala cinder.   seeing folders that look like this:

https://github.com/openframeworks/projectGenerator/tree/master/projectGeneratorSimple

make me cringe....

[2015-07-24 04:53] bakercp commented on #4138
I would also be in favor of the folder solution @ofZach!  My suggestion is more of a band-aid after manually modifying file names / projects it for several projects lately.

[2015-07-24 04:54] ofZach commented on #4137
relevant lines if you want to add a fix, such as checking if files exists and not overwriting, etc:

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxProjectGenerator/src/projects/xcodeProject.cpp#L277-L287

[2015-07-24 04:56] bakercp commented on #4137
@ofZach thx.  Will do.

[2015-07-24 07:05] danoli3 commented on #4138
Sounds like a good idea :+1:

[2015-07-24 09:08] frauzufall commented on #4101
Thank you two! I just saw that glfw also has the setMultiDisplayFullscreen-function which I thought was the reason I used glut. So I can just switch to glfw and its working there. Thanks! Do you still want to fix it? Otherwise we can close the issue.

[2015-07-24 09:18] bilderbuchi commented on #4101
I think it's fine to close this, then. Thank you!

[2015-07-24 09:18] #4101 closed

[2015-07-24 10:59] #4122 closed

[2015-07-24 21:33] tpltnt commented on #3760
@turowskipaul I failed to replicate the bug as of c214832ee9a7e1812a249f0f731d620fc8e53000. I have tested different scenarios. Can you post example data and code which triggers the bug?

[2015-07-24 22:02] tpltnt commented on #2113
I checked the codebase as of 45ad9ef287fdc764eaf8a2fa66625158dbb71e4d. The only remaining code which uses ofxXmlSettings is examples/addons/allAddonsExample, examples/addons/xmlSettingsExample,  examples/ios/xmlSettingsExample and, well, ofxXmlSettings. So it looks feasible to deprecate ofxXmlSettings for 0.9.

[2015-07-25 06:52] elliotwoods commented on #4098
ofToString on a HRESULT would be fantastic!

@kylemcdonald  - HRESULT's are the default return for any function on the Windows platform (e.g. COM functions). They give either S_OK or something which denotes in what way the function failed.

[2015-07-25 06:53] turowskipaul commented on #3760
Thanks for testing.  Here is some code:

testing.xml

    <testing>
        <one>1</one>
        <two>2</two>

        <four>4</four>
        <five>5</five>
    </testing>

ofApp.h

    #pragma once

    #include "ofMain.h"

    class ofApp : public ofBaseApp{
        ofXml myXml;
    public:
        void setup();
    };

ofApp.cpp

    #include "ofApp.h"
    void ofApp::setup(){
        if (myXml

[2015-07-25 06:58] elliotwoods opened #4144 "Minibug : ofParameter throws lots of warnings"
Since `ofParameter` supports `bool` and treats bool as a number, the compiler throws lots of warnings.

I'm getting 5 warnings per every one of my cpp files which includes ofMain on VS2015.

Do you experience anything similar on Xcode / other?

[2015-07-25 08:56] bilderbuchi commented on #4144
would be great to know _which_ warnings you get, and where. ;-)

[2015-07-25 09:50] bilderbuchi commented on #618
@arturoc thinks we should rather fix this bug instead of adding documentation.

[2015-07-25 14:52] tpltnt commented on #3760
@turowskipaul thank you for the data. I can replicate the bug for a7a6e5b3aa71c8aa06f39d8495d274cde026f8a0.

[2015-07-25 16:30] bakercp opened #4146 "Raspberry Pi Updates gcc updates for 0.9.0"
So as far as I know, the default compiler on RPi is still 4.6, which doesn't support a handful of our required updates (`thread_local` etc).  It is easy enough to install gcc-4.8 / g++-4.8 as they are standard packages.  While we could write scripts that will create gcc/g++ symlinks, I'd suggest that we download g++4.8 with our install scripts and then defined `CXX` as g++-4.8 in the raspberry pi

[2015-07-25 16:33] bakercp opened #4147 "Raspberry Pi 2 fails to compile ofFileUtils on master"
Currently Raspberry Pi 2 (and likely RPi 1) fail to compiler on ofFileUtils.cpp:725 because it says `copy` is not a member of `std::filesystem`.

I don't have time to take a deeper look at this, but maybe you know how to fix it off the top of your head @arturoc ?

One solution related to #4146 could be that we install gcc > 4.8 (or maybe 4.9 or 5) and just directly use c++14 filesystem features (w

[2015-07-25 18:25] tpltnt commented on #3760
The data provided triggers multiple bugs . I fixed the NULL pointer dereference in getValue(). I am currently looking into the `setToSibling()` and `getNumChildren()` inconsistency.

[2015-07-25 18:44] joshuajnoble commented on #3760
Ah, I was going to look at this a little later today but it seems like you've got it handled so maybe I'll leave it to you?

[2015-07-25 19:02] arturoc commented on #4147
filesystem is not part of c++14 it'll be part of c++17.

isn't there already a raspberry based on jessie? that should solve all this problems

[2015-07-25 19:10] bakercp commented on #4147
The standard raspberry pi distro (raspbian) is still based on wheezy.  (https://www.raspberrypi.org/downloads/).  I believe that Ubuntu Mate (which is only compatible with RPI2) os jessie based.  There may also be ways to update the standard wheezy image to jessie ... but I'd strongly advocate that we figure out a solution that supports the "standard" wheezy raspberry pi image that is limited to c

[2015-07-25 19:41] arturoc commented on #4147
can you check which version of boost filesystem it's installed? wheezy should have 1.49 which has copy: http://www.boost.org/doc/libs/1_49_0/libs/filesystem/v3/doc/reference.html#copy

[2015-07-26 03:11] kylemcdonald commented on #4138
alternatively, if the project generator only needed the `src/` to create a project file, people would get in a habit of dragging the `src/` folder to the PG app, and the PG app would launch the IDE. then we wouldn't have to ship project files at all. people would only keep the project files that were important to them (maybe even not committing them to github if the PG worked well enough). less is

[2015-07-26 03:32] bakercp commented on #4138
@kylemcdonald sounds good to me!  I stopped including project files (other than make files) in my addons because it was too difficult to keep them up to date.  Most of the issues weren't with my code, but the project files, so I just suggest people use project generator to make the examples.  I'm not sure if this strategy works, but I get far less questions about project file errors.

[2015-07-26 03:37] kylemcdonald commented on #4098
thanks for the example @DomAmato and explanation @elliotwoods

the only precedent i can think of for this sort of thing is the pascal strings used by ofQuickTimeGrabber. in that case, there's a macro defined in ofQtUtils.h, and i'm even not sure it's generally accessible (because people aren't usually writing addons that interface with quicktime directly).

with that in mind, maybe there is somewh

[2015-07-26 09:48] tpltnt commented on #3760
I think i fixed this issue. I do have a personal test suite and ran the code posted which yields the following output:
[code]
@turowskipaul Can you check out [my branch](https://github.com/tpltnt/openFrameworks/tree/bugfix-issue3760) and check if your (other) code works now? (I want your ok as a basic quality check before issuing a pull request.)

[2015-07-26 11:29] tpltnt commented on #3129
I can reproduce the bug as of b5db2ccc97bbe7406ca5fa1feaff4f3cfdf2012b. I ran the ofxOscSenderExample and used [wireshark](https://www.wireshark.org/) to check. The filter to check for the mouse messages is `osc && udp.port eq 12345 && osc.message.string`. I do see a mouse button down message though.

[2015-07-26 11:53] tpltnt commented on #3129
I tested with an external USB mouse. When i click left button, i get a "mouse down" for button 0. When i click with the right button, i get a "mouse down" for button 2. When i click with the scroll wheel, i get a "mouse down" for button 1. After clicking the scroll wheel, i only get "mouse up" messages, but no "mouse down" anymore. When i use the mouse(pad) on my computer, i can sort-of determinis

[2015-07-26 12:06] tpltnt commented on #3129
The host string issue is fixed now. The clicking issue confuses me. If anyone wants to pick up where i left off, check [my local branch](https://github.com/tpltnt/openFrameworks/tree/bugfix-issue3129).

[2015-07-26 15:49] bilderbuchi commented on #2113
deprecation is more about usage "in the wild" by users, than usage in the OF repo. I think this is what @ofTheo was driving at.

[2015-07-26 15:50] bilderbuchi commented on #2113
also, -1 to deprecating this for 0.9, no features will be added any more, only critical bugfixes.

[2015-07-26 18:40] tpltnt commented on #2653
If the examples in question are "addons/oscSenderExample" and "addons/oscReceiveExample", then I can not replicate this bug on Debian (64bit) as of 5db2ccc97bbe7406ca5fa1feaff4f3cfdf2012b. @bilderbuchi can you confirm this?

[2015-07-26 18:40] turowskipaul commented on #3760
Worked for me. Cheers!

[2015-07-26 18:50] tpltnt commented on #3760
@turowskipaul please reopen since the issue still exits. My stuff has not been merged yet.

[2015-07-26 18:54] turowskipaul commented on #3760
sorry!

[2015-07-26 18:54] tpltnt commented on #3760
@turowskipaul no problem

[2015-07-26 20:02] bilderbuchi commented on #2653
Those are not the correct examples, the correct ones are in https://github.com/openframeworks/openFrameworks/tree/master/examples/gui with the names as in the OP.

[2015-07-26 23:37] danoli3 opened #4154 "Orientation issues in iOS 8"
As reported on the forums here http://forum.openframeworks.cc/t/fixed-orientation-issues-on-ios8/20275 by @cuinjune

-------------------------------------

[code]

When I force to change the orientation using 'ofSetOrientation', It does rotate correctly from portrait to landscape mode but not from landscape to portrait mode. it still rotates, but to wrong coordinate so I could see a blank area in

[2015-07-27 02:48] #4039 closed

[2015-07-27 02:55] DomAmato opened #4155 "Project Generator Crashes during runtime VS2015"
When I build the simple project generator there are no errors and it works unless i include an addon. It works with a debug build but not a release build. The error is an access violation writing location but since I can't get it to happen in the debug I don't know exactly where it stems from

![capture](https://cloud.githubusercontent.com/assets/6936055/8897867/e2eba4a4-33e1-11e5-9ee7-d10ecbf4a3c

[2015-07-27 02:57] DomAmato commented on #4155
The error is an access violation writing location but since I can't get it to happen in the debug I don't know exactly where it stems from

[2015-07-27 03:43] DomAmato opened #4156 "Apothecary scripts for addons Windows issues"
Perhaps I am doing it wrong but when I use apothecary to try and update the libs for assimp and openCV it doesn't place the resulting files in the right place. Perhaps my syntax is wrong but I sort of had this problem before. This is with Git Bash for windows.

 I try calling assimp with

    apothecary update ../../../addons/ofxassimpmodelloader/scripts/formulas
and everything runs fine but when

[2015-07-27 06:59] DomAmato opened #4157 "Addons ofx3DModelLoader issue with x64 debug build"
This only occurs with x64 debug builds in VS2015. I get an unresolved external error:

    Error 	LNK2019	unresolved external symbol gluBuild2DMipmaps referenced in function "public: __cdecl texture3DS::texture3DS(class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> >,int)" which stems from this line of code

It doesnt happen with win32 builds or release x64 builds