[2015-07-27 07:18] bilderbuchi commented on #4154
removing the 0.9 milestone, this is not a critical bug nor a regression from 0.8.4 as far as I can see.

[2015-07-27 07:20] bilderbuchi commented on #4155
I find it suspicious that the folder separators switch between `/` and `\`several times, I'd assume that that could be a problem..

[2015-07-27 07:21] bilderbuchi commented on #4156
ping @openframeworks/apothecary

[2015-07-27 07:30] DomAmato commented on #4144
From my compilation tests its just resizing errors from sizet to int etc... nothing that appears problematic

[2015-07-27 08:56] ofZach commented on #4155
can you put some print outs in this function to see if crashes inside or more specifically where it crashes?

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxProjectGenerator/src/projects/visualStudioProject.cpp#L113-L195

also, have you cleaned and rebuilt this?  sometimes if it crashes in release and not debug (or vice versa) I get suspicious of memory / memory layout and

[2015-07-27 12:23] gorkacortazar commented on #4156
@DomAmato can you check with the sintax
´´´
apothecary update addonName
´´´

It's the one I tested when I updated the assimp for VS 2015. Be aware that creates separated libs for 32/64 bits, but the project generator add both to all the profiles and you have to correct it manually.

[2015-07-27 12:29] DomAmato commented on #4156
just typing

    apothecary update assimp
gives the response:

    no formula for lib "assimp"
which is why I included the path to the script, the inverse also doesn't appear to work when i change the directory to where the assimp formula is and then use the path to apothecary

[2015-07-27 12:32] gorkacortazar commented on #4156
It  should be
[code]

I think that opencv and assimp resides in their addons, not in the core ofx.

[2015-07-27 14:28] DomAmato commented on #4156
That seems to work but I think its slightly strange since it doesn't really conform to the standard of other apothecary scripts but thats a discussion thats beyond the scope of this issue

[2015-07-27 14:28] #4156 closed

[2015-07-27 14:36] bilderbuchi commented on #4156
How so? That's the way it's specified in the apothecary readme, and assimp lives in an addon...

[2015-07-27 17:02] DomAmato commented on #4156
Right but in terms of the core scripts calling it like

    apothecary update glew
feels like your calling the script, I get why you call ofxOpenCV since the ofx is acting as a delimiter to let apothecary know its looking in the addons rather than the default formulas folder but it just seems inconsistent when the actual script name is openCV. It also seems like placing the scripts in the addons f

[2015-07-27 17:12] DomAmato commented on #4038
This is consistent with all addons that require a library. However before a build is started all the additional dependencies are blank and VS seems to just populate them from the folders that are specified. I will have to investigate things more but thats just a preliminary observation. VS also adds all the libraries in those folders including the debug and release versions which creates further c

[2015-07-27 17:18] DomAmato commented on #702
What about ffmpeg? like in ofxVideoRecorder, that should be cross platform though it requires the application at least in how that addon works

[2015-07-27 17:29] DomAmato commented on #1462
+1 on this, I have some updates for ofArduino as well to make it more compliant with the newer iterations of firmata and some of the added functionality of the configurable firmata branch

[2015-07-27 17:58] ofZach commented on #4038
sorry I am not in front of a windows install at the moment, for this bug, I'd look here:

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxProjectGenerator/src/projects/visualStudioProject.cpp#L369-L420

(this is the seperation of libs into debug and release)

and here:

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxProjectGenerator/src/projects/visua

[2015-07-27 19:56] bilderbuchi commented on #3760
closed by #4151

[2015-07-27 19:56] #3760 closed

[2015-07-27 20:22] bakercp opened #4161 "freetype versions out of sync w/ Apothecary"
@danoli3 @DomAmato @arturoc et al.

In trying to solve #4148, I found that the the version of freetype defined in the apothecary script is different than the actual header / libs version in master.

Did this just slip through the cracks or is there a reason we haven't updated it to the latest?

CB

[2015-07-27 20:37] DomAmato commented on #4161
weird since there are files in there that were updated earlier than the header but are from the 2.5.5 version instead of the 2.5.3.  The 2.5.5 files from ~3 months ago and the 2.5.3 header from ~2 months ago. I assume it must have slipped through the crack unless someone knows something I don't, the VS libs were compiled with 2.5.5

[2015-07-27 20:50] tpltnt commented on #2576
If i put the above code into the setup() method inside the standard ofApp-skeleton, everything works fine as of 1fc68e176e5c1150a27080e338f594bcd0c3f0c8. If i run it in a dedicated testcase (without a GL window), i get
[code]

[2015-07-27 20:56] bilderbuchi opened #4162 "Fix remaining CI issues"
The new CI build has a couple of remaining TODOs/problems, I'll try to deal with those in further PRs

* [x] Linux build sometimes fails with " "g++-4.9: internal compiler error: Killed (program cc1plus)"", due to lack of RAM/swap, apparently. (also happens on Arturo's build). Could be that [this](http://stackoverflow.com/a/16372032/599884) or [this](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=56

[2015-07-27 20:59] arturoc commented on #4161
it's strange that none of the platforms have overwritten this header, perhaps check that it's not being gitignored or something

[2015-07-27 22:02] bakercp opened #4163 "Name change proposal ofDrawRectRounded -> ofDrawRoundedRectangle"
We deprecated `ofRect` and it became `ofDrawRectangle`.  That was super, clear and concise.  In fact almost all of our drawing methods are clear and concise now.  But ... for some reason we deprecated `ofRectRounded` and made it `ofDrawRectRounded`.

I'd propose that we'd instead replace it with `ofDrawRoundedRectangle`.  It seems that if we are going to do this we might want to consider doing it

[2015-07-27 22:04] bakercp commented on #4163
Alternatively, I would be interested in overloading `ofDrawRectangle` to take the additional arguments needed to make it draw rounded rectangles.

[2015-07-27 22:14] arturoc commented on #4163
i wonder if we should just deprecate ofRectRounded completely and not add it back, it's available through ofPath and creating it every frame is really slow, it's been reported a couple of times in the forum by people trying to use it in immediate mode. anything more complex than the basic primitives is better in ofPath were it can be cached

[2015-07-27 22:24] bakercp commented on #4163
Hm.  Not sure.  If you're changing the values of the rectangle based on some input, it's not going to make much difference is it?  But from a philosophical perspective, limiting the immediate mode drawing functions to the most basic primitives (or cacheable meshes that can be simply transformed) makes sense.

[2015-07-27 22:26] kylemcdonald commented on #4163
for discoverability via autocomplete i would prefer `ofDrawRectangleRounded`

i'd be curious to hear @ofzach @phoenixperry or other teachers chime in about changing it to ofPath-only.

[2015-07-28 02:09] bakercp commented on #4163
@kylemcdonald yeah, I agree with that -- I think we have discussed that before somewhere.  I reversed it because it was easier to say, but discoverability would win I think.  Still the larger issue of moving it to ofPath remains ...

[2015-07-28 02:17] bakercp commented on #4161
See #4165 and #4164

[2015-07-28 03:41] DomAmato commented on #4155
Cleaning and rebuilding didn't fix things. I added some print outs and it crashes inside appendFilter at this line:

    string uuid = generateUUID(folderName);
folderName is just addons

[2015-07-28 04:09] ofZach commented on #4155
thanks for investigating, does it seem to crash in the generateUUID function itself?  Can you add some printouts to see there.   The generateUUID is in utils.cpp.   I'd specifically be interested to know if digestString is too short for the substr call, for example.  thanks again!

[2015-07-28 05:14] DomAmato commented on #4155
ok getting some weird behavior in UUIDgenerator
when I do

    ofLogNotice("VSPG") << "substringing";
    digestString = digestString.substr(0,24);
    ofLogNotice("VSPG") << "convert to uppercase";
    digestString = StringToUpper(digestString);

it works, if I comment out either of the ofLogNotices, which I added for debugging purposes, it crashes with the access violation error

[2015-07-28 06:54] gorkacortazar commented on #4038
There is also the separation between Win32 and x64 that needs to be taken into consideration for the PG, similar to the osx case.

[2015-07-28 06:59] gorkacortazar commented on #4156
@DomAmato I beg to differ, while OpenCV or Assimp are distributed with the core, they are separated addons to not be part of the core (not every project needs it). Another interesting stuff of how it is done is that you can create apothecary formulas for non core addons. This not happen that much currently, but seems a good feature.

[2015-07-28 09:31] arturoc commented on #4163
if the shape is dynamic you can pull the mesh out of the ofPath and put it on an of3dPrimitive to transform it instead of regenerating a full circle every time. we really need a better API to do that but with immediate mode you can't do it at all.

The rounded rectangle is the only shape (along with ofBeginShape/ofEndShape) in immediate mode that is not drawn directly to the gpu but needs a ofPath

[2015-07-28 16:15] procedural commented on #4103
The branch is merged, but `UNICODE` and `_UNICODE` flags should be defined in Code::Blocks projects

[2015-07-28 16:26] procedural commented on #3460
I've wrote a post on forum on how to workaround this issue: http://forum.openframeworks.cc/t/ofsetlinewidth-doesnt-work-with-ofglprogrammablerenderer-type/13664/12?u=procedural

[2015-07-28 16:35] arturoc commented on #4103
can you add it in the template in scripts/win_cb/template ?

[2015-07-28 16:38] procedural commented on #4103
I don't know where to add, nor how to check if it will work, I don't use Code::Blocks. Guide me!

[2015-07-28 16:46] procedural commented on #4103
[Compiler options](https://github.com/openframeworks/openFrameworks/blob/master/scripts/win_cb/template/emptyExample.cbp#L20) maybe?

[2015-07-28 16:48] arturoc commented on #4103
what do you use? how do you usually pass this option?

[2015-07-28 16:57] procedural commented on #4103
@arturoc raw cmake & command line.

Ok, I've generated CB project and definitions indeed in <Compiler> section, each line looks like:

[code]

[2015-07-28 17:00] ofZach commented on #3774
just a quick note that I've been making incremental progress on this and gotten (2) working just working on (1) and (3) now...

the addon parser is also mistaking the framework as a folder and adding those paths for header searching, I take it shouldn't ? (that's what the framework search path is, right?)

[2015-07-28 17:02] arturoc commented on #4103
yes that looks correct

[2015-07-28 17:17] bangnoise commented on #3774
Yep, @ofZach ignore the framework headers and FRAMEWORK_SEARCH_PATHS will locate them

[2015-07-28 17:41] bilderbuchi commented on #4103
@procedural btw, project files generation for which IDEs does cmake support? I dream of a day where we don't have to futz around with N sets of project files anymore.. ^^ (We use XCode, Codeblocks, VS, Eclipse, make afaik)

[2015-07-28 17:50] procedural commented on #4103
I use Qt Creator, it parses CMake and generates Ninja project files for faster compiling, also it can generate for Code::Blocks as I tested today, I used it with VS2013 just fine, except for [some tiny quirks](https://github.com/ofnode/of/issues/15#issuecomment-120452331) people generate projects for Xcode too. Here's the full list of all supported IDEs (Eclipse is there): http://www.cmake.org/cma

[2015-07-28 17:51] arturoc commented on #3774
yes i guess we need to exclude anything with .framework extension in the recursive parsing of addons and projects

[2015-07-28 17:55] procedural commented on #4103
I knew about CMake from VFX industry where it is used heavily, when I saw openFrameworks for the first time I thought "gee, it must be error prone to make changes for each project like that" and started [ofnode/of](https://github.com/ofnode/of) to fix it. Currently it totally works for my needs.

[2015-07-28 18:05] bilderbuchi commented on #4103
I'm happy that we at least have a encompassing makefile structure now, this was a huuge effort by @arturoc and @bakercp (and others?), but that thought is one I have often had.. :-D

[2015-07-28 18:05] bilderbuchi commented on #4103
It's a pity that you didn't fork OF properly, this way we can't really compare what has changed w.r.t. to OF proper.

[2015-07-28 18:08] procedural commented on #4103
Nothing was changed, it's not a fork :)

[2015-07-28 18:19] bilderbuchi commented on #4103
I don't understand?

[2015-07-28 18:25] procedural commented on #4103
It's vanilla openFrameworks, repackaged for CMake which repo size is around 16 MB of download :) It syncs automatically by scripts with this repo.

[2015-07-28 19:18] tpltnt commented on #2576
As of 778182dd2870fc64a03fb89faaaf23916dd1d6c2, i can not confirm this bug on Debian 64bit. Here is the code i tested with:
ofApp.h:
[code]
ofApp.cpp:
[code]
The main.cpp is the generic example one. I made a debug build executing `make -j2 Debug` and ran the resulting binary in gdb:
[code]
If none can replicate the the bug (not even @sheridanis ) I propose to close this issue.

[2015-07-28 20:02] bilderbuchi commented on #2576
This bug is pretty old, I think we can close it, thank you.

[2015-07-28 20:02] #2576 closed

[2015-07-28 20:48] ofZach commented on #3774
almost there!  (paths are still a little wonky so it's not 100% yet, but getting closer...)

<img width="322" alt="screen shot 2015-07-28 at 4 46 15 pm" src="https://cloud.githubusercontent.com/assets/142897/8943313/44c7305a-3548-11e5-90b2-ff65406b0c57.png">

<img width="621" alt="screen shot 2015-07-28 at 4 46 24 pm" src="https://cloud.githubusercontent.com/assets/142897/8943319/4a618772-3548-11e

[2015-07-28 21:45] nneonneo opened #4168 "Support new Android Studio NDK"
Android Studio 1.3 will finally have more official support for the NDK (though it will still be a preview). This is a placeholder issue to remind me/us to look at updating the Android Studio support for the new Android Studio.

1.3 isn't officially released yet, and they have explicitly indicated the new NDK support isn't final. So, right now we shouldn't do anything, but in a few months when the

[2015-07-28 22:13] moebiussurfing opened #4169 "Can’t compile master branch for RPi B+"
I get this errors when compiling an example:

/home/pi/OFgit/openFrameworks/libs/openFrameworks/types/ofTypes.h:286:1: error: expected unqualified-id before 'using'
makefileCommon/compile.core.mk:234: recipe for target '/home/pi/OFgit/openFrameworks/libs/openFrameworksCompiled/lib/linuxarmv6l/obj/Release/libs/openFrameworks/events/ofEvents.o' failed
make[2]: *** [/home/pi/OFgit/openFrameworks/libs

[2015-07-28 23:29] bakercp commented on #4169
See https://github.com/openframeworks/openFrameworks/issues/4146 we need to require GCC 4.8+.

[2015-07-29 04:13] bakercp commented on #4147
@arturoc my pi is offline for a bit and haven't had a chance to get it back up -- a related report here http://forum.openframeworks.cc/t/cant-compile-master-branch-for-rpi-b/20297/3

[2015-07-29 04:52] moebiussurfing commented on #4147
Hey @arturoc , just I case it helps.. I am getting this errors too, and after following on the above (my) link of @bakercp,
I checked my raspberry boost version. You can see the link to see how I done; but it looks like my raspbian has Boost 1.49.

[2015-07-29 06:14] DomAmato commented on #4038
We might have to separate the libs into debug and release folders to make parsing easier. They are already separated by architecture but is there a reliable way to sniff out which is the debug lib and which isn't. Separating them is easy too so I don't see why we shouldn't just do that.  the current method:

     for(int j = 0; j < addon.libs.size(); j++){
            // check if this lib name is

[2015-07-29 07:24] bilderbuchi commented on #4169
closing as duplicate of #4146

[2015-07-29 07:24] #4169 closed

[2015-07-29 07:51] mhashmi opened #4171 "Linking error on master for Android devices running < 5.0 (Lollipop)"
For devices running anything under Lollipop (5.0), we get linking errors when launching any of the android example apps.

We tried NDK r10e, r10b, r9b and r9d to confirm against the androidEmptyExample.

Please find below the linker error:

[code]
Please also see this [forum thread](http://forum.openframeworks.cc/t/android-master-branch/20106/4) for additional details.

Thank you.

[2015-07-29 12:41] tgfrerer commented on #4155
I'm looking into this at the moment. My current working hypothesis is that it has something to do with optimisation. I'm getting the same error as @DomAmato, but it disappears when I disable optimisation for the PGSimple/Release build target.

[2015-07-29 17:20] DomAmato commented on #4155
I'm glad it wasn't just me experiencing a weird bug +1 for the fix!

[2015-07-29 17:20] #4155 closed

[2015-07-29 17:30] ofZach commented on #4038
my intuition is that it might be the best to add debug and release qualifiers to the mk file (and add parsing for that) , since the file system parsing of an addon it always going to be full of edge cases and issues and it makes sense to have a more rigorous way of specifying what lib you want for what platform, etc.

for example we use "ADDON_LIBS" but I could it being extended to do:

ADDON_LIBS

[2015-07-29 18:28] bakercp opened #4174 "Option to set an ofParameter without notifying event listeners?"
Right now, as far as I can tell, the only way to set an ofParameter value without notifying its listeners is to do something like:

[code]

This seems like a pretty fast operation, as it's just binding and setting the `setMethod` to the no event setter, but this seems a little verbose, and perhaps slow.

Would there be opposition to adding a final argument to the set methods like --

[code]

In th

[2015-07-29 18:33] bakercp commented on #4174
Made a slight modification to clarify that the parameter will still respect the existing "disabled() / enabled()" state.

[2015-07-29 18:46] bakercp commented on #4174
This would also us to get rid of the `updatingParameter` variable in `ofxOscParameterSync` which was a little confusing at first.

[2015-07-29 18:47] arturoc commented on #4174
i'd rather prefer to add a setWithoutEvents(value) or setDontNotify(value) or somthing like that, passing booleans like that in a method makes the syntax really confusing, we use it in a couple of places and it's not a very good idea, like:

[code]

which means begin the fbo but don't set the default perspective.

also i would only add it for the version that only sets the value not the name, min,

[2015-07-29 18:50] bakercp commented on #4174
OK.  I like that approach.  I was looking for the method that wouldn't add additional methods.  I'll add a method like setWithoutEventNotifications().  PR shortly.

[2015-07-30 19:14] DomAmato commented on #4038
Right I think my idea would probably break older addons too if the file structure wasn't setup right. Once I have some time I will try to familiarize myself more with the ofxprojectgenerator

[2015-07-30 19:15] procedural opened #4177 "ofAddListener crashes application"
My addon that worked a month ago doesn't now, stalling the whole application on initialization.

I initialize listeners in object's constructor like this:

[code]

Application won't run anymore and doesn't throw any error / exception, probably going through infinite loop somewhere. If I comment every line except for `ofEvents().keyPressed` one:

[code]

I can get an exception:

[code]

GDB's backt

[2015-07-30 19:17] DomAmato commented on #4144
Is this corrected by https://github.com/openframeworks/openFrameworks/pull/4160?

[2015-07-30 19:30] DomAmato commented on #4138
I feel like I have to always do this since most addon examples come with an xcode project :frowning: , the only downside imho is if you need to add a system library or link another framework which for some people is really confusing. The forum has had some questions pop up recently over proper variable initialization and function declaration from beginners.

@kylemcdonald im def in favor of that a

[2015-07-30 19:33] bakercp commented on #4144
Some of this should be corrected ... I'm not sure about the bool issues though.

[2015-07-30 20:04] DomAmato commented on #4144
@elliotwoods can you test it with the newest master? I will compile it too but I don't know how many warning you were getting

[2015-07-31 00:15] procedural commented on #4177
It's a regression: I reverted commit 7db47cb (reference above) and it works fine now.

[2015-07-31 07:10] bilderbuchi commented on #4138
this sounds like using cmake to generate project files would be a good idea. :-)

[2015-07-31 10:39] arturoc commented on #4177
can you post a small example that crashes for you? i've done a couple of tests,  but cannot manage to make it crash. also try cleaning the build and rebuilding again.

[2015-07-31 11:05] bilderbuchi commented on #4177
also, can you exclude that somehow your custom OF could cause this? I.e., does this also occur if you use vanilla OF on the affected machine?

[2015-07-31 11:31] procedural commented on #4177
@arturoc Thanks, cleaning the build and rebuild worked! I synced with latest commit three days ago and it seems like partial build caused this.

@bilderbuchi

Yea, [every bug report I've contributed so far](https://github.com/openframeworks/openFrameworks/issues?q=is%3Aissue+author%3Aprocedural+is%3Aclosed) was made from regular openFrameworks, I just build the sources with different build system.

[2015-07-31 11:31] #4177 closed

[2015-07-31 12:00] procedural commented on #3864
I've added `-std=gnu++11` flag to emptyExample in [this PR](https://github.com/openframeworks/openFrameworks/pull/4166), not sure if it will be enough, though!

Quick search [reveals that](http://stackoverflow.com/questions/22166633/mingw-function-not-found-when-compiled-with-std-c11):

The solution is quite simple: use `-std=gnu++11` flag which adds popen / pclose.

[2015-07-31 12:02] procedural commented on #4053
@arturoc missed your message, sure I'll test it

[2015-07-31 12:54] #4174 closed

[2015-07-31 13:41] procedural commented on #4103
#4166 is merged, the issue can now be closed!

[2015-07-31 13:41] #4103 closed

[2015-07-31 13:44] procedural commented on #4053
Yes, `std::locale("").name()` returns `en_US.UTF-8` on both Fedora 22 and Manjaro Linux (Arch-based).

But I have a feeling that it would return `ru_RU.UTF-8` if I would install a system with Russian language, for example.

[2015-07-31 14:22] arturoc commented on #4053
yes that's ok, in debian it defaults to "C" which is not utf8 and some characters won't be upper or lower cased correctly for example but if you have a UTF8 locale it will work ok. i'll make that check also take into account if the default locale is utf8

thanks!

[2015-07-31 14:26] #4053 closed

[2015-07-31 14:30] joaodafonseca commented on #3804
I got the exact same problem? did you manage to solve this problem?

[2015-07-31 15:10] ofZach commented on #4138
I think cmake could be really interesting.

I'd also encourage folks to try (!) the command line PG:

https://github.com/openframeworks/projectGenerator/tree/master/commandLine

which can really do a lot of things that people want like "update" and "update recursive".  I recently figured out how to make a good tool on osx (ripping out the actually exe and compiling with fmod) and it works pretty w

[2015-07-31 15:37] arturoc commented on #3804
hey sorry i didn't saw this before but you shouldn't need an fbo to render a bigger than the screen pdf. an FBO is a very openGL specific concept and it doesn't make much sense to mix it with pdf unless you really need to get the contents of the openGL renderer or something similar.

the problem here i think is that the viewport parameter when setting up the cairo renderer is kind of confusing bec

[2015-07-31 15:37] #3804 closed

[2015-07-31 16:38] joaodafonseca commented on #3804
Hey @arturoc, thanks for the answer it worked fine, i did actually asked something similar in the forum few hours ago, so you can ignore it. Let me just ask a quick question related to pdf export here!
How can I export a pdf without the background?

[2015-07-31 19:32] tpltnt commented on #4117
The respective discussion on the mailing list was short and settled on keeping them.

[2015-07-31 19:32] #4117 closed

[2015-08-01 05:19] elliotwoods commented on #4144
hey!
i'm on a version of master which is about a week old right now
don't want to pull because in the middle of something. did something change with the warnings?

for reference:
[code]

i think that's just 1 warning, just a very long one :)

[2015-08-01 05:21] elliotwoods commented on #4144
no i haven't got that commit yet in my local copy. will test and report.
just not right this minute :)

[2015-08-01 09:19] tpltnt commented on #255
I am currently did some work in this [here](https://github.com/tpltnt/openFrameworks/tree/feature-issue-255). I moved the OS stuff (TARGET_LINUX etc.), the video and sound things plus the deprecation warnings into separate headers. I named them utils/ofPlatform(OS|Video|Sound).h and utils/ofDeprecation.h. I also started reorganizing the includes. The compile time did not decrease though. Should I

[2015-08-01 09:28] arturoc commented on #255
i don't think that's going to make a big difference we need to look into this with more detail and see what's the best way.

if you want to contribute on something that's really useful take a look at the list of issues marked with milestone 0.9. closing those would help a lot getting the next release ready which is where we should be concentrating efforts right now, anything else even if necessary

[2015-08-01 09:53] tpltnt commented on #3828
The astroboy example looks ok on my machine. @ofTheo can you elaborate on "astroboy scale too small"?

[2015-08-01 13:27] arturoc commented on #3828
this seems to be a problem with the version of assimp, the library that comes with debian and derivates by default doens't have this problem

[2015-08-02 14:12] bilderbuchi commented on #4144
I don't know how conclusie this is, but in the build log  [of a recent CI build](https://ci.appveyor.com/project/arturoc/openframeworks/build/1.0.332/job/cwm34foubn62rrrr), there's no mention of C4808. Loads of other warnings, though ^^.

[2015-08-02 22:13] ofZach commented on #3774
ping @bangnoise @martialgallorini -- I feel like this issue can be closed but invite some testing.

also ping @openframeworks/ios what kind of framework support do we need?  are there addons with system or 3rd party frameworks to test?

[2015-08-03 06:08] yty opened #4181 "ofxKinect can support v2 device?"
@ofTheo

I have seen https://github.com/ofTheo/ofxKinectV2

But it seems very old version, can not and now libfreenect2 Compatible.

https://github.com/OpenKinect/libfreenect2

[2015-08-03 10:14] elliotwoods commented on #4144
on recent master (today's) and most warnings seem to be gone. as bilderbuchi noted, no ofParameter warnings of that type any more
congrats!

still get the `Unknown compiler version - please run the configure tests and report results` in Boost

[2015-08-03 10:14] #4144 closed

[2015-08-03 11:34] bilderbuchi commented on #4144
Apparently that warning will [go away](http://stackoverflow.com/a/30959156/599884) as soon as we upgrade to Boost 1.59.

[2015-08-03 12:49] procedural opened #4182 "ofFile and ofDirectory doesn't understand "~" symbol"
I had code from a while ago that used to check for folder in home directory, but it doesn't work now because `ofFile` and `ofDirectory` doesn't understand `~` paths:

[code]

Can we have it back or there's another way to get a path to home dir now without using commands like `string HOME = ofSystem("printf $HOME");`?

[2015-08-03 13:13] bilderbuchi commented on #4182
can you pin down when it broke (with git bisect)?

[2015-08-03 13:32] procedural commented on #4182
@bilderbuchi I would like to, but I will be dead by the end of git clone of the repository.

[2015-08-03 13:57] bilderbuchi commented on #4182
are you working from a downloaded release package right now?? or do you have a shallow clone of current master?

[2015-08-03 13:57] ofZach commented on #4182
I'd guess it's the change to boost filesystem for path things (trying to move away from poco for parts of the core):
https://github.com/openframeworks/openFrameworks/pull/3913

this may be relevant?
http://stackoverflow.com/questions/4891006/how-to-create-a-folder-in-the-home-directory

[2015-08-03 14:10] procedural commented on #4182
@bilderbuchi

Shallow clone with depth of 1

@ofZach

my thoughts, too.

[2015-08-03 14:25] ofTheo commented on #4181
It is an old version but the new libfreenect2 has issues with OF as it uses threaded OpenGL shaders to decode the depth frames, which causes flickering as the GL calls are getting mixed up between threads.

If you are on windows I recommend @elliotwoods - https://github.com/elliotwoods/ofxKinectForWindows2
Its really clean and gives you access to all the K4W stuff.

[2015-08-03 14:25] #4181 closed

[2015-08-03 14:29] bangnoise commented on #3774
Planning to look at this in the next 48 hours. Sorry for the delay.

[2015-08-03 15:01] martialgallorini commented on #3774
where can we find the latest build ?

[2015-08-03 15:05] arturoc commented on #4182
yeah this is happening because we changed to boost (which will be std) filesystem. since this is going to be the standard i think it's ok to leave it as it is, in any case `~` as home is only a bash thing: http://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html not even unix so i think it's safe to not have support for it.

The multiplatform way to do it is:

[code]

[2015-08-03 15:10] procedural commented on #4182
@arturoc Didn't knew it's only a bash thing... The issue can be closed then. Thanks for multi-platform example!

[2015-08-03 15:10] #4182 closed

[2015-08-03 15:16] ofZach commented on #3774
I think you will have to build this yourself off the PR branch to test.  https://github.com/openframeworks/openFrameworks/pull/4170

[2015-08-03 18:05] pizthewiz opened #4183 "Add examples/README.md to explain and provide steps to create missing project/make files"
An issue that seems to trips up users new and old seems to be the missing example project files. I cannot count the number of times I've tried to help a user out on IRC or the forum that has run into this and I really feel as though we are making things more difficult for end-users. The main [README.md](https://github.com/openframeworks/openFrameworks/blob/master/README.md#developers) does referen

[2015-08-03 18:12] pizthewiz commented on #2685
I think this is good to close as POCO has been updated, though I suppose once POCO is removed/externalized the team will look to something like jsoncpp or json11?

[2015-08-03 18:18] pizthewiz commented on #4183
Some issues to reference:
#2014, #2958, #1422

[2015-08-03 18:45] #2685 closed

[2015-08-03 18:49] bilderbuchi commented on #4183
Then, imho, they should work with either a (stable) release or (bleeding edge) a nightly build, which both have the example project files afaik.

[2015-08-03 18:54] pizthewiz commented on #4183
That is definitely an option and usually what I recommend to asking users (and sometimes I tell people to check out scripts/dev) but bubbling that up to the README to set expectation could be really helpful.

[2015-08-03 20:31] martialgallorini commented on #3774
hum... sorry i don't understand what to grab or where i can get the sources.
Anyway hopefully more advanced users will have some tests

[2015-08-04 00:06] bangnoise commented on #3774
The fixes in #4170 are good, happy for this to be closed - and super happy that ofxSyphon works with PG now, many thanks.

[2015-08-04 00:13] sterlingcrispin commented on #4171
having the same issues would be interested in a solution

[2015-08-04 06:03] elliotwoods commented on #4144
for the time being, i recommend commenting out Line 292 from visualc.hpp. Perhaps even in our github repo

[2015-08-04 06:10] elliotwoods commented on #4144
the most common warning we have right now is warning C4267
which is a lazy cast (e.g. `size_t` to `int`)
since it's so pervasive (all over the code base), i'm suggesting we add it to an ignored warning
here's an example set of those warnings from a from a build:
https://gist.github.com/elliotwoods/a8e55dcd924614746029

[2015-08-04 06:48] bilderbuchi commented on #4171
ping @openframeworks/android

[2015-08-04 08:14] liasomething commented on #3804
@arturo thanks for the solution!

[2015-08-04 13:04] arturoc commented on #4171
copying from the forum:

we need to recompile the libraries using NDK_PLATFORM android-19 and hope that will work in both android 4 and 5.

if someone wants to give it a try, you can configure apothecary to use android-19 by editing `scripts/apothecary/android_configure.sh` and changing line 3 to:

[code]

then run apothecary from scripts/apothecary like:

[code]

and then:

[code]

which are the

[2015-08-04 13:14] tallavi commented on #4171
I updated the result of my attempt in the forum: http://forum.openframeworks.cc/t/android-master-branch/20106/9

Attached also here below.

I suspect permissions issues on ostype.sh (also found an old closed issue about it), but couldn't make it work. I have no leads on the other issues yet. Help?

------

Tals-Air:apothecary tallavi$ ./apothecary -t android update poco

 ----- poco -----

 Downlo

[2015-08-04 13:14] tallavi commented on #4171
BTW, the android4 issue is a runtime error (when loading the library) and not a linking error.

[2015-08-04 13:21] arturoc commented on #4171
don't you have ostype.sh in the apothecary folder with execution permissions?

[2015-08-04 13:24] tallavi commented on #4171
I do (as I pulled latest master):

-rwxrwxrwx   1 tallavi  staff    767 Feb  3 18:40 ostype.sh

Check out this close issue: https://github.com/openframeworks/apothecary/issues/21

I bet it's something like that, but I'm not sure what else to try other than chmod +x or 777. I tried sudo also. Didn't help.

[2015-08-04 13:24] tallavi commented on #4171
Any ideas regarding the other errors (sha of openssl, XS: unbound variable)?

[2015-08-04 15:45] ofTheo commented on #3340
@procedural - we were discussing on IRC the issue of C::B for 0.9.0
( http://irclog.perlgeek.de/openframeworks/2015-08-02 )

We were wondering if your build system is grabbing and building the latest 3rd party libs that the rest of OF is doing? - I see the list you linked to here: https://github.com/ofnode/of/blob/75b76c0/dev/clone.sh#L20-L36

We were just trying to figure out if we could grab the

[2015-08-04 16:47] avilleret commented on #4183
one more reason to work with git repo rather than with release, the shader tutorials are not packaged with the release

and I was confused to not see any makefile in the example folder until I read entirely the Readme
so maybe one good advice could be : read the manual first ;-)
btw, pushing the Developer section up to the head of the readme could help.

[2015-08-04 16:51] avilleret opened #4184 "shader tutorials are missing in the last ubuntu release"
maybe this is by intention, but the [online tutorial](http://openframeworks.cc/tutorials/graphics/shaders.html) says "You can find them in the tutorials folder  of your OF download" which is then wrong

[2015-08-04 17:19] procedural commented on #3340
[reading irc] Well great, now oF has two Constantines :D I'm Procedural there, btw.

Not anymore, MSYS2 provides all I need now. It's a package manager for MinGW compiler family.

Yep. It pulls all the libraries either from source repositories or in compiled form from package managers, nothing is introduced or modified there by me. That link points to outdated file, up-to-date versions can be seen

[2015-08-04 17:23] ofZach commented on #3340
(That was a pretty hilarious moment on the irc log, btw...)

[2015-08-04 17:48] bilderbuchi commented on #4183
_that_ is always good advice! :-)

[2015-08-04 17:50] bilderbuchi commented on #4184
you mean in the packaged release? @arturoc do you strip those in the packaging script?

[2015-08-04 18:16] procedural commented on #3340
I guess I can add 32-bit support to cmake project files and compile all required libraries with MinGW and MinGW-w64 for you guys, given that not only openFrameworks but ofSketch relies on them too. It should take two or three days, if it fits to 0.9.0 release schedule I don't see any reasons why not.

[2015-08-04 18:20] bakercp commented on #3340
@procedural Any help on getting 32/64 compiled for CB would be super helpful.  I need to rebuild the ofMinGW toolchain for ofSketch as well -- (https://github.com/bakercp/ofmingw is what we use for ofSketch on windows) -- so any documentation of your build settings (or just a copy of your scripts if it's cmake based) would be super helpful.  I'm planning to get ofSketch 0.9.0 compatible in time fo

[2015-08-04 18:21] bakercp commented on #3340
@ofTheo yes, in order to avoid downloading / installing VS, we need to stick with mingw for now.  We just include the mingw toolchain in ofSketch so it works with a single click -- no installer or anything.

[2015-08-04 18:22] bilderbuchi commented on #3340
I think we should maybe open a separate discussion if we could/should switch all of OF over to cmake? seems to make sense on a lot of fronts (lib compilation, project file generation/maintenance,...), no?

[2015-08-04 18:23] procedural commented on #3340
@bilderbuchi my dream, honestly. I can reconfigure cmake project paths to this repository quite easily.

[2015-08-04 20:31] ofTheo commented on #3340
@bilderbuchi I think the main reason we didn't use CMAKE is that it didn't support XCODE project dependencies - i.e: the way we have openFrameworksLib as an xcode project within each OF project.

[2015-08-04 20:35] ofTheo commented on #3340
@procedural if your able to work on the 32bit and 64bit CB libs that would be amazing!
Currently you can find which version of libraries we're using via apothecary scripts.  Also to note we are using libc++ for both 32bit and 64bit builds.

( https://github.com/openframeworks/openFrameworks/tree/master/scripts/apothecary/formulas ) and also ( https://github.com/openframeworks/openFrameworks/tree/m

[2015-08-04 21:18] procedural commented on #3340
It actually has this feature, I didn't use it in my repo because when I started I didn't know CMake that well :) I think it would be cool to fork this repository for a proof of concept version

[2015-08-04 21:38] arturoc commented on #3340
the problem i see with cmake is that if people want to add addons to their projects they'll need to use cmake and addon developers will probably need to learn cmake which would make developing addons really hard

[2015-08-04 21:52] procedural commented on #3340
I use 95% of user addons without modifying them in any way, if you think about an addon it is just a bunch of source files from `src` and `libs` folders, with all possible include paths. [So I grep them all](https://github.com/ofnode/of/blob/17346c1/openFrameworks.cmake#L928-L965). The 5% case exception is when an addon requires an external library or some source file shouldn't be build on a targe

[2015-08-04 22:00] procedural commented on #3340
Plus, CMake is a programming language on its own, I thought of a feature lately that makes things like this possible: you can write `ofxaddon(kylemcdonald/ofxCv)` and CMake will automatically download, place and compile the addon for you.

[2015-08-04 22:12] procedural commented on #3340
By the way, has anyone seen my example collection? :D
https://github.com/ofnode/of/tree/master/examples

[2015-08-04 23:41] sterlingcrispin commented on #4171
I have X permissions on all the files in that directory and have the same Invalid shasum for openssl-1.0.2c.

[2015-08-05 01:22] sterlingcrispin commented on #4171
same situation first

    java.lang.UnsatisfiedLinkError: Couldn't load neondetection from loader dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/cc.openframeworks.android3DModelLoaderExample-1.apk"],nativeLibraryDirectories=[/data/app-lib/cc.openframeworks.android3DModelLoaderExample-1, /vendor/lib, /system/lib]]]: findLibrary returned null
            at java.lang.Runtime.loadLibr

[2015-08-05 02:58] kylemcdonald opened #4192 "ofEvent::notifyAsync missing after dropping Poco"
ofxSniffer was using notifyAsync to send packets from inside a threaded function to another thread, to avoid blocking either the sniffing thread or the main loop: https://github.com/HalfdanJ/ofxSniffer/blob/master/src/ofxSniffer.cpp#L200

This method was inherited from Poco and is no longer available with the new Event implementation. Is there another method that can replace this behavior? I can i

[2015-08-05 06:54] bilderbuchi commented on #3340
Is there any reason why people (users) would not just add the addon to addons.make or an equivalent text file, which gets digested by cmake (like it is digested by make now)?
Also, do addon developers need to learn make currently (or do they just fill out addons_config.mk)?

[2015-08-05 07:07] bilderbuchi commented on #3340
Nice! I found it strange though that you enumerate every example by name [like this](https://github.com/ofnode/of/blob/master/examples/CMakeLists.txt#L115). This seems awfully fragile (if someone adds an example, you have to notice and also adapt the cmakelists every time) - can't you glob-match all the examples from the respective directories?

[2015-08-05 07:15] bilderbuchi commented on #4192
ping @arturoc

[2015-08-05 08:16] PetrosKataras commented on #3340
Just to add my own two cents that this would be a very welcome direction... I am also a very strong advocate of cmake and I really haven't looked back since I started working with it. The cmake scripting language itself can be cumbersome and it has some quirks ( variable scope is the first thing that comes to mind ) but it's pretty flexible also.

I am using it for [stardust](https://github.com/Pe

[2015-08-05 08:24] avilleret commented on #4184
yes shader tutorials are missing in the packaged release

[2015-08-05 09:36] arturoc commented on #4192
For doing inter thread communication the new ofThreadChannel is the way to go. notifyAsync was creating a new thread every time only to send a message, otThreadChannel allows for asynchronous communication between 2 threads in a more correct way than notifyAsync.

I see that ofxSniff already uses ofThreadChannel, i would just change rawPacketEvent with a public channel so people can query that cha

[2015-08-05 09:38] arturoc commented on #3340
if we can get something that can be used with the current addon_config.mk, addons.make and optionally with the our current config.make i would be totally ok using cmake. among other things it would make it easy to use qt creator which is one of the best open source IDEs right now

[2015-08-05 09:45] bilderbuchi opened #4193 "Transition OF to CMake?"
We could transition the OF build system to use CMake. This could have several benefits:
* Ease library compilation
* Create project files for IDEs we use. The PG could also use this
* Less need to keep project files compiling by tweaking manually, as the cmake configuration is the canonical source for all of them)

@procedural has a cmake-based fork of OF going [here](https://github.com/ofnode/of)

[2015-08-05 09:46] bilderbuchi commented on #3340
OK, let's move any cmake discussion over here: #4193
Back on topic! :-)

[2015-08-05 10:07] arturoc commented on #4193
There's a couple of problems with cmake:

- it's not bidirectional: ie: if i add an addon to an already create xcode project using the xcode plugin or even a library manually to the project and then i try to update the project through cmake, it's going to overwrite those change.

- the current system works perfectly ok, our current makefile system for example handle dependencies really well, i've

[2015-08-05 10:07] arturoc commented on #4193
also how's support for android for example?

[2015-08-05 10:38] bilderbuchi commented on #4193
apparently, there are problems with compiling some libraries, which can be [solved with cmake](https://github.com/openframeworks/openFrameworks/issues/3340#issuecomment-127697889)

yes the PG does this, but from what I have seen so far there's lots of manual work: e.g. we manually parse xml for the xcode files (with lots of breakage and headache for @ofZach iirc), and copy file templates around. c

[2015-08-05 12:40] procedural commented on #4193
CMake is not bidirectional, indeed, but as most of high level things are: you don't expect to tweak the assembly and see C code updated automatically... :)

That's cool, really. I just don't see *[for me personally!]* how it will be useful since I don't use makefiles at all (see below).

Exactly. All I can see for a past year or two in openFrameworks is, like [speculating], 60% of maintainer's tim

[2015-08-05 12:45] bilderbuchi commented on #4193
You know, I really liked your explanation, you put it better than I could. But this part was really unnecessary:

:-/

[2015-08-05 12:52] procedural commented on #4193
@bilderbuchi https://youtu.be/NURiiQatBXA?t=2m58s

[2015-08-05 13:33] arturoc commented on #4193
i don't think that's the case, constantine has been putting most time in this and he's been using cmake, i'd say that the same amount of time fixing our current system would have fixed the issue there too not that cmake makes it easier to fix.

this is just not true, most of the time maintaining project files is spent on adding new libraries or new platforms like the current migration to 64bits, t

[2015-08-05 14:26] PetrosKataras commented on #4193
Personally I do not use any IDE and I have to say that I am really grateful for the current OF Makefile configuration since it works really fine for both Linux and OS X.

On the other hand as @procedural already mentioned I think with CMake we can have a more streamlined/unified approach for the building process under the various platforms. In addition since CMake is becoming a standard it would a

[2015-08-05 15:03] procedural commented on #4193
Yea, that's just backwards, I can understand why it's needed for backwards compatibility, but it's not a topic I'm particularly interested in. I see @PetrosKataras has more to say on that

[2015-08-05 15:42] avilleret opened #4194 "how to build shader tutorial"
Shader tutorials don't have project files (just as examples) in git repository.
Generating project file for examples is explain in the [Readme.md](https://github.com/openframeworks/openFrameworks/blob/master/README.md) but I can't find how to generate shader tutorials project.

[2015-08-05 16:08] procedural commented on #4193
By the way,

Is true, giving more time I'm sure Apothecary can build libraries MinGW needs, I use them already not because of CMake, but because of MSYS2 package manager for Windows that provides most of MinGW and MinGW-w64 libraries for me. I build with CMake [only those libraries](https://github.com/ofnode/of/tree/master/src) which are rare to see in package managers, like Poco, or for latest ve

[2015-08-05 16:25] arturoc commented on #4193
yes i saw that and it's interesting we could do with mingw something like what we have in linux a script that downloads all the necessary dependencies.

[2015-08-05 16:41] procedural commented on #4193
Also I just want to mention that not only Ninja is way faster build system than Make, even despite some quirks sometimes (#4177) (not always! that was the only case I can remember which forced me to recompile openFrameworks) it worth the speed I got for my projects, CMake also allows to do stuff like automatically precompile header files and use them without changing anything in projects, with Cot

[2015-08-05 16:51] kylemcdonald commented on #4192
great, going to move to ofThreadChannel instead of ofEvent for this.

[2015-08-05 16:51] #4192 closed

[2015-08-05 17:37] procedural opened #4195 "openFrameworks can't be compiled in a path that contains spaces on Linux"
Can be reproduced by placing openFrameworks folder in a path like `~/test folder`

[2015-08-05 17:42] procedural commented on #4193
Who knows how many projects openFramewoks maintains will throw error because of spaces in paths: #4195. I solved it a year ago once in CMake files and never had it in any projects I generated since then. Add that to an ocean of pros for having CMake as a build system :)

[2015-08-05 17:46] bakercp commented on #4195
https://github.com/openframeworks/openFrameworks/issues/3160
https://github.com/openframeworks/openFrameworks/issues/2673

[2015-08-05 17:49] bakercp commented on #4195
http://stackoverflow.com/a/9516081/1518329 One of many imperfect but functional solutions.

[2015-08-05 17:50] procedural commented on #4195
I'm sure it is... :)

[2015-08-05 17:55] procedural commented on #4195
Closed as duplicate.

[2015-08-05 17:55] #4195 closed

[2015-08-05 18:29] bilderbuchi commented on #4194
ping @arturoc @julapy ?

[2015-08-05 20:15] bakercp commented on #4161
Just an additional note -- on Raspberry Pi 2, we get the same warnings, which leads me to believe that the version of FreetType shipping with RPi2 is a bit older as well.  This is not a big deal, and only tangentially related to this issue.

[2015-08-05 20:36] bakercp commented on #4147
Just FYI, I'm still getting `undefined reference to boost::filesystem3::detail::copy_file(...)` during the linking phase of RPI2.  Got any other tips @arturoc?  I think it's the only thing holding up RPI now.

[2015-08-05 20:40] bakercp commented on #4147
@arturoc just for debugging's sake, if I comment out that single line and compile with g++4.8 RPI2 runs successfully.

[2015-08-05 21:07] bakercp commented on #4146
OK.  I did bunch more investigation on this and my conclusion is that we should figure out the easiest way to compile oF with g++-4.8+.  I tried to go back and modify the core to compile with the version of g++ shipped with raspbian, but @ 4.6.3, there are just too many errors to fix (problems with `using` bunch of places, problems with no thread_local -- etc).  It's certainly possible to make it

[2015-08-05 21:13] #3834 closed

[2015-08-05 21:36] arturoc commented on #4161
yes wheezy is from 2013 and debian doesn't update things much between major versions except for security or other critical fixes

[2015-08-05 21:45] arturoc commented on #4146
i'd detect the debian version and just install gcc 4.9 if we are on wheezy. this:

[code]

should return wheezy or perhaps raspbian on raspbian

[2015-08-05 21:46] bakercp commented on #4146
@arturoc OK.  I'll check it out.

[2015-08-06 00:00] sterlingcrispin commented on #4171
I tried building this against  ndk-r10c , 10d, and 10e and getting nothing

[2015-08-06 00:13] procedural commented on #3864
I've just installed Code::Blocks 13.12 that uses MinGW version based on GCC 4.7.1 and it doesn't support C++11 features which openFrameworks uses extensively now, we will have to use nightly builds from their official sourceforge page: http://sourceforge.net/projects/codeblocks/files/Binaries/Nightlies/

[2015-08-06 00:21] procedural commented on #3864
Ah, but they don't provide MinGW for users... I guess we can bundle the compiler in `codeblocks_additions.zip` [that was already required for OF 0.7.4+](http://openframeworks.cc/setup/codeblocks/)

[2015-08-06 00:30] procedural commented on #3864
Also, I see TDM-GCC copyright files in MinGW folder of Code::Blocks 13.12, so we can easily replace it with newer version.

[2015-08-06 00:33] procedural commented on #3864
But we won't use GCC 5 [since its runtime library breaks C++ ABI](https://gcc.gnu.org/gcc-5/changes.html#libstdcxx) with libraries compiled with GCC 4.x.x versions...

[2015-08-06 01:14] bakercp commented on #3864
@procedural Cool -- thanks for all this research!

[2015-08-06 07:43] elliotwoods commented on #255
is there a 'profiler' for cmake/makefiles or XCode?
perhaps would be useful to look into

i'm trying to get MSBuild Profiler working here. a bit fiddly...

[2015-08-06 07:54] elliotwoods commented on #255
edit: MSBuild Profiler doesn't split up individual files, only projects and steps (e.g. compile and link)
so not much use there

![image](https://cloud.githubusercontent.com/assets/328294/9106515/c9f18658-3c5b-11e5-850b-2cf0e9ff47a3.png)

[2015-08-06 10:09] elliotwoods commented on #1426
hey!
wow just found this searching to see if we'd had this discussion before :)

is there any interest in this after it's settled a bit?

to summarise the above:
* elliot suggests we replace local parameters within ofNode with ofParameters (e.g. with an added function `virtual ofParameterGroup getParameters()`)
* arturo and theo suggest that this would cause some performance issues, and offer ways

[2015-08-06 11:44] gavelino opened #4198 "openFrameworks Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-06 12:15] bakercp commented on #4198
Hi, this discussion would better be carried out on our forum.

- A few of your questions could be answered by looking at
https://github.com/openframeworks/openFrameworks/graphs/contributors etc.

- why does your percentage add up to 110%

- the link to your preprint int accessible on mobile.

[2015-08-06 12:30] bilderbuchi commented on #4198
Yes, the forum would be a better place to discuss this. Also, we [recently](http://dev.openframeworks.cc/htdig.cgi/of-dev-openframeworks.cc/2015-July/033971.html) had a bit of discussion on our mailing list, in retrospect probably triggered by your paper.

A couple of remarks:
* I have never heard anybody yet calling this *truck* factor, only *bus factor*. :-P
* I find it questionable to equate fi

[2015-08-06 12:34] bilderbuchi commented on #4198
Also, closing this as it's not a bug, and this is not the venue to discuss this.
Furthermore, I see from your public activity that you right now probably flooded all the investigated projects with your findings as a cheap way to do a user survey (I guess) - it would be great if you would actually take your time and show your appreciation of the individual projects by bringing this to the proper ve

[2015-08-06 12:34] #4198 closed

[2015-08-06 12:55] roikr opened #4199 "ofFbo issues on ios platform"
ofFbo on ios is broken in HEAD commit (edbbc1911)

it is working on 0.84 so something went wrong on 0.9 in master.
using standard allocation and calling it in update or draw,
will cause ignoring following drawing to main frame buffer.

UPDATE1:
the problem is with defaultFramebufferId first initialization, more specifically

void ofGLRenderer::setup(){
#ifdef TARGET_OPENGLES
	// OpenGL ES might ha

[2015-08-06 13:01] bilderbuchi commented on #4199
Hey @roikr, thanks for you bug report. Did you read the CONTRIBUTING.md document, like the New issue form asked you to? Specifically, [this section](https://github.com/openframeworks/openFrameworks/blob/master/CONTRIBUTING.md#report-a-bug) is important for you, as it tells you what information we need to properly deal with bug reports.
Thank you!

[2015-08-06 13:42] bakercp commented on #4198
It does feel like a lot of people like @arturoc are working at 110% capacity though -- so maybe the algorithm accounts for that ;)

[2015-08-06 14:21] procedural commented on #3864
Just saw this on Phoronix: ["GCC 5 Is Causing Headaches For Ubuntu Touch Developers"]((http://phoronix.com/scan.php?page=news_item&px=GCC-5-Ubuntu-Wily-Headaches))

:D

[2015-08-06 14:27] avilleret commented on #4194
for now the only way I found to generate project for `tutorials/shader/*` is to use the `projectGeneratorLegacy` and choose the `update` option.

but I can't build them, here is the error I got for the first two :

[code]

so my question is still unsolved :-/

[2015-08-06 14:29] procedural commented on #3340
Bad news: MinGW doesn't support DirectShow. Good news: MinGW-w64 does. That's why I got DS player working few months ago.

Since MinGW which shipped with Code::Blocks 13.12 [doesn't have C++11 features](https://github.com/openframeworks/openFrameworks/issues/3864#issuecomment-128191298) required for compiling openFrameworks anyway, and MinGW-w64 can target both 32-bit and 64-bit binaries, we can e

[2015-08-06 14:37] avilleret opened #4201 "can't build projectGenerator/commandLine"
still running after a working project for building shader tutorials (see #4194), I tried to build what looks like a command line tool project generator to my eyes, but it fails with :

[code]

any hint ?

[2015-08-06 14:41] ofZach commented on #4194
is there someone who has responsibility for these tutorials?  It seems like moving them to their own repo and out of the main repo would be good as they are maybe orphaned here?  Their role in the repo has never been clear to me, but I do think having a way of promoting "example packs" would be interesting to consider post 0.9.

[2015-08-06 14:42] ofZach commented on #4194
@avilleret the syntax for programmable renderer has changed, it now looks like:

    ofGLWindowSettings settings;
    settings.setGLVersion(3,2);
    ofCreateWindow(settings);
    ofRunApp(new ofApp);

[2015-08-06 14:43] ofZach commented on #4201
can you move this issue to https://github.com/openframeworks/projectGenerator ?

[2015-08-06 14:47] ofTheo commented on #3864
@procedural - so should we use GCC 4.8.1 then?
Here is a page on its C++11 support: https://gcc.gnu.org/gcc-4.8/cxx0x_status.html

[2015-08-06 14:49] avilleret commented on #4201
sure, here it is : https://github.com/openframeworks/projectGenerator/issues/7

then I'm closing this one and let you put the appropriate label (duplicate ?)

[2015-08-06 14:49] #4201 closed

[2015-08-06 14:51] procedural commented on #3864
@ofTheo since CB 13.12 uses TDM-GCC under the hood, I guess we can grab the latest feature reach version: [tdm64-gcc-4.9.2-3](http://sourceforge.net/projects/tdm-gcc/files/TDM-GCC%20Installer/Previous/1.1309.0/)

[2015-08-06 14:54] ofTheo commented on #3340
@procedural sounds good! ( and also makes sense - I hammered away on ofDirectShowPlayer with MinGW for a day or so and couldn't get it to build - glad it wasn't just me :)

When your ready if you want to upload an updated codeblocks_additionasl.zip somewhere - we can update it on the site.

many thanks!

[2015-08-06 14:54] procedural commented on #3864
what the hell, c++...

[2015-08-06 14:59] ofTheo commented on #3864
@procedural - sounds good.  Looking at Clang's C++11 support "Minimal support for garbage collection" is also missing http://clang.llvm.org/cxx_status.html

[2015-08-06 15:01] procedural commented on #3864
@ofTheo good to know! I hope it will be missing for a next decade.

[2015-08-06 15:04] procedural commented on #3340
Nice! Yea, I will post a link on it here when it'll be ready

[2015-08-06 15:32] tallavi commented on #4171
@sterlingcrispin, according to @arturoc, the problem is that poco and openssl needs to be rebuilt. But it fails. Can you try to follow his instructions too?

[2015-08-06 16:01] arturoc commented on #3340
what if instead we use msys2 mingw and get the external dependencies from their repos? that way we avoid having to update most of apothecary for mingw too

[2015-08-06 16:12] procedural commented on #3340
That would be ideal scenario

[2015-08-06 16:17] procedural commented on #3340
One thing to note: MSYS2 requires environment paths to be set by users so that IDEs could see libraries and compiler executables, and I'm not aware of another solution for that. I've described it here: https://github.com/ofnode/of/wiki/Instructions-for-Windows#msys2-and-eveditor

[2015-08-06 16:21] arturoc commented on #3340
i mean we can still pull them manually for 0.9 but that way we avoid having to compile them and for the next release we can create a install script that installs the necessary dependencies. since it seems to be using pacman probably the install_dependencies from arch linux will work with some minor adjustments

[2015-08-06 16:23] arturoc commented on #3340
does it include static libraries or only dynamic?

[2015-08-06 16:24] procedural commented on #3340
It does, they're in their `lib` directory

[2015-08-06 16:27] procedural commented on #3340
Not exactly, they use prefixes for libraries to distinguish between 64 and 32-bit architectures, take boost for example: it exists as `mingw-w64-x86_64-boost` and `mingw-w64-i686-boost` package.

[2015-08-06 16:30] sterlingcrispin commented on #4171
Yes I successfully rebuilt them, and boost, and tried many versions of the
NDK without success.
On Aug 6, 2015 8:32 AM, "tallavi" <notifications@github.com> wrote:

[2015-08-06 16:34] arturoc commented on #3340
then we can copy those to the OF repo and pack msys2 gcc by now, that way we would only need to compile poco and tess2 to finish code blocks, right?

[2015-08-06 16:38] procedural commented on #3340
Exactly.

You mean packed in `codeblocks_additions.zip` for Code::Blocks?

[2015-08-06 16:40] procedural commented on #3340
By the way, I use their master version 1.7.0 because it contains most of the fixes for MinGW compiler family, 1.6.0 that Apothecary currently uses might require heavy patching...

[2015-08-06 16:42] arturoc commented on #3340
yes, otherwise libraries won't be compatible

mmh, we've been using 1.4 without problem with mingw what's the problem with 1.6?

[2015-08-06 16:44] procedural commented on #3340
1.6 didn't have fixes for MinGW-w64

[2015-08-06 16:50] procedural commented on #3340
Ah, no, I remember incorrectly, 1.6.0 was fine, the version before that required heavy patching. Still some headers were missing: https://github.com/ofnode/of/blob/8a00d02/dev/patches/poco_mingw_fixes.patch

[2015-08-06 16:58] arturoc commented on #4171
@tallavi or @sterlingcrispin can you check: https://github.com/arturoc/openFrameworks/tree/android19libs

[2015-08-06 17:02] arturoc commented on #3340
ok great that should make things much simpler

[2015-08-06 17:04] procedural commented on #3340
By the way, will there be a distinction between 32 and 64-bit libraries for MinGW? Currently there's `win_cb` folders with 32-bit libs only.

[2015-08-06 17:06] kylemcdonald commented on #4194
@ofZach i think it's @julapy and @joshuajnoble who wrote the shader tutorials.

they go with http://openframeworks.cc/tutorials/graphics/shaders.html and the text is hosted in https://github.com/openframeworks/ofSite/tree/master/_tutorials

one alternative would be to create a new repo that has both the text and the example code, and use scripts to package up the tutorials with the releases & publ

[2015-08-06 17:07] arturoc commented on #3340
yes i think so except from what you said before: directshow will only work on 64bit mingw, no? then it probably doesn't make sense to support 32bit any more unless we default to quicktime instead of directshow there

[2015-08-06 17:09] procedural commented on #3340
I've compiled 32-bit openFrameworks with MinGW-w64 since it can target both architectures, so I think it will work, didn't tested it in application yet

[2015-08-06 17:11] arturoc commented on #3340
i know but mingw 64 will only work in 64bit windows so it wouldn't make much sense to target 32 in that case i guess. most people using OF for projects where you might have the need for targeting 32bit while working on 64 will be using visual studio. for teaching, for example with ofSketch, people will run apps on their own machines so it wouldn't make much sense to support 32bits if you can only

[2015-08-06 17:13] gavelino commented on #4198
Hi,

The percentage represents the files of the system that developers are considered author, but our approach allows more than one author by file. So the sum of developer's authorship can be higher than 100%.

[2015-08-06 17:14] procedural commented on #3340
I think it can compile on 32-bit machines, [i686 installer](http://msys2.github.io/) is available on their website.

Plus, when you think about Windows users... They're special flowers, let's say :) No many people will reinstall licensed Windows just to code something simple, if we're talking about beginners...

[2015-08-06 17:19] arturoc commented on #4194
just fixed the  examples so they work with 0.9.

you can always generate the project files for any project by running the project generator simple over it

the original idea of the tutorials folder was that over time people would contribute more tutorials and that having them with the OF download would make it easier to learn OF and somehow compensate for the lack of documentation in some areas.

[2015-08-06 17:21] arturoc commented on #3340
mingw64 will only work on 32bit no? and the i686 installer won't work with direct show according to what you said, right?

[2015-08-06 17:31] joshuajnoble commented on #4194
Agree, if there's only one it doesn't feel quite right. Potentially though if there's several dozen tutorials that would really swell the size of the download, which is already quite large.

[2015-08-06 18:01] procedural commented on #3340
There are two compiler toolchains, MinGW and MinGW-w64.

MinGW is 32-bit and can produce 32-bit binaries only. It doesn't support DirectShow and the project is pretty much dead by now -- last stable version is from September 5, 2013. Code::Blocks ships with it.

MinGW-w64 is an alternative project that includes several new APIs (such as DirectShow) and provides 64-bit support. It is maintained and

[2015-08-06 18:09] avilleret commented on #4201
I agree with most of the comment, but it doesn't really answer the question on how to build tutorials.
Thanks to @arturoc for the up-to-date code.
But I think a tutorial targets beginner, then its build workflow should be easy to understand and to do.
At least it should be documented somewhere.
For now the only way I found is to use the legacy project generator.
And I have to run it for each tutor

[2015-08-06 18:10] avilleret commented on #4194
I agree with most of the comment, but it doesn't really answer the question on how to build tutorials.
Thanks to @arturoc for the up-to-date code.
But I think a tutorial targets beginner, then its build workflow should be easy to understand and to do.
At least it should be documented somewhere.
For now the only way I found is to use the legacy project generator.
And I have to run it for each tutor

[2015-08-06 18:11] arturoc commented on #3340
ah i see, i thought mingw64 was mingw compiled for 64bits. ok that should work then

[2015-08-06 18:13] procedural commented on #3340
What's about the folder structure for 64-bit MinGW-w64 libraries, we currently have only `win_cb` for 32-bit

[2015-08-06 18:16] ofTheo commented on #4198
wow - this is super grim terminology.
could also be called falling piano factor, ebola factor? :)

Seriously though I think the % is not accurate at least for me ( ofTheo ).
A lot of that might come from when we moved OF from SVN to Git - I think I was the one that set it up.

If instead your code looked at commits made to a file or a new file added after the creation date and initial few repo com

[2015-08-06 18:17] arturoc commented on #4194
as i said before you can also use the projectgenerator simple to update projects just run it pointing the path to an exisiting project or folder with source code.

the fact that this is not easy to do is that theoretically this would be included in the downloadable packages and there wouldn't be no need to run any scripts since the scripts for every platform would be already there. since we never

[2015-08-06 18:19] ofTheo commented on #3340
@procedural maybe do the same as https://github.com/openframeworks/openFrameworks/tree/master/libs/glfw/lib/vs

[2015-08-06 18:21] procedural commented on #3340
@ofTheo ok, that looks fine

[2015-08-06 19:22] julapy commented on #4194
yeah the idea at YCAM was to start making more tutorials and making them easy to find by OF users, so we put them into a tutorial folder because it was more structured then the examples folder and came with documentation for all the tutorials.

maybe we can add them to examples?

[2015-08-06 19:32] bilderbuchi commented on #4194
2df142200332ee4fa2faad97732a5775df278c29: moved shader examples into tutorial section.

The circle is complete! ^.^

[2015-08-07 00:39] sterlingcrispin commented on #4171
@arturoc same thing

/Users/sterlingcrispin/code/openFrameworks-android19libs/libs/poco/lib/android/armeabi-v7a/libPocoFoundation.a(Thread.o):Thread.cpp:function Poco::ThreadImpl::runnableEntry(void*): error: undefined reference to 'sigemptyset'
/Users/sterlingcrispin/code/openFrameworks-android19libs/libs/poco/lib/android/armeabi-v7a/libPocoFoundation.a(Thread.o):Thread.cpp:function Poco::ThreadI

[2015-08-07 11:08] div1234522 commented on #1028
I am also unable to save OF_IMAGE_GRAYSCALE images using saveImage/ofSaveImage function. I always get a black image, though of the correct dimensions. Happens in png/jpg/etc all formats.

ofx 0.84 + Win 10 + CB 13.12 + Freeimage 3.15 (Included in ofx)

Please help.

[2015-08-07 12:24] procedural commented on #3340
One detail we missed, though, is include folders which are shared between libraries. For example, boost in openFrameworks has version 1.58.0, MSYS2 currently provides only 1.57.0.

[2015-08-07 12:25] arturoc commented on #4171
can you try again? there where flags in other places that were making apothecary still compile those libraries with android-21. it's linking for me fine now with android-19 but don't have an android 4 device to test.

i've recreated the branch so there's no more libraries than necessary in the git history so you'll probably need to remove your local branch before pulling it again or pull it into a

[2015-08-07 12:29] procedural commented on #3340
Easily fixable by making separate include folder for CB, but man, Boost's include folder is around 14 MB in size and has over 1500 files...

[2015-08-07 12:31] procedural commented on #3340
Or we can use libraries from 1.57.0 and include folder from 1.58.0 hoping that 1.58.0 doesn't introduced anything compile-time breaking

[2015-08-07 12:48] arturoc commented on #3340
mmh yeah didn't thought of that, no then we'll need to compile them or find out a way to do some kind of script the way we use it in linux

[2015-08-07 12:51] procedural commented on #3340
i.e. make Apothecary build CB libraries :)

[2015-08-07 13:27] arturoc commented on #3340
yeah i'm going to look into it

[2015-08-07 15:06] arturoc commented on #3340
i'm trying to compile with msys2 but mingw64 gcc is crashing, have you got it to work?

[2015-08-07 15:14] procedural commented on #3340
@arturoc yea, ofnode/of compiles with it, didn't tried this repo yet since libraries outdated.

[2015-08-07 15:16] procedural commented on #3340
@arturoc I'm on Windows 7, btw

[2015-08-07 16:16] arturoc commented on #3340
mmh i'm on windows 8.1 and it's crashing for me without any errors, it just dies. are you using /mingw64/bin/g++ as compiler?

[2015-08-07 16:20] arturoc commented on #3340
ok, just show that you are using clang...

[2015-08-07 17:48] DomAmato commented on #3819
Has this been fixed and can be closed?

[2015-08-07 18:15] DomAmato commented on #3848
This seems to be an issue with the URI in poco. When I debug the file path is correct in |

    void ofAppGLFWWindow::drop_cb(GLFWwindow* windowP_, int numFiles, const char** dropString) {
	ofDragInfo drag;
	drag.position.set(ofGetMouseX(), ofGetMouseY());
	drag.files.resize(numFiles);
	for(int i=0; i<(int)drag.files.size(); i++){
                //dropstring[i] gives the correct path
		drag.files

[2015-08-07 18:50] arturoc commented on #3848
this is fixed in master

[2015-08-07 19:10] sterlingcrispin commented on #4171
Hey I downloaded that repo as a zip, set it up for ndk r10e, and got it building to a Nexus 7 tablet on 4.4.2

when I first tried to sync gradle and do a build it had a missing file at

toolchains/arm-linux-androideabi-4.9/prebuilt/darwin-x86/bin/arm-linux-androideabi-g++

I have a bunch of versions of the NDK and none have that g++ file in that directory, they're all in darwin-x86_64 , I just cop

[2015-08-07 20:25] DomAmato commented on #3848
So then it should be safe to close this issue. I was just going through the issues seeing if we could pare things down a bit

[2015-08-07 20:58] DomAmato commented on #3630
This has been fixed has it not?

[2015-08-07 22:10] DomAmato commented on #3548
I don't think this is supported in WMF as playing in reverse doesn't seem well supported in the newest media handling from windows, its an ugly affair and requires thinning the frames depending on the codec which leads to choppy playback. This isn't an issue currently as the video player doesn't utilize WMF rather DirectShow but in going forward if it is upgraded this will be a problem.

[2015-08-07 22:24] DomAmato commented on #3566
Doesn't that seem verbose though and I am not sure clear makes sense to beginners who aren't familiar with the GL verbage. I lean more towards making things easier for beginners because advanced users will know workarounds or be more familiar with the codebase anyways.

Adhering to standards makes sense but a lot of standards are also written for people with some background knowledge of that code

[2015-08-07 22:40] DomAmato commented on #3678
My concern is that if we do this and it does clash on other systems it means recompiling libs and also bloats the size with redundant libraries (I think there are like 3 zlib.libs currently already). Does this require a recompile of the openCV libs or just the inclusion of those libraries because if it is the latter I think it would be better to have those libraries included with the addon rather

[2015-08-07 23:01] DomAmato opened #4202 "Issue Slimming"
Slightly meta to make an issue about trimming down issues but as of me writing this there are 520 issues and I think at least a few of them have been resolved though never closed. I've gone through and commented on a few and some are duplicates like:

https://github.com/openframeworks/openFrameworks/issues/1743
https://github.com/openframeworks/openFrameworks/issues/3068

the above aren't fixed to

[2015-08-07 23:14] DomAmato commented on #3366
Couldn't we just make it a function overload so that it would look something like this:

    void ofScale(const ofPoint & p) { ofScale(p.x, p.y, p.z); }

[2015-08-07 23:38] vanishing opened #4203 "g++ 5.2.1 on Ubuntu 15.10 having a lot of undefined references when compiling project"
Hi,
After upgrading to g++ 5.2.1 on Ubuntu 15.10, I am getting a lot of errors similar to:
[code]
when compiling projects, any idea what is going on?

Dependencies are met...

[2015-08-07 23:56] DomAmato commented on #914
I think this should work should it not:

    string ofGetDataPathRoot(){
	return dataPathRoot().string;
    }

[2015-08-08 00:23] DomAmato commented on #4202
https://github.com/openframeworks/openFrameworks/issues/728
https://github.com/openframeworks/openFrameworks/issues/1960

These are now handled are they not with the clamped(operator) that is in ofColor

[2015-08-08 00:26] bakercp commented on #3366
PR it :)

[2015-08-08 00:35] DomAmato commented on #4202
https://github.com/openframeworks/openFrameworks/issues/224
https://github.com/openframeworks/openFrameworks/issues/1134

These are in ofMath? I feel like i might be misunderstanding 1134's request but that the older issue is addressed

[2015-08-08 00:50] vanishing commented on #4203
Running compilePG.sh complains:
[code]

[2015-08-08 02:15] bakercp commented on #4146
`lsb_release` is not on raspbian by default, so I'm going to use a slightly different approach to getting the current version like this:

https://askubuntu.com/questions/450298/how-to-get-ubuntu-distributions-full-code-name

[2015-08-08 02:37] DomAmato commented on #4098
https://github.com/openframeworks/openFrameworks/issues/3068
https://github.com/openframeworks/openFrameworks/issues/1743

Not exactly examples since its actually the inverse though it is an example of issues when dealing with windows data types

[2015-08-08 03:48] vanishing commented on #4203
Relevant info:
[code]
[code]

[2015-08-08 09:58] PetrosKataras commented on #4203
I think its related to this https://github.com/openframeworks/openFrameworks/issues/3864#issuecomment-128193563 . You can still enable the old ABI though. See [here](https://gcc.gnu.org/gcc-5/changes.html#libstdcxx) and [here](https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html) .

[2015-08-08 10:04] joaodafonseca commented on #1145
Any update on this issue?

[2015-08-08 11:08] arturoc commented on #3340
@procedural, which version of poco are you using? for me 1.6.0 won't link properly in both 32 and 64 bits. even the prepackaged version in msys2 pck manager has some linking problems

[2015-08-08 11:22] procedural commented on #3340
Does it throws link errors on you? I can read them, can you paste them here?

[2015-08-08 11:26] arturoc commented on #3340
if i compile poco using clang it fails on every symbol used in OF:

[code]

if i use the precompiled packages it fails only on Poco exceptions and a couple of HTTP objects but still unfixable unless we removed all of ofHttpFileLoader from the mingw version

[2015-08-08 11:27] arturoc commented on #3340
that's the command line for the linker btw:
[code]

[2015-08-08 11:33] procedural commented on #3340
Ah, yes, I remember those. Try to pass all static *.a libraries between:

[code]

and

[code]

link flags, like I do [in CMakeLists.txt here](https://github.com/ofnode/of/blob/master/openFrameworks.cmake#L548-L552). Since we live in 21 century and recursive search for symbols in static libraries is unresolved problem in computer science for some reason, libraries which have circular dependencies b

[2015-08-08 11:40] arturoc commented on #3340
no, same output with:
[code]

the poco libraries depend on each other but the order is correct and the undefined symbols are not in poco itself but in OF as if it wasn't finding the poco symbols at all. i could try compiling poco as shared library

[2015-08-08 11:45] procedural commented on #3340
@arturoc including openFrameworks.a:

[code]

[2015-08-08 12:08] arturoc commented on #3340
no, same thing with
[code]

[2015-08-08 12:12] procedural commented on #3340
Interesting. Can you send me a zip file of static libraries you've compiled to iamvfx@gmail.com ? I'll try to link them too

[2015-08-08 12:23] arturoc commented on #3340
i think, i've found the problem i'm recompiling now. which flags do you use to compile poco?

[2015-08-08 12:25] procedural commented on #3340
@arturoc ah, you're right, I use an extra define when compiling Poco: [`POCO_STATIC`](https://github.com/ofnode/of/blob/master/CMakeLists.txt#L410)

[2015-08-08 12:27] procedural commented on #3340
Plus, I patch Poco to force [`POCO_NO_AUTOMATIC_LIB_INIT`](https://github.com/ofnode/of/blob/master/dev/patches/poco.patch#L50-L58) define which implies implicit linking that caused me problems a year ago.

[2015-08-08 12:39] arturoc commented on #3340
yay! compiling OF with -DPOCO_STATIC works, now it won't run because it can find some dynamic libraries but almost there.

[2015-08-08 12:40] arturoc commented on #3340
ok, adding the path to /mingw32/bin it runs

[2015-08-08 13:45] arturoc commented on #3340
do you remember getting something like:

[code]

there's a ton more like that, if i remove strmiids from linking it goes away but then i get some undefined symbols. that library is in your cmake config: https://github.com/ofnode/of/blob/master/CMakeLists.txt#L600 and is also included in visual studio

[2015-08-08 14:09] procedural commented on #3340
Yea, it's in `mingw64\x86_64-w64-mingw32\lib` for 64-bit or in `mingw64\i686-w64-mingw32\lib` for 32-bit library

[2015-08-08 14:16] procedural commented on #3340
Oh, just noticed you've got multiple definition thing... No, I haven't seen that

[2015-08-08 14:17] procedural commented on #3340
I like how he points:

[code]

Defined WHERE? They're not even in openFrameworks: https://github.com/openframeworks/openFrameworks/search?utf8=%E2%9C%93&q=AM_KSCATEGORY_DATACOMPRESSOR

[2015-08-08 14:19] procedural commented on #3340
They're in Theo's DShow headers: https://github.com/ofTheo/videoInput/search?utf8=%E2%9C%93&q=AM_KSCATEGORY_DATACOMPRESSOR

But I don't use those, MSYS2 provides its own which work for me.

[2015-08-08 14:20] vanishing commented on #4203
Thanks for the info, where should I define the _GLIBCXX_USE_CXX11_ABI macro though?

[2015-08-08 14:34] procedural commented on #3340
Oh, by the way, maybe it shows error like that because there's was no debug symbols when openFrameworks.a was compiled? If you add `-g` flag and rebuild the library we can see where exactly redefinition happens

[2015-08-08 14:42] arturoc commented on #3340
yes i had seen that, but i don't think it's coming from there, that's just a demo.

what do you mean that you don't use those headers? do you patch the OF code somehow?

[2015-08-08 14:45] arturoc commented on #3340
the output is the same in debug, `libopenFrameworks.a(ofDirectShowPlayer.o):(.rdata+0x1af0): first defined here` here being that offset in ofDirectShowPlayer.o.

but yes it's surely from some header included from ofDirectShowPlayer

[2015-08-08 14:55] procedural commented on #3340
Try to remove [these](https://github.com/procedural/openFrameworks/blob/6c60a7f/libs/openFrameworks/communication/ofSerial.h#L19-L22) and [these](https://github.com/procedural/openFrameworks/blob/6c60a7f/libs/openFrameworks/communication/ofSerial.cpp#L20-L23) lines!

[2015-08-08 14:57] procedural commented on #3340
I think I accidentally reintroduced `initguid.h` [in this PR](https://github.com/openframeworks/openFrameworks/pull/4200) because I tested it with old MinGW of Code::Blocks which forced me to have it there, I think we don't need them there

[2015-08-08 15:02] procedural commented on #3340
Yea, `uuids.h` includes `ksuuids.h` which has `AM_KSCATEGORY_DATACOMPRESSOR` in it, so added initguid.h in that PR can be my mistake

[2015-08-08 15:05] arturoc commented on #3340
yeah that worked thanks!

[2015-08-08 15:05] procedural commented on #3340
PR the fix?

[2015-08-08 15:08] procedural commented on #3340
https://github.com/openframeworks/openFrameworks/pull/4204

[2015-08-08 15:12] procedural commented on #3340
Did that worked when you removed lines from both `ofSerial.h` and `ofSerial.cpp` or only from `ofSerial.cpp`?

[2015-08-08 15:43] chuckleplant opened #4205 "ofNode global matrix caching"
I went ahead and coded ofNode global matrix caching. Before PR-ing I wanted to discuss whether it's a good approach. You can see the changes [here](https://github.com/chuckleplant/openFrameworks/blob/feature_node_caching/libs/openFrameworks/3d/ofNode.cpp) in a feature branch.

What this change does is computing the global matrix only if the local matrix changes. To do so every node keeps not only

[2015-08-08 16:01] PetrosKataras commented on #4203
I would try right at the top of [ofConstants.h](https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworks/utils/ofConstants.h) after the #pragma once. Set to 0 and try to recompile OF.

[2015-08-08 16:10] vanishing commented on #4203
Unfortunately that didn't quite work..
[code]

[2015-08-08 16:12] vanishing commented on #4203
and in the end:
[code]

[2015-08-08 16:51] PetrosKataras commented on #4203
Ok. Then remove it and try to add -D_GLIBCXX_USE_CXX11_ABI=0 to PLATFORM_CFLAGS in the linux [config file](https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworksCompiled/project/linux64/config.linux64.default.mk#L40) and see if that helps?

[2015-08-08 16:56] bakercp commented on #3340
Keep up the epic work fellows, I'm cheering you on from Chicago :)

[2015-08-08 17:01] vanishing commented on #4203
Okay, I think I owe you a beer PetrosKataras.
If you come to Toronto :)

[2015-08-08 17:56] PetrosKataras commented on #4203
Cool, i ll keep that in mind :)

[2015-08-08 17:57] #4203 closed

[2015-08-08 18:48] bilderbuchi commented on #1743
I'll close this in favour of #3068

[2015-08-08 18:48] #1743 closed

[2015-08-08 18:52] bilderbuchi commented on #4202
@DomAmato would be great if you would just comment on the affected issues themselves (i.e. flag them for closing, or close-as-duplicate, etc), that way the people originally discussing it can pick any further discussion up, if necessary.
Also re #224, I don't see a Gaussian random noise in ofMath, but I only glanced over it - could you point it out if you don't mind?

[2015-08-08 18:53] bilderbuchi commented on #4202
I'll close this, please discuss anything further in the relevant issues. Thanks for caring about removing duplicates and reducing the number of open issues, though!

[2015-08-08 18:53] #4202 closed

[2015-08-08 18:54] #3819 closed

[2015-08-08 18:55] #3848 closed

[2015-08-08 19:00] bilderbuchi commented on #4205
ping @openframeworks/2d-3d

[2015-08-08 20:33] procedural commented on #3340
Ok, I've tested in ofnode/of and, indeed, you don't need to include `initguid.h` in both ofSerial.h and ofSerial.cpp to compile and run ofApp with MinGW-w64 and DirectShow.

@bakercp Arturo does most of the work now, since we can't pull libraries from MSYS2. But I still can test Code::Blocks projects when Arturo's compiled libraries appear here

[2015-08-08 20:41] tallavi commented on #4171
Sorry for disappearing. I had a mega-crisis over at my own project. I now tested and verified on both Android5 and Android4!

[2015-08-08 21:02] mhashmi commented on #4171
Thanks a lot @arturoc -- working perfectly here as well.

[2015-08-08 21:02] #4171 closed

[2015-08-08 23:43] arturoc commented on #3630
yes i moved this to the apothecary root

[2015-08-08 23:43] #3630 closed

[2015-08-09 08:25] arturoc opened #4206 "emscripten setup guide"
- where to download and how to install emscripten.
- the emscripten download is included in the desktop one
- just compile with `emmake make` from a console or any ide that supports make and run by following the instructions from make or `emmake make run`

[2015-08-09 08:28] arturoc opened #4207 "mingw windows"
I have mingw windows compiling using msys2. msys2 includes a package manager, linux style, so i'm using a install_dependencies script as we do in linux and have added apothecary scripts for the missing libraries.

I propose to have that as a platform to run things like ofSketch and only support makefiles and drop codeblocks support in windows. The main reasons are that codeblocks hasn't get much b

[2015-08-09 08:50] arturoc commented on #4205
isn't it easier to just keep a dirty flag for each node's local transformation? when a node needs it's global it just transverses the hierarchy checking if anything is dirty, if it is it recalculates the parent transform otherwise it uses the cached global. having so many collections to transverse seems kind of complicated for something that probably won't optimize a lot i think

[2015-08-09 09:08] arturoc commented on #4171
@bilderbuchi to solve this i've change the android toolchain to 19 and now travis is failing. can you take a look?

[2015-08-09 11:17] arturoc commented on #4097
closed by #4108

[2015-08-09 11:17] #4097 closed

[2015-08-09 11:18] arturoc commented on #3864
this would be fixed by https://github.com/openframeworks/openFrameworks/pull/4208 except that we don't support code blocks any more

[2015-08-09 11:19] arturoc commented on #3828
@PetrosKataras is taking a look at the scaling issue with assimp

[2015-08-09 11:25] arturoc commented on #3365
this is fixed by https://github.com/openframeworks/openFrameworks/pull/4208

[2015-08-09 11:38] arturoc commented on #3851
it seems this happened already sometime ago:

https://github.com/openframeworks/openFrameworks/issues/1694

we solved it by rolling back to the previous version of FMOD but i'm not sure which version that was.

[2015-08-09 11:40] arturoc commented on #3851
also changing the buffer size to 1024 in the sound stream fixes the problem as it happened with #1694 so it's surely something that could be fixed by rolling back to the old version of FMOD. FMOD ex is anyway deprecated in all it's versions so it shouldn't be a problem to go back a couple of versions

[2015-08-09 11:50] arturoc commented on #4147
@bakercp can you try to change the std flag for rapsbian to -std=c++0x?  in config.linux.common.mk line 124 there's a sequence that detects the gcc version and uses c++0x through c++14 depending on the compiler. can you fix it to c++0x to see if it fixes the undefined symbol?

[2015-08-09 12:08] arturoc commented on #3851
Ok so this won't be fixed. The oldest version which is available in fmod page is 43405 which already has the problem. We were using 42200 but that's not available any more and the binary we were using was 32bit only so it won't work now.

Anyone with this problem should use 1024 as buffer size in the sound stream by now. We'll try to update to the newer fmod studio or to a different api for sound

[2015-08-09 12:08] #3851 closed

[2015-08-09 13:28] chuckleplant commented on #4205
Yes you're right. No need to keep all children nodes listed. I'll give it a try.

[2015-08-09 13:34] ofZach commented on #3851
I seemed to remember this also related to a header / library mismatch but I could be wrong.

It might be good to put in a small example with the larger buffer size with some notes so we can point people in the right direction and / or some way of automatically preventing them from creating this ear shattering tone .  I remember this bug hurting really bad when I was out installing somewhere, it's

[2015-08-09 13:37] ofZach commented on #4207
+1 seems like a good approach.   it also keeps open the possibility of a mingw based IDE working down the line and helps ofSketch.

[2015-08-09 13:40] ofZach commented on #3774
@arturoc for the release (And to close this issue) I'm still waiting for feedback from IOS and to do a small change to remove system libs from the sidebar (but keep them linking).  Should be able to do this later today and then we can double check / close this issue.

[2015-08-09 13:47] #3365 closed

[2015-08-09 13:47] #3340 closed

[2015-08-09 13:48] #3864 closed

[2015-08-09 13:49] arturoc commented on #4207
btw, we only have 32bits version of mingw by now, there's no 64bit version of fmodex but once we have a different sound system it's pretty trivial to compile for 64bits, in fact is just a matter of changing some prefixes in the install_dependencies script and the windows specific makefile

[2015-08-09 13:49] #4207 closed

[2015-08-09 14:10] chfakht opened #4209 "error when running the script ./install_dependencies.sh on raspberry pi B+"
Hi ,
i want to use openframworks on my raspberry pi B+ , so i have downloaded "of_v0.8.4_linuxarmv6l_release" ,after extraction and giving permission i runned ./install_dependencies.sh but i get the following errors

inserting gstreamer 1.0 repository
rm: cannot remove `/etc/apt/sources.list.d/gstreamer.list': No such file or directory
touch: cannot touch `/etc/apt/sources.list.d/gstreamer.list':

[2015-08-09 14:25] i-n-g-o commented on #3851
a workaround for this is to synchronize the buffersizes of ofSoundStream and ofSoundPlayer.
This PR adds `ofFmodSetBuffersize` to ofFmodSoundPlayer.
https://github.com/openframeworks/openFrameworks/pull/4210

so this one works:
[code]

[2015-08-09 14:29] arturoc commented on #4209
i think you are running install_dependencies without sudo. in any case most bugs should be fixed against the latest version in github so if you still have problems after running the script with sudo or su try using the nightly builds

[2015-08-09 14:29] #4209 closed

[2015-08-09 15:48] bakercp commented on #4147
Yes, will check it today

On Sun, Aug 9, 2015, 6:50 AM arturo <notifications@github.com> wrote:

[2015-08-09 16:00] admsyn commented on #4049
The issue seems to be that the PG isn't keeping `$(OF_CORE_FRAMEWORKS)` in the linker flags when adding addons w/libs. So the resulting linker flags are
[code]
instead of
[code]

[2015-08-09 16:25] groolot commented on #4146
my experience tells me to follow what @bakercp suggested. it is better, i think, to test the g++ availability with correct C++ flavour instead of testing the distribution.

[2015-08-09 16:37] ofZach commented on #4049
checking...

[2015-08-09 17:01] admsyn commented on #4049
@ofZach it may be that the PG on the build server is out of date. Or at least, I don't see the same effect with my local copy of the PG.

[2015-08-09 17:17] #3828 closed

[2015-08-09 17:18] ofZach commented on #4049
is the tool that generate the nightlies up to date with the latest changes on the project generator?  I think this has been fixed previously.  When I generate examples using the tools it's ok.   I'm not 100% certains, but I think this problem happens when you use an old PG tool with the newer template, since libs were moved around.

[2015-08-09 17:20] ofZach commented on #4049
(sorry on a slow internet !  just like @admsyn says... )

[2015-08-09 17:55] arturoc commented on #4147
i'm getting the same in the server that builds the packages, which also runs debian wheezy, and changing to c++0x doesn0t fix it there. i'll take a look at it from there but it's probably a problem in that package in wheezy. we could recomend using arch linux by now in the PI which works pretty well

[2015-08-09 19:27] bilderbuchi commented on #4171
yeah I'll take a look

[2015-08-09 19:39] bilderbuchi commented on #4207
@arturoc can you make that setup work/compile on appveyor? afaik, mingw is supported by appveyor, so would be cool if that were included in our CI builds

[2015-08-09 19:43] bilderbuchi commented on #4171
btw, did the PR you made not fail/show that failure?

[2015-08-09 19:49] bilderbuchi commented on #4171
@arturoc which version of the NDK is the appropriate one for toolchain 19?

[2015-08-09 19:54] bilderbuchi opened #4214 "Fix broken Android CI builds"
@arturoc broke the Android builds on Travis with 9ede51464b2624899d91cce6072becd977032475 / https://travis-ci.org/openframeworks/openFrameworks/builds/74739344. This was not caught by a PR before landing in master. I currently don't have time to hunt this down, so I'll leave an issue.

One (to me) open question: which version of the NDK is the appropriate one for toolchain 19?

[2015-08-09 20:00] tallavi commented on #4171
I switched to 10e when compiling/testing. 10b didn't compile.

[2015-08-09 20:03] bilderbuchi commented on #4171
hm, we're on 10e right now (but a slimmed-down one because of travis memory problems). my suspicion is that toolchain 19 needs some file that it was ok to rip out in 21 (although I think we're not [_that_ aggressive](https://github.com/openframeworks/openFrameworks/blob/master/scripts/ci/android/NDK_excludes.txt))

[2015-08-09 20:11] bilderbuchi commented on #4049
I guess @arturoc can answer that.

[2015-08-09 20:12] bilderbuchi commented on #4171
btw opened #4214 for any further discussion

[2015-08-09 20:25] bilderbuchi commented on #4214
Problem found: I previously stripped out all android-1* toolchains, since we were on 21 already, so toolchain 19 got stripped out.
@arturoc can you add the android-19 folder to the ndk file, recompress and upload to our server [as before](https://github.com/openframeworks/openFrameworks/blob/1f6f6813908b4df56b6742d79fd21f27c9bed205/scripts/ci/android/install.sh#L14-L15)? Then you'll have to delete

[2015-08-09 20:50] DomAmato commented on #4202
No prob, I have been combing through and addressing the simple feature requests too that require very minor additions to code so hopefully can close another handful of issue on small requests

[2015-08-09 21:01] arturoc commented on #4214
yes that seems to be the problem i'll recreate the package tomorrow and upload it to our server again. that should solve it.

thanks!

[2015-08-09 21:02] arturoc commented on #4049
yes this seems to be the problem i've been trying to update it today but it's failing i'll take a look tomorrow but i think it's just a matter of updating it

[2015-08-09 23:04] procedural commented on #4081
I'll fix it later and PR.

Would've been great if you could update ofNode too! It has this clamp as well:

https://github.com/openframeworks/openFrameworks/blob/1f6f681/libs/openFrameworks/3d/ofNode.cpp#L340

[2015-08-10 01:37] roymacdonald commented on #4081
@procedural that the line I was referring to. ofCamera inherits from ofNode.
best

[2015-08-10 04:48] kylemcdonald commented on #4202
what @bilderbuchi said -- but also, if you have an idea about any more general approaches to slimming the issue list, post to of-dev. that's a great place for more meta discussions!

[2015-08-10 06:20] charlesveasey commented on #4097
I still have the NetworkInitializer name conflict with PocoNetmdd.lib. Were the POCO libs updated?

[2015-08-10 09:50] #4147 closed

[2015-08-10 10:03] chfakht commented on #4209
thanks but this is weird : i have give all permission with chmod to the user

[2015-08-10 10:05] avilleret opened #4215 "3DPrimitivesExample segfault"
here is the step to reproduce :

1. Run the 3DPrimitiveExample
2. Enter Mode 3 (where faces moves)
3. Reduce vertex resolution by pressing `1` for example.

Then it crashes.

Here is the full backtrace.

[code]

[2015-08-10 10:34] arturoc commented on #4209
the script uses apt-get when it runs which needs root permissions so it's not so much about the permissions of the script but the permissions required by what it runs

[2015-08-10 10:46] kimasendorf opened #4216 "ofImage load crashes again with certain sizes in 0.9.0"
Hi,

the ofImage load function crashes with certain images resolutions. I tried various sizes, most work with out problems but some produce a bad access.

I've seen it already happened in 0.7 (https://github.com/openframeworks/openFrameworks/issues/1066) with the same symptoms, but now it points to ```__x = _VSTD::move(__y);``` in 'swap()'.

[code]

test sizes:

4334x2889 -> bad access
4334x2890 -

[2015-08-10 10:52] arturoc commented on #4216
any specific format?

[2015-08-10 11:01] kimasendorf commented on #4216
I just tested jpegs. Here are my files: http://kimasendorf.com/_of/test-images.zip

[2015-08-10 11:22] arturoc commented on #4216
thanks, this fixes it for me but let me know if it's still a problem.

[2015-08-10 11:22] #4216 closed

[2015-08-10 11:39] kimasendorf commented on #4216
fixes it for me too! thx =)

[2015-08-10 12:08] arturoc commented on #4214
just recreated the packages using the new PG if anyone can check that they are working properly now?

[2015-08-10 12:08] arturoc commented on #4214
sorry, wrong issue :)

[2015-08-10 12:09] arturoc commented on #4049
just recreated the packages using the new PG if anyone can check that they are working properly now?

[2015-08-10 13:20] ofTheo commented on #3566
I think its rare that you need to use ofClear ( unless your working with FBOs ) and most of the time people use ofBackground its just to set the background color of the window ( not so much to clear the screen ).

So I think switching most ofBackground calls in the examples to ofSetBackgroundColor will make a lot of sense for people learning OF.

I think there is only a few cases in the examples w

[2015-08-10 13:23] ofTheo commented on #914
I would be in favor of ofGetDataPathRoot
maybe with a non hidden absolute argument?

`string ofGetDataPathRoot( bool bAbsolute );`

[2015-08-10 13:39] ofTheo commented on #4049
@arturoc - just ran the assimp example from the nightly builds and the scale seems to be working perfectly now! also built and compiled without issue.

[2015-08-10 13:40] #4049 closed

[2015-08-10 14:57] arturoc commented on #4214
i changed the package in the server and cleaned the cache and it's working again. thanks!

[2015-08-10 14:57] #4214 closed

[2015-08-10 17:01] #4146 closed

[2015-08-10 17:02] bakercp commented on #4147
I can confirm this is fixed on RPI2.  In the process of testing RPI1.

[2015-08-10 17:11] bakercp opened #4217 "ofMap divide by zero warning causes RPI to slow to an unusable speed under some conditions"
In some cases, such as with the 3DPrimitivesExample, if the ofMap params lead to a divide by zero ofLog warning, which, in the case of RPI2 runs in the background and slows the app down so much that you can't interact with the app anymore.

I'd recommend that we document the fact that we explicitly avoid divide by zero errors and remove the logged warning, or make it verbose.

[2015-08-10 17:12] arturoc commented on #4215
@bakercp @tpltnt this seems to be related to the changes you've done to use unsigned types. the example is constantly printing:

[code]

and git blame points to you 2 : )

can you take a look?

[2015-08-10 17:13] bakercp commented on #4215
Yep, I assumed it was my fault and am looking at it now. :)

[2015-08-10 17:25] arturoc commented on #4215
the problem seems to be that ofConePrimitive passes a negative index which is incorrect. it comes from the calculation for the strides on the set methods but even fixing that so the strides are minimum 0 there's still some weirdness in getMeshForIndices. For example:

[code]
always sets `bFoundLessThanZero` to true which seems incorrect

[2015-08-10 17:28] bakercp commented on #4215
Oh, that is strange.  @arturoc are you handling this one then or should I keep going?  If not, I'll continue working on a few more fixes for the raspberry pi g++-4.8/4.9 issues etc.

[2015-08-10 17:33] arturoc commented on #4215
i'll take a look, seems the issue happens even with the last version using ints but the ofMesh implementation is incorrect

[2015-08-10 17:34] bakercp commented on #4215
Cool.  Good luck :)

[2015-08-10 17:44] #4215 closed

[2015-08-10 17:46] arturoc opened #4218 "of3dPrimitive example rendering is messed up in mode 3"
Some changes to of3dPrimitive have break the rendering in the mode where the faces bounce away from the primitives.

[2015-08-10 17:59] avilleret commented on #4215
thanks for the quick fix @arturoc !

[2015-08-10 19:39] bakercp opened #4219 "Update RPI Makefiles to newer compiler requirement for cross compiling"
Just adding this as a note -- not necessarily required for 0.9.0.

These sections should be updated:

https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworksCompiled/project/linuxarmv7l/config.linuxarmv7l.rpi2.mk#L194-L238

https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworksCompiled/project/linuxarmv6l/config.linuxarmv6l.default.mk#L193-L238

[2015-08-10 20:29] DomAmato commented on #167
dusting this one off. Has there been any ideas about how to address this? the most current master uses fmod for VS 32/64 bit builds

[2015-08-10 20:46] DomAmato commented on #728
I think this is fixed and can be closed as they are handled by a specific clamping function depending on the type of operation performed

[2015-08-10 20:46] DomAmato commented on #1960
I think this is fixed and can be closed as they are handled by a specific clamping function depending on the type of operation performed

[2015-08-10 20:55] DomAmato commented on #914
I'll take a look since the code i posted above obviously only gives the absolute path, shouldnt be too difficult

[2015-08-10 21:21] DomAmato opened #4220 "Move issues labeled as ProjectGenerator to the ProjectGenerator Repository"
Currently there are 25 open issues labeled as project generator and they probably belong on the project generator repository can we shift the issues over there?

[2015-08-10 21:34] DomAmato opened #4221 "Update ofArduino to newest Firmata Version 2.4.4"
I have been keeping up with the Firmata revisions and there are some features that I have adapted over time like Stepper Motor, Encoder, I2C, and almost all of the OneWire protocol. https://github.com/brinnLabs/Robust-Firmata/tree/master/openframeworks%20Libraries

The current code is outdated and wrong in terms of its capabilities. I am opening this issue because some of the feature set are not p

[2015-08-10 21:45] DomAmato commented on #224
How should we name this feature? ofGaussian with an overloaded function? or is this meant to replace the ofRandom functions?

[2015-08-10 22:02] kylemcdonald commented on #728
alternatively, casting ofColor to ofVec4f would be a workaround for the cases where you want unclamped colors. right now, this is still broken in my opinion:

[code]

[code]

[2015-08-10 22:04] DomAmato commented on #249
Im scrubbing through the code base ill keep an eye out for naming consistencies

[2015-08-10 22:05] kylemcdonald commented on #1960
yes, this is fixed now. the output is:

[code]

closing. thanks!

[2015-08-10 22:05] #1960 closed

[2015-08-10 22:07] kylemcdonald commented on #4220
whether the project generator should exist in it's own repo is an open question as far as i know. @ofzach @oftheo @arturoc have discussed whether submodules are the right way to go or not in this case.

if they plan on moving it into this repo, i suggest leaving the issues here. if they plan on keeping it a submodule, i suggest moving the issues over then closing this one.

[2015-08-10 22:07] DomAmato commented on #728
what should the output look like?

[2015-08-10 22:13] kylemcdonald commented on #224
i'm think the api would just be `ofRandomGaussian(float mean = 0., float std = 1.)` and it would not replace `ofRandom`.

[2015-08-10 22:15] ofZach commented on #4220
I think we can move it over to OF as @ofTheo suggest, at the moment it's a bit odd since there's code in the OF repo (in addons) and in the project generator repo (the visual layer).  I think if we can unify everything having it in one repo is fine.   We're very close to making just one tool (command line w/ visual GUI) and I think that will be the right moment to do the move.

[2015-08-10 22:15] kylemcdonald commented on #728
this is the correct default behavior, but there should be a way of making some small modification so the output is `0.5, 0.5, 1` (i.e., the addition was unclamped). this could be by changing the behavior of the colors, or by converting them to `ofVec4f` like: `ofFloatColor c = ((ofVec4f) a + b) / 2;`

[2015-08-10 22:16] kylemcdonald commented on #4220
closing this issue, assuming that the PG will be moved to the main OF repo pretty soon and we don't need an issue for that.

[2015-08-10 22:16] #4220 closed

[2015-08-10 22:25] soundanalogous commented on #4221
You could update ofArduino in such a way that you can infer based on the Firmata configuration query which features are supported. Then throw an error if a user attempts to use an unsupported feature (the error should ideally point the user to the more full featured version of Firmata).

[2015-08-10 22:53] ofTheo opened #4223 "Issue with Xcode settings for RC1"
Some differences between the Xcode files which were working ( in the nightly build) and the ones in RC1.

RC1 has ( and nightly doesn't )
[code]

RC1 has
[code]

whereas nightly has 10.8 ( I think that is the min for 0.9 )

Nightly had ( and RC1 doesn't )
[code]

Also Nightly has the newer RSYNC copying scripts for run script phase which makes me think the template used by RC1 is an older template

[2015-08-10 23:00] ofTheo commented on #4223
So I think the main issue is its not using the correct template in: https://github.com/openframeworks/openFrameworks/blob/master/scripts/osx/template/emptyExample.xcodeproj/project.pbxproj

It looks like its using the template from the last release:
https://github.com/openframeworks/openFrameworks/blob/0.8.4/scripts/osx/template/emptyExample.xcodeproj/project.pbxproj

[2015-08-10 23:09] ofTheo commented on #4218
ping @NickHardeman as I think he made that example.

[2015-08-10 23:10] bakercp commented on #249
@DomAmato let's get together soon!  All this fun stuff would be much better with friends and beer.

[2015-08-10 23:11] ofTheo commented on #4217
+1 or switch message to OF_LOG_VERBOSE ?
Incase people want to track down divide by zero?

I often put a breakpoint on that message for fixing input errors.

[2015-08-10 23:12] DomAmato commented on #4221
The configuration query would infer version number on standard firmata right, I actually haven't tried configurable firmata but does it include the modules or would it be something like

    if version # < 2.5 "assume standardFirmata"
    if version # >= 2.7 "assume configurable Firmata"

or should it attempt a sysex and if it returns as an error assume the feature isn't supported. Then just reset

[2015-08-10 23:23] bakercp opened #4224 "Make default linuxarmv7l makefile configuration work for Raspberry Pi / Raspberry Pi 2"
Currently in order to deal with all of the strange configuration issues associated with arm linux distros, we have a variable called `PLATFORM_VARIANT` in our makefiles that allows us to choose which configuration file to use.  For example, on linuxarmv7l, we have three configurations:

https://github.com/openframeworks/openFrameworks/tree/master/libs/openFrameworksCompiled/project/linuxarmv7l

I

[2015-08-10 23:28] bakercp commented on #4217
I've been looking for precedents and the closest I can find is this:

https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworks/gl/ofShader.cpp#L202-L206

I'll bet (?) this was done for similar reasons ...

[2015-08-10 23:28] bakercp commented on #4217
ping @arturoc

[2015-08-10 23:43] soundanalogous commented on #4221
configurable firmata is now a separate project so the version numbers could overlap at some point. What you want to do is look at the pin types returned by the configuration query. There is a unique pin type for each feature. Some examples from ConfigurableFirmata:

https://github.com/firmata/ConfigurableFirmata/blob/master/src/OneWireFirmata.cpp#L26-L32
https://github.com/firmata/ConfigurableFirm

[2015-08-11 00:25] bakercp opened #4225 "Document ofThreadChannel"
Hey all, I'm updated and formatting documentation for the ofThreadChannel, just in case someone else was thinking about it (or doing it?).  It's a very nice class.  Will submit a PR shortly.

[2015-08-11 02:44] julapy opened #4227 "ofFbo not rendering on iOS"
here is a simple test,

[code]

on some older projects this was drawing a red fbo,
on the latest master its not rendering anything.

whats strange is that ive been testing this with one of my apps which records a fbo into a video,
and that works fine.
but when i try to draw that fbo to screen, nothing happens.
perhaps a bug within the draw function somewhere?

[2015-08-11 02:52] DomAmato commented on #249
You have time this week? I will be on vacation the next two weeks but would certainly be game to knock some of these issue out as a tag team =)

[2015-08-11 02:53] bakercp commented on #249
Yeah, later this week would be ideal let's rally Chicago crowd over on http://talk.olab.io.  You want to make a post?

[2015-08-11 03:05] DomAmato commented on #249
sure ill make a post right now

[2015-08-11 05:08] julapy opened #4229 "screen flicker on app launch"
have only see this on osx,
doesn't seem to be happening on ios.

when launching an app, the screen is black for (one or more) frame and then changes to the default background color. when setting `ofBackground(ofColor::red);` in `setup` or `draw`, it shows the same behaviour where the app launches with a black screen and then changes to red.

[2015-08-11 05:40] DomAmato commented on #224
Since there was discussion of moving to the light weight pcg random, they have a c++ implementation. its pretty simple, like 3 files

https://github.com/imneme/pcg-cpp

[2015-08-11 06:19] DomAmato commented on #224
float ofRandomGaussian(float mean, float stddev) {
	std::default_random_engine generator;
	std::normal_distribution<float> distribution(mean, stddev);
	return distribution(generator);
    }

normal distributions were added in c++11 and I believe all of our platforms are now c++11 compliant?

[2015-08-11 06:50] DomAmato commented on #4221
also suggested changes for windows platforms in ofSerial:

    devices.push_back(ofSerialDeviceInfo(string(portNamesFriendly[i]), string(portNamesShort[i]), i));

which if on windows we can do:

    ofSerial	serial;
	vector <ofSerialDeviceInfo> deviceList = serial.getDeviceList();
	for (int i = 0; i < deviceList.size(); i++) {
		if (strstr(deviceList.at(i).getDevicePath().c_str(), "Serial") != NUL

[2015-08-11 07:01] DomAmato commented on #403
Where should it be stored instead?

[2015-08-11 07:15] DomAmato commented on #728
sounds like we will need a function to handle that? how else should we signal the operator to do an unclamped addition followed by a clamped division other than casting, which certainly seems like that would be something that would be application dependent

[2015-08-11 07:29] DomAmato commented on #702
If we compile to a lib I think we could just port the code here to a slightly more robust ofVideoWriter and we wouldn't need all the source files, unless im mistaken

http://www.morethantechnical.com/2013/05/25/ffmpeg-video-writer-now-with-animated-gif-support-w-code/

[2015-08-11 07:42] julapy commented on #702
just wanted to add my 2c to this discussion...

ive written https://github.com/julapy/ofxiOSVideoWriter
which can save a h264 video in real-time by passing AVFoundation a fbo texture.

if there is interest in people using this on OSX,
it should be easily adaptable to OSX too.
in the same way that ofAVFoundationPlayer works on both iOS and OSX.

well thats 2 platforms, which i guess makes it kinda

[2015-08-11 07:53] DomAmato commented on #702
I guess it depends on the paradigm since doing platform native solutions tends to increase the number of classes, there are a dozen video player/grabbers but it would practically keep things consistent if the writers followed a similar format. On the other hand if ffmpeg/some other library could work on all systems we could make an apothecary script to handle building the libs and require fewer cl

[2015-08-11 09:47] arturoc commented on #4217
i don't think setting it as verbose is a good idea. the verbose mode in OF is still super time consuming and if it's not clear why things are slowing down it'll be worse than now.

i've asked several times to remove it since every time i've encountered this error it is solved by the internal logic to return the min value but people use it as a debug point so i guess we have to live with it :)

the

[2015-08-11 09:50] arturoc commented on #4220
i'd vote for keeping it as a separate repo and just add the facilities to add addons from any folder so we can move the common code back to the sub repo. having different repos, makes it more flexible i think even with the occasional problems that git submodules have

[2015-08-11 10:26] kylemcdonald commented on #4229
i can confirm, it started happening around the multiwindow merge i think.

it's not a huge deal, but could make the difference in some performance contexts, or when someone is trying to make something end-user facing with OF.

[2015-08-11 10:28] kylemcdonald commented on #224
yes, i think that's correct. though i'd look at how the seed for ofRandom works, reinitializing it on every call might be a problem?

regardless, if you could write a short example to demonstrate behavior and submit a PR that'd be great.

[2015-08-11 10:31] kylemcdonald commented on #4217
+1 @arturoc

[2015-08-11 11:48] ofTheo commented on #4229
Ah yes. I've seen this issue with glfw. I think I have a fix.
Could you tag this for 0.9?

[2015-08-11 11:50] ofTheo commented on #4217
I'm fine to remove the warning if it's causing slowdown for a platform.  I'd rather that than assert :)

[2015-08-11 12:13] ofTheo commented on #4229
hmm actually I am not seeing this with the RC1 - is there code that can reproduce the issue your having.
Is it only apps which have a slow setup function?

[2015-08-11 13:02] julapy commented on #4229
ive been seeing the issue while working with the latest master and running an app which was empty apart from the code i posted.

might be osx version related, im on 10.10

[2015-08-11 14:22] ofTheo commented on #4229
Ahh - I'm on 10.9.5 - going to check on a 10.10 machine.

[2015-08-11 14:46] ofTheo commented on #4229
Okay I see the issue in master but not in RC1 - so whatever happened to cause it was after the RC1 on August 10th.

[2015-08-11 16:18] ofTheo commented on #4229
okay 0.9.0 RC1 actually is not up to date. its somehow super old.  ( ping @arturoc )
looking at the nightly from Sunday which was more up to date it I see the issue there too.   so it could have been around for a while.

[2015-08-11 16:32] arturoc commented on #4229
why do you think is super old? it's generated by the same script that the nightlies so it's weird that it would be different

[2015-08-11 16:35] arturoc commented on #4229
oh, actually the script is generating from stable so RC1 is 0.8.4 pfff

[2015-08-11 16:45] ofTheo commented on #4229
oh - that makes sense. I just shot an email out on the dev list about that so people didn't start testing RC1 too hard :) - be funny to see all the same bugs get re-reported.

[2015-08-11 16:58] arturoc commented on #4229
:)

[2015-08-11 17:21] ofTheo commented on #4229
Okay I think this issue comes from a change in GLFW as I remember seeing it in our project when we started using the GLFW branch we've been manually maintaining.

I think the issue is that there is a delay between when GLFW creates the window and when you can draw to it and during that time you will see a black window.

Calling glClear() at the end ofApp::setup or at the beginning of ofApp::draw d

[2015-08-11 17:26] ofTheo commented on #4229
actually this seems to work fairly well.

add to line 221 (above  `glfwSetWindowUserPointer(windowP,this);` )
[code]

then add this to update.
//--------------------------------------------
void ofAppGLFWWindow::update(){
    if( ofGetFrameNum() == 0 ){
        glfwShowWindow(windowP);
    }
    events().notifyUpdate();
}

@julapy @kylemcdonald  - could you see if that fixes it for you?

[2015-08-11 17:34] #4225 closed

[2015-08-11 17:37] arturoc commented on #4229
in linux the window is hidden on creation because otherwise the icon won't be set properly so that could be fixing it but this seems very platform specific. all the code in glfw is mostly different per platform.

anyway we are already hidding the window in linux so it probably only requires removing a couple of ifdef's

[2015-08-11 17:53] ofTheo commented on #4223
this is due to the wrong branch being used for online PG

[2015-08-11 17:53] #4223 closed

[2015-08-11 18:15] bilderbuchi commented on #4220
as long as we're voting, I'm for keeping it in the main repo - less potential for the issue to fall to neglect, organiziation-wise we have had the issue label  for the PG for a long time, and things like code desynch between the main repo and the PG (due to not having updated the submodule), or the packaging script or nightly builder using the "wrong" PG version are not possible.

[2015-08-11 19:25] bilderbuchi commented on #249
@bakercp @DomAmato check out [this issue label](https://github.com/openframeworks/openFrameworks/labels/code-review). :-)

[2015-08-11 19:29] bakercp commented on #249
@bilderbuchi nice tip -- as we don't have the authority to single (or dual) handedly make code-review issues, I think our focus is going to be on 0.9.0 bug fixes and documentation.

[2015-08-11 19:32] bilderbuchi commented on #249
I'd think you _do_ have that (and it's just an issue label :-P) - it's just that that label has only been used to collect the output from that workshop, so I'm hesitant to tag more stuff with it (although it would make sense)

this is a very sensible suggestion - let's get 0.9.0 out the door, and _then_ start nibbling away on other things!

[2015-08-11 19:35] bakercp commented on #249
@bilderbuchi are you sure you can't forego child-rearing for a bit longer and keep herding the oF cats for a little bit longer post 0.9.0? :+1:

[2015-08-11 19:55] bilderbuchi commented on #249
well, _that_ is not the reason I'm pushing for it. ;-) :P We shall see, I probably won't disappear completely...

[2015-08-11 20:11] bilderbuchi commented on #3690
@chuckleplant is this still an issue with latest master?

[2015-08-11 20:17] bilderbuchi commented on #3560
is this still an issue with current master?

[2015-08-11 20:19] bilderbuchi commented on #3871
@arturoc did you fix that in the meantime?

[2015-08-11 20:21] bilderbuchi commented on #4199
thank you.
ping @openframeworks/2d-3d

[2015-08-11 20:27] bilderbuchi commented on #3554
no follow up by reporter, closing this.

[2015-08-11 20:27] #3554 closed

[2015-08-11 20:28] bilderbuchi commented on #3406
is this still occuring in current master?

[2015-08-11 20:28] bilderbuchi commented on #3483
is this still occuring with current master?

[2015-08-11 20:28] bilderbuchi commented on #3482
is this still occuring with current master?

[2015-08-11 20:31] bilderbuchi commented on #3785
@arturoc @ofTheo should we patch this in our copy of oscpack? otherwise, I'll close this

[2015-08-11 20:33] bilderbuchi commented on #3687
@arturoc can we fix this on our end? when Travis switches to 14.04, we'll probably run into this bug?

[2015-08-11 20:34] bilderbuchi commented on #3892
@arturoc @bakercp any follow-up on this?

[2015-08-11 20:34] bilderbuchi commented on #3892
@dimitre is still occuring in latest master?

[2015-08-11 20:35] bilderbuchi commented on #3931
no feedback from OP, closing this.

[2015-08-11 20:35] #3931 closed

[2015-08-11 20:36] DomAmato commented on #249
[![Cat Herder](http://img.youtube.com/vi/m_MaJDK3VNE/0.jpg)](https://youtu.be/m_MaJDK3VNE "herding cats")

[2015-08-11 20:37] bilderbuchi commented on #3805
is this still occurring in latest master?

[2015-08-11 20:48] ofTheo commented on #3785
I think we probably should patch it in.
@galsasson can you send a PR to our master branch?

Thanks. Theo

[2015-08-11 20:52] bakercp commented on #3785
for what it's worth, here's a similar problem / solution from the forum

http://forum.openframeworks.cc/t/osc-on-ipod-touch-7-1-assertion-fail/20260

[2015-08-11 21:41] braitsch opened #4231 "ofxKinect: no available devices found"
Hello,

I just tried running the latest ofxKinect example against the latest on master and it's not seeing my Kinect(model 1656). The camera works fine however with the latest [Protonect/libfreenect2](https://github.com/OpenKinect/libfreenect2).

Any ideas?

[code]

Cheers,
Stephen

<img width="1030" alt="ofxkinect" src="https://cloud.githubusercontent.com/assets/144289/9211411/e8894cfc-4036-11e5-

[2015-08-11 21:44] ofTheo commented on #4229
huh - I don't see a glfwHideWindow call in ofAppGLFWWindow - all I see is: https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworks/app/ofAppGLFWWindow.cpp#L207

On linux is the window hidden by default?

[2015-08-11 21:44] arturoc commented on #3785
can you send the PR to https://github.com/arturoc/oscpack? i forked oscpack yesterday there to fix something else so the latest changes are there. i'll copy it into ofxOsc then

[2015-08-11 21:49] #3871 closed

[2015-08-11 21:55] ofTheo commented on #4231
ofxKinect doesn't currently support Kinect V2 and probably won't.
Most likely we would include the ofxKinectV2 addon for V2 usage.

[2015-08-11 21:55] #4231 closed

[2015-08-11 21:56] arturoc commented on #4229
oh it's actually hidden at the beginning in every platform: https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworks/app/ofAppGLFWWindow.cpp#L143

[2015-08-11 21:57] #3483 closed

[2015-08-11 22:01] ofTheo commented on #3785
@arturoc OF's oscpack differs from upstream FYI.
I had to add some changes to allow port reuse - I don't think these were ever pulled to upstream.

see: https://github.com/openframeworks/openFrameworks/commit/0b42a71a31184d7e554d97b8af77251605a697fe

and discussion:
https://github.com/openframeworks/openFrameworks/pull/3210

[2015-08-11 22:03] ofTheo commented on #4229
ahh - would it be bad to move the glfwShowWindow to the first update call?
It would pretty much solve this issue - but not sure what new issues it might introduce.

for what its worth - we've used this approach on a major project and not had any negative side effects.

[2015-08-11 22:05] arturoc commented on #3785
i know i added those patches back in my repo

[2015-08-11 22:06] arturoc commented on #4229
i think it should be ok

[2015-08-11 22:24] braitsch commented on #4231
Awesome, thanks Theo for the explanation. I just pulled down your v2 addon and it appears to be working well.

Cheers,
Stephen

[2015-08-12 04:43] DomAmato commented on #1691
I am with @elliotwoods  on this issue since you are coming at it from the perspective of a beginner. More advanced users can familiarize themselves with the code base if they are worried about handling cpu/gpu functions. OF is supposed to make it easier for beginners to make things and begin coding. It doesn't have to teach them about the complexity of openGL functions or the interaction of draw t

[2015-08-12 06:37] DomAmato commented on #224
I dont think that the seeding works because it deals with a different subset of code. std::normal_distribution requires the <random> header to be included and an engine to be created. We could create a static initialization. I think we would need multiple functions though because in order to set the parameters of the distribution (if someone decides to change it like how it is posted above) you ha

[2015-08-12 06:47] DomAmato commented on #224
also c++11 added in a lot more random features:

bernoulli_distribution
binomial_distribution
cauchy_distribution
chi_squared_distribution
discrete_distribution
exponential_distribution
extreme_value_distribution
fisher_f_distribution
gamma_distribution
geometric_distribution
lognormal_distribution
negative_binomial_distribution
normal_distribution
piecewise_constant_distribution
piecewise_linear_

[2015-08-12 12:44] galsasson commented on #3785
Do you guys still want a PR to master? I lost track

[2015-08-12 13:21] arturoc commented on #3785
no, to my fork.

i'll move it later to the openframeworks code, that way it's easier to send back changes to the original author

[2015-08-12 14:04] kylemcdonald commented on #224
I see, in that case the original version makes sense I think :) my
intuition was just that creating an object might be "slow" and there could
be some faster way, but send a PR and maybe someone else has more insight :)

I don't think any of the other distributions are common enough for our
usual applications to include.

On Wednesday, August 12, 2015, Dominic Amato <notifications@github.com>
wrote

[2015-08-12 14:39] arturoc commented on #224
we should be using thread_local storage for this so this calls are thread safe. although thread_local statics are not yet well supported by clang and old versions of gcc so you'll need to use:

[code]

not sure if using an anonymous namespace instead of static would allow to use thread_local under clang:

[code]

also perhaps we shouldn't be wrapping things like this that are available in the std

[2015-08-12 14:56] ofTheo commented on #4229
okay I made a PR for this at #4232
I also added hide window just before the window is closed as there was a similar black flicker when the window was closed which this fixed.

I'll merge this in a bit if there aren't any objections.

[2015-08-12 15:01] galsasson commented on #3785
done

[2015-08-12 17:20] gavelino commented on #4198
Thank you for the comments. We really appreciate the feedback.

Our research is under development and the answers we are receiving for this survey will help to better interpret the results and improve our approach.

@ofTheo we pretend to study as a projects Truck factor changes over time in future.

[2015-08-12 17:53] #4229 closed

[2015-08-12 18:27] arturoc commented on #3785
thanks!

[2015-08-12 18:27] #3785 closed

[2015-08-12 18:40] plural opened #4233 "mac os x: new project with ofxEmscripten fails to compile due to EGL/egl.h"
this is with 0.9.0RC1_osx_release on os x 10.10.4

Steps:
 - open project generator
 - select ofxEmscripten addon
 - generate new project
 - open project in Xcode & build
 - build fails with addons/ofxEmscripten/src/ofxAppEmscriptenWindow.h:14:10: 'EGL/egl.h' file not found

[2015-08-12 19:03] bilderbuchi commented on #3785
@arturoc is it feasible to keep all the changes to original oscpack source as patches in apothecary or whatever? that way it would be easier to both keep up-to-date, and keep track of our custom tweaks (although I'm not sure if oscpack is still really maintained, and won't disappear when Google shuts down google code)

[2015-08-12 19:06] bilderbuchi commented on #224
that also sounds like a sensible approach.

[2015-08-12 20:28] kylemcdonald commented on #3774
another one to try this on is ofxEdsdk, which includes the EDSDK framework.

the structure for the EDSDK addon itself might be wrong, as it was established a while ago...

[2015-08-12 20:38] ofZach commented on #3774
cool I'll take a look.  As long as the framework ends with ".framework" and is somewhere in the libs path,  it should work -- this is the parsing logic, btw:

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxProjectGenerator/src/utils/Utils.cpp#L256-L280

it's called against the "addonName/libs" folder:

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxP

[2015-08-12 20:52] danthemellowman commented on #3774
ping @admsyn to see how the plugin does it...
cause the plugin works.

On Wed, Aug 12, 2015 at 1:38 PM, ofZach <notifications@github.com> wrote:

[2015-08-12 20:54] admsyn commented on #3774
@danthemellowman it just uses Xcode's internal logic to determine if a thing is a framework

https://github.com/openframeworks/OFXcodeMenu/blob/master/OFPlugin/OFPlugin.m#L523-L533

Under the hood I believe it's reading a file UTI

[2015-08-12 20:56] danthemellowman commented on #3774
@admsyn could that work be ported to the project generator?

On Wed, Aug 12, 2015 at 1:54 PM, Adam Carlucci <notifications@github.com>
wrote:

[2015-08-12 21:00] ofZach commented on #3774
I think that would be osx specific (the PG is cross platform) but from the docs, I think it has to be named ".framework":

https://developer.apple.com/library/mac/documentation/MacOSX/Conceptual/BPFrameworks/Concepts/FrameworkAnatomy.html#//apple_ref/doc/uid/20002253-BAJEJJAB

I think the only issue is false positivies, ie. if someone made a folder called blah.framework in their addon that wasn't

[2015-08-12 21:15] arturoc commented on #4233
emscripten doesn't work like that, it's not supported on xcode or the project generator. we'll publish a setup guide soon but right now you can only compile for the web from a console. go to the directory where the project is located and type:

[code]

that will build the project and give you more help on how to run it. Here's a write up that explains pretty well how to use it on mac: http://www.r

[2015-08-12 21:16] #4233 closed

[2015-08-12 23:08] DomAmato commented on #224
Still I wonder if we shouldn't port more of openframeworks over to C++11 standards and utilize the other random distribution engines. Pretty much all of ofRandom can be done using uniform_int_distribution or uniform_real_distribution since right now we are using rand() which is then put through a series of operations because of this http://www.azillionmonkeys.com/qed/random.html and in ofMath.h it

[2015-08-13 00:04] ofTheo commented on #224
actually this was suggested recently.
see: #3890

also if you want to read the worlds longest issue discussing random :)
#3842

[2015-08-13 01:19] julapy commented on #4233
have been digging around the emscripten docs and found this about building emscripten in visual studio,
http://kripken.github.io/emscripten-site/docs/getting_started/getting_started_with_emscripten_and_vs2010.html#getting-started-emscripten-from-visual-studio

[2015-08-13 02:15] julapy opened #4234 "emscripten can not compile ofxGui"
its tripping up on a Poco include inside ofxXml.

btw, should we add a emscripten label in our github issues @bilderbuchi?

[2015-08-13 03:03] DomAmato commented on #224
no kidding, I got worried when I looked to see how far I had made it into the thread and was only about 1/3rd of the way through.

Is there a preference to how its handled? I can test it on osx but obviously my main platform is windows. I will see how the thread local statics work and report back.

[2015-08-13 03:15] DomAmato commented on #224
btw i've been dumping tests into a branch on my fork and will submit separate PR for each feature set but for those curious its here:
https://github.com/DomAmato/openFrameworks/tree/OFTinkering

[2015-08-13 05:54] roymacdonald commented on #4081
Ok. so I just fixed this.
it is here.
https://github.com/roymacdonald/openFrameworks/tree/fix-ofNodeOrbit
I tested it with the code in this gist
https://gist.github.com/roymacdonald/8d8e2260c593209e3918
Shall I PR?

[2015-08-13 08:11] #4234 closed

[2015-08-13 10:17] mrzl opened #4235 "Compilation of ProjectGenerator"
I hope this is sufficient:

deploy@marchi:~/Downloads/of_v0.9.0RC1_linux64_release$ cd scripts/linux/
deploy@marchi:~/Downloads/of_v0.9.0RC1_linux64_release/scripts/linux$ ls -l
total 56
drwxr-xr-x 2 deploy deploy 4096 Aug 12 00:19 archlinux
drwxr-xr-x 2 deploy deploy 4096 Aug 12 00:19 archlinux_armv6
-rwxr-xr-x 1 deploy deploy 1018 Aug 12 00:19 buildAllExamples.sh
-rwxr-xr-x 1 deploy deploy  509

[2015-08-13 11:14] thomasvanta opened #4236 "Compushaders examples bundled in osx release"
0.9.0 rc1

[2015-08-13 14:27] obviousjim opened #4238 "ofParameter needs ofParameter<uint64_t> type"
working with ofParameter is problematic when you need high precision numbers. For example, storing milliseconds of very long sequences.

same argument could be made to include doubles as well as floats
@arturoc / @ofTheo  Is there something preventing this or a reason against it? I'd be happy to implement it.

[2015-08-13 15:08] plural commented on #4233
thanks, Arturo.  Why is the xcode project generated if it can't be used?  I guess this is veering into feature request territory, but it would be nice to not generate project files that can't be used and to remind users in the project generator that things need to be a bit different for this project.  I'm happy to file that as a feature request instead of leaving it here if you would like me to.

[2015-08-13 15:32] tgfrerer commented on #4081
+1 looks sound =)

[2015-08-13 16:03] arturoc commented on #4238
you can create an ofParameter of any type you want, do you mean ofxSlider?

[2015-08-13 16:05] arturoc commented on #4081
yes send a PR

[2015-08-13 16:23] dlan-fr opened #4239 "TrueTypeFont with Emscripten: Random crash and / or incorrect glyph rendering"
Spotted using the fontExample source code, depending of the Emscripten output, the example will either crash, or render antialiased glyph incorrectly. Probably caused by a known emscripten / freetype bug, see :
(https://github.com/juj/emscripten-freetype/commit/5af357ae531632a4ea4991863f4ba77c3366eda2?diff=unified)

Antialiased glyph incorrectly rendered:

![antialiased](https://cloud.githubuserco

[2015-08-13 16:33] roymacdonald commented on #4238
doesn't this k

[2015-08-13 16:59] mrzl opened #4241 "ofxOpenCv compilation fails - RC0.9"
This occured on Win8.1, when the ofxOpenCv addon is added.

opencv_calib3d249.lib(fundam.obj) : error LNK2038: mismatch detected for '_ITERATOR_DEBUG_LEVEL': value '0' doesn't match value '2' in main.obj
2>opencv_calib3d249.lib(fundam.obj) : error LNK2038: mismatch detected for 'RuntimeLibrary': value 'MD_DynamicRelease' doesn't match value 'MDd_DynamicDebug' in main.obj
2>opencv_calib3d249.lib(ca

[2015-08-13 17:17] obviousjim commented on #4238
righ --  i'm referencing the built in functions of ofParameterGroup getters, which connects to ofxSliders

[2015-08-13 17:32] ofTheo commented on #4241
thanks for the report - do you get this same error when you run the examples/addons/openCvExample?
Or only when adding the addon to a new project?

[2015-08-13 17:32] ofTheo commented on #4241
ping @DomAmato too.

[2015-08-13 17:33] ofTheo commented on #4241
also if you build in release instead of debug does the issue go away?

[2015-08-13 17:42] DomAmato commented on #4241
Look at the project settings in visual studio. The project generator doesn't parse the included libs properly so it includes the debug and release libs. You will see that it includes both the the debug and none in the release so if you manually change the included libs in the linker menu it will compile. Also make sure the right architecture is linked and setup in the additional libraries also in

[2015-08-13 17:47] ofZach commented on #4241
hmm, I don't think we had this problem in the past.   maybe then we should add to this file:

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxOpenCv/addon_config.mk

rather then rely on parsing from the FS?  also, do you think it makes sense just to use the release libs for both targets?

[2015-08-13 17:51] ofTheo commented on #4241
I think VS won't compile in Debug if it doesn't have the Debug libs as it changes the size of objects for debugging.  So in debug you need to be linking against the debug libs ( as far as I remember )

[2015-08-13 17:56] #4239 closed

[2015-08-13 18:00] arturoc commented on #4238
for ofParameterGroup you can always use `group.get<uint64_t>(name)`

for sliders we'll need to add the corresponding type. i'll add the types in ofxGui later

[2015-08-13 18:04] obviousjim commented on #4238
OK that makes sense, closing for now!

[2015-08-13 18:04] #4238 closed

[2015-08-13 18:22] ofZach commented on #4241
@arturoc @bakercp what if we added to addon_config.mk the ability to specify release and debug libs?
would this have an impact on the makefile system?

it would be easy to add the parsing on the PG side here:

https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxProjectGenerator/src/addons/ofAddon.cpp#L203-L205

at the moment, an addon just has a pile of libs:

https://github.com

[2015-08-13 18:57] gorkacortazar commented on #4241
@ofZach i think it mixes two separate problems, one is the one I reported in #4038. The second one is that now we have separated libraries for i386 and x64 builds, and the PG doesn't recognise the structure and add all the libraries to all architectures.

One thing that that I have been thinking is that maybe is not necessary to build the same solution for both architectures... Just a thought.

[2015-08-13 20:10] jvcleave opened #4242 "0.9.0 RC1 Failing to compile on RPI1"
Haven't dug in much yet but here is what I am getting out of the box

[code]

[2015-08-13 21:18] jvcleave commented on #4242
looks like g++ 4.8 is required but the install_dependencies script will fail to find it as it is searching for

`g++4.8`

this works for manual install (regex needs dash)

`sudo apt-get install g++-4.8`

[2015-08-13 21:26] dimitre opened #4243 "0.9.0 RC1 Project Generator - unrecognized selector sent to instance 0x7fe8168b4490"
I've tried to generate a new project with some addons, and XCODE gives me an error while trying to open the new project

[code]

![screen shot 2015-08-13 at 6 25 57 pm](https://cloud.githubusercontent.com/assets/58289/9262098/c44a2326-41e8-11e5-812a-fee7254c9564.png)

Thanks

[2015-08-13 21:28] ofZach commented on #4243
quick note, this is fixed with this PR which hasn't been merged yet but should be!

https://github.com/openframeworks/openFrameworks/pull/4170

[2015-08-13 21:28] dimitre commented on #4243
ok thanks @ofZach

[2015-08-13 21:28] #4243 closed

[2015-08-13 21:30] ofZach commented on #4243
(ps: just to double check, what are the addons you are adding?  I'm assuming one of them has a framework involved?)

[2015-08-13 21:31] dimitre commented on #4243
@ofZach I've noticed Syphon is causing this but I can check if any other

[2015-08-13 21:33] ofZach commented on #4243
yep!  that has a framework, this PR (listed above) will fix this for sure.

[2015-08-13 22:04] arturoc commented on #4241
having the possibility to specify flags for debug and release in addons_config.mk makes sense but we could also have the possibility of *optionally* having:

[code]

which would be pretty straight forward to parse:

[code]

[2015-08-13 22:06] arturoc commented on #4242
can you fix the install_dependencies script and send a PR?

[2015-08-13 22:49] jvcleave commented on #4242
I just updated it - I thought it would generate a PR but it just applied it directly - let me know if that causes any issues.

I'm still trying to get it to compile

[2015-08-14 01:00] DomAmato commented on #4241
@gorkacortazar are you suggesting a separate solution for x64 and win32 builds? I would be ok with the PG having an option of selecting one or both architectures but not force them to build different solutions when the ability to switch between architectures is so easy. I could see uses when they may only need one, say a addon that uses a lib thats only 32 bit compatible or something.

as for the

[2015-08-14 02:53] ofZach commented on #4241
as for the separate directory route that was also brought up in the other thread but since my knowledge of the project generator is shallow at best I don't know which particular solution fits best. My intuition is to go the route that requires the least work for people to update their addons to work with OF 0.9.0

it might help to explain a little about the PG --

the way it works is we have a con

[2015-08-14 04:48] gorkacortazar commented on #4241
@domAmato yep basically I think that adds an unnecessary complexity to the
PG. I can't think on any situation that i would like to build both
architectures of the same application, but a think that you decide first.
In osx is very simple, as 32/64 bits libraries are merged in the same file
after compilation, but i couldn't find something similar for VS. In linux,
they have completely separate dist

[2015-08-14 05:32] fx-lange opened #4244 "oF 0.9.0RC1 linux release without libs/.project for eclipse"
the linux release (at least the x64) has no libs/.project file for eclipse. addons and libs/openFrameworks are fine.

[2015-08-14 05:42] fx-lange commented on #4244
just realized that even the master and the android rc1 don't have the project file anymore. is it not needed anymore?

[2015-08-14 07:53] #4081 closed

[2015-08-14 07:57] arturoc commented on #4241
i don't think having different solutions for each arch makes sense. having all the architectures in the same project is pretty standard practice and visual studio has the necesary tools to support it without problem.

even if it won't be very common with OF, if you want to create an application to redistribute, you probably want to create 32 and 64bits binaries, having to keep uptodate to projects

[2015-08-14 07:59] arturoc commented on #4241
btw, we already have different paths for win32 and x64 what we don't have is different paths for debug and release. in most platforms is not needed, well in any except visualt studio but i think it would be trivial to add it for all libraries including the core ones since we are changing the folder structure for 0.9 anyway.

parsing the final d, is way trickier and error prone than looking for an

[2015-08-14 08:00] tgfrerer commented on #4241
Agree with @arturoc. Something we might want to investigate is to use .props file more for visual studio. You can define them per debug / release platform and I've seen very elegant use of them by @elliotwoods.

[2015-08-14 08:01] arturoc commented on #4244
we are not using that project anymore, i need to update the openframeworks project with some changes i've done. since the makefiles output now absolute paths the semantic analisys works pretty much perfectly once you've compiled once. i have an updated .cproject for the core project that i haven't uploaded yet but i'll do before RC2

[2015-08-14 08:01] #4244 closed

[2015-08-14 08:33] gorkacortazar commented on #4241
@arturoc got it, in that case makes complete sense to support both
architectures in the same solution. And the idea to separate in
debug/release subfolders is great.

Agree with @arturoc <https://github.com/arturoc>. Something we might want
to investigate is to use .props file more for visual studio. You can define
them per debug / release platform and I've seen very elegant use of them by
@elliot

[2015-08-14 10:19] ofZach commented on #3774
@kylemcdonald ofxEdSdk works if you change lib to libs (as per https://github.com/openframeworks/ofxAddonTemplate)

<img width="239" alt="screen shot 2015-08-14 at 6 17 39 am" src="https://cloud.githubusercontent.com/assets/142897/9272010/7a0b87dc-424c-11e5-9579-269e4ab0ea3b.png">

[2015-08-14 13:52] kylemcdonald commented on #3774
Great! Did that in the "develop" branch already. Will test later. Thanks!

On Friday, August 14, 2015, ofZach <notifications@github.com> wrote:

[2015-08-14 17:14] DomAmato commented on #4241
I can take a look into utilizing the props files since we already use it for the OF lib build (though it doesn't change or get generated quite the same way) however such a feature should certainly be considered for a later release.

I feel like the separate folders seems to be the easiest solution since we can also change the build scripts to make and separate the libs into those folders. It alrea

[2015-08-14 17:32] jvcleave commented on #4242
ok, a few things

I tried to compile it natively on the RPI overnight but it was still going today so I canceled it. I'm not sure if this would be the same situation on the latest RPI Image

I did get it to compile via my cross-compiler setup using [Virtual Box but had to upgrade that to Jessie](https://gist.github.com/jvcleave/8489b3ec5897eb1a26a2)

The [lines with -mtune=native](https://github.c

[2015-08-15 13:48] avilleret opened #4252 "example/gl/textureBufferInstancedExample doens't work on Intel Graphic card"
I just see fps count on the top left corner
after switching to my nvidia geforce 525M (optimus system) it works

all of this under ubuntu 15.04 64bit with 704cfef

[2015-08-15 13:57] arturoc commented on #4252
i think this is a problem with the intel driver i've never managed to make it work in intel cards either

[2015-08-15 18:46] chuckleplant commented on #3690
I'm afraid I no longer have access to the project that showed this. I'd say it's safe to assume it's no longer an issue. I used gstreamer as an external static library manually picking the gstreamer modules, which is not the usual way to use it.

However there is a slight possibility that someone bumps into this again in the far future. I'll close it and leave it buried in the issue tracker so tha

[2015-08-15 18:46] #3690 closed

[2015-08-15 20:32] underdoeg opened #4257 "Error compiling RC 0.9 on arch linux"
I get this odd error when compiling

[code]

This is on my desktop. On the notebook it seems to be ok. So it must be something related to my system. Maybe another library? This one strikes me as rather strange: ```can not be used when making a shared object;``` Why shared object?

[2015-08-15 20:39] underdoeg commented on #4235
Looks like a packaging error. The ProjectGenerator is within ```apps/projectGenerator/projectGenerator``` instead of ```apps/projectGenerator```

[2015-08-15 21:33] underdoeg commented on #4257
Ok, I still have no idea what this is. But older of version do not compile as well...

[2015-08-16 03:45] ofZach opened #4258 "ofDirectory::createDirectory recursive gives an unnecessary warning"
In trying to remove all the warnings from the project generator, I noticed that when using ofDirectory::createDirectory recursively it works yet throws a warning that the folder exists.   for example, I am trying to create "/temp/test" at the desktop (ie, a nested folder):

    if (ofDirectory::doesDirectoryExist("/Users/zachlieberman/Desktop/temp/test/")){
        cout << "there is a directory at

[2015-08-16 11:47] underdoeg commented on #4257
Definitely only a problem on my desktop. Laptop is fine. Will investigate further and eventually close this a not a bug but issue with my system...

[2015-08-16 13:50] arturoc commented on #4258
i've been testing this and it's working for me fine without the warning. i've this PR: https://github.com/openframeworks/openFrameworks/pull/4259 which adds tests, by now to the filesystem parts of OF, and even on osx everything passes fine. i've created a specific test for this but can't get it to fail.

you can see the results here:

https://travis-ci.org/openframeworks/openFrameworks/jobs/75816

[2015-08-16 14:04] ofZach commented on #4258
the function call is working (so it's making the folder) which might means it passes the test but there's a spurious warning (since create_directories is returning false, even though it is creating directories).

I tried it locally to the data path (as your test) but I still see the warning:

     there is not a directory at this location
     [warning] ofDirectory: createDirectory(): directory al

[2015-08-16 14:11] arturoc commented on #4258
yes, but i don't get the warning either in the tests and if i create the directory it's detecting it correctly and warning so not sure what might be going on

[2015-08-16 14:30] julapy commented on #4227
can any android users check if they are having issues with fbo rendering?
potentially this could be a ES1 / ES2 issue...

[2015-08-16 14:33] ofZach commented on #4258
ok so digging into this abit more, I wonder if createDirectories returns false if *any* of the directories in the path already exist -- on OSX, if I comment out ofToDataPath() which adds ../../../data/ I start seeing success as true (ie, it's creating paths inside the bundle near the actual executable) but with ../../../data/ before paths I see success as false even if the final directory is made.

[2015-08-16 14:42] julapy commented on #4227
can also confirm that the above FBO code doesn't work in emscripten,
which is using ES2... so likely a core ES issue with FBOs

[2015-08-16 15:02] underdoeg commented on #4257
I had hardening-wrapper installed which automatically hardened my executable. Uninstalling it fixed the issue...

[2015-08-16 15:02] #4257 closed

[2015-08-16 16:11] arturoc commented on #4258
that's really strange, even calling ofToDataPath with and without absolute paths it's working without warnings in the tests:

https://github.com/openframeworks/openFrameworks/pull/4259/files#diff-86262fc52b8f00f5926afc5ed75ab4adR114

i've done other fixes in that branch and although i don't think they are related it might have fixed, i'm going to merge it so you can check if it still happens with

[2015-08-16 20:28] bilderbuchi commented on #4234
@julapy why not. will it only always be emscripten or is some more general/more encompassing formulation better? (no idea what, though - webos?) See e.g. the existing linuxarm instead of e.g. raspberrypi.

[2015-08-16 21:51] #4038 closed

[2015-08-16 21:51] #4241 closed

[2015-08-16 23:50] julapy commented on #4234
@bilderbuchi yeah maybe emscripten for now since i think that is what people will be looking for when logging these issues... webos would work if we supported more then one of these JS cross compilers.

[2015-08-17 07:20] jvcleave commented on #4242
some updates

Major issues:
g++-4.8 is not available on Debian Wheezy
The Disk Images distributed by the RPi Foundation are still Wheezy

I tried upgrading my existing SD card to Wheezy via `apt-get dist-upgrade`. It took over a day and didn't work in the end

I used [this project] (https://github.com/debian-pi/raspbian-ua-netinst) and modified it slightly to use Jessie. Jessie is nice in that you

[2015-08-17 14:53] bakercp commented on #4242
@jvcleave for all of my testing, I was able to get 4.8 using the latest raspbian.  Runs fine for me with a RPI2.  Have you tried it w/ the latest raspbian image?

[2015-08-17 16:06] jvcleave commented on #4242
@bakercp You are using OF's Arm7 version though right?

[2015-08-17 16:16] arturoc commented on #4242
check the latest posts in: http://forum.openframeworks.cc/t/0-9-0-release-candidate-1/20434/22  it seems there's an external repo for 4.8 not sure why other people have reported it being available in the default repositories.

we can add something to add that repo in wheezy in the install_dependencies script

[2015-08-17 16:33] bakercp commented on #4242
Yes - so I just burned a brand new raspbian image, and ran

`sudo apt-get install gcc-4.8 g++-4.8`

and it installed.

I used 2015-05-05-raspbian-wheezy.img

I have tested this on a raspberry pi 1 (model A) and raspberry pi 2.

I'm going to run it through a full compile, but I'm pretty sure it will work just like the raspberry pi 2.

[2015-08-17 16:38] arturoc commented on #4242
do you need to specify CXX=gcc-4.8 when calling make?

[2015-08-17 16:40] bakercp commented on #4242
yes you have to specify CXX=g++-4.8 when calling make.

[2015-08-17 16:40] bakercp commented on #4242
or, you can make a symlink to make g++4.8 default.

[2015-08-17 16:42] jvcleave commented on #4242
@bakercp can you post the contents of the sources.list on your new Raspbian image?

[2015-08-17 16:47] bakercp commented on #4242
yeah

[code]

[2015-08-17 16:52] arturoc commented on #4242
there's a standard way to do this in debian rather than creating a symlink manually:

[code]

where 100 is the priority, higher more priority.

we could add this after the detection for wheezy once we figure out why some distros don't seem to have it in their repos

[2015-08-17 16:53] bakercp commented on #4242
@arturoc nice!

[2015-08-17 17:01] arturoc commented on #4242
btw, perhaps we can remove the specific debian_armv6 folder in scripts and just use the normal debian one? i think they are pretty much the same now and if there's something specific like gstreamer omx we can just detect the platform and install it otherwise arm7 is not getting those packages right now and it makes it easier to maintain

[2015-08-17 17:14] bakercp commented on #4242
@arturoc yes -- I'd definitely vote for getting rid of duplicated folders.

[2015-08-17 17:16] arturoc commented on #4242
do any of you want to take care of this?

[2015-08-17 17:18] bakercp commented on #4242
I'm about to run through the whole armv6 process, so I can update it if @jvcleave doesn't get to it first.

[2015-08-17 17:24] jvcleave commented on #4242
I won't be getting into it today

Any thoughts on having libopenFrameworks.a available pre-compiled as part of the release packaging?

[2015-08-17 17:42] bakercp commented on #4242
I wouldn't be opposed to including libopenFrameworks.a for linuxarm*.  Just a little bookkeeping to recompile it and include it w/ the distros.  If we can automate it that would be awesome.  If we can't, I'd say we stick with how we have it now.

[2015-08-17 17:44] arturoc commented on #4242
if people for example want to use it with arch linux or in boards other than the rpi they'll have problems compiling that could be difficult to figure out

[2015-08-17 17:49] bakercp commented on #4242
@arturoc yeah -- I'm with you on that.  The main annoyance / reason for including it is that it takes so long to compile on RPI1.  But the RPI1 is no longer being manufactured and the RPI2 is super fast compiling the lib natively, so I'd tend to say that we should let each user compile the core like they are required to on all other platforms.

[2015-08-17 17:50] arturoc commented on #4242
also i'd rather put time in making a package to make cross-compiling easy

[2015-08-17 18:00] LeoColomb commented on #4235
Should be fixed by #4268, not?

[2015-08-17 18:41] #4235 closed

[2015-08-17 18:44] kylemcdonald commented on #1068
can this be closed since CI is basically working now, and #4259 is the latest work on unit tests?

[2015-08-17 18:53] jvcleave commented on #4242
@bakercp You sure about the RPI1 not being manufactured anymore? There is also the A+ which is fairly new. I haven't tried the Compute module but it's also armv6

The proper way would probably be to get it into the Debian repo but that is probably an epic undertaking

[2015-08-17 18:56] bakercp commented on #4242
@jvcleave -- I'm not sure actually.  For some reason I thought I read that somewhere -- but it does appear they are still offering RPI1 A+ and B+.

[2015-08-17 22:36] jvcleave commented on #4224
Couldn't we stuff it into the user's directory as ~/.PLATFORM_VARIANT during install dependencies?

I think we do something similar with .OF_ROOT with the Project Generator

[2015-08-18 01:17] bakercp commented on #4242
OK.  So I finally made it through the whole process with the RPI1.  It's just like the process with RPI2, except you don't have to specify a `PLATFORM_VARIANT=rpi2` and you don't have to wait all day.

My steps:

1.  Install the latest raspbian image.
2.  Run the plain debian (non armv6l) install_dependencies.sh.
3.  Enter a project / example folder.  Copy the normal Makefile to that location.
4.

[2015-08-18 01:23] bakercp commented on #4242
Cleanup PR here #4271

[2015-08-18 01:28] bakercp commented on #4242
I think the last thing we need to do is address is these to bring them all up to speed.

https://github.com/openframeworks/openFrameworks/issues/4224
https://github.com/openframeworks/openFrameworks/issues/4219

Additionally, do we need `buildAllRPIExamples.sh`?

Also, would it be possible to combine archlinux_armv6 and archlinux scripts?

[2015-08-18 03:05] jvcleave commented on #4242
I still use buildAllRPIExamples.sh but may be the only one

I'm going to go ahead and close this issue

[2015-08-18 03:05] #4242 closed

[2015-08-18 07:44] bilderbuchi commented on #1068
Yeah I guess, this issue has become very long anyway, so it will be better to open new issues when further work arises.

[2015-08-18 07:44] #1068 closed

[2015-08-18 10:06] bilderbuchi commented on #4234
done :-)

[2015-08-18 10:25] bilderbuchi commented on #4236
Thank you for taking the time to report this bug and helping to make openFrameworks better. Unfortunately, we cannot work on this bug because your description didn't include enough information. You may find it helpful to read "How to report bugs effectively" http://www.chiark.greenend.org.uk/~sgtatham/bugs.html. We'd be grateful if you would then provide a more complete description of the problem.

[2015-08-18 10:45] arturoc commented on #4236
the problem is that the compute shader examples are in the osx downloads but those examples don't work in osx.

not sure if we should remove them or just add a message in case the application fails to start saying that most probably your os doesn't support the required openGL version yet.  if at some point there's support for opengl 4.3 in osx we would already have them there

[2015-08-18 11:23] thomasvanta commented on #4236
yep, sorry for the missing explanation.
4.3 OpenGL support is not expected in the next OS X version, El Capitan. So until at least Q4 2016 no support.
removing them is safe in my opinion

[2015-08-18 14:01] ofZach commented on #4220
one thing that's kind of a pain about having them separate is that when you are working on new features, you wind up having to do two different PRs across two repos.  It feels a little schizophrenic :)

[2015-08-18 15:41] kylemcdonald commented on #4220
yeah, usually this would be a feature because it would allow work to happen separately from `master` without needing to stay perfectly up to date. but maybe having a `pg` branch with the most up-to-date pg would solve this? then we can merge it to master whenever it's ready.

[2015-08-18 16:29] ofTheo commented on #4220
I honestly would love to have everything in the main repo.
Both Nick and I spend a ton of time the other day trying to get the PG submodule to sync / update.

If its that hard / basically impossible for us, it must be fairly tough for the average user.

I would love to just have it in the main issue and add a Project Generator label for issues.
It will make it much easier to get fixes in and to he

[2015-08-18 16:34] ofZach commented on #4220
I think we're close to a point where we can get rid of the legacy and simple PG, once that happens, I'd also vote for moving it over since it should be easy to give developers step by step instructions on how to make examples, etc.

How we deal with the gui is another story, I'm not sure what the best solution is for that (for now we've made a repo here https://github.com/ofZach/pgElectron for the

[2015-08-18 16:51] #4258 closed

[2015-08-18 16:52] arturoc commented on #3774
is this fixed already?

[2015-08-18 16:54] ofZach commented on #3774
this this is fixed, closing....

[2015-08-18 19:21] bilderbuchi commented on #4220
this already exists. I labeled this issue as such

[2015-08-18 21:17] jvcleave opened #4275 "Failing examples list for OF 0.9 RC1/RP1"
I haven't ran through addons yet but most of these are GL so should be excluded in packaging

- [x] gl/computeShaderParticlesExample
- [x] gl/computeShaderTextureExample
- [x] gl/pixelBufferExample
- [x] gl/textureBufferInstancedExample
- [x] gl/threadedPixelBufferExample

- [x] utils/conversionExample fails with
[code]

[2015-08-19 06:34] jvcleave commented on #4275
for addons the only one failing is addons/svgExample (and probably failing everywhere)

[code]

[2015-08-19 13:41] LeoColomb commented on #3392
Could we start by adding the `.editorconfig` file? Easy and soft.
See http://editorconfig.org/.

[2015-08-19 14:02] bilderbuchi commented on #3392
The tiny [list of supported properties](https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#current-universal-properties) of Editorconfig maybe make it possible to specify about 10%(?) of the code style (basically tabs-or-spaces, and their widths). Kindly compare this to the [uncrustify config file](https://github.com/openframeworks/openFrameworks/blob/master/scripts/dev/styl

[2015-08-19 14:04] bilderbuchi commented on #3392
Also, are you currently using an .editorconfig file in OF (e.g. in any directory above the repo, judging by the [lookup rules](http://editorconfig.org/#file-location), and how is it working for you to enforce style?

[2015-08-19 14:21] LeoColomb commented on #3392
Yep, it's a first step.

Yep. :laughing: But not applied yet, is it?

No: even without, VS (and not only 2015) complain about mixed style in every files of the oF core.
But I use it for all other projects (oF apps & other), and it's very useful, well managed and configurable.

This is the good point: directly in IDE. [There are plugins](http://editorconfig.org/#download).
OK, plugins have to be in

[2015-08-19 14:47] bilderbuchi commented on #3392
how can you consider a file "fixed" if you can't even tell the config file how the style should look like? :confused:

Yes, I know. this means, even if OF does not have such a file, you can easily place one in any dir above the OF repo, and this will get used on the OF code you edit. So, an immediate workaround to your problem.

[2015-08-19 14:48] bilderbuchi commented on #3392
If you mean that the code is not yet homogeneously formatted, then yes. The script is functional, though, and some people use it to format their fresh contributions.

[2015-08-19 14:54] LeoColomb commented on #3392
Yes, no, of course, I mean, it's a way to generalize #3390 to all IDE.

[2015-08-20 09:56] bilderbuchi commented on #4162
so,  g++ and apt-get being killed seems to have disappeared now.
I have no idea how to fix the docs build.

[2015-08-20 11:29] bilderbuchi commented on #1068
Related issue: #4162

[2015-08-20 17:11] pkmital commented on #4227
This helped me get FBOs working again on iOS: https://github.com/openframeworks/openFrameworks/issues/4199

[2015-08-21 02:10] jvcleave opened #4282 "ofAppEGLWindow/ES2 crashing with OF 0.9 RC1"
(actually currently using the 2015 08 20 nightly but saw this previously)

Test case
[code]

Crashes with

[code]

Using latest Raspbian Wheezy/ RPi 1/g++ 4.8.2

[2015-08-21 03:21] jvcleave commented on #4282
Debug/Backtrace
[code]

[2015-08-21 03:42] jvcleave commented on #4282
Error seems to be coming from this line
https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworks/gl/ofShader.cpp#L240

[code]

[2015-08-21 04:46] jvcleave commented on #4282
reverting back to Poco works

https://gist.github.com/jvcleave/01bfe981b2ea5aeaa931

[2015-08-21 06:46] jvcleave commented on #4282
looks like we should stick to Poco unless user has gcc 4.9

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=53631

[2015-08-21 11:26] arturoc opened #4283 "ofEasyCam::disableMouseEvents segfaults"
http://forum.openframeworks.cc/t/ofeasycam-disablemouseinput-has-error-on-of0-9rc/20512

[2015-08-21 11:37] arturoc commented on #4199
@julapy can you check if we can call setup after setting up the context? i'll check emscripten and android

[2015-08-21 12:19] bilderbuchi commented on #4282
Or boost::regex, considering we want to move away from poco?

[2015-08-21 15:30] pizthewiz commented on #4282
C++11 has `std::regex` which I think was in TR1'ed previously.

[2015-08-21 15:38] tgfrerer commented on #4282
yes, it seems that std::regex *should* be in the standard, but gcc (according to @jvcleave 's link) is lagging behind in implementing it. I think rather than adding `boost::regex` as another (temporary) dependency, it might be better for now to try doing this without `regex`. I can look into it over the week-end.

[2015-08-21 15:39] pizthewiz commented on #4282
Oups, I should have read the full backlog, sorry for the noise :grimacing:

[2015-08-21 17:18] jvcleave commented on #4282
also found [this code comment](https://github.com/openframeworks/openFrameworks/blob/202adc2bd5d41c5f3e33941e04584787d34e34ab/libs/boost/include/boost/config/stdlib/libstdcpp3.hpp#L217) in searching for other places regex may be used

I agree @tgfrerer - if this is the only place we are using regex and the patterns are not too complex to do by hand via splitting/string search I say we try that rou

[2015-08-22 12:32] tgfrerer opened #4284 "osx freetype libs won't link with < 10.10"
4d32f4171b03b28bf3496809ab81c232374790af seems to have introduced static libs for OS X / freetype which won't link against deployment targets below 10.10.

Reverting to the previous commit, 1c9e03cdced50fb8aa4f5380bb712043b36e7022, solves the issue.

[2015-08-22 13:35] tgfrerer commented on #4282
Hmmm,

so it seems that gcc 4.9 supports `std::regex` (which we are using) but not `tr1::regex` which we are not using. (https://isocpp.org/blog/2014/04/gcc-4.9.0), but on raspberry pi we seems to use gcc 4.8-50 according to the `install_dependencies.sh` script, which does not yet support `std::regex`.

It would be great if we could use `std::regex` across the board, but I wonder how much effort i

[2015-08-22 15:34] bakercp commented on #4284
Hmm. Those libs were generated using the apothecary scripts so perhaps we
need to explicitly define a target? If you build the static libs on your
pre 10.10 machine does it link for you?

On Sat, Aug 22, 2015, 7:32 AM Tim Gfrerer <notifications@github.com> wrote:

[2015-08-22 18:28] jvcleave commented on #4282
That means we would basically have to require g++ 4.9 across the board right? I say that might be ok for OF 1.0 but now seems a bit early

[2015-08-23 00:04] garpert opened #4285 "you have held broken packages"
The following information may help to resolve the situation:

The following packages have unmet dependencies:
 libopencv-dev : Depends: libopencv-objdetect-dev (= 2.4.9+dfsg-1ubuntu4) but it is not going to be installed
                 Depends: libopencv-highgui-dev (= 2.4.9+dfsg-1ubuntu4) but it is not going to be installed
                 Depends: libopencv-legacy-dev (= 2.4.9+dfsg-1ubuntu4) b

[2015-08-23 07:44] julapy commented on #4199
have tested this by inserting the renderer setup call in the draw loop,
here >> https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxiOS/src/core/ofxiOSEAGLView.mm#L161

[code]

and this fixes the fbo issue.
works when allocating the fbo in `setup` and in `update` or `draw`

it still feels like a hack thought and i'll try to figure out a better solution.

@arturoc you might have

[2015-08-23 11:28] julapy commented on #4227
closing this issue as duplicate of #4199

[2015-08-23 11:28] #4227 closed

[2015-08-23 11:30] davivid commented on #3746
I'm seeing a problem with 3840 x 2160 h264 files - These used to play fine with 0.8.4 and the AVFoundation addon

[2015-08-23 12:25] #4199 closed

[2015-08-23 12:30] julapy commented on #4199
turned out to be a timing issue.
not exactly sure what change in the core made this knock on effect...
but to fix, calling setup on the renderer had to be moved to a different point in the ofxiOS setup.
the renderer setup was moved to `ofxiOSEAGLView setup`

[2015-08-23 12:50] julapy commented on #1146
regarding those scripts...
since the old project generator was removed from the devApps,
i have no idea how to rebuild all iOS examples...
is this done now using scripts?
do these scripts have to be made for iOS?
cc @ofZach

[2015-08-23 13:06] ofZach commented on #1146
the project generator has been moved to a submodule (separate repo).  from the readme:

    To set up the project generator submodule, use the command git submodule init then git submodule update whilst inside the openFrameworks repo.

[2015-08-23 13:21] julapy commented on #1146
hi @ofZach,
thanks for the pointer.
so i already had `apps/projectGenerator/projectGeneratorSimple` checked out
but there doesn't seem to be any option for building all the iOS projects... like in the old `apps/devApps/projectGenerator/`
as far as i can tell, it can only create one project at a time.
i must be missing something?

[2015-08-23 13:32] ofZach commented on #1146
in the submodule, there are three projects:

https://github.com/openframeworks/projectGenerator

use the "projectGeneratorLegacy" to generate projects (as before) or you can even use the command line tool (you need to pass in the OF path, the platform, recursive and the path to update examples on):

     ./projectGenerator -o"pathToOf" -x"ios" -r pathToOfExamples

for example, for me it looks like

[2015-08-23 13:35] julapy commented on #1146
ah right... sorry i must be having some issues with my github repo,
those folders are not in there for me and it doesn't seem to want to update the submodule.
ok cool, thanks for pointing that out... i'll have to fix my issue with the github repo.
thanks.

[2015-08-23 14:27] tgfrerer commented on #4284
My machine is 10.11, unfortunately. But we're targeting 10.8 as the minimum platform on OS X, as far as I know. This possibly means that we'd have to re-build these libs on a 10.8 machine, or find a way in the apothecary script to set 10.8 as the build target for the library.

[2015-08-23 17:17] arturoc commented on #4282
can we reexport tr1::regex into std if we detect gcc 4.8? the makefiles are already detecting the version of gcc so it would be relatively straight forward to add a define for the gcc version been used and in that case do something like:

[code]

[2015-08-23 17:22] arturoc commented on #4199
thanks!

[2015-08-24 00:47] julapy opened #4290 "ios issues with 0.9.0 examples"
ive gone through a fixed up the smaller issues for all the ios examples.
below are remaining issues which are a little bit more involved,
including outstanding TODO items that will need to be fixed for 0.9.0 release.

* iosCustomSizeExample is buggy.
* iosExternalDisplayExample needs to be tested properly with an external display.
* ~~iosNativeExample reveals a bug with frame number not resetting~

[2015-08-24 00:50] julapy commented on #4290
@ofZach,
the `opencvExample` and `opencvFaceExample` examples require `AssetsLibrary.framework` to be added by the PG to the xcode project.
i seem to remember this being fixed for osx...
can you comment on how/if this works the same for ios.
cheers.

[2015-08-24 09:32] arturoc commented on #4290
@julapy if you add:

[code]

not sure now if you need to add the .framework

to addon_config.mk in the ofxOpenCv addon it should do the right thing, can you give it a try? i think there's a specific hack for this or something else related to the opencv addon in the PG code, but better to solve it through the config file.

[2015-08-24 11:28] ofZach commented on #4290
@julapy I'll take a look, frameworks (system level) should work via the method arturo is describing now with the latest PG (I tested it against a different addon, I think ofxMidi, but I'll check this with opencv shortly)

[2015-08-24 16:12] ofTheo commented on #4284
From what I can remember you can set the SDK to build with via a CFLAG

[code]
You can add older SDKs to your current Xcode app by copying the .sdk folder into /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/

[2015-08-24 17:07] arturoc commented on #4290
in 0.9 the frame number is not hold by the window any more but by the main loop so recreating the window won't reset it. you can do the initialization more explicit by using a main loop like:

[code]

[2015-08-24 17:12] armadillu opened #4291 "ofPopStyle() applies the wrong style"
I've been observing some ofPushStyle() and ofPopStyle() weirdness, and I tracked it back into ofPopStyle();

[code]
Why are we applying the very first style pushed (styleHistory.front()) in popStyle()?
Shouldn't it apply the most recent style (which will be at the end of the deque, styleHistory.back())?
Especially bc that's the one you are deleting afterwards...

This has been in since October 201

[2015-08-24 17:14] armadillu commented on #4291
Prepared a PR #4292

[2015-08-24 17:40] #4291 closed

[2015-08-24 17:52] kylemcdonald commented on #4291
wow. this would explain some really weird bugs i've seen in the past.

[2015-08-24 18:20] armadillu commented on #4291
yeah I was going really insane; I had some additive blending sneak into the deque which made really hard to understand what what going on with the colors.

[2015-08-24 18:23] avilleret opened #4293 "geometryShaderExample doesn't work on RPi"
when trying to run geometryExampleShader on RPi 2 B, I got this :

[code]

I can understand that this example need a more advanced GPU, but in this case, why it is included in RPi release ?

Moreover this example screwedup my terminal, I have to logout and back in to work again.

[2015-08-24 18:32] joshuajnoble commented on #4293
Should be removed from the RPi distro, OpenGLES 2.0 doesn't support them. Actually, neither does 3.0

[2015-08-24 18:33] bakercp commented on #4293
@jvcleave is working on filtering out incompatible examples for 0.9.0?

[2015-08-24 19:37] tgfrerer commented on #4293
@avilleret as a tip: you can "unscrew" a terminal typing "reset" in most cases =)

[2015-08-24 19:40] bakercp commented on #4293
The reason this terminal screwup happens is because we take control of the terminal on the RPI for various reasons (i.e. to enable logging output, etc).  Sometimes during a bad crash this terminal io does not get returned to its original state.  This is probably a bug that needs to be fix (it's been this way since we wrote the original RPI port and we've just never fixed it).  Luckily, though it m

[2015-08-24 19:50] tgfrerer commented on #4282
@arturoc the trouble is, gcc before 4.9 didn't implement `tr1::regex`, and when the implementation came with 4.9, they leapfrogged `tr1` and went straight for `std::regex` (which makes sense), so it seems we can't confidently use `regex` before 4.9.

https://gcc.gnu.org/onlinedocs/libstdc++/manual/status.html#status.iso.tr1

But the version check for gcc could be handy for the shader log parsing -

[2015-08-24 21:15] arturoc commented on #4282
yes but we can do:

[code]

which will include regex for >=4.9 and import tr1::regex as regex for 4.8 (that's the oldest gcc we support)  so in both cases you get std::regex which should have the same functionality no?

[2015-08-24 21:26] arturoc commented on #4282
oh, sorry i misread as tr1 is not available in 4.9 but it's in 4.8

[2015-08-24 21:30] arturoc commented on #4282
and yes let's just skip parsing for errors if there's no regex. the gcc version detection is here: https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworksCompiled/project/makefileCommon/config.linux.common.mk#L124

you can add a `PLATFORM_CFLAGS += -DGCC_VERSION_MAJOR=...` or even `-DHAS_REGEX=1` there depending on the version

[2015-08-24 21:34] tgfrerer commented on #4282
Unfortunately not, it seems from my research. My understanding is that gcc <4.9 apparently *never* fully supported/implemented `tr1::regex` (see also: https://gcc.gnu.org/onlinedocs/libstdc++/manual/status.html#status.iso.tr1), and jumped straight to implement `std::regex` with 4.9. It's all a bit confusing to me =)

[2015-08-24 21:36] bakercp opened #4295 "Feature Request - vector<T> ofFromString(const string & value)"
We currently have:
[code]

But there is no corresponding

[code]

This makes it impossible to do things like use a vector as a template parameter in ofParameter.

[2015-08-24 21:42] bakercp opened #4296 "Feature Request : string ofToString(const std::pair<T,K>& value) / std::pair<T,K> ofFromString(const string& value)"
[code]

[code]

This might also extend to std::tuple.

That said, I'm not completely sure this is a good idea -- which makes me wonder if we should get rid of our non POD `ofToString(const std::vector<T>)` etc.  Otherwise this turns into a massive bit of  serialization code in the core.

[2015-08-24 21:51] bakercp opened #4297 "Don't require ofParameter data to be serializable?"
`ofParameter` is super powerful and useful.  It would be nice to be able to use it with lots of other data types and even collections, vectors, tuples, etc.

The main roadblock right now is that the templated parameters must be serializable via ofToString / ofFromString. (called in ofParameter::toString/fromString).

So, there could be a few solutions -- 1. go down the serialization library road a

[2015-08-24 21:51] bakercp commented on #4296
Related to #4297.

[2015-08-24 21:59] bakercp commented on #4297
Just thinking through this a little more -- and with all of the operators, etc it seems that ofParameter won't work well with non-POD and a few others (ofVec*f, etc) -- as it's not really designed to do that.  So that said, the main desire here is to get the very useful event system for other data types, collections, etc.  Perhaps there is another better way wrap arbitrary data variables to get ev

[2015-08-24 22:18] tgfrerer commented on #4282
I've created a PR to address this issue, https://github.com/openframeworks/openFrameworks/pull/4298, any feedback welcome =)

[2015-08-25 04:36] julapy commented on #4290
thanks @arturoc, ill look into implementing ofxiOS in this way.

[2015-08-25 05:26] kylemcdonald commented on #4295
:+1: but also a little conflicted about calling `ofFromString<float>()` vs creating an `ofToFloats()`

[2015-08-25 05:35] bakercp commented on #4295
@kylemcdonald ... yeah, that is probably why it was never implemented.  A philosophical / design quandary worth some discussion ...

On thinking about it a bit this afternoon, I'd probably vote for slimming the core and drawing the line at non POD (and a small selection of important oF classes ofVec* etc).  It seems that is the implicit line drawn with ofParameter, and it seems reasonable.

[2015-08-25 08:37] arturoc commented on #4297
i think there's 2 different problems here, ofParameter should allow any type no matter if they are serializable or not, the it would define some methods or others for serializable or non serializable types. this can be done with some templating and i thought it was currently working like that.

then there's the problem of serializing certain complex types which could make sense. there's already op

[2015-08-25 08:40] arturoc commented on #4297
btw, ofParameter works well with ofVec* as it's used by ofxVectorSlider or ofxColorSlider, have you found any problem with those?

[2015-08-25 08:43] arturoc commented on #4295
we already have a:
[code]

so this would be an specialization of `ofFromString` where the type is `vector<float>` not `<float>`. like `ofFromString<vector<float>>`

[2015-08-25 11:10] #4297 closed

[2015-08-25 11:56] #4282 closed

[2015-08-25 13:01] bakercp commented on #4297
Hey, nice fix I'll try it out!

[2015-08-25 15:19] jvcleave commented on #4282
thanks @tgfrerer this worked for me :)

@arturoc
I have a question about the GCC detection. What is the proper way to set this for cross-compiling?

For instance - If I cross compile using a VM the Makefile system seems to look at my VM's GCC version (4.7 by default) as opposed to the one that will be used to compile (4.8)

[2015-08-25 15:41] arturoc commented on #4282
mmh, yeah didn't thought about that, i guess we can change the order in
which the files are included so the specific platform file will add all
it's variables and at the end include confi.linux.common.mk which will
already have the correct CXX variables. i can take a look later

On 25.08.2015 17:19, Jason Van Cleave wrote:

[2015-08-25 16:52] ofTheo commented on #4284
@tgfrerer I can't reproduce this.
I'm on a 10.9 machine and have the 10.10 SDK / 10.9 and 10.8 SDKs installed.

If I build against 10.8 or 10.10 sdk with current master the fontExample builds and runs without issue.

[2015-08-25 16:56] bakercp opened #4300 "ofTrueTypeFont rendering problem"
![screenshot_8_25_15__11_53_am](https://cloud.githubusercontent.com/assets/300484/9473382/12b8f5d8-4b20-11e5-9c48-b12f791bcc55.png)
![screenshot_8_25_15__11_53_am](https://cloud.githubusercontent.com/assets/300484/9473395/20316bd2-4b20-11e5-9587-d0236ffe1d6f.png)

For some reason, little pixels are not correctly anti-aliased on the lower left hand corner.  I haven't investigated, but it seems like

[2015-08-25 17:21] arturoc commented on #4300
mmh, yeah that's really strange. i'm seeing the same in linux so i guess it's not related to freetype. i'll take a look too later but it's probably related to the tex coordinates. can you test if it happens in 0.8.4 too?

[2015-08-25 18:32] kylemcdonald commented on #4295
arturo is definitely the most correct here. but `ofFromString<vector<float>>` looks pretty rough, it's clear what it does but i'm not sure a beginner would feel comfortable using it. maybe this is just where c++ fails at being user friendly, and we need to embrace it the way it is instead of inventing "more friendly" wrappers?

for comparison, in processing for java it would be `float(split("1.0,

[2015-08-25 18:48] kylemcdonald commented on #4300
also seeing this, `OF_TTF_SANS` on osx has similar behavior on the h and i but instead of being completely black it's gray.

[2015-08-25 19:06] arturoc commented on #4295
ofFromString is mostly a function used internally by ofParameter to (de)serialize things i don't think most people would be using it directly.

`float(split("1.0, 2.5, 3.14", ","))` is weird :)  to me it looks like trying to cast to float a vector of strings.

another possibility would be to implement the << and >> operators for vector<T> where T implements the << and >> operators itself. then ofF

[2015-08-26 15:59] avilleret opened #4302 "terminal in bad state when killing ofApp"
I'm building an ofApp on Raspberry Pi and as I'm used to do, I do that through an SSH connection.
When I want to stop my running I press `CTRL + c` in my SSH session.
This normally send a SIGART to the app and if it is handled correctly, the app stops after some reset.
But often with OF (0.8.4) the terminal stay in a bad state (see #4293).
Sometimes I can enter `reset` and press enter to reset the

[2015-08-26 16:06] bakercp commented on #4302
Hey @avilleret I won't have a chance to look at it today, but if you want to start hunting down the problem here are a few references.

First, we capture the previous terminal state here when connecting to the keyboard (so we can turn off echo, etc).

https://github.com/openframeworks/openFrameworks/blob/5b9d0a1d8fef16937c16715c8b32dd2f7e100384/libs/openFrameworks/app/ofAppEGLWindow.cpp#L1401-L140

[2015-08-26 16:33] avilleret commented on #4302
Thanks @bakercp
It seems that some work have been done on appRunner.cpp related to signal handler, so I will try with of from git when can managed some time to build it.
I think this shoul be my first step

[2015-08-26 16:34] bakercp commented on #4302
@avilleret sounds like a good plan!

[2015-08-26 17:33] jvcleave commented on #4302
In some example testing I did notice I had to often hit `CTRL+c` twice but I haven't had the terminal corruption yet

Another thing to test for is `CTRL+\`

[2015-08-26 19:18] armadillu opened #4304 "Unexpected crashes in ofMainLoop::loopOnce()"
I've been seeing this for quite a while in master (latest), and I'm a bit worried bc I don't understand what's it about. I am wondering if others see it too?

I am testing a fairly large project that is installing pretty soon; and every now and then I get an event related crash. I think the best way to describe it is to share debugger screenshots. The crash seems to come from the update() call on

[2015-08-26 19:24] #3805 closed

[2015-08-26 20:34] armadillu commented on #4304
It seems nothing like this happens on emptyExample, so it must be me corrupting the heap somewhere...

[2015-08-26 21:59] arturoc commented on #4304
not sure if it has anything to do but can you try using this ofEvent.h? just substitute the current one with it:  https://raw.githubusercontent.com/openframeworks/openFrameworks/731b10247839090675d500fee7f4b5965f22beb5/libs/openFrameworks/events/ofEvent.h

some weeks ago i did some changes to make ofEvent much faster, i had some seg faults at the beginning, i thought everything was solved but ther

[2015-08-26 22:08] armadillu commented on #4304
I am using the new address sanitizer available in Xcode 7.0 Beta and it seems to report a problem in AddListener. I have a ton of objects that subscribe to ofEvents().update. I am in the process of making a small sketch to test better; I will let you know; I am still unclear if it's on my code or on the Events.

I will try the other version of ofEvent and report back.

Not sure if you are familiar

[2015-08-26 22:37] armadillu commented on #4304
Hm I just found something; I think it's a regression;

Doing
[code]

makes a call to onUpdate() every frame as expected; but if I remove the listener without the priority argument

[code]

the call back is not removed, and it continues to call onUpdate(); this was not the case before...
Only when I call ofRemoveListener with the same priority argument used to addListener the callback is really rem

[2015-08-26 23:16] armadillu commented on #4304
Also, I still get crashes with the older version of ofEvent.h and ofEventUtils.h.

I can't get the simple sketch to crash, so this is probably me. But it seems recurrent; always related to adding or removing event listeners.

In this particular crash, some memory that was deleted by ofBaseEvent is being accessed. Address Sanitizer tells me the memory was allocated first here; an ofxAnimatable obje

[2015-08-27 02:04] bakercp opened #4305 "Makefile no longer respects addon_config.mk ADDON_DEPENDENCIES, etc."
@arturoc after c6d6430d1d4f9836eeae9e4bab299ce6c76a3992 ADDON_DEPENDENCIES are no longer included.

[2015-08-27 02:13] bakercp commented on #4305
Also confirming that this is broken on both OSX and Linux.  I haven't had a chance to dig into the Makefile updates yet, but bisect points to the changes here c6d6430.

[2015-08-27 06:50] arturoc commented on #4304
mmh, i'm almost sure that removing a listener needed the same priority in 0.8.4 but if you can double check?

also i've just uploaded a fix for ofEvent.h base on your previous sanitazer output. if you can check if that fixes it?

[2015-08-27 09:24] bilderbuchi commented on #4305
funny that CI wouldn't catch this (as both linux and macos compile the allAddonsExample) - which PR was this part of @arturoc ?

[2015-08-27 09:29] arturoc commented on #4305
i think none of the official addons have dependencies so it won't get catched by compiling the allAddonsExample.

i'll take a look later

[2015-08-27 09:33] bilderbuchi commented on #4305
The issue title includes addon_config.mk, too, and at least ofxOpenCv has that...

[2015-08-27 09:33] arturoc commented on #4305
yeah but no addon dependencies

[2015-08-27 09:45] arturoc commented on #4302
i fixed the signals at some point and now, the first ctrl+c is catch by OF and it tries to finish gracefully, close everything... if it still gets stucked a second ctrl+c will definitely close the app

[2015-08-27 12:29] kimasendorf opened #4307 "Semantic Issues in ofxiOs SoundOutputStream.m"
I just wanted to try the KeyboardExample, used the projectGenerator_ios to create a new project and pasted the code from the example.

I get 2 Semantic Issues in SoundOutputStream.m

In row 111 in AudioStreamBasicDescription ```.mSampleRate = sampleRate``` and in row 115 ```.mChannelsPerFrame = numOfChannels```.

Non-constant-expression cannot be narrowed from type 'NSInteger'...

[2015-08-27 12:52] bilderbuchi commented on #4307
Which version of OF are you using, and from where (release package, git)?

[2015-08-27 12:56] kimasendorf commented on #4307
I am using the latest nightly build, downloaded just 1h ago.

http://192.237.185.151/versions/nightly/of_v20150827_ios_nightly.zip

It looks like all examples need the ofxiOS addon so I created new projects including it.

[2015-08-27 15:25] bilderbuchi commented on #4307
ping @openframeworks/ios

[2015-08-27 17:22] armadillu commented on #4304
Yep you are right; same behavior in 0.8.4. If you specify a priority when adding a listener, you need to specify the same priority when removing it. My Bad!

Your new fix also leads to crashes, so don't pay attention to this for now. I'm trying to isolate the cause. I am building progressively more complex sketches and so far no crashes on any of them. (with our without your ofEvent changes)

[2015-08-27 17:27] arturoc commented on #4304
another test you can do is to change the whole events folder with the events previously to my implementation in c++11 and instead use the poco ones, that would totally discard that the problem is in the events if the crash is still there i guess

[2015-08-27 18:13] arturoc commented on #4304
this is the last commit before porting the events to c+11: https://github.com/openframeworks/openFrameworks/tree/f7dd14986b7fa687b6938cd7137c710a8adfd980/libs/openFrameworks/events

[2015-08-27 18:15] armadillu commented on #4304
The project was already deployed 8 months ago and still works 24 hours a day (with no crashes) on a pre-C11 version of OF; I am just upgrading it to OF 9 for a second deploy.

But that doesn't mean its bug free... The current ofEvent seems robust on small sketches, so not sure what could be triggering it.

Ill try that see what I get with the older ofEvent stack.

Do you foresee any problem when e

[2015-08-27 22:02] roymacdonald opened #4308 "ofGetSoundStream()"
I just made an addon out of the ofSoundObject developed at the YCAM ofDevCon.
It has been a while since we las updated that working branch. I think that having it as an addon will make other people aware of the ofSoundObjects, possibly contribute to it, and eventually get it merged to the master.
The only thing I need for it to work as an addon is to have the ofGetSoundStream() function.
Check it

[2015-08-27 22:13] arturoc commented on #4304
the events should be thread safe, listener callback removing itself might lead to some deadlock at most but i think even that is solved. but there might be a bug i didn't took into account.

i think testing it with 0.9 but with the old events would be useful to decide if it's a problem with the events or not

[2015-08-27 22:15] arturoc commented on #4308
perhaps send a PR so we can see the diff easier

[2015-08-27 22:15] armadillu commented on #4304
Yeah I tried but there's a lot of other dependencies, not as easy as just dropping in the event files. The compiler shows 300+ errors. I think I am onto something though, will post soon.

[2015-08-27 22:23] arturoc commented on #4304
oh, ok i thought it would be directly compatible

[2015-08-27 23:44] roymacdonald commented on #4308
Sorry, I thought that I did so.
https://github.com/openframeworks/openFrameworks/pull/4309

[2015-08-28 01:20] armadillu commented on #4304
I think I found something;

Here's al little sketch that triggers the AddressSanitizer container-overflow on latest master.

It's a sketch with a simple ofxAnimatableFloat, which is basically a timer that triggers an event when it's finished. When the timer is finished, the app gets the event, and keeps a flag to delete the object on the next update cycle.

I do this flag-and-delete-next-frame bus

[2015-08-28 06:51] liquidzym opened #4310 "ofVideoPlayer DirectShowVideo not fully working"
seems the ofVideoPlayer not fully working,i did testing with latest master and vs2015.
both 32&64,under the win10 and win7 64bit os.
in my case it'll break at the line of 595
VIDEOINFOHEADER * infoheader = (VIDEOINFOHEADER*)mt.pbFormat;
width = infoheader->bmiHeader.biWidth;
can't the video width&height
it would be great if someone can test it out
cheers
@ofTheo

[2015-08-28 09:44] arturoc commented on #4304
i think the problem is that when the next update happens this object is also notified, when an event starts a notification it first makes a copy of all the listeners that way if the listeners need to be accessed meanwhile there's no needs to lock during the whole notification which would lead to deadlocks really often. so when the object removes itself from the update notification before being del

[2015-08-28 09:47] arturoc commented on #4304
to explain it simpler, you shouldn't remove and delete an object from an event while that event is being notified, even if it is from a different object. removing this in draw, although hacky, should work fine. another possibility would be to remove the object from the event first and then delay the destruction one frame

[2015-08-28 10:48] Miles-Tone opened #4311 "'unordered_map' file not found"
using OF9RC1 i get this error whilst trying to compile an iOS project in Xcode 6
the error message points to ofConstants.h

[2015-08-28 12:43] bilderbuchi commented on #4311
sounds like a problem with the project file/library include. Please also try with latest master, there were a couple of fixes recently.

[2015-08-28 12:44] bilderbuchi commented on #4308
@roymacdonald you just closed that PR, does that mean we can close this issue, too?

[2015-08-28 12:51] roymacdonald commented on #4308
@bilderbuchi Sure! I was about to make so.

[2015-08-28 12:51] #4308 closed

[2015-08-28 13:01] arturoc commented on #4311
also is this with the examples that come with the download or with an old project? if it's an old project you might need to update it using the project generator

[2015-08-28 13:36] Miles-Tone commented on #4311
Ahh thanks Arturo, it was an old project so I did as you've said and it's now compiling

[2015-08-28 14:54] #4311 closed

[2015-08-28 15:13] ofTheo commented on #4284
I'm going to close this issue as I can't reproduce it.
I've tried on a 10.10 machine and a 10.9 machine both targeting deployments of 10.7 or 10.8.
I tried 32bit and 64bit and the font example ran fine with no issues.

could you try again with latest master - I can reopen if there is still an issue.

also could you post the linker errors - it could be helpful to see what they are?

[2015-08-28 15:27] #4236 closed

[2015-08-28 15:31] ofTheo commented on #4275
@jvcleave I think the only thing left is the unit conversion example now.

[2015-08-28 15:32] ofTheo commented on #4293
closed by https://github.com/openframeworks/openFrameworks/commit/b7364eb37673874d667118aa128ffd1741ae6850

[2015-08-28 15:32] #4293 closed

[2015-08-28 15:43] ofTheo opened #4312 "ofPushStyle not storing / resetting circle resolution."
This is with the current master. The circle will draw with the default circle resolution.
If the push/pop style lines are not there it will draw with a resolution of 4.

Looking into the issue.

To reproduce.
[code]

[2015-08-28 15:45] armadillu commented on #4304
Hey thanks for the through explanation, it makes perfect sense. So if I get it right, what's happening is:

OF has an internal "update listeners" list. When its time to update everyone on the list, you start by making a copy of that list. You then proceed to walk that copy of the list and call update() on each listener. In my example, the ofApp::update() (this is the 1st on the list according to p

[2015-08-28 15:56] ofTheo commented on #4283
@arturoc  can you reproduce this?
I tried with latest master - but I don't get the error ( OS X )

[2015-08-28 16:22] Miles-Tone opened #4314 "Xcode - iOS - clang failed with exit code 11 - Building for Archiving/Device"
I get this error when trying to archive a project, it runs in the simulator, but not on a tethered Air 2
I can send the full message if thats useful, but i didn't want to clog things up if not needed

clang: warning: -lpthread: 'linker' input unused
Stack dump:
0.	Program arguments: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -x objective-c++-header

[2015-08-28 16:25] armadillu commented on #4304
So they do behave differently; I think OF 084 did it what I expected, but OF09 doesn't; that's the output I get running the same exact code on both:

OF 084 RELASE| OF 090 GITHUB MASTER
------------|-----
0 ofxAnimatable startAutoUpdate | 0 ofxAnimatable startAutoUpdate
0 ofApp update | 0 ofApp update
0 ofxAnimatable update | 0 ofxAnimatable update
1 ofApp update | 1 ofApp update
1 ofxAnimatable u

[2015-08-28 16:45] #4304 closed

[2015-08-28 16:47] arturoc commented on #4304
ok, i was missing a step, when removing listeners i had to also disable them that way even if they stay in the copy they won't do anything when notified. i think this should fix it but let me know if it's still problematic.

thanks for catching this!!

[2015-08-28 17:37] #4312 closed

[2015-08-28 17:38] arturoc commented on #4283
no i haven't tried it, i'll try to run the example with valgrind in case there's some weird memory access we are missing