[2014-11-02 12:23] #391 closed, assigned to nobody

[2014-11-03 11:35] kr15h opened #3386 "ofOpenALSoundPlayer fails to load previously unloaded sound file"
I was making a sound app that loads and unloads sounds for the Raspberry Pi when I noticed this error being thrown once I unload and try to load the same sound file again:

[code]

Added a git repo with an example here: https://github.com/kr15h/ALSoundPlayerBug

[2014-11-04 01:24] #2037 closed, assigned to danoli3

[2014-11-04 01:58] danoli3 opened #3387 "iOS videoGrabber not working on arm64"
Stepping a bit ahead however testing on iOS arm64, the videoGrabber does not work with symbolic errors similar to that found when compiling against the Simulator.

Related to the `__arm__` pre-processor code to disable simulator: https://github.com/openframeworks/openFrameworks/issues/1659

I.E. arm64 is not `__arm__` it is `__arm64__` however this whole pre-processor should be removed to enable c

[2014-11-04 13:20] jloehr opened #3389 "ofPolyline::getIndexAtLength returns 0 if length is perimeter"
When calling `getIndexAtLength(float length)` with a value greater or equal to its perimeter as parameter the function returns the index 0 instead of lastPointIndex.

For closed Polylines it doesn't matter, but if it is not closed it is logical to get the last index when the length is the exact perimeter.

To reproduce it create a sample ofPolyline with multiple Points, then call
`SamplePolyline.

[2014-11-04 15:29] #3389 closed, assigned to nobody

[2014-11-04 16:35] nosarious opened #3391 "strange issue with latest ofxKinect and multiple Kinects"
I recently updated my Xcode, and in doing so ended up with a number of code breaks, which prompted me to update to the latest openFrameworks (0.8.4) which included new ofxKinect files.

Since then, when running my rebuilt software that uses multiple Kinects, I have noticed a series of pauses that seem to be centered around threads which are getting opened, closed, etc. They don't happen right away

[2014-11-04 20:40] ghost opened #3392 "Consider ClangFormat support to allow reformatting"
Split out of #3390.

If we were to codify the OF style
  https://github.com/openframeworks/openFrameworks/tree/master/scripts/dev/style
  https://github.com/openframeworks/openFrameworks/wiki/openFrameworks-Coding-style-guidelines
  https://github.com/openframeworks/openFrameworks/wiki/oF-code-style

into a `.clang-format` file at the root of the repo, we could use [ClangFormat](http://clang.llvm.

[2014-11-05 15:38] vdonnefort opened #3396 "osx: gst: build error"
It seems that the GStreamer embedded freetype is conflicting with the OF one. Here's the error I get using  _make USE_GST=1_

[code]

[2014-11-05 22:29] #3362 closed, assigned to nobody

[2014-11-05 22:58] #3396 closed, assigned to nobody

[2014-11-06 15:12] iniwap opened #3398 "ofxAndroid OFAndroid keyDown and keyUp Crash Bug!"
master branch,on android,if u click the back key,it will crash.

11-06 23:09:45.158: E/libEGL(9627): call to OpenGL ES API with no current context (logged once per thread)

the problem is that u can't make native call for onBackPressed,it should be called in navtive GL thread,not in Android thread.
I fix this bug.
I have tested this!

[2014-11-08 11:10] PetrosKataras opened #3404 "ofVideoPlayer linux / Error on buffer size for some videos when setting OF_PIXELS_NATIVE"
Hi,

I am with latest master under xubuntu 14.04.

If I set the player to use the default pixel format I get this error with a video captured from a GoPro camera :

[notice ] ofGstVideoPlayer: allocating with 860x646 I420
[ error ] ofGstVideoUtils: buffer_cb(): error on new buffer, buffer size: 834632!= init size: 833340
[ error ] ofGstUtils: gstHandleMessage(): embedded video playback halted for

[2014-11-10 15:18] igiso opened #3406 "ofAppNoWindow key events"
(currently not working)
maybe I am missing something but I think
we should just use

   ofNotifyKeyPressed(getchar());

(inside runAppViaInfiniteLoop)

instead of GetAsyncKeyState .. or .. getch(), kbhit() etc..

[2014-11-12 03:57] yty opened #3407 "static ofImageType ofImageTypeFromPixelFormat() bug!"
Should add more support..

For example:
[code]

Otherwise, use swapRGB() the error..
[code]

[2014-11-12 07:13] nneonneo opened #3408 "Support Android Studio"
Currently, the projects only work with Eclipse. Android Studio looks like it is going to become Google's preferred IDE for Android code, so we should think about getting support for Android Studio for openFrameworks.

I have successfully created a set of Android Studio project files, and instructions for using them, over at https://github.com/nneonneo/openFrameworks-AndroidStudio. The build files

[2014-11-13 16:00] liasomething opened #3411 "exit(); does not work inside testApp (ofApp) - missing documentation"
the command exit();
does not work when called from inside testApp.cpp (ofApp.cpp).
if i use
::exit(0);
then it works, but there is nothing about that in the documentation (?)

[2014-11-13 20:30] admsyn opened #3412 "ofSound* global calls should emit a warning if they're not implemented"
[These calls](https://github.com/openframeworks/openFrameworks/blob/b091db2a7618035331e98fa1a22c0f4ab39bb1f3/libs/openFrameworks/sound/ofSoundPlayer.cpp#L9-L36)

[2014-11-15 17:07] #3286 closed, assigned to nobody

[2014-11-15 17:09] #3245 closed, assigned to nobody

[2014-11-15 17:15] nneonneo opened #3416 "Reduce the size of ofxAndroid shared libraries"
Currently the Android support generates shared libraries that are ~16MB each for `emptyExample`. On armeabi-v7a (the most popular Android ABI), two such libraries are generated (one with NEON and one without).

This results in a rather long deployment time to many phones, which slows down development, etc. So I propose a few ways that the libraries could be reduced in size.
- Strip them before dep

[2014-11-16 18:25] timscaffidi opened #3418 "ofxCvHaarFinder: disable image textures by default for use in threads"
I noticed that the haar finder class uses some internal image objects which are by default using a texture, and there is no way to turn this off. Because of this, on most implementations, you will get a runtime error if you try to use the haar finder from a thread, as it attempts to access the GPU.

As far as I can tell there is no reason that the haar finder would need to update these internal im

[2014-11-16 21:00] #3009 closed, assigned to nobody

[2014-11-16 21:02] #2949 closed, assigned to nobody

[2014-11-16 21:06] #3193 closed, assigned to nobody

[2014-11-16 21:18] HalfdanJ opened #3419 "Rename addon.make, and restructure the content"
After been talking with @arturoc and @bakercp, i propose to change the make file for projects with 0.9.0.

There are several reasons to do this. First of all, the current file structure is very inflexible, and it would be good to add some more metadata to the file. First of all add more metadata to the addon dependencies, specifying specific git urls and version (optionally) to addon dependencies.

[2014-11-18 01:35] #3412 closed, assigned to admsyn

[2014-11-18 03:00] #3416 closed, assigned to nobody

[2014-11-18 13:05] danoli3 opened #3423 "iOS Libraries for 0.9, should we drop armv7s?"
So since the release of Xcode 6 and iOS 8 Apple have removed ```armv7s``` from the ``` ${ARCHS_STANDARD}```.
ARCHS_STANDARD is now: ```armv7, arm64``` and was ```armv7, armv7s, arm64``` for Xcode 5 / iOS 7

Basically ```armv7s``` contains some optimisations for floating point operations (VFPv4) and integer division for the A6/A6X chip.
However the A6/A6X also runs ```armv7``` so it is not required

[2014-11-19 07:32] danoli3 opened #3425 "iOS Video Grabber crashing apps when permission switched off"
The iOS Video Grabber requires the user permission to be used from iOS 7 onwards.
Automatically iOS will prompt the user for permission to use the camera.
- If the user selects no, the app will crash.
- If the user selects yes, the app will function normally and never be prompted again unless for In iOS 7.1 and iOS 8+ you can switch or turn off this permission from the Settings for any given app.

[2014-11-19 11:38] minusplusminus opened #3426 "Emscripten tutorial"
Hi,

I'm trying to figure out how to realize an Emscripten build. There's not much documentation about this option.

The only thing I could find is:
https://github.com/openframeworks/openFrameworks/pull/2992

[2014-11-19 14:56] #3418 closed, assigned to nobody

[2014-11-20 16:55] #3346 closed, assigned to nobody

[2014-11-20 18:11] danomatika opened #3430 "project generator ADDON_CFLAGS only sets C++ Flags in Xcode"
ADDON_CFLAGS in addon_config.mk actually sets the *Other C++ Flags* in Xcode. This is fine for C++ libs but does't work when compiling C libs.

For instance, ofxPd uses libpd which is a C library and requires a couple of defines to be set to build correctly. Those flags have to be set in *Other C Flags* to work in Xcode but they are only set in *Other C++ Flags*, so generated projects do not work.

[2014-11-20 20:03] #3363 closed, assigned to nobody

[2014-11-20 21:39] ptterb opened #3431 "ofVideoPlayer on iOS drawing issues"
ofVideoPlayer seems to crop instead of resize with draw function.

[code]

![screen shot 2014-11-20 at 4 37 41 pm](https://cloud.githubusercontent.com/assets/177720/5133488/a1358754-70d3-11e4-85ab-b5bd64c4ee87.png)

[2014-11-21 16:15] kylemcdonald opened #3432 "ofPixels::allocate doesn't set width/height correctly sometimes"
just looking at `ofPixels::allocate` i noticed something:

[code]

this prints:

[code]

i think the solution is to just change a little code:

[code]

but i'm surprised we haven't run into this before with rotation or something similar breaking?

[2014-11-21 20:35] #3432 closed, assigned to nobody

[2014-11-22 01:03] indicatesvoid opened #3435 "ofSerial prefixMatch search does not find Raspberry Pi UART under certain versions of Raspbian"
I am unsure if, at one point, the Raspberry Pi's UART routed to /dev/ttyACM0, however, on my Pi (updated to latest via apt-get update/upgrade), it routes to /dev/ttyAMA0.

As such, the ofSerial class will skip over it when building a device list.

A simple fix would be to add the following line after line 168 of ofSerial.cpp:

[code]

(curious if there is a reason ofSerial isn't just doing a blank

[2014-11-24 14:11] danoli3 opened #3436 "iOS ESRenderer initialisation issue for old devices"
Would be a crashing bug, however it is only affecting a handful of devices that may not even exist in use anymore ;)

After stepping through the renderers for the new window changes coming in for 0.9 with @julapy we discovered that, if a device failed to load `OpenGLES 2.0` (programmable renderer), it would then try and load `OpenGLES 1.1` (not programmable renderer), however openFrameworks window

[2014-11-24 14:15] danoli3 opened #3437 "iOS OpenGLES 2.0 for default renderer?"
So after looking up all the stats, Apple iOS devices support `OpenGLES 2.0` across the board (minus a handful of ancients).

[Apple Device Compatibility Matrix](https://developer.apple.com/library/ios/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html)

Currently openFrameworks examples and project setup will default to `OpenGL

[2014-11-24 23:09] #3431 closed, assigned to nobody

[2014-11-24 23:37] julapy opened #3445 "ofxAVFoundationVideoPlayer - replacement for iOS and OSX video player"
ive been working on ofxAVFoundationVideoPlayer as a replacement for iOS and OSX video player.
https://github.com/julapy/ofxAVFoundationVideoPlayer

the back story here is that, initially it was a port of ofxiOSVideoPlayer which i was able to make work across iOS and OSX thanks to the AVFoundation framework being designed to work the same across the two platforms. ive also been comparing it with of

[2014-11-24 23:41] #3445 closed, assigned to julapy

[2014-11-28 06:36] igiso opened #3455 "osX : getCliboardString crashes when accessing an empty clipboard"
if you do:

<pre lang="c++"><code>
ofGetWindowPtr()->getClipboardString();
</code></pre>

with an EMPTY clipboard (that is right after you restart your machine)

the app will crash because glfwGetClipboardString will return NULL
and we are forcing it into a string without checking first

we should do something like:

<pre lang="c++"><code>
if(glfwGetClipboardString(ofAppGLFWWindow::windowP)!=NULL)

[2014-11-28 10:09] pusnik opened #3456 "ofSystemLoadDialog hangs app on OS X"
Draw and update methods get called but nothing on screen is updated. Issue is reproduced on 10.10 as on 10.9. ofSystemSaveDialog works normal. Using OF 0.8.4 stable version.

Also to note is that ofSystemSaveDialog works without any problem on both OS X versions.

Edit: It works without problem on (all using the same bin) :
               - macbook pro retina 15" late 2013 with Nvidia graphics (OS

[2014-12-01 18:44] ghost opened #3458 "Relax const correctness for function overloading"
If you'll overload one of [these draw methods](https://github.com/openframeworks/openFrameworks/blob/3b6bf4/libs/openFrameworks/gl/ofGLRenderer.h#L29-L37) in your addon, your custom draw method should be const correct too. And all of its functions should be const correct too, and functions of those functions... The problem is that ofxShivaVG, for example, uses ShivaVG library which uses malloc / f

[2014-12-01 18:56] #3458 closed, assigned to nobody

[2014-12-02 06:24] yty opened #3459 "OF_KEY_CONTROL&GLFW bug?"
I'm using the latest today OF(master)+vs2012+win7 32bit

[code]

This is GLFW a bug?

[2014-12-02 13:25] ghost opened #3460 "ofGLProgrammableRenderer: can't change line width"
Line example:

[code]

OpenGL 2.1:

![](http://i.imgur.com/9HwUr8m.png)

OpenGL 3.3 (same code with `ofSetOpenGLVersion(3,3)`):

![](http://i.imgur.com/8oM1uuF.png)

Path example:

[code]

OpenGL 2.1:

![](http://i.imgur.com/vTy9LQH.png)

OpenGL 3.3 (same code with `ofSetOpenGLVersion(3,3)`):

![](http://i.imgur.com/1UbsxfV.png)

[2014-12-03 23:20] bakercp opened #3462 "AVFoundationPlayer - Error Spew (asks me to open the video in texture only mode?)"
With the current master branch, I'm getting a lot of error spew from this video:

http://christopherbaker.net/dropbox/BBB_720.mov

[code]

One solution is to simply re-encode, but the project I'm working on requires the ability to open a broad spectrum of videos of various codecs.  Unlike the former `ofQTKitPlayer` I can't seem to figure out how to set it up to use a texture exclusively.

Anyway,

[2014-12-04 15:48] igiso opened #3463 "ofTexture line 914 glActiveTexture(GL_TEXTURE0); -catch exception"
[code]

This happens both with GLUT and GLFW,

in some machines the moment you draw an Image/texture, it gives an exception

it has been mentioned many times.

REASON:
  GL_TEXTURE0 was not introduced until openGL 1.3 so when called directly on machines without that it throws an exeption,

If I remove it, and run an empty openframeworks example with just an ofImage::draw()

it compiles and runs sm

[2014-12-05 08:42] #3455 closed, assigned to bakercp

[2014-12-05 18:30] #3456 closed, assigned to nobody

[2014-12-07 06:22] HalfdanJ opened #3470 "ofVec2f deprecate align"
Currently we have both align and isAligned, they do the same and confuse. Should we deprecate one of them?
It's the same with alignRad and isAlignedRad

The same with ofVec3f

[2014-12-11 13:51] ofTheo opened #3474 "iOS 8 broken orientation with ofxiOSImagePicker"
If you have hardware orientation enabled on iOS 8 and the app orientated in landscape the camera interface will show in landscape but the image view inside it will be 90 degrees off. So horizontally panning of the device will result in a vertical panning of the cameras view.

To replicate in the master branch of examples/ios/ImagePickerExample change main.mm to:

	ofAppiOSWindow * window = new ofA

[2014-12-11 23:38] #181 closed, assigned to nobody

[2014-12-11 23:39] #225 closed, assigned to nobody

[2014-12-11 23:40] #228 closed, assigned to nobody

[2014-12-11 23:57] #275 closed, assigned to nobody

[2014-12-11 23:58] #292 closed, assigned to nobody

[2014-12-12 17:51] #405 closed, assigned to nobody

[2014-12-12 17:52] #406 closed, assigned to nobody

[2014-12-12 17:53] #412 closed, assigned to nobody

[2014-12-12 17:54] #418 closed, assigned to nobody

[2014-12-12 17:55] #424 closed, assigned to nobody

[2014-12-12 17:58] #490 closed, assigned to nobody

[2014-12-12 17:59] #491 closed, assigned to nobody

[2014-12-12 18:01] #495 closed, assigned to nobody

[2014-12-12 18:07] #507 closed, assigned to nobody

[2014-12-12 19:21] #522 closed, assigned to nobody

[2014-12-12 19:26] #529 closed, assigned to nobody

[2014-12-12 19:27] #530 closed, assigned to nobody

[2014-12-12 19:31] #534 closed, assigned to nobody

[2014-12-12 19:35] #545 closed, assigned to nobody

[2014-12-12 19:37] #589 closed, assigned to nobody

[2014-12-12 19:51] #590 closed, assigned to nobody

[2014-12-12 19:52] #591 closed, assigned to nobody

[2014-12-12 19:53] #605 closed, assigned to nobody

[2014-12-12 19:54] #612 closed, assigned to nobody

[2014-12-12 19:54] #1229 closed, assigned to nobody

[2014-12-12 19:55] #2767 closed, assigned to nobody

[2014-12-12 19:55] #2983 closed, assigned to nobody

[2014-12-12 20:00] kylemcdonald opened #3477 "matrix and vector math overhaul"
this issue is meant to capture a few development directions:
- `ofVec2f::average` has a strange behavior (#976)
- `ofMatrix3x3` is significantly different from `ofMatrix4x4` (#1403)
- `ofMatrix3x3` is missing many features
- libraries like [glm](http://glm.g-truc.net/) already provide great libraries for matrix and vector math, and we shouldn't be re-implementing these things

however, there are s

[2014-12-12 20:00] #3293 closed, assigned to nobody

[2014-12-12 20:04] #1403 closed, assigned to nobody

[2014-12-12 20:06] #1256 closed, assigned to nobody

[2014-12-12 20:13] #3108 closed, assigned to nobody

[2014-12-12 20:17] #389 closed, assigned to nobody

[2014-12-12 20:18] #1117 closed, assigned to nobody

[2014-12-12 20:18] #1955 closed, assigned to nobody

[2014-12-12 20:25] #3067 closed, assigned to nobody

[2014-12-12 20:26] #3459 closed, assigned to nobody

[2014-12-12 20:32] #305 closed, assigned to nobody

[2014-12-12 20:36] #387 closed, assigned to nobody

[2014-12-12 20:38] #500 closed, assigned to nobody

[2014-12-12 20:50] #555 closed, assigned to nobody

[2014-12-12 20:51] #569 closed, assigned to nobody

[2014-12-12 20:53] #671 closed, assigned to nobody

[2014-12-12 20:55] #700 closed, assigned to nobody

[2014-12-12 21:00] #717 closed, assigned to nobody

[2014-12-12 21:01] #745 closed, assigned to nobody

[2014-12-12 21:04] #719 closed, assigned to nobody

[2014-12-12 21:09] #743 closed, assigned to nobody

[2014-12-12 21:22] #765 closed, assigned to nobody

[2014-12-12 21:29] #417 closed, assigned to nobody

[2014-12-12 21:32] #767 closed, assigned to nobody

[2014-12-12 21:38] #786 closed, assigned to nobody

[2014-12-12 21:41] #787 closed, assigned to nobody

[2014-12-12 21:51] #800 closed, assigned to nobody

[2014-12-12 21:51] #811 closed, assigned to nobody

[2014-12-12 21:52] #815 closed, assigned to nobody

[2014-12-12 21:53] #818 closed, assigned to nobody

[2014-12-12 22:01] #831 closed, assigned to nobody

[2014-12-12 22:03] #846 closed, assigned to nobody

[2014-12-12 22:05] #849 closed, assigned to nobody

[2014-12-12 22:15] #920 closed, assigned to nobody

[2014-12-12 22:16] #925 closed, assigned to nobody

[2014-12-12 22:17] #926 closed, assigned to nobody

[2014-12-12 22:18] #928 closed, assigned to nobody

[2014-12-12 22:20] #930 closed, assigned to nobody

[2014-12-12 22:23] #3096 closed, assigned to nobody

[2014-12-12 22:26] #976 closed, assigned to nobody

[2014-12-12 22:28] #987 closed, assigned to nobody

[2014-12-12 22:28] #1001 closed, assigned to nobody

[2014-12-12 22:35] #1075 closed, assigned to elliotwoods

[2014-12-12 22:42] #1116 closed, assigned to nobody

[2014-12-12 22:44] #856 closed, assigned to nobody

[2014-12-12 22:45] #1128 closed, assigned to nobody

[2014-12-12 22:52] #1171 closed, assigned to nobody

[2014-12-12 22:52] philippelaulheret opened #3478 "ofxNetwork: improper error handling in TCPClient"
The function ofxTCPClient::receiveRaw() is doing some crazy stuff :

if (messageSize == TCP_MAX_MSG_SIZE) the string won't be null-terminated (while the buffer is allocated with one extra byte to handle this situation).

if an error is returned, (messageSize == -1) a null-byte is written outside of the bounds of the array.
A normal use case where this happen : on windows, calling the recieveRaw fu

[2014-12-12 22:58] #1175 closed, assigned to nobody

[2014-12-12 23:02] #929 closed, assigned to nobody

[2014-12-12 23:09] #1202 closed, assigned to nobody

[2014-12-12 23:10] #1186 closed, assigned to nobody

[2014-12-12 23:11] #1233 closed, assigned to nobody

[2014-12-12 23:14] #1236 closed, assigned to arturoc

[2014-12-12 23:16] #1314 closed, assigned to nobody

[2014-12-12 23:21] #1356 closed, assigned to nobody

[2014-12-12 23:26] #1365 closed, assigned to nobody

[2014-12-12 23:27] #1387 closed, assigned to nobody

[2014-12-12 23:28] #1152 closed, assigned to nobody

[2014-12-12 23:28] #1402 closed, assigned to nobody

[2014-12-12 23:31] #1326 closed, assigned to arturoc

[2014-12-12 23:33] #1348 closed, assigned to nobody

[2014-12-12 23:43] #1364 closed, assigned to nobody

[2014-12-12 23:44] #1988 closed, assigned to nobody

[2014-12-13 00:09] #1567 closed, assigned to nobody

[2014-12-13 08:38] #2555 closed, assigned to nobody

[2014-12-14 20:29] julenka opened #3481 "iOS Add touch majorRadius property"
As of iOS 8.0, UITouch has a public `majorRadius` property which communicates the approximate size of the touch. It would be nice to set the `majoraxis` property of `ofTouchEventArgs` to `majorRadius`.

The change is tested, I have used the `majorRadius` property in a [research project](http://juliaschwarz.net/publications/2014/05/04/palm-rejection/) already. A patch implementing this change is av

[2014-12-15 20:39] youandhubris opened #3482 "ofVideoPlayer does not allocate texture under a custom shader on the master branch"
When I try to pass a texture from ofVideoPlayer as a uniform, I get the following error:

**[ error ] ofTexture: getTextureData(): texture has not been allocated**

I also set **setUseTexture** to true, to make sure. I tried with openGL 4.1 and 2.1.
With ofVideoGrabber everything works fine. I'm using the current master branch, Mac OS 10.10.1, Xcode 6.1.

[2014-12-15 20:42] youandhubris opened #3483 "Kinect depth texture not working under the Programmable Renderer"
If I enable the ofGLProgrammableRenderer on the current release, or by setting up ofSetOpenGLVersion on the master version, the getDepthTexture function doesn't work. It just returns a black screen.

I'm using Mac OS 10.10.1, XCode 6.1 and I don't get any error messages.

[2014-12-15 21:23] BananasGoMoo opened #3484 "ofSetVerticalSync does not work correctly, problem identified."
So, I posted an issue before about how ofSetFramerate and ofSetVerticalSync did not work before, and ofSetFramerate was fixed. The issue was closed and I was told to make a new issue when I figured out the problem with vertical sync.

So I am back because I figured out the problem.

I found that if I get the window pointer (ie: using ofGetWindowPtr()) and then call window->setVerticalSync(true), i

[2014-12-15 21:31] bakercp opened #3485 "Update TargetPlatform Enum"
Currently our ofTargetPlatformEnum is:

[code]

For projects like Project Generator and ofSketch, it would be very useful to have a better differentiation for android, and 32/64 bit platforms.   Proposed update:

[code]

Alternatively it might be useful to break this down a bit:

[code]

_EDITED: to update w/ @danoli3's comments._

@danoli3 -- does that look right for IOS?
@arturoc What do you thi

[2014-12-15 23:15] armadillu opened #3486 "ofLoadImage on Win8 VS - FreeImage_Load() causes heap corruption."
When loading this particular image (and others):

http://images.collection.cooperhewitt.org/44777_05e33c1aec037de1_b.jpg

Visual Studio 2012 triggers a breakpoint deep inside freeImage ( FreeImage_Load() ) and it reports something along the lines "heap block at modified at past requested size of 1".

You can reproduce the issue with:
[code]

Not entirely sure how much of an issue can this really b

[2014-12-16 11:14] jamet opened #3487 "gtk2 gtk3 incompatibilty crashes app that includes ofxOpenCV and ofSystemUtils on ubuntu, since include of libopencv-dev in install_dependencies.sh"
hi,

running through a problem that crashes app using ofxOpenCV when calling ofSystemLoadDialog.

as i try to explain in this forum thread http://forum.openframeworks.cc/t/gtk2-gtk3-error-when-calling-ofsystemloaddialog-seems-related-with-ofxopencv-and-opencv-dependencies-on-gtk2/17964/3

to make it short, by default OF core use GTK major version (3 on ubuntu).
In the github repo, install_dependen

[2014-12-16 20:40] danomatika opened #3488 "ambiguous ofXml error messages"
ofXml gives me this when it can't load a file aka file path is wrong:

    [ error ] ofXml: loadFromBuffer(): DOM ERROR

It would be a lot more helpful if there was a file path check *before* trying to load the given file so something like this could printed instead:

    [ error ] ofXml: couldn't load, file not found

`DOM ERROR` makes you think something is wrong with the markup when, in fact, t

[2014-12-19 23:38] vdonnefort opened #3489 "New window drawing refresh proposal"
I'm not happy with the cpu usage of an OF based application. I made a lot of test and it seems related to the drawing which is call regularly and can be changed using ofSetFrameRate()

I want to propose another way to refresh the window but It changes a lot of things so before starting, I'd like to know your opinion:

My idea is to only call ofNotifyEvent() when it's needed. The application ask fo

[2014-12-27 15:50] bakercp opened #3492 "Missing Implementations: ofMesh"
- [ ] vector& ofMesh::getFace(int faceId)

A rudimentary implementation from `ofPrimitive` is commented out in the `ofMesh.cpp`.

From https://github.com/openframeworks/openFrameworks/issues/2748

[2014-12-27 15:51] bakercp opened #3493 "Missing Implementations: ofPath"
- [x] ofPath::getCurveResolution

From https://github.com/openframeworks/openFrameworks/issues/2748

[2014-12-27 15:52] bakercp opened #3494 "Missing Implementations: of3dPrimitive"
- [x] of3dPrimitive::clear()
- [ ] of3dPrimitive::removeTexture(int)
- [ ] of3dPrimitive::removeMesh(int)

From https://github.com/openframeworks/openFrameworks/issues/2748

[2014-12-27 15:53] bakercp opened #3495 "Missing Implementations: ofVec4f"
- [x] ofVec4f::set(float)

From https://github.com/openframeworks/openFrameworks/issues/2748

[2014-12-27 15:53] bakercp opened #3496 "Missing Implementations: Global"
- [x] ofRectRounded(float, float, float, float, float, float)
- [x] ofDrawRectRounded(float, float, float, float, float, float)

From https://github.com/openframeworks/openFrameworks/issues/2748

[2014-12-27 15:54] #2748 closed, assigned to nobody

[2014-12-27 22:04] bakercp opened #3497 "Missing Implementations: ofDirectory"
- [x] ofDirectory::canRead() const;
- [x] ofDirectory::canWrite() const;
- [x] ofDirectory::canExecute() const;

From: https://github.com/openframeworks/openFrameworks/issues/2748

[2014-12-27 22:13] #3497 closed, assigned to bakercp

[2014-12-27 23:29] lennart opened #3501 "Building against Yosemite SDK (Mac OS X 10.10)"
This will not work until OF uses libc++ instead of libstdc++ on osx.

[2014-12-27 23:34] #3501 closed, assigned to nobody

[2014-12-28 06:41] bakercp opened #3503 "OF_VIDEO_PLAYER_* define paradigm not working on 10.7"
With the recent advent of the `OF_VIDEO_PLAYER_*` define paradigm for selecting the `ofVideoPlayer` backend, video is broken on 10.7.

Since our current `ofAVFoundationPlayer`/`ofAVFMovieRenderer` is not 10.7 compatible (see this for a lengthy discussion about why [@pizthewiz]) we use `ofQTKitPlayer`/`ofQTKitMovieRenderer` for 10.7.  10.6 is being deprecated with the next release, so it's less of

[2014-12-28 23:19] bakercp opened #3505 "Add OF_DEPRECATED_MSG macro to ofImage"
bool bAllocated() should be wrapped.

[2014-12-28 23:30] #3493 closed, assigned to bakercp

[2014-12-28 23:33] #3496 closed, assigned to bakercp

[2014-12-28 23:42] #3495 closed, assigned to bakercp

[2014-12-29 20:46] bakercp opened #3506 "Document 0.9.0 Platform Support Coverage"
Please edit this list directly if you have more information :)

OS X
- ~~10.6~~ _Removed_
  - _No support for libc++ / c++11, etc_
- 10.7 - 10.10 (_FAT Bundle_)
  - Note: QTKitVideo pipeline will be deprecated, but essential for 10.7 support.
  - i386 (with libc++)
  - x86_64 (with libc++)

iOS (using 10.9+ OSX)
- ~~iOS 4~~ _Removed_
  - _see #2568 for more discussion_
- iOS 5.1 - 9.1 (_FAT Bundle

[2014-12-29 20:52] bakercp opened #3507 "Remove Support for OSX 10.6"
- [X] ofConstants (Update)
- [X] Legacy QuickTimePlayer (do we still need this for windows?)
- [X] Makefiles

[2014-12-30 19:16] #3387 closed, assigned to danoli3

[2014-12-30 19:16] #1659 closed, assigned to danoli3

[2015-01-01 00:18] procedural opened #3512 "All transformations are messed up!"
Master branch. I don't know how to describe it :) I'll show it instead!

[code]
![screenshot](https://cloud.githubusercontent.com/assets/1072168/5591427/e9ee2a60-916b-11e4-9df8-c09837571ec0.png)

**Currently all 3d / gl examples are not showing stuff properly** because of this.

It's happened after multiwindow merges, I suppose. At least few days ago everything was fine.

Happy new year, everyone!

[2015-01-01 02:56] procedural commented on #3512
Woah, [ofGLRenderer](https://github.com/openframeworks/openFrameworks/blob/ec5c63/libs/openFrameworks/gl/ofGLRenderer.cpp#L414-L581) is kinda programmable now too? ;)

[2015-01-01 03:01] procedural commented on #3512
Fixed! PR on the way...

![screenshot](https://cloud.githubusercontent.com/assets/1072168/5591571/8ebc43ba-917b-11e4-9b1b-901e2279affb.png)

[2015-01-01 13:17] #3512 closed

[2015-01-02 09:19] procedural opened #3514 "ofVboMesh doesn't draw meshes on Mesa driver [1]"
[code]
On OpenGL 2.1:

![1](https://cloud.githubusercontent.com/assets/1072168/5595037/50634416-9279-11e4-833e-a79a52b835d0.png)

With `settings.setGLVersion(3, 3);`:

![2](https://cloud.githubusercontent.com/assets/1072168/5595039/539a2b04-9279-11e4-8eba-02d1e67f1317.png)

It's not just `ofDrawCircle`, every draw command is not working.

This happened after multidraw branch merge, before that pro

[2015-01-02 15:31] arturoc commented on #3514
that's really strange, i've tested most graphics examples with both renderers but some last minute change must have broken something, let me take a look

[2015-01-02 15:40] arturoc commented on #3514
mmh, it's working without problem for me, what OS and graphics card are you using? also do you see any errors on the console?

[2015-01-02 15:41] procedural commented on #3514
[code]

[2015-01-02 15:43] procedural commented on #3514
@arturoc I worked with programmable gl before multiwindow merge, - worked without problems too... I mean just drawing a circle would made me happy :D
[code]

[2015-01-02 15:54] arturoc commented on #3514
can you add `ofSetLogLevel(OF_LOG_VERBOSE);` in main before anything else? you should get some messages about the initialization of the shaders

[2015-01-02 16:23] procedural commented on #3514
two messages above - that's `ofSetLogLevel(OF_LOG_VERBOSE);` log

[2015-01-02 16:26] procedural commented on #3514
oh, you mean before anything else - sure, I'll do it...

[2015-01-02 16:27] procedural commented on #3514
commit [08ee18](https://github.com/openframeworks/openFrameworks/tree/08ee18) - programmable gl working fine...

[2015-01-02 16:31] procedural commented on #3514
@arturoc here it is:
[code]

[2015-01-02 16:37] procedural commented on #3514
I think I can try this new Catalyst Omega driver and report if it'll work?

[2015-01-02 18:14] procedural commented on #3514
Huh, now *that* is unexpected...

![screenshot](https://cloud.githubusercontent.com/assets/1072168/5598252/f43a5c06-92c3-11e4-981a-dece2a5fad3f.png)

Same log of successful compilations, but with latest Mesa it doesn't show anything for latest commit, but **does** show stuff for [08ee18](https://github.com/openframeworks/openFrameworks/tree/08ee18).

@arturoc, have you changed shaders or graphics

[2015-01-02 18:38] youandhubris commented on #3514
Hi there!

I think my issue relates to this one, so I'll comment here. After the merge, I can only compile shaders in openGL 2.1. With any other version I get:

(And the same output for the fragment shader.)
My syntax for creating the window is:

    int main(){

    ofWindowSettings settings;
    settings.width=900;
    settings.height=900;
    settings.windowMode = OF_WINDOW;
    ofCreateWindow(

[2015-01-02 19:00] arturoc commented on #3514
@youandhubris this:

[code]
is wrong, the right call to change the GL version now is:

[code]

before calling `ofCreateWindow(...`.

also if you are using GLSL version 150 you should use GL 3.2 not 4.1. ofGLSLVersionFromGL(4, 1); will return the correct version for the shaders with GL 4.1

[2015-01-02 19:06] arturoc commented on #3514
@procedural, i've done several changes to the graphics system but all of them have been refactoring in order to clean the architecture it shouldn't change the behaviour. i must have introduced some change in the shaders or somewhere else but it's difficult to debug since i don't have the error. i'll have access to a machine with ATI in a few days and will take a look but meanwhile perhaps you can

[2015-01-02 19:10] youandhubris commented on #3514
Sorry @arturoc, I had the right openGL and GLSL versions (4.1 and 410). I was simply copy/pasting some logs and somehow I mixed everything up (no 4.1 and 150). My bad.

I did try **settings.setGLVersion** before, but I get *No member named 'setGLVersion' in 'ofWindowSettings'*. So, it's still not working for me.

[2015-01-02 19:14] procedural commented on #3514
Yep, I started to search for a solution since yesterday, I created this issue just so you guys were aware of a problem...

You should use GLFW or GLUT specific header directly, take a look at my code above:
[code]
[code]

[2015-01-02 19:26] arturoc commented on #3514
i've just included the specific window headers in ofMain so the window settings can be created without having to include the headers in main.cpp

[2015-01-03 13:38] procedural opened #3515 "TARGET_NO_VIDEO?"
So we have TARGET_NO_SOUND macro to disable sound if application don't need it, is it possible to do the same for video stuff?

I have an idea for a text editor application, but I don't want to force user install all the video codecs and libraries just so he could use the app. It's especially the problem for Linux where all the dependencies are usually linked dynamically and user should manually i

[2015-01-03 19:23] bakercp commented on #3515
+1 for this feature add.  It seems with NO_SOUND and NO_VIDEO we would be moving a little closer to the more modular OF that has been discussed in the roadmap and elsewhere.

[2015-01-03 19:47] procedural commented on #3515
Chris, exactly. I just hope it's not that much of a work to do, but I'm sure it's the last feature on my list which I would like to see in 0.9.0! :) I guess I can do a *proposal* PR if no one have time for this? And if it won't meet the requirements it can be closed.

[2015-01-03 19:53] bakercp commented on #3515
I'd suggest a proposal PR.  Since it's mostly pre-processor work and
backward compatible, it should be of interest ... (by the way, this is also
of interest for me with ofSketch, as we are running ofAppNoWindow).

On Sat Jan 03 2015 at 1:47:19 PM Constantine <notifications@github.com>
wrote:

[2015-01-03 19:55] procedural commented on #3515
Ah, yes, why would ofAppNoWindow care about videos! :)

[2015-01-03 19:58] bakercp commented on #3515
I suppose it might if it was just doing pixel-based stuff, but we're moving more and more toward direct to texture video, so having an option for no video (and no sound) makes a lot of sense to me.

[2015-01-03 19:59] bakercp commented on #3515
That said, for ofSketch you are always going to have to install dependencies to compile apps with the internal distro ... so I guess that's just going to be part of the game.

[2015-01-03 20:02] procedural commented on #3515
Well, at least ofSketch won't be so dependant on non-free codecs if people choose write non-audio-video apps. I'm using openFrameworks mostly for OpenGL, for example, it definitely would simplify my apps a lot...

[2015-01-04 00:56] bakercp opened #3517 "Ambiguous Access Warning in ofGLRenderer / ofGLProgrammableRenderer"
@arturoc In OSX, I'm getting the following warnings in the latest master:

[code]
[code]

[2015-01-04 13:53] arturoc commented on #3517
yes, i've seen that, seems like clang has some trouble differentiating 2 functions with the same name with and without template, it doesn't happen with gcc, it might also be something that is legal under c++11 and it won't be solved until we have support in osx. i'd wait till then and then decide, perhaps we can change the templated method to mapTyped

[2015-01-04 14:34] pierrep opened #3518 "ofGLProgrammableRenderer mesh draw() is not maintaining fill state correctly"
In the function
[code]

the use of
[code]
causes fill state to leak. By this I mean, if you precede the draw() with an ofNoFill() statement, even if you follow this with ofPopStyle(), the following polygons will be drawn as outlines no matter what the prior state.

A temporary fix to this I found was to modify setFillMode:
[code]
Perhaps someone more familiar with this code can comment whether thi

[2015-01-04 18:33] danthemellowman opened #3519 "Master Fails to Compile Android"
./../../libs/openFrameworks/sound/ofSoundStream.h:14:31: error: cannot allocate an object of abstract type 'ofxAndroidSoundStream'
  #define OF_SOUND_STREAM_TYPE ofxAndroidSoundStream

@arturoc can you build?
I'm trying out a fresh bring up of Eclipse.

[2015-01-04 19:08] danthemellowman commented on #3519
@arturoc its a simple fix. I've got it.

[2015-01-04 19:16] kylemcdonald commented on #2134
hey @bakercp can we close this? i think it's finalized ;)

[2015-01-04 19:16] #2134 closed

[2015-01-04 19:17] danthemellowman commented on #3519
well now I get this when I try to build an project

../../../libs/FreeImage/lib/android/armeabi-v7a/libfreeimage.a(libraw_cxx.o):libraw_cxx.cpp:function LibRaw_bigfile_datastream::get_char(): error: undefined reference to '__srget'
collect2: error: ld returned 1 exit status
make[1]: *** [libs/armeabi-v7a/libOFAndroidApp.so] Error 1
make: *** [Release] Error 2

[2015-01-04 20:10] pizthewiz commented on #3507
I have these changes in a local branch and if we can get #3502 merged, should be able to test and PR shortly.

[2015-01-04 21:00] pizthewiz commented on #3507
`ofQuickTimePlayer` appears to be used by Windows when without MinGW, see [ofConstants.h#L308-323](https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworks/utils/ofConstants.h#L308-323):
[code]

`ofQuickTimeGrabber.h` would now be dead via preprocessor [ofConstants.h#L269-282](https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworks/utils/ofConstants

[2015-01-04 21:09] bilderbuchi commented on #3518
pinging @openframeworks/2d-3d

[2015-01-04 21:42] manish-juneja commented on #3272
@ofZach  @AlexBatuev is using visual studio 2013 is it supported ?

[2015-01-04 23:04] #3519 closed

[2015-01-04 23:26] danthemellowman commented on #3519
well not the core compile but the the app fails to link.  Something is up with the FreeImage

[2015-01-04 23:44] procedural commented on #3519
@danthemellowman share linker errors, it's actually pretty easy to know what's missing on linking stage.

[2015-01-04 23:54] danthemellowman commented on #3519
Its in my previous comment

../../../libs/FreeImage/lib/android/armeabi-v7a/libfreeimage.a(libraw_cxx.o):libraw_cxx.cpp:function LibRaw_bigfile_datastream::get_char(): error: undefined reference to '__srget'

there is an undefined ref in the android build of FreeImage.  I tried rebuilding it using apothecary but it throws some weird error.

[2015-01-05 00:52] procedural commented on #3519
`__srget` was removed in ndk 10c: https://developer.android.com/tools/sdk/ndk/index.html

As an option you can fall back to ndk 10b for now:

http://dl.google.com/android/ndk/android-ndk32-r10b-darwin-x86.tar.bz2
http://dl.google.com/android/ndk/android-ndk64-r10b-darwin-x86_64.tar.bz2

[2015-01-05 00:58] danthemellowman commented on #3519
ok cool. let me try that.  I was using r9d forever.

I was in the process of testing out bringing up a new version of Eclipse to update the Docs and it's turned into an all day process haha.

[2015-01-05 02:23] danthemellowman commented on #3519
ok yeah reverting to the old one works. :)

[2015-01-05 02:27] procedural commented on #3519
Cool :)

I wonder should we open an issue about that error you've got when tried to compile recent FreeImage with apothecary? Pinging @bakercp :) Curious is it ready for android...

[2015-01-05 11:50] tgfrerer commented on #3518
hey @pierrep, i'm trying to reproduce this, but keep failing. do you mind pasting a minimal example (just the code inside `draw()` so that i can hunt this down?

[2015-01-05 14:39] tgfrerer opened #3523 "OpenGL drawing broken on Windows"
Neither programmable GL nor fixed function GL seem to work currently under windows 8.1.

This is what I'm seeing with the advanced3D example (notice the missing primitives):
![capture](https://cloud.githubusercontent.com/assets/423509/5614396/98b16b32-94e8-11e4-83ec-5caff7b9dad2.PNG)

I'm using VS2012, with a NVIDIA GT 750M with the latest Game Ready driver. Older, compiled projects still run, so

[2015-01-05 15:04] tgfrerer commented on #3523
Ok, seems i've narrowed it down to `ofBufferObject.cpp` using glNamed* methods, which are only available with OpenGL 4.5+, which my current driver doesn't seem to support.

These methods are `#defined` through `GLEW.h`, and have a `#define` around them in `ofBufferObject.cpp` - I come to think that's not enough, we'd need to check for whether these methods are actually *implemented*. Looking into

[2015-01-05 17:50] procedural opened #3524 "Program exit won't notify exit() callback"
Repro:
[code]

[2015-01-05 18:32] tgfrerer commented on #3523
Fixed it, with some help from the friendly people on irc's #OpenGL channel (shout-out to slime there. \o/)
PR on the way...

[2015-01-05 18:33] arturoc commented on #3523
if you can't find something very straight forward we can comment those out by now since i don't think anybody has 4.5 compatible drivers yet and the alternative implementation emulates the named buffers access.

[2015-01-05 18:38] #3523 closed

[2015-01-05 18:44] bilderbuchi commented on #3524
ping @arturoc who I think has the most idea about the intricacies of the exit procedure.

[2015-01-05 18:45] procedural commented on #3523
[Nvidia claims to support OpenGL 4.5](https://developer.nvidia.com/opengl-driver) (in beta driver)...

[2015-01-05 18:46] tgfrerer commented on #3523
indeed! i'm already sailing on 4.5 in windows =)

[2015-01-05 18:47] procedural commented on #3523
Lucky you :) I'm on AMD....

[2015-01-05 19:04] procedural commented on #3514
Ok, @tgfrerer's fix helped a little:

![window](https://cloud.githubusercontent.com/assets/1072168/5618131/c2d68602-9526-11e4-896a-a65d3bd38fb7.png)

Not a circle yet! :D But at least something. Where I could see this triangle across the left side of the screen before? It's common in computer graphics, but I can't remember what usually causes it...

[2015-01-05 23:23] pierrep commented on #3518
Actually I just realised that it might not be reproducible with regular of generated geometry. I was having problems using a geometry shader that kept drawing outlines instead of being filled (for the above reason).

I triggered it by calling "ofDrawBitmapStringHighlight()" and then running a geometry shader in the draw(). Maybe try the geometry shader in the repo preceded by a ofDrawBitmapStringH

[2015-01-06 07:35] pierrep commented on #3518
I just tried to reproduce this easily, the Geometry shader example won't work because it's not built for GL 3.2. However, any example that uses an ofMesh will. So if you put an ofDrawBitmapStringHighlight() call at the start of the draw() function in the Assimp addon example, you'll see what I mean ( all non-wireframe meshes will now be wireframe)

[2015-01-06 09:43] tgfrerer commented on #3518
will check asap.

[2015-01-06 10:19] tgfrerer commented on #3518
hmm - sorry, still can't see anything. i'm adding a ofDrawBitmapStringHighlight at the top of ofApp::draw() in assimpExample.

I think assimpExample (and the assimp addon) was written for fixed function GL, not for programmable GL. So it could be that in there (or in the assimp code) there are some bare GL methods flying around which modify the GL state in the background.

If I had a minimal testc

[2015-01-06 11:01] pierrep commented on #3518
Sorry, shouldn't have emphasised, you need to be using the programmable renderer, the bug only exists there. Did you do that?

[2015-01-06 11:16] tgfrerer commented on #3518
The thing is if I use the programmable renderer with an addon or project that uses bare OpenGL (2.0) calls (like assimpExample), all sorts of weird things can happen, and it wouldn't be necessarily be because of the renderer. Using assimpExample with the programmable renderer is quite brave in these respects, and makes it a bit more complicated to see what's actually going on; that's why i was hop

[2015-01-06 11:22] pierrep commented on #3518
OK, I'll try to reproduce it with a similar test case to the one above, with an ofMesh (it doesn't happen with a vboMesh because the ofPolygonMode() call doesn't happen.

[2015-01-06 11:28] tgfrerer commented on #3518
great =) here's the testcase i set up initially: https://gist.github.com/tgfrerer/b87b7427e0b1a4f0783c

[2015-01-07 03:21] procedural commented on #3515
I'll make it happen tomorrow! By the way, since only I and Chris agree on this, has anyone have something to say about the idea? @bilderbuchi, @arturoc, @tgfrerer?

[2015-01-07 04:12] procedural commented on #3515
Here's a recap:

 1. Apps won't depend on proprietary video codecs
 2. Less dependencies for end users to install to use applications
 3. Lesser binary size for application which don't require video capabilities (ofSketch, audio synths)
 4. Link time will be reduced. That's always good since compilers are great nowadays, but linkers still suck at handling big amount of libraries (MinGW's linker is

[2015-01-07 04:38] ofTheo commented on #3515
I wouldn't be against that. Especially if we already have a TARGET_NO_SOUND.
The main thing would be if it can be done cleanly. It would probably require checks then at the top of all video related files so you wouldn't have to manually pull the video files out of your project.

@arturoc - any thoughts on this?
To me it doesn't seem as pressing a priority as other things we have but it also seems

[2015-01-07 08:06] LeoColomb commented on #3272
@manish-juneja See #2571
@bilderbuchi I think this issues can be closed as duplicate of #1743

[2015-01-07 11:46] arturoc commented on #3515
anything that makes OF more modular is good imo. th only thing is that i added TARGET_NO_SOUND to be able to use OF in a platform where there were no sound support at all. so perhaps it would be good to check if it's the best way to go about this or there's some better way to enable/disable individual parts of OF

[2015-01-07 11:48] arturoc commented on #3515
and, yes, i agree with theo that this is not prioritary, also it's probably part of a bigger discussion of what needs to be done to be able to enable/disable different modules, not only video.

[2015-01-07 11:53] procedural commented on #3515
@arturoc, agree. [Found your comment](https://github.com/openframeworks/openFrameworks/issues/2587) on OF_SOUND_DISABLE,  I guess the plan was to make addons from sound, video and other features?

[2015-01-07 16:06] arturoc commented on #3515
That's something we discussed at the last OF meeting, making parts like the different video, sound... and probably at first anything that has different platform implementations into addons. that way it also makes it easier to swap from one system to another, like using gstreamer in  win or osx, or the different osx video implementations which would also help with the problem @bakercp found some da

[2015-01-07 19:40] danomatika commented on #3430
Any interest in this? Still a showstopper for ofxPd.

The easiest solution would be to introduce a new variable for the CFlags like ADDON_C_CFLAGS or ADDON_LOW_CFLAGS or some variant.

[2015-01-07 19:41] bakercp commented on #3430
Definitely interested, just not enough bandwidth at the moment ...

[2015-01-07 19:57] bilderbuchi commented on #3272
Thank you. Closing as duplicate.

[2015-01-07 19:57] #3272 closed

[2015-01-07 22:04] bilderbuchi commented on #3515
I got no strong feelings on this issue.

[2015-01-08 02:23] bakercp opened #3529 "Raspberry Pi compile bugs on master"
A few compile issues on master:

[code]

[code]
[code]

[2015-01-08 12:35] julapy opened #3530 "crash when passing a window object into ofSetupOpenGL"
the below is causing a crash, but was working previously.

[code]

running on OSX Yosemite, latest OF master.

[2015-01-08 13:53] #3530 closed

[2015-01-08 19:51] bilderbuchi commented on #3529
first one: probably something going wrong with the [macro](https://github.com/openframeworks/openFrameworks/blob/d95533d94c45f4bae1de5956d2539b201047bad0/libs/openFrameworks/types/ofTypes.h#L12) for C++11 detection?

[2015-01-08 20:00] bakercp commented on #3529
Indeed, the defines around the redefinition have changed since 0.8.4 and the rpi makefiles now compile w/ c++11 ... I haven't done any investigation, just marking this as an issue to figure out at some point before 0.9.0.

For whatever reason, even though c++11 is being used, the preprocessor still lets these tr1 definitions through ... so one of those defines -- perhaps TARGET_LINUX is not being

[2015-01-09 08:38] procedural commented on #3214
Also, with Mesa 10.5.0 from xorg-edgers ppa on Ubuntu the lag is much less noticeable.

[2015-01-09 08:46] procedural commented on #3524
Maybe this commit is related: https://github.com/openframeworks/openFrameworks/commit/de801b7

[2015-01-09 10:00] igiso opened #3531 "our GLFW version is not up to date"
hi,
our compiled  glfw  libraries have some bugs in them that are solved in the master branch of GLFW

Here are the bugs so we can keep an eye on them:

MAC:
MouseCursor disappears
fix:
https://github.com/openframeworks/openFrameworks/issues/3052 (&fixed in master)

Pool Cursor position directly:
fix
https://github.com/glfw/glfw/issues/355 (solved in master)

weird
resizing problem:
fix:
https://g

[2015-01-09 10:25] procedural commented on #3524
As I understand `exitEvent` is undefined? https://github.com/openframeworks/openFrameworks/search?q=exitEvent

[2015-01-09 12:00] arturoc commented on #3531
thanks so much Camilla we are releasing a new version soon too, we'll include 3.1.

[2015-01-09 12:12] procedural commented on #3524
Woah! Perfect! Thanks, @arturoc!

[2015-01-09 12:33] igiso commented on #3531
ok brilliant! closing this as solved then

@arturoc (non glfw related)
I noticed that with the new
implementation in master branch resize_cb is called BEFORE setup

with ofSetupOpenGL()

resize_cb is not called. so everything is OK

with ofCreateWindow()

reisze_cb is called once for some reason,

and this means that the solution to the resizing problem will cause unexpected behavior as it is.

Th

[2015-01-09 12:33] #3531 closed

[2015-01-09 12:42] igiso commented on #3531
my bad resize_cb is not called!!
I called setWindoSize in setup! :+1:

weird how with ofCreateWindow is called but with ofSetupOpenGl is not!

[2015-01-09 13:31] procedural opened #3532 "ofVboMesh doesn't draw meshes on Mesa driver [2]"
And if so, why it's not working for me?

Here I'm assigning `ofMesh` returned from `getMesh()` method to `ofVboMesh bitmapMesh`:

[code]

![screenshot](https://cloud.githubusercontent.com/assets/1072168/5680321/9dc1e7c8-981c-11e4-9812-b585559cd692.png)

Now I'm assigning `ofMesh` to **`ofMesh`**`bitmapMesh`:

[code]

![screenshot](https://cloud.githubusercontent.com/assets/1072168/5680320/940c43ae

[2015-01-09 23:09] groolot opened #3534 "ofxOsc doesn't make use of boolean OSC 1.1 specifications"
The OSC 1.1 specifications are not correctly implemented in ofxOsc and the oscpack extra library.
By now, the following message will not be interpreted:
`/to/my/boolean/path T`
nor this one:
`/to/my/boolean/path F`

By the way, oF developers seems to have choosen the `int`, `float` and `string` replacement like that:
`/to/my/path i 0` or `/to/my/path f 0` or `/to/my/path s true` interpreted as **T

[2015-01-10 13:00] bilderbuchi commented on #3532
pinging @openframeworks/2d-3d

[2015-01-10 15:15] procedural commented on #3532
Just to give a perspective here: because of this issue ofxGui is not showing button and slider bitmap labels...

[Here's an example from ofxLabel.cpp](https://github.com/openframeworks/openFrameworks/blob/b091db2/addons/ofxGui/src/ofxLabel.cpp#L38): getTextMesh returns `ofMesh` but [`textMesh` has `ofVboMesh` type](https://github.com/openframeworks/openFrameworks/blob/b091db2/addons/ofxGui/src/ofx

[2015-01-10 15:51] arturoc commented on #3532
yes this used in several places so it's strange that it's not working. i wonder if it's something similar to your other problem that seem to be related to the ATI driver. gui is drawing fine for me, i'm going to test your example...

[2015-01-10 15:52] arturoc commented on #3532
yeah it's working for me without problem. not sure what might be going on it's probably something related to how vbos are initialized.

[2015-01-10 15:53] procedural commented on #3532
Yea, maybe it's related to open source driver again, but now it's happens on OpenGL 2.1, which is entry level for all of consumer hardware out there...

[2015-01-10 15:55] procedural commented on #3532
Most probably, since ofMesh works fine and afaik it's converted to ofVboMesh at the end anyway?

[2015-01-10 17:49] danthemellowman opened #3536 "AVF based ofVideoPlayer draw(x, y, w, h) does not work as expected"
Below is the output of ofVideoPlayer on OSX 10.9.  If I try to scale the video texture using the

    video.draw(0, 0, video.width*scale, video.height*scale);

![screenshot 2015-01-10 12 44 03](https://cloud.githubusercontent.com/assets/719564/5692516/aac701c4-98c6-11e4-9e09-aa981a0036c3.png)

To scale the video texture and prevent this issue I must do this:

    ofPushMatrix();
    ofScale(scale,

[2015-01-10 18:22] #3536 closed

[2015-01-10 18:24] groolot opened #3537 "ofxOsc doesn't make use of OSC 1.1 types specifications"
The OSC 1.1 specifications are not correctly implemented in ofxOsc and the oscpack extra library.
By now, the following message will not be interpreted:
`/to/my/boolean/path T`
nor this one:
`/to/my/boolean/path F`

By the way, oF developers seems to have choosen the `int`, `float` and `string` replacement like that:
`/to/my/path i 0` or `/to/my/path f 0` or `/to/my/path s true` interpreted as **T

[2015-01-10 18:24] #3534 closed

[2015-01-10 18:24] danthemellowman commented on #3536
might have just pushed this to master.  I forgot I could just *do that*

[2015-01-10 18:53] kylemcdonald commented on #1756
i'm going to close this tracking issue since #454 is the only issue left out of the ones listed above. any other remaining items should be added as extra issues.

thanks @danthemellowman for bringing this to my attention!

[2015-01-10 18:53] #1756 closed

[2015-01-10 19:40] kylemcdonald commented on #1396
in the end, the text got added to ofSite instead http://openframeworks.cc/tutorials/graphics/shaders.html

so i'm going to consider this closed.

[2015-01-10 19:40] #1396 closed

[2015-01-10 19:40] laserpilot commented on #872
tried to give this a test but it can't be tested currently -  empty example in master will successfully build to a device, but when you try to build to the simulator, it will not build - throws these errors:

ld: warning: ignoring file ../../../libs/FreeImage/lib/ios/freeimage.a, missing required architecture i386 in file ../../../libs/FreeImage/lib/ios/freeimage.a (2 slices)
ld: warning: ignoring

[2015-01-10 19:44] bilderbuchi commented on #3536
:D

[2015-01-10 20:01] bilderbuchi commented on #245
I'd suggest to close this until we get another file for reproduction.

[2015-01-10 20:01] #245 closed

[2015-01-10 20:02] kylemcdonald commented on #3494
i think these two methods should be removed. i can't find any corresponding `add*()` methods that would explain what these are supposed to be doing.

[2015-01-10 20:05] #3494 closed

[2015-01-10 20:10] laserpilot commented on #3301
current locations of files with sprintf or printf:

Sprintf:
a23-0-5-175:examples laser$ grep -lr "sprintf" *
android/androidSoundPlayerExample/src/ofApp.cpp
events/eventsExample/src/ofApp.cpp
graphics/blendingExample/src/ofApp.cpp
graphics/imageSaverExample/src/ofApp.cpp
ios/audioOutputExample/src/ofApp.mm
ios/eventsExample/src/ofApp.mm
ios/opencvExample/src/ofApp.mm
ios/soundPlayerExample/src/of

[2015-01-10 20:11] mattfelsen commented on #124
I took a look at this on the current master and these issues seem to be resolved. Here's the fonts example running both at 72dpi and 96dpi. Looks nice & crisp for both. This is running on a retina MBP with the app retina enabled (High Resolution Capable -> YES in the OF plist)

![retina-fonts-72dpi](https://cloud.githubusercontent.com/assets/2334552/5693042/587d9bd0-98da-11e4-9df5-6c57dc372482.png

[2015-01-10 20:13] #124 closed

[2015-01-10 20:22] #3407 closed

[2015-01-10 20:25] kylemcdonald commented on #3407
i re-added the two relevant lines by hand.

i noticed @yty also commented out the pixel swapping part of `swapRgb()`, i think the suggestion is that with the way pixel formats work now, maybe we don't need to swap actual memory anymore. but i left it as it is instead of commenting it out :)

[2015-01-10 20:29] kylemcdonald commented on #124
great work matt, thanks!

On Sat, Jan 10, 2015 at 3:13 PM, Matt Felsen <notifications@github.com>
wrote:

[2015-01-10 20:31] bilderbuchi commented on #302
that's only for iOS, though?

[2015-01-10 20:33] pizthewiz commented on #3537
Isn't this just #3534? Or is this tracking *all* of the missing OSC 1.1 types?

[2015-01-10 20:36] bilderbuchi commented on #124
thanks!

[2015-01-10 20:38] bilderbuchi commented on #3537
I think it's a more general version. don't know why @groolot closed the other one, we could just have edited the title.

[2015-01-10 21:04] kylemcdonald commented on #3051
@mattfelsen is tackling this one right now. his approach is like this:

1. rename `ofFbo::destroy()` to `ofFbo::clear()`
2. create a new `destroy()` that calls `clear()`
3. deprecate `destroy()` and replace instances
4. add `clearAlpha()`, `clearColorBuffers()`, `clearDepthBuffers()` (making a separate issue for this right now) this would cover theo's use case. the naming comes from a discussion w

[2015-01-10 21:06] kylemcdonald opened #3539 "ofFbo::clearAlpha(), clearDepthBuffers(), clearColorBuffers()"
this is an alternative proposal so solve a use case from @ofTheo in #3051 which was also present in many of the older ofxFbo/ofxFBO addons before ofFbo.

for an example of clearing alpha, see https://github.com/kylemcdonald/DohaInstallation/blob/master/addons/ofxFbo/src/ofxFbo.cpp#L142-L151

[2015-01-10 22:19] julapy commented on #872
this is because the xcode6 simulator will only runs 64bit applications. unfortunately OF is still only 32bit... but if you install Xcode 5.1 then you'll be able to run the example apps on the simulator.

Sent from my Nokia 3210

[2015-01-10 23:51] julapy opened #3541 "ios glew compiler errors"
when compiling ios examples using the latest master, theres quite a few glew compiler errors.
below are of few of those errors. anyone know what new changes could be causing this?

https://github.com/openframeworks/openFrameworks/blob/master/libs/glew/include/GL/glew.h#L1675
/Volumes/STORAGE/openFrameworks/libs/glew/include/GL/glew.h:1675:19: Typedef redefinition with different types ('ptrdiff_t'

[2015-01-11 01:44] kylemcdonald commented on #872
closing this as a non-issue then. thanks @laserpilot and @julapy!

[2015-01-11 01:44] #872 closed

[2015-01-11 06:03] jvcleave commented on #3529
There is quite a bit more broken further down the chain because of the pure virtual functions e.g. `virtual void draw()` that `ofAppEGLWindow` is required to have as it extends `ofAppBaseWindow`

https://github.com/openframeworks/openFrameworks/commit/1839c0bd9b21b7a578e41b0282447afd873f7ef9

[2015-01-11 08:57] bilderbuchi commented on #3529
Pinging @arturoc, then.

[2015-01-11 14:33] ofZach commented on #872
I'm curious how far away is 64 bit ios OF and is there an issue for it (I've seen the osx 64 bit issue) ?   It seems there's a fair number of people hitting this problem now and given that and apples requirement of 64 bit apps some point in the future, it would be good to support:

http://forum.openframeworks.cc/t/help-needed-latest-ios-ofx-examples-not-building/18175

[2015-01-11 16:42] arturoc commented on #3541
glew shouldn't be included by iOS so there's probably some wrong ifdef, can you check where that file is included?

[2015-01-11 18:28] kylemcdonald commented on #3539
closed, going in a different direction as per discussion in #3542

[2015-01-11 18:28] #3539 closed

[2015-01-11 18:30] kylemcdonald commented on #3051
closed by #3540 thanks again @mattfelsen

[2015-01-11 18:30] #3051 closed

[2015-01-11 18:59] mattfelsen opened #3547 "Add push/pop style in FBO begin/end"
As suggested by @arturoc in #3542, this would be nice so that repeated calls to ofSetColor() aren't necessary. For example...

ofSetColor(ofColor::white);
obj.drawIntoFbo(); // <-- leaves color at red, for example

ofSetColor(ofColor::white);
obj.draw();

...could be simplified to...

ofSetColor(ofColor::white);
obj.drawIntoFbo(); // <-- leaves color at red, but it wouldn't matter :)
obj.draw();

[2015-01-11 19:02] kylemcdonald commented on #3547
thanks for pulling this into an issue. this would fix so many mistakes for beginners and advanced users alike.

@arturoc is there anything special we'd have to do to make this happen? or can we just add the push/pop style adjacent to wherever the screen setup is being done? presumably there's already a push/pop matrix or similar in there already.

[2015-01-11 19:09] #3547 closed

[2015-01-11 19:11] mattfelsen commented on #3547
thanks ;)

[2015-01-11 19:12] kylemcdonald commented on #3547
thank you @arturoc :) looks like we need to work on better documentation of how ofRenderer interfaces with other classes so more people can make such simple changes ;)

[2015-01-11 19:25] mattfelsen opened #3548 "ofAVFoundationPlayer doesn't support OF_LOOP_PALINDROME"
Only supports normal looping and logs a warning if you try to set palindrome looping:

https://github.com/openframeworks/openFrameworks/blob/5c463da6781a939dc595360a50965152dd42d50e/libs/openFrameworks/video/ofAVFoundationPlayer.mm#L325-L327

Seems like a core feature to not support...should this be milestoned to 0.9? I don't see any team names so I'll mention @prisonerjohn @obviousjim :)

[2015-01-11 19:42] kylemcdonald commented on #3548
good call, this is an old feature and while it's an obvious bug and regression i'm not sure i'd call it critical, so i'll milestone for 0.10.0

if this can't be added relatively easily, would it be reasonable to remove this as a feature? or is it better to just not support it on OS X?

@openframeworks/video is the team ;)

[2015-01-11 20:31] jvcleave commented on #3529
going to try and update `ofAppEGLWindow` for the next few hours referencing some of the other ofApp*Window - will be in IRC

[2015-01-11 22:36] jvcleave commented on #3529
ok - I got emptyExample to comple/run with this but it's not drawing anything but the gray background

https://github.com/jvcleave/openFrameworks/commit/23fef1a6cdae87520eca9e0afde2595618eb3a19

[2015-01-12 11:34] arturoc commented on #3529
just left a comment, everything else seems correct but let me know if it still doesn't work and i'll try to take a look

[2015-01-12 13:54] minusplusminus commented on #3330
There's a new one: https://www.biicode.com/

[2015-01-12 16:11] almog-kiki opened #3552 "ofxopencv compatible for ios plaform"
After a lot of time in research i find there is  a problem with <code> clone() </code> function
I try to run ofxASM for ios and when clone() is call the app is crash and i get exc_bad_error.
you know something about this issue ?( for ios)
(the project is work well on mac osx )

[2015-01-12 16:49] pizthewiz commented on #2823
The apothecary formula for Poco 1.6 has been merged in PR #3448.

[2015-01-12 18:44] pizthewiz commented on #2882
Still a bummer that `make` and the Xcode project create and use different OF static libs.

[2015-01-12 18:55] jvcleave commented on #3529
@arturoc

made the changes -

update
draw/display

are being called (and is now exiting properly)

not seeing any drawing yet with graphicsExample - just the gray background still

https://github.com/jvcleave/openFrameworks/commit/857d50dfca09f37072d02ec1c5cce9ee1c76be20

[2015-01-12 21:00] bilderbuchi commented on #2515
closed by #2519

[2015-01-12 21:00] #2515 closed

[2015-01-12 21:02] bilderbuchi commented on #3552
hey! please try to reproduce this without using external addons, so that we can make sure the problem lies within OF, not the addon.

[2015-01-12 21:10] bilderbuchi commented on #2823
so, can this be closed, @pizthewiz ?

[2015-01-12 21:18] pizthewiz commented on #2823
Yeah I think it can, I was just waiting to test it before closing.

[2015-01-12 23:31] julapy commented on #3548
playing video backwards can work with AVFoundation using the rate property,
https://developer.apple.com/library/ios/documentation/AVFoundation/Reference/AVPlayer_Class/index.html#//apple_ref/occ/instp/AVPlayer/rate
although the `canPlayReverse` property needs to be checked first.
it comes down to the video format being used and how the video is encoded which determines if it can be played backward

[2015-01-12 23:48] #3541 closed

[2015-01-13 02:09] julapy commented on #3552
@almog-kiki can you put together a simple iOS ofxOpenCV example which can demonstrate the crash?

[2015-01-13 02:23] julapy commented on #3242
hey, just wanted to give this a little push since OF activity is ramping up for 0.9.0
have @prisonerjohn @openframeworks/video folks had a chance to look at this yet?

for now it might be an idea to replace the current iOS video player with ofxAVFoundationVideoPlayer (https://github.com/julapy/ofxAVFoundationVideoPlayer). ive been concentrating my dev efforts on the new ofxAVFoundationVideoPlayer

[2015-01-13 03:29] mentarus opened #3554 "ofSerial.readByte misbehaving on some linux machines, working fine on others"
Anyone having issues with readByte on linux? My linux64 works fine, on another 4 32 bit linux machines it comes up with 0x85 followed by 0x00. Encountered when trying to run https://github.com/BlitzKraft/guino

[2015-01-13 06:17] pierrep commented on #3518
Hi Tim, just a quick update, you were right I wasn't able to reproduce the symptom in that test case. There's definitely a bug, but it's more insidious that I first thought. I'm busy at the moment but will revisit this as soon as I can and track down the exact problem...

[2015-01-13 08:23] almog-kiki commented on #3552
I run the opencvexapmle (there is no something to clone there so I created  "frame" as variable as a matrix , and did like this:
<code>
frame = grayImage.getCvImage();
Mat a;
 a = frame.clone();
 </code>
and it's works properly .

[2015-01-13 10:02] almog-kiki commented on #3552
THE PROBLEM IT WAS THE FRAMEWORKS opencv2.frameworks is in the xcode project

[2015-01-13 11:55] arturoc commented on #3554
i did some fixes a while ago to ofSerial and ofArduino, i think they are not in the current version 0.8.4 but in master in github can you try using the latest OF from github and see if that fixes the problem?

[2015-01-13 13:17] tallavi opened #3555 "Android - unload/reloading textures result in black rectangles instead of text"
The discussion started here: http://forum.openframeworks.cc/t/android-unload-reloading-textures-result-in-black-rectangles-instead-of-text/18038

Text on native UI elements turns to black rectangles after minimizing and restoring. See attached screenshots. It's directly related to loading/unloading textures in of, but I'm not sure how.
I've managed of creating a super simple reproduction based on

[2015-01-13 13:44] arturoc commented on #3555
yeah that's really crazy, i can't understand how anything in the GL context can change the gui elements at all. i'll try to check your example when i have a moment

[2015-01-13 14:06] tallavi commented on #3555
Thanks allot! I'm going crazy over here!

[2015-01-13 16:48] bilderbuchi commented on #2823
ok, then i'll leave the closing to you.

[2015-01-13 18:25] danthemellowman commented on #3555
Can you share the version of your NDK & Android SDK Platform & Build Tools
you are building with?

I'm going to try your sample out on my phones.  What devices/versions did
you try this on?

On Tue, Jan 13, 2015 at 9:06 AM, tallavi <notifications@github.com> wrote:

[2015-01-13 19:10] tallavi commented on #3555
Hey @danthemellowman,

I have it reproducing on HTC M8 with Stock 4.4.3 and Samsung s3 (i9300) with cyanogenMod 4.3.1.

I have a few other devices not currently on me, some cheap samsung and a Xiomi, all reproducing.

I'm pretty confident that you can just build with whatever setup and device you have, but if you want my specific configuration, I'm on latest OSX yosemite, building with Android SDK

[2015-01-13 19:15] danthemellowman commented on #3555
Thanks for the info!

On Tue, Jan 13, 2015 at 2:11 PM, tallavi <notifications@github.com> wrote:

[2015-01-13 20:03] bilderbuchi commented on #3552
...in which xcode project? ofxCv's? can we close this issue, then?

[2015-01-14 04:42] pierrep commented on #3518
Ok, here's  a test case:

[code]

[2015-01-14 04:43] pierrep commented on #3518
The polygon should be drawn in wire-frame in this example. Remove the ofDrawBitmapStringHighlight() line, and it should draw with faces filled.

[2015-01-14 06:11] almog-kiki commented on #3552
not specific project. I just add this to my project because I used ofxASM.
yes u can close.

[2015-01-14 07:24] #3552 closed

[2015-01-14 12:08] ofTheo commented on #3242
@julapy I am super happy to do this.
We're actually talking about doing a bunch of video stuff now anyway with #3543 so I think its the perfect time.

Please do a PR for it! It will be great to have a single video player for both.
Not sure if #3543 should be done first @pizthewiz @bakercp ? thoughts?

[2015-01-14 12:15] prisonerjohn commented on #3242
Sorry I haven't had a chance to dig through yet, I only took a quick glance. I agree that a unified video player for iOS and OS X is def the way to go! I could test it in my recent and current projects if it gets pulled in the main repo.

[2015-01-14 14:57] #2785 closed

[2015-01-14 15:13] admsyn commented on #3242
:+1:

[2015-01-14 15:16] admsyn commented on #2489
Closing this, since it's not a big deal and ofQTKitGrabber is on the way out anyway.

[2015-01-14 15:16] #2489 closed

[2015-01-14 19:11] micuat opened #3556 "ofxGui texts not rendered when depth test enabled"
ofxGui needs `ofDisableDepthTest()`-ed to correctly render texts. Tested with oF 0.8.3 on OSX.

Maybe related: http://forum.openframeworks.cc/t/ofxgui-text-missing/17344

[2015-01-14 19:24] arturoc commented on #3556
this is expected, anything that has several layers of 2d elements won't draw properly if depth testing is enabled. i don't think we should check for this or disable depth testing internally, the main problem with that, is performance and that we shouldn't be checking for every possible setting that could make something not draw properly. if you do a translate or have a non default perspective sett

[2015-01-15 01:29] armadillu opened #3557 "ofPolyLine getResampledByCount() not accurate"
line.getResampledByCount(N) doesn't always return a ofPolyLine with N points

[2015-01-15 01:29] armadillu opened #3558 "ofPolyline getCentroid2D() can return NAN / infinity coordinates"
On perfectly decent ofPolylines (meaning with valid non-NAN points), you do get sometimes a centroid with x / y that's NAN. I suspect its related to the calculated area being zero. I can't fully test now, but I was getting NANs which where propagating to other parts of the code and ultimatelly leading to crashes while working with lots of user-generated ofPolylines.

I switched to .getBoundingBox(

[2015-01-15 05:52] payload opened #3559 "Linux and OpenGL ES 2.0"
I tried to get Linux 64bit and OpenGL ES 2.0 working and did it in a hackish manner, because I just needed it fast. The steps to get it done:

* compile and include a `libglfw3.a` with `GLFW_USE_EGL = true` and `GLFW_CLIENT_LIBRARY = glesv2`

In `ofAppRunner.cpp`:
* include `ofAppEGLWindow.h`, so in cases were `defined(TARGET_RASPBERRY_PI)` add ` || defined(TARGET_OPENGLES)`
* don't include "glu.h

[2015-01-15 06:53] ofZach commented on #3558
good test example (straight line = 0 area):

    ofPolyline line;

    line.addVertex(0,0);
    line.addVertex(20,20);
    line.addVertex(40,40);

    cout << line.getCentroid2D() << endl;

[2015-01-15 08:51] tobiasebsen opened #3560 "Memory leak in QTKitVideoGrabber"
I have discovered a small memory leak in ofVideoGrabber when used on Mac OSX where it is using the QTKitVideoGrabber. The leak originates from the call to vImageConvert_BGRA8888toRGB888() which seems to allocate 64 bytes per call, which is never released. This is, of cause, a very small leak, but it accumulates to more than a hundred megabytes over a day.

The leak is only there when compiling ope

[2015-01-15 11:43] arturoc commented on #3559
thanks! out of curiosity, in which platform are you using linux64 + opengles?

[2015-01-15 11:54] payload commented on #3559
Good question. I want to test a special OpenGL implementation I wrote based on [ClusterGL](http://clustergl.org). It only supports OpenGL ES 2.0 because it is the easiest to implement fully.
But it is also notable that recent Mesa implements OpenGL ES and EGL for desktop. I use Ubuntu 14.04 with Mesa 10.1.3 on Intel Ivybridge Mobile i965.

[2015-01-15 12:14] tallavi commented on #3555
My pleasure! Have you gotten this reproduced?

[2015-01-15 12:15] arturoc commented on #3559
That looks great. Are you using ofAppEGLWindow or ofAppGLFWWindow? you shouldn't need both and from your description it seems you are compiling glfw with EGL support but then using ofAppEGLWindow?

[2015-01-15 12:28] payload commented on #3559
ah yes. yes one does only need ofAppEGLWindow cause ofAppRunner can go for it with the implicit assumption that TARGET_OPENGLES availability also means EGL availability. so no specially crafted libglfw3 is needed.

[2015-01-15 12:34] arturoc commented on #3559
i would try using glfw with EGL support instead it should be more stable than the EGL window which is a custom implementation we did specially for the raspberry pi. anyway, thanks for reporting the changes i'll check how can we remove all the assumptions that desktop linux is always not ES

[2015-01-15 15:45] armadillu commented on #3558
Ah of course, I didn't think of this case. I guess it's not a really a bug then...

[2015-01-15 15:48] ofZach commented on #3558
I've always felt the centroid is considering the polyline as a shape, but I prefer to just compute the centroid of the points as a point set (ie, add up all the pts and find the average).  I'm not sure of what the difference is, but I still feel like a polyline without an area should have a midpt.

[2015-01-15 15:56] ofZach commented on #3558
ah I take this back thinking about it a bit more (I think this makes sense if the line is uniformily sampled, but not so much if it's not uniform), but maybe, we should have some error handling when the area < epsilon, etc.

[2015-01-15 16:29] armadillu commented on #3557
@galsasson made this as a workaround, and it works well.

[code]

So you get N points from the original line by calling getNPoints() and you build a new line from the point vector:

[code]

[2015-01-15 19:34] bilderbuchi commented on #3557
could you give a simple reproducible example for a polyline where our algorithm fails? will be easier do debug, then. ;-)

[2015-01-15 19:34] bilderbuchi commented on #3557
ping @openframeworks/2d-3d

[2015-01-15 19:36] bilderbuchi commented on #3557
also, pinging @kylemcdonald because of [this comment](https://github.com/openframeworks/openFrameworks/issues/1664#issuecomment-56604567)

[2015-01-15 19:45] bilderbuchi commented on #3558
mathematically, it's pretty clearly defined:

Here, "points" are the infinite points (e.g. of mass) making up the shape, not the vertices of a polygon.

However, there's a [formula](http://en.wikipedia.org/wiki/Centroid#Centroid_of_polygon) given for the centroid of a polygon, are we using that one? I haven't yet done the math manually to see if this holds up with degenerate points, but I'd assume

[2015-01-15 19:59] bilderbuchi commented on #3560
I'm assuming you're talking about [this call](https://github.com/openframeworks/openFrameworks/blob/e8faa075a60db765e7e440e468a96b09bf844d38/libs/openFrameworks/video/ofQTKitGrabber.mm#L542)? If the leak is in that function, is that really our bug, or Apple's?

[2015-01-15 19:59] bilderbuchi commented on #3560
pinging @openframeworks/macos @openframeworks/video

[2015-01-15 20:16] bilderbuchi commented on #3558
ok, the formula [we use](https://github.com/openframeworks/openFrameworks/blob/39e374059aa18f62c5590789ca0055302490c2c5/libs/openFrameworks/graphics/ofPolyline.cpp#L962-L980) is the same as the one from WP, with a workaround for the fact that our polygons are not closed, in that the first and last point are not identical - is that still correct?
It could also be that the requirement of non-selfint

[2015-01-15 20:18] bilderbuchi commented on #3558
Ah of course - at least in the example that @ofZach posted above, the *area* of the degenerate polygon is 0, so in the centroid calculation we divide by zero, pretty clear that that would give NaN.` >.<`

[2015-01-15 20:54] pizthewiz commented on #3560
Hmm, the screenshot shows allocation detail _not_ leaks - though instruments does call out a leak shortly after app launch, indicated by the red bar. The allocations are climbing in this graph, but (knowing nothing about `ofQTKitGrabber`) I suspect a new buffer is used each frame for video decode.

If one leaves the _videoGrabberExample_ running for a while, are the allocations called out not bein

[2015-01-16 04:47] danoli3 commented on #302
All platforms in the Poco Formula have these omitted.
So when the new libs and headers are added it will be all done.

This may be flagged as closed now, as the Formula script is in the master to fix this.

[2015-01-16 07:53] bilderbuchi commented on #302
thanks for the update!

[2015-01-16 07:53] #302 closed

[2015-01-16 08:06] #1758 closed

[2015-01-16 09:06] #3518 closed

[2015-01-16 18:40] admsyn commented on #1772
@openframeworks/ios it looks like this can be closed now, right?

[2015-01-16 18:55] admsyn commented on #3330
IMO the benefit is pretty marginal for the amount of work it'd add, maintenance etc. Can you give a specific example of a use-case @minusplusminus ? I realize it'd be for "managing dependencies", but that could actually mean many things in the context of OF.

Are you talking specifically about keeping automating the process of keeping an addon's internal library up to date, from the perspective of

[2015-01-16 19:25] admsyn opened #3564 "Remove ofxSynth"
This was discussed around the time of the YCAM dev meet, and tucked into the mega-sound-PR that has since been broken down into smaller parts.

Should we remove ofxSynth from the core addons? If I remember correctly, the rationale is that at this point it's just a heavily outdated version of [ofxMaxim](https://github.com/micknoise/Maximilian) and we could be pointing people towards that instead.

[2015-01-16 19:34] arturoc commented on #3564
yes let's remove it, we should have done it a while ago anyway and in any case it's now complete outdated with the merge of ofSoundBuffer...

[2015-01-17 20:11] kylemcdonald commented on #3556
going to close this given explanation from @arturoc

this seems like the kind of thing that could be documented somewhere, or at least the general idea of not checking for non-default values, but i'm not sure where to document it.

[2015-01-17 20:11] #3556 closed

[2015-01-17 20:35] kylemcdonald commented on #1772
#3258 was merged without any problems, and after looking through a few of the most recent iOS examples main.mm files it looks like the original issue is closed.

[2015-01-17 20:35] #1772 closed

[2015-01-17 20:49] kylemcdonald commented on #3517
`map` seems like the right name. instead, discussion here suggests we disable the warning globally with `-Wambiguous-member-template`:

http://stackoverflow.com/questions/20326790/workaround-clang-warning-wambiguous-member-template

[2015-01-17 21:05] kylemcdonald commented on #3558
taking all of the above discussion into account, how about adding:

[code]

here is the code i tested it with:

[code]

here is the output:

[code]

[2015-01-17 21:12] kylemcdonald commented on #3558
i'm testing some more code now and not convinced that the ofLogWarning() is necessary. it doesn't really tell you enough, and it will pop up every time you have a straight ofPolyline that you want to know something about... which is too often.

[2015-01-17 21:30] #3564 closed

[2015-01-17 21:30] #861 closed

[2015-01-17 22:02] kylemcdonald commented on #3557
this is an issue. there are a few ways we could fix it, but i suggest we approach it by making `getResampledBySpacing()` more accurate, and then adding a check in `getResampledByCount()`.

here is some simple code that demonstrates the bug:

[code]

prints:

[code]

here is some more thorough code:

[code]

and here is something we can swap in that fixes it:

[code]

i made two changes. one change

[2015-01-17 22:14] kylemcdonald commented on #1664
`getResampledByCount()` is being handled in #3557.

but regarding this discussion, the original issue is still present even after the refactoring:

[code]

[code]

[2015-01-17 22:19] kylemcdonald commented on #1400
closing this, i believe it's fixed by the PR above.

[2015-01-17 22:19] #1400 closed

[2015-01-17 22:26] kylemcdonald opened #3566 "deprecate ofBackground or refactor to mean ofClear"
this suggestion comes from a discussion with @ofzach last week.

right now we have a few functions for working with the background in OF:

0. `ofClear()`: clears the background color right away
0. `ofBackground()`: clears the background color right away, and saves the background color
0. `ofSetBackgroundColorAuto()`: enables or disables whether the saved background color is used to clear the scree

[2015-01-17 22:34] kylemcdonald commented on #1575
something has fundamentally changed about ofPath or there is a bug right now that is keeping me from drawing non-filled ofPaths -- but the question is relevant and needs to be looked into to create a more natural API i think.

[code]

![screen shot 2015-01-17 at 17 33 44](https://cloud.githubusercontent.com/assets/157106/5790608/02f81010-9e6f-11e4-819b-90722f0c52b6.png)

[2015-01-17 22:50] bilderbuchi commented on #3517
I gotta say, I like the "don't use `using namespace std`" [answer](http://stackoverflow.com/a/20327378/599884) more - globally disabling warnings to get away with this feels wrongish to me.

[2015-01-17 22:57] ofZach commented on #3558
I think this approach seems good, it's probably better to use an epsilon the do a floating point equality test.   I think disabling the warning is ok....

[2015-01-18 00:17] kylemcdonald commented on #3558
@ofzach i tried to create a situation where the area was so small that the value for the centroid was incorrect, but the only time i get the wrong behavior from this function is when the area is exactly 0.

[code]

[code]

even though in this case, if you look at the `area` inside the `updateCache()` function, it says it is `1.19209e-07` (i.e., equal to `FLT_EPSILON`).

[2015-01-18 00:26] ofZach commented on #3558
yeah I just have it ingrained to just never trust == with floats, I think different compilers / cpus might handle things differently.  We also have some parts of the code that use FLT_EPSILON to check for non-zero, it's probably good to be consistent.

[2015-01-18 01:44] bakercp commented on #3517
I'm with @bilderbuchi on this one.  Start by beginning to remove using namespace std in the core and move those to the examples (as was discussed in the Roadmap ... somewhere).

[2015-01-18 04:37] K0j0 opened #3568 "Infinite loop when exiting an OF program using GLUT on OSX"
So I'm using GLUT because I'm working on a project in Ubuntu and OSX but GLFW isn't working in Ubuntu 14.10 right now. I'm using Glut in the way it's referenced in [this forum post](http://forum.openframeworks.cc/t/ofappglfwwindow-couldnt-create-glfw-window/13996/2?u=k0j0) and everything was working great for awhile. Then after updating a few days ago my program crashes whenever I exit with the ES

[2015-01-18 08:36] bilderbuchi commented on #3558
Also, add an abs, if the cw/ccw winding is wrong, the area from the formula will be negative...

[2015-01-18 08:40] bilderbuchi commented on #3558
Also, +1 on proper float comparison.

[2015-01-18 12:12] memo commented on #3558
perhaps we could have a generic function to do float equality comparison?

    bool ofIsEqual(float f1, float f2) {
        return fabsf(f1-f2) < FLT_EPSILON;
    }

    bool ofIsZero(float f) {
        return ofIsEqual(f, 0.0f);
    }

[2015-01-18 15:12] arturoc commented on #3517
i agree that we should remove the global `using namespace std` perhaps by including it in ofMain.h instead of ofConstants.h at first. That way old projects, most addons... will still compile but people who want to opt out can include individual headers which surely some advanced users already do.

I'm not sure, though, that in this case this is the problem since the map seems to be conflicting wit

[2015-01-18 18:32] kylemcdonald commented on #3558
@memo i was going to suggest the same but then i read this article https://randomascii.wordpress.com/2012/02/25/comparing-floating-point-numbers-2012-edition/

and the summary is basically "There is no silver bullet. You have to choose wisely." if we use something like you suggest it will lead to a lot of unintended errors for general floating point comparison. however, i think in terms of compari

[2015-01-18 18:53] memo commented on #3558
wow that's mega hardcore geek :)
I usually have a little util like the below in my libs, so I can pass in different margins.

    bool ofIsEqual(float f1, float f2, float margin = FLT_EPSILON) {
        return fabsf(f1-f2) < margin;
    }

Reading that article, it seems obvious that for most numbers a relative comparison actually makes more sense (but slowly to compute probably)

If I'm not mistak

[2015-01-18 18:54] pizthewiz commented on #3568
@arturoc would better understand that particular rev and change but GLUT has been defocused (deprecated?) in favor of GLFW so I think it would be worth filing a separate issue for the issue on Ubuntu 14.10.

[2015-01-18 20:28] bilderbuchi commented on #3517
you don't think it's conflicting with `std::map` dragged in by the `using`?

[2015-01-18 20:38] bilderbuchi commented on #3557
won't that lead to uneven intervals, though? I.e. the last two points will be much closer than all the others?

[2015-01-18 20:46] bilderbuchi commented on #3558
yeah, I was also gonna suggest a relative comparison in your function, Memo. Also, I agree, floating-point is hard. :D:

@kylemcdonald can you test with a self-intersecting polygon whose area is not 0? Just a sanity check, the centroid calculation should give the wrong result. Don't know how we would easily test that, and log, though.

[2015-01-18 20:48] bilderbuchi commented on #3558
also, are we sure we don't want to at least emit a Verbose log message? What we do here is rather "magic", after all.

[2015-01-18 21:36] kylemcdonald commented on #3558
funny how we all hop onto the smallest most boring issue to cast our opinions :) on a sunday no less.

@bilderbuchi sorry i forgot to mention in the PR, but i tested the following:

[code]

output:

[code]

please let me know if there are others you think of that are worthwhile. i'm assuming that any behavior with ofPolyline in 3D is undefined and anything that works is coincidence.

[2015-01-18 21:40] kylemcdonald commented on #3557
yes, but only uneven by the floating point epsilon, if i understand correctly what is happening.

[2015-01-19 02:11] danomatika commented on #3430
Ok, have this working in the PG: https://github.com/ofZach/projectGeneratorSimple/pull/62

[2015-01-19 02:56] danomatika commented on #3430
FIx for this is in: https://github.com/openframeworks/openFrameworks/pull/3573

[2015-01-19 06:52] danomatika commented on #2412
With the latest PG, .mm's do work and framework on OS X as well. An iOS project with frameworks, however, can't open and give the following error:

    Project /Users/dano/src/openFrameworks/addons/ofxMidi/exampleIOS/exampleIOS.xcodeproj cannot be opened: -[PBXBuildFile group]: unrecognized selector sent to instance 0x7f9202bf22a0

[2015-01-19 08:20] danomatika commented on #2412
Actually, I do now notice that .mm's in addons aren't added.

[2015-01-19 16:14] cerkut opened #3574 "OSC-related examples don't compile"
The following examples, which all depend on ofxOSC do not compile on Yosemite OS X 10.10 (Xcode                                   6.1.1, Build 6A2008a:

- addons/oscChatSystemExample/
- addons/oscReceiveExample
- addons/oscSenderExample
- gui/oscParametersSender/
- gui/oscParametersReceiver

For example, the last one gives

Undefined symbols for architecture i386:
  "GetHostByName(char const*)", r

[2015-01-19 17:53] admsyn commented on #3574
@cerkut This would happen if your project is including the oscpack src folder, but ignoring the "posix" folder which includes the missing function implementations. If you manually add the posix folder it goes fine (if the header paths are also set up right).

Did you happen to add ofxOsc with OFPlugin? This looks like a bug in its platform-specific folder selection.

[2015-01-19 19:12] #3568 closed

[2015-01-19 19:16] arturoc commented on #3568
just changed it to std::exit. in linux there's a function to actually exit from the main loop in glut that is not present in osx and win so i never found that error.

the problem in ubuntu + glfw is actually a bug in unity, i've reported it to glfw https://github.com/glfw/glfw/issues/368 and unity: https://bugs.launchpad.net/unity/+bug/1383429  it's actually been fixed today in unity but i think o

[2015-01-19 19:19] arturoc commented on #3517
not 100% sure but i don't think so. since it's a method of a class, not a function, it's always called like `buffer.map()` or `buffer.map<type>()` which shouldn't clash with `std::map` i think

[2015-01-19 19:39] pizthewiz commented on #3568
Awesome, looks like a pretty gnarly issue thanks for following up on it!

[2015-01-19 19:43] cerkut commented on #3574
Nice, double spot on! I have compiled some OSC examples from the of_v0.8.4_osx_release, and clearly see the win32 and posix directories under ip.

I have added ofxOsc with OFPlugin, which created oscpack src and ip directories, but not win32 and posix directories under ip. It also added only src to header search paths. I'll create an issue there, closing this one. Thanks for looking into this.

[2015-01-19 19:52] K0j0 commented on #3568
Very cool. Thanks @arturoc

[2015-01-19 21:50] bilderbuchi commented on #3557
ah, great :-)

[2015-01-19 21:52] danomatika commented on #2412
Ok, fixed it in https://github.com/danomatika/projectGeneratorSimple/commit/1a58665b4568af30216cb2141bfe148831c62cc3

[2015-01-19 21:53] bilderbuchi commented on #3558
funny how one person's "boring" is another person's interesting. ;-) mathematics is a field where I feel at home (as opposed to html/ios/...), so naturally that's where I try to weigh in.
Also, the weekend is (nearly) the only time where I got extended timespans available to analyze and write lengthy comments for OF...

[2015-01-19 22:00] danomatika commented on #2412
Moving the framework part of this issue to https://github.com/ofZach/projectGeneratorSimple/issues/63

[2015-01-19 22:00] #2412 closed

[2015-01-20 02:01] pierrep opened #3576 "Support OpenGL 3.2+ on GLUT"
While reverting to GLUT recently due to the GLFW Linux bug which gives me a blank screen on startup (is there an issue for this? It was noted in the forums but I couldn't find it here), I discovered there's no support for the ofGLProgrammableRenderer() in GLUT and therefore OpenGL 3.2 support.

After searching a bit, I discovered I could switch this on using the following lines:
[code]

However th

[2015-01-20 11:44] arturoc commented on #3576
all platforms except for linux use glut instead of freeglut. while freeglut is perfectly compatible with the standard glut it adds some extensions that are not present in other platforms. we can add ifdefs to the glut class for linux but not sure is worth mantaining 2 classes with mostly the same functionality. if you want to add it though and send a PR go for it.

also i reported the linux bug in

[2015-01-21 01:19] pizthewiz commented on #3392
Related forum thread: [Step-by-step guide to using Uncrustify in Code::Blocks](http://forum.openframeworks.cc/t/step-by-step-guide-to-using-uncrustify-in-code-blocks/18206)

[2015-01-21 01:23] pizthewiz commented on #3290
Is this safe to close?

In what ever our project migration guide is, we'd need to mention that existing projects would need to add:
* AVFoundation.framework
* CoreMedia.framework
* QuartzCore.framework

@admsyn can these be hoisted into an `xcconfig` file that is part of the repo, that way we can update it with future releases and user projects would automatically pull in the changes? Maybe that i

[2015-01-21 01:38] pizthewiz commented on #3506
It might also be useful to document our tooling support as well.

On the iOS side, `arm64` was not supported until Xcode 5 and Xcode 5 requires OS X 10.8 to run, so should 10.8 become our minimum for OS X, that would be a natural fit.

(Feel free to remove this comment)

[2015-01-21 02:15] danoli3 commented on #3506
For iOS Apple are really stepping up that you have to be at the latest in order to submit to the AppStore.
So if a developer wants to use oF with iOS, they are going to have to be at the latest Xcode and SDK in order to do that.

However there are probably a lot of developers who just want to make OS X apps... and if they are on 10.8, shouldn't stop them unless they want to make iOS apps specifica

[2015-01-21 02:39] admsyn commented on #3290
Yes it looks like adding the build settings to CoreOF.xcconfig (as "-framework CoreMedia ...") would be a decent way of handling this. If Project.xcconfig is also modified to append the frameworks to OTHER_LDFLAGS it should go a long way to keeping the framework setup between apps and OF itself in sync.

Also, having the list of required frameworks available in a text file is much nicer than burie

[2015-01-21 11:31] danoli3 commented on #1068
For Windows testing we can use http://www.appveyor.com/

[2015-01-21 16:50] laserpilot commented on #3039
Just tried re-submitting an OF iOS iPad app last night with 0.8.4 and it was rejected for not having both 32bit and 64bit builds. This is happening early than anticipated, yeah?

Got this rejection message:

Missing 64-bit support - Beginning on February 1, 2015 new iOS apps submitted to the App Store must include 64-bit support and be built with the iOS 8 SDK. Beginning June 1, 2015 app updates w

[2015-01-21 16:52] galsasson opened #3580 "deadlock in ofxTCPServer"
This is really strange:

isClientSetup tries to hold the mConnectionsLock lock:

//--------------------------
bool ofxTCPServer::isClientSetup(int clientID){
	ofMutex::ScopedLock Lock( mConnectionsLock );
	return TCPConnections.find(clientID)!=TCPConnections.end();
}

while this lock is already held by another function that calls isClientSetup. For example:

//--------------------------
bool ofxTC

[2015-01-21 16:57] pizthewiz commented on #3039
@laserpilot - Are you sure that isn't a warning and not an error? Existing applications are not required to ship `arm64` slices until 1 June 2015 - if that isn't what you are seeing, hit up your App Store rep or iTunes Connect support.

[2015-01-21 17:14] laserpilot commented on #3039
Ah...you are right, it was just a warning...sorry for the false alarm - got this report from my co-worker and I didn't read the whole email very closely - but the app just went into 'waiting for review'

[2015-01-21 17:22] pizthewiz commented on #3039
Good old grandfathered existing apps :wink:
The 1 Feb deadline looms large for new app developers.

[2015-01-21 18:11] ofTheo commented on #3580
hmm - this looks like it came from http://github.com/openframeworks/openFrameworks/commit/498bdf8934304ea013f187c38bfb923a91254b20

@SoylentGraham @arturoc - any thoughts?

[2015-01-21 18:17] memo commented on #3558
"funny how we all hop onto the smallest most boring issue to cast our opinions :) on a sunday no less."

I'm tagged in this post for some reason (UPDATE: just realized that I'd been blamed for the error, sorry bout that :)

And smallest boring issues are often the ones that require the least time investment in responding. And like @bilderbuchi says, potentially quite interesting with far reaching

[2015-01-21 18:40] #3290 closed

[2015-01-21 19:04] admsyn commented on #3121
Hey @igiso , did you delete that branch from your fork? The link doesn't work any more.

[2015-01-21 19:13] galsasson commented on #3580
I took another look at it seems that removing the lock from isClientSetup, though not optimal, should do the trick. Currently this function is being called only from already locked scopes.

And it came from:
https://github.com/openframeworks/openFrameworks/commit/e8400fd09e02166731c0b67c084fe08d37a15d00

[2015-01-21 19:17] armadillu commented on #3558
I like the idea of ofIsEqual() and ofIsZero() (probably as inline methods), but it should be used all across the core on similar float comparisons. I think this would help a lot at catching lots of those edge cases.

As for log, we could also have some sort of mechanism that analyzes a bit the log history, and if the same line is logged many times, then it makes a digest of it. (i.e. "centroid of

[2015-01-21 19:25] SoylentGraham commented on #3580
The lock is recursive isn't it? In which case it shouldn't be a problem if the locks are on the same thread... If they're on different threads... I can't see how isClientSetup is going to deadlock... so that should free for the other thread.

Remove the lock at your peril, it's there for a reason... I added all the locks because it wasn't threadsafe before when accept() got new clients...

[2015-01-21 19:33] galsasson commented on #3580
Hi @SoylentGraham,
FastMutex should not be recursive, thats why the deadlock.
Also, I'm working in 64bit, so maybe its behavior is different on 32bit?

Can you please share the risk of removing this lock? I rely currently on ofxTCPServer in my project, so if there is reason to keep this lock, maybe we can find another solution.

Thanks

[2015-01-21 19:39] SoylentGraham commented on #3580
Hmm I though ofMutex's default was recursive... maybe this has changed (I haven't used openframeworks for about a year I don't think)
32bit vs 64bit shouldn't make a difference unless OF does something different with the mutex's

The risk is a crash if TCPConnections changes (eg. with a client connecting, which occurs on a different thread) whilst you're calling the function.

My advice is to keep

[2015-01-21 20:15] armadillu commented on #3245
this might be related to this?
http://forum.openframeworks.cc/t/emptyexample-running-at-50fps-in-release-mode/13731/9
I'll try to find some time to investigate more

[2015-01-21 20:17] bilderbuchi commented on #3558
I thought we already could set log levels per module? or was that just the prefix string?

[2015-01-21 20:49] armadillu commented on #3558
ah that's very nice, I was not aware of this. So when you call ofSetLogLevel() it overrides the individual module log levels?

[2015-01-22 05:57] igiso commented on #3121
yeah,, it became unmeargable so I deleted it..
let me know if there is anything I can help anybody with..

[2015-01-22 11:03] arturoc commented on #3580
if `isClientConnected` is just calling other functions which are themselves locking it shouldn't be locking. @SoylentGraham can you change that? otherwise i can take a look later

[2015-01-22 13:27] memo commented on #3558
@bilderbuchi I had no idea that we could do that! that's great! Is this used in the of core (i.e. each class has it's own module for logs).

@armadillu "centroid of zero-area polygon << this message repeated 155 times" would be ace. maybe for the "nice things to do one day" list :)

[2015-01-22 15:44] galsasson commented on #3580
small correction, **isClientSetup** is locking and is being called from all over the file from locked contexts.
I agree that isClientSetup code should be executed when the lock is held, but this already happens (every function that called is first hold the lock). And since this function is private, although not optimal, its safe for now to remove the lock there.

[2015-01-22 19:50] admsyn commented on #3121
You can submit the `ofGetCocoaWindow()` tweak as a PR, but I *think* there's not too much interest in adding new features specifically for the GLUT window system (especially if it'll clutter up non-GLUT parts of the code base).

I'm going to close this, but if the change is fairly clean and minimal feel free to submit it as a PR. Thanks!

[2015-01-22 19:50] #3121 closed

[2015-01-23 06:12] igiso commented on #3121
no worries,

:beer:

[2015-01-23 13:15] arturoc opened #3586 "bug in ofSoundObject"
this in line 130:

[code]

is wrong, it's creating a shared_ptr from an already existing pointer which will destroy the original once it goes out of scope, the correct thing to do seems to store shared_ptr in the vector.

ping @bakercp since it seems he added this code

[2015-01-23 13:49] bakercp commented on #3586
I think I got credit for this one because I converted all of the `ofPtr` -> `std::shared_ptr`.  I do not condone the mixing of shared and raw pointers :) -- see my original comments / suggestions on the PR here https://github.com/openframeworks/openFrameworks/pull/3369.

Anyway, if I'm still allowed to register my opinion -- back in the PR discussion I think I proposed keeping a vector of std::sha

[2015-01-23 18:10] arturoc commented on #3586
i agree the best would be to have a vector of weak pointers. the main problem is that it would force people to use shared pointers which can be intimidating for beginners.

who did this then? @roymacdonald @admsyn @mazbox

[2015-01-23 19:15] admsyn commented on #3586
That was me, making a mistake when shuffling some of the code around. [Roy's original intent was for that to be a dereference of a raw pointer](https://github.com/admsyn/openFrameworks/commit/801c237ddb0d0be0d274fbd5bda107bed7467543#diff-6663da56fce847e65be8c23d36ee1a17L14).

I think what happened was that I intended to migrate from all raw pointers to all ofPtr and missed that `channels` was (and

[2015-01-23 19:23] arturoc commented on #3586
the main problem with that is the user has to keep references to the original objects around until all the objects that hold a reference to them are destroyed, control the order of destruction... which can be really messy.

an option would be to implement some kind of internal smart pointer in the objects themselves the way ofParameter does it for example. since this is an API to be used by addon

[2015-01-23 19:23] admsyn commented on #3586
Actually, looking a bit closer at this I think I see where some confusion came from. The function's written to return a reference, but internally stores its channel sources as pointers. In the case that a channel doesn't have an associated source, [it didn't have a reference to return](https://github.com/admsyn/openFrameworks/blob/3c06b38ab18b80e9ef29edc0a935503ec665f8c2/libs/openFrameworks/sound/

[2015-01-23 21:31] roymacdonald commented on #3586
HI, just a quick answer.
The idea would be to be able to return a NULL as it will mean that nothing
is connected to that channel. I have no idea on how the ofParameter deals
with pointers, yet implementing something similar might be the way to go.
I understand the problem with exposing pointers throught the API, but in
this case the references might be a bit messy.
I'll go around this later as I h

[2015-01-24 23:05] jvcleave opened #3589 "ofBufferToFile reports success incorrectly if bin/data folder does not exist"
If the `bin/data` folder does not exist the below example will report success even though no file is written.

if `bin/data` exists all will work as expected.

I did the file writing in update just in case there were still issues with `ofToDataPath` in `setup()`

I first noticed this on the RPi but also tested on Mac OS X 10.10

[code]

[2015-01-25 05:12] julapy commented on #3242
spent a couple days merging the OSX and iOS video player code (PR is here - #3590)

its working well across the two platforms in pretty much the same way.

one difference worth noting is that the current OSX video player in master uses the AVPlayerItemVideoOutput class which is only available in iOS6+ and currently ofxiOS supports iOS5 and up. so in this version, AVAssetReader is used for reading

[2015-01-25 11:03] bilderbuchi commented on #3558
I don't know what happens when you call the general metthod, tbh.
Afaik, it's not used in the core too much, maybe because no one took the time to convert all the oflog calls.

[2015-01-26 03:03] pierrep commented on #3576
Hmmm, yeah I see. One of the things I like about OF is that it works mostly the same across platforms, so maybe adding extra linux functionality kinda breaks that, even if it is for the better.

Maybe a better option would be for me to have this extra functionality as an addon (ofxFreeGlutAppWindow or something)

Thanks for following up the GLFW stuff, that's been a real PITA!

[2015-01-26 03:03] #3576 closed

[2015-01-27 05:53] danoli3 commented on #1617
Going to need this one for 0.9 rather than 0.9.3 (as libraries update is going to require it). @bakercp @liquidzym

[2015-01-27 06:32] bakercp commented on #1617
Hey @danoli3 Can you explain why the 3.0 update is required for 0.9.0?  Does the older version not support 64 bit or something?

[2015-01-27 19:58] bilderbuchi commented on #1617
If anybody updates ofxassimp, could I ask a favor? Please update by removing the source files, committing, then adding the new files and committing. This way hopefully the line ending headaches that crop up from time to time go away for good....

[2015-01-27 20:02] elliotwoods opened #3594 "Feaure : ofQuaternion::setEuler(const ofVec3f &)"
For many applications I'm using Euler angles rather than Quaternions (where they need to be sensibly user-edited).

Currently we have an `ofVec3f ofQuaternion::getEuler()` but no `ofQuaternion::setEuler(const ofVec3f &)`.

And I can't seem to find a function on the internet which inverts our `getEuler()` (suggesting that our `getEuler` might also be broken).

[2015-01-27 20:11] elliotwoods commented on #3594
these functions are invertible but are incompatible with our current `getEuler()`:
[code]

(reference from http://www.cs.stanford.edu/~acoates/quaternion.h)

[2015-01-27 22:50] danoli3 commented on #1617
@bakercp We will need to update the Apothecary formula if we don't want to update it to the latest Assimp yet. Currently it is set to the latest.
I can try this out with the older version first... might be a better idea for now as this was quite a headache out of all the library updates.

@bilderbuchi I know right! This has saved my git life so much when switch branches for oF https://help.github.

[2015-01-27 22:51] pizthewiz commented on #1617
Those line endings were the pits!

[2015-01-28 10:09] tgfrerer commented on #3594
The hard thing to get right with Euler angles is that there are 12(!) different representations of a quaternion in Euler terms, with `Proper Euler` angles being the ones we appear to use in openFrameworks.

James Diebel of Stanford Uni wrote one of the best references available: https://www.dropbox.com/s/p6gb3evn9m9df8v/79.pdf?dl=0

Maya, for example, appears to use use Euler Angles following the

[2015-01-28 10:37] liquidzym opened #3595 "windows 8.1 app window position issue"
when open up the app, the window always stay on top left corner of screen
win7&win8 got same issue
![windows](https://cloud.githubusercontent.com/assets/51957/5936138/acda90b6-a71c-11e4-801d-89ccba9a6c00.jpg)

[2015-01-28 20:23] bilderbuchi commented on #3595
@openframeworks/windows can anybody reproduce?

[2015-01-28 20:24] bilderbuchi commented on #3595
also @liquidzym please state your OF version and IDE you're using.

[2015-01-28 20:30] tgfrerer commented on #3595
Yes, I'm seeing this too, on windows 8.1.

Also window does not restore its original size after toggling back from fullscreen.

[2015-01-28 21:52] igiso commented on #3595
this seems like undefined behavior of ofWindowSettings::position due to different c++ dialect (?)
.. can you guys try use the new initialization format with the ofWindowSettings
and set the position to something before creating the gl window?

do you get build warnings as well?

use this in main:

ofGLFWWindowSettings settings;
	settings.width = 900;
	settings.height = 600;
	settings.position.x =

[2015-01-29 01:50] liquidzym commented on #3595
@bilderbuchi，sorry about that,i'm using current master brunch which is 0.9.0, visual studio 2013 IDE

[2015-01-29 04:41] liquidzym commented on #3595
@igiso,ok,try with your code,not getting build warning,but seems there's no method called closeOtherWindows
besides that,it did works ,the main window postion at the 300,300

[2015-01-29 15:20] tgfrerer opened #3597 "ofbClearBg seems weird"
I can't really put my finger on it, but the global method `bool ofbClearBg()` in `ofGraphics` seems to fall out of our general naming convention. I would suggest to deprecate it in favour of the already present `ofGetBackgroundAuto()`.

`ofGetBackgroundAuto()` is much more easier to read, and does what it says, while ofbClearBg() could be mis-read as a global function to clear the background.

[2015-01-29 15:22] tgfrerer commented on #3597
oh, i see, that's already been deprecated. my bad ;/

[2015-01-29 15:22] #3597 closed

[2015-01-29 22:29] kylemcdonald commented on #3597
@tgfrerer also curious to hear your thoughts on #3566

[2015-01-30 01:10] julapy commented on #264
was about to log an issue for this very same thing when i remembered you guys chatting about this.

i found it very confusing that `ofClear(255)` clears the fbo and makes it transparent.
when i think ofClear, it is like filling the fbo with a color value.
so writing `ofClear(255)` should make the fbo white.
on the other hand, `ofClear(255, 0)` should make the fbo transparent.
this is in line with

[2015-01-30 01:24] julapy opened #3598 "ofFbo with multisampling enabled, does not clear."
the code below should make the fbo all white.
instead its just showing gpu garbage.

it works correctly when disabling multisampling => `fbo.allocate(w, h, GL_RGBA, 0);`
so its an issue with multisampling on the fbo i believe.

[code]
[code]

[2015-01-30 10:42] minusplusminus opened #3599 "ofAppiOSWindow::Settings not working in current master"
Hello, I've read in the issues list that there are currently some changes in ofAppiOSWindow::Settings.

      //  here are the most commonly used iOS window settings.
         //------------------------------------------------------
         ofAppiOSWindow::Settings settings;
         settings.enableRetina = true; // enables retina resolution if the device supports it.
         settings.enableDept

[2015-01-30 11:54] ofTheo commented on #3598
@julapy - that is weird I get white.
I can also clear it with different colors.
Is this with master branch? I'm testing with 0.8.4

Whats your GPU hardware?

[2015-01-30 13:28] tgfrerer commented on #264
Renates to #3566

[2015-01-30 16:40] tgfrerer commented on #3566
+0.75 for keeping `ofClear()` and getting rid of all `ofBackground*` related items.

* Getting rid of all the ofBackground logic would make it easier to maintain the renderers in the long run, and less error prone.
* Also, `ofClear` does what it does, is an action verb and would feels more natural in terms of semantics.
* Having only one point of entry will also make it easier to keep track on the

[2015-01-30 17:28] tgfrerer commented on #3598
Yes, I'm seeing this too, on latest master / programmable renderer, NVIDIA 980, vs2012.

Using multisampling I'm not seeing the white frame I do indeed get when multisampling is disabled. That said, i vaguely remember that multisampling is not yet fully implemented with all bells and whistles. Will dig deeper.

[2015-01-30 18:39] tgfrerer opened #3600 "bUseARBExtension, ofEnableArbTex() are misleading"
`ofTexture` could do with a little love. We currently have parameters in there like `bUseARBExtension` which can only be understood based on historical, viz: openFrameworks historical context.

"ARB" just means "Architecture review board", which is the committee which decides upon inclusion of GL extensions into the core. A great many extensions carry this suffix until they have been approved to G

[2015-01-31 03:58] danoli3 commented on #3599
Yeah seems to be an issue in the custom delegate only.

Something deeper with the new windowing code and how it works with custom
delegates.

I did notice this when updating the iOS example main functions.

@julapy any ideas?

On Friday, January 30, 2015, minusplusminus <notifications@github.com>
wrote:

[2015-01-31 17:18] AmnonOwed opened #3602 "ofEllipse has extra line when saved to PDF"
I tried to draw an ofEllipse to PDF, however I noticed that an extra line is added in the PDF export. This is especially noticeable when it is drawn as stroke-only. The extra line is not visible in the application, but only in the exported PDF.

This issue has been reproduced in OF versions 0.8.4. and git development build on Windows 8 64-bit using Code:Blocks. The expected behavior is a regular c

[2015-01-31 17:43] AmnonOwed opened #3603 "OF:Master fails to build on CB"
When trying to build the current openframeworks:master in Code:Blocks, you get the following errors:

1. ofSoundStream.h => error: 'UINT_MAX' was not declared in this scope (7 times)
2. ..\..\..\libs\glew\lib\win_cb\glew32s.lib||No such file or directory
3. Several undefined references to 'ofMainLoop' and 'ofSoundBuffer'

I will send a pull request shortly with fixes that helped me solve these thr

[2015-01-31 23:45] #3603 closed

[2015-01-31 23:46] arturoc commented on #3600
+1, the way i do this for android where there's a special texture type for video players to upload directly to texture, is by using a textureData to allocate the texture but it's kind of confusing.

about the global function i would just remove it (with a period of deprecation...)

we should also fix all the other weird stuff in ofTexture, like t,u -> u,v even if it's going to break some code it's

[2015-02-01 08:01] AmnonOwed commented on #3602
@youandhubris Great find! But I think somehow you sent the pull request to your forked master instead of to openframeworks:master.

[2015-02-01 14:39] youandhubris commented on #3602
@AmnonOwed Yes, my bad! I'm new to everything related to programming. And Github, in this case. I think, now, I did it right. (Doing it at 6 a.m. wasn't a great idea, also. : )  )

[2015-02-01 14:43] #3602 closed

[2015-02-02 01:59] kylemcdonald commented on #2016
i just read through this thread and #3039 and couldn't get any of the forks people have worked on over the last year to work for me. i even made some basic changes that should have fixed things that have changed since the forks stopped development (assuming the libraries were good). i consider myself pretty ok at getting OF to work, but i didn't realize it was still this hard to build 64-bit for O

[2015-02-02 02:28] armadillu commented on #2016
Yeah lets try to all row in the same direction; so hard to keep up

[2015-02-02 02:30] danoli3 commented on #2016
I have a Travis-CI Apothecary script building Repo that lists the OS X side as well as iOS formulas in their build status: https://github.com/danoli3/apothecary-den

# Build Status:

| Lib                             | osx |  ios |
|---------------------------------|-----|-------|
| FreeImage                       |[![Build Status](https://travis-ci.org/danoli3/apothecary-den.svg?branch=freeimage-

[2015-02-02 02:55] kylemcdonald commented on #2016
@danoli3 thanks so much, that is super helpful for giving me an idea about where we are. "passing" means that both 32 bit and 64 bit are compiling, or is it just that the formula doesn't have any errors for whatever it's doing at the moment?

[2015-02-02 03:04] kylemcdonald commented on #3566
with everything you mentioned in mind, then my recommendation is that we deprecate ofBackground* in favor of ofClear and completely remove ofBackground* with 1.0

[2015-02-02 03:39] #3586 closed

[2015-02-02 03:45] danoli3 commented on #2016
So the passing means it is successfully compiling the static libraries for i386 libstdc++ and x86_64 libc++ (64bit) for OS X. (And i386, x86_64, armv7 and arm64 for iOS).

This gives a good indication of where the libraries are at, however not the complete story.
For example; With iOS it had heaps of Symbolic link errors at linking stage with DEBUG mode due to some strange scope issues the librari

[2015-02-02 04:01] #3558 closed

[2015-02-02 04:30] kylemcdonald commented on #2016
@danoli3 awesome. i also see now in https://github.com/openframeworks/openFrameworks/pull/3453#issuecomment-70859846 that @ofTheo already encouraged the idea of merging formulas before they have complete coverage. good to see.

[2015-02-02 04:57] danoli3 commented on #2016
@kylemcdonald Yeah master has all of the latest Apothecary Formulas we currently have.
Strategy was Strip any pull requests for Apothecary with static libs/updated headers, to just the core scripts themselves using cherry-pick.

So from now on, any new Apothecary formula updates / PR's:
Make sure to just have the pure apothecary script changes only.

PR's with static libs + updated headers can com

[2015-02-02 07:39] obviousjim commented on #2016
@kylemcdonald currently @prisonerjohn's fork of OF works on Windows and OS X, We are using it for projects right now on both OS's. What issues did you find in compiling it?

I lost track of understanding the complexities of merging this when it became dependent on Apothecary and c++ 11. @elliotwoods and @bakercp are more up to date on this aspect. But my vote is for getting whatever issues kyle is

[2015-02-02 09:51] natxopedreira commented on #3595
Im also seeing this. current oF master branch, win 8.1 vs21012

[2015-02-02 12:13] tgfrerer commented on #2016
hey @danoli3 i've tested glew on os x and it seems to build fine for me, is it possible that the travis build stage fails at `clean()` because the travis system doesn't copy the files upon `copy` ?

[2015-02-02 15:48] pierrep opened #3609 "error C2065: 'data' : undeclared identifier in ofxOSC, UdpSocket.cpp"
Visual studio 2012, github OF... @ofTheo ?

[2015-02-02 15:56] pierrep commented on #3609
Also  error C2664: 'setsockopt' : cannot convert parameter 4 from 'unsigned long *' to 'const char *'

[2015-02-02 17:06] AmnonOwed commented on #2553
This issue still exists in OF 0.8.4. or rather Code::Blocks 13.12. Reproduced on Windows. So the title of this issue may be generalized to "Code completion not working in code::blocks". The workaround still fixes it, but it is a general setting (luckily!). Once toggled, it works for every workspace you open.

The setting is part of a CB plugin. So I wonder if it is even possible to enforce the des

[2015-02-02 19:59] pizthewiz opened #3610 "GStreamer dependencies too old for Ubuntu 14.04.2?"
I have an `armv7l` board running Ubuntu 14.04.2 / 3.10.64 and the dependency install script from HEAD fails on GStreamer dependencies. Are our GStreamer needs workable on 14.04?

[code]

[code]

[2015-02-02 20:01] bilderbuchi commented on #3609
sounds maybe like a wrong include in the VS project? mind that there's a posix and a win folder [here](https://github.com/openframeworks/openFrameworks/tree/master/addons/ofxOsc/libs/oscpack/src/ip), but your project should only use one.

[2015-02-02 20:02] bilderbuchi commented on #2553
the doc suggestions sounds good. for the first question, it's probably a good idea to enquire with the C::B devs?

[2015-02-02 20:10] pizthewiz commented on #3610
Attempts to install _libgstreamer-plugins-base1.0-dev_ directly fails as well:

[code]

[2015-02-02 20:11] bilderbuchi commented on #3610
ping @openframeworks/linux @openframeworks/linuxarm. I currently don't have enough grasp of the logic here, I think arturo made some fixes more or less recently.

[2015-02-02 20:27] arturoc commented on #3610
that seems an error in the repositories, as far as i know 14.04 has gstreamer 1.2.something not 1.4 but in your logs it seems to be trying to install gstreamer 1.4 but then some packages have version 1.2

is that a standard install of ubuntu or something specific for that board? it might be that the specific version has some broken packages but it should definitely work on 14.04

if it's a standar

[2015-02-02 20:31] arturoc commented on #3610
actually i'm checking and ubuntu 14.04 is still on 1.2:

http://packages.ubuntu.com/search?suite=default&section=all&arch=any&keywords=gstreamer&searchon=names

so it must be something weird in your install or distribution. try checking that there's no additional ppa's

it might also be that the board manufacturer packages 1.4 cause it has better support for accelerated video playback but has some

[2015-02-02 20:50] pizthewiz commented on #3610
Sure enough, @mdrjr mentioned that GStreamer is not yet supported on the ODROID-C1 - closing this out, thanks for taking a look!

[2015-02-02 20:50] #3610 closed

[2015-02-02 22:15] pierrep commented on #3609
Yes I'm aware of that...but no it's not that. The windows codebase is different and seems to be missing an undeclared data variable...

[2015-02-02 23:56] danoli3 commented on #2016
@tgfrerer Yeah the Copy part is failing due to:
``rm: libs/glew/include: No such file or directory```

Will just need to add ```rm -rf``` (remove if exists) to fix this.

[2015-02-03 12:21] yty commented on #3609
@pierrep @bilderbuchi

I submitted before...

https://github.com/yty/openFrameworks/commit/d726292e8a13b8a58d2f66f03f22f1973ab6dc7a

[2015-02-03 22:52] kylemcdonald commented on #3586
i noticed something else related to this code... i was in some weird intermediate land of 64-bit, libstdc++, libc++, c++11, c++98, 10.7 deployment... everything was mixed up... and i had to make these changes to get my code to compile:

https://github.com/kylemcdonald/openFrameworks/commit/67f621dded606cfcabac840e2391115aad935f7e

i think the `std::` prefix to the `shared_ptr` in the code above mi

[2015-02-04 00:03] danoli3 opened #3614 "Dependencies are missing their License Agreements with their Source/Headers in /libs/"
Just noticed in the https://github.com/openframeworks/openFrameworks/tree/master/libs folder for all of the repositories we are missing the license agreements from all or most of the libraries.

BSD (Poco for example) https://github.com/pocoproject/poco/blob/develop/LICENSE

Do we have to include the LICENSE.txt/.md from these 3rd party dependencies with their headers?

I know we are acknowledging

[2015-02-04 00:15] danoli3 commented on #3599
More information from @tallavi

[2015-02-04 01:37] kylemcdonald commented on #3614
i don't think we need to modify any of the header files, but it would be great to get the license files and put them adjacent to the libraries.

[2015-02-04 01:40] danoli3 commented on #3614
Yeah I didn't mean modify the source headers whoops, I meant add the license files with the header locations / libraries as you suggested :D!

[2015-02-04 05:34] danoli3 commented on #3423
- Implemented across all the scripts to drop ```armv7s``` in Apothecary Build Scripts.
- Updated Xcode project in 0.9.0 Branch to use the Standard Architectures : https://github.com/danoli3/openFrameworks/tree/Apothecary/0.9.0-CoreChanges
- Code to build for ```armv7s``` has been commented out of build scripts rather than completely removed, incase someone really needs it (super unlikely).

Closin

[2015-02-04 05:34] #3423 closed

[2015-02-04 08:46] tallavi commented on #3599
Thanks for the info, @danoli3. I thought I was losing it.

My temporary work around is to change the lines to:

    shared_ptr<ofBaseApp>* temp = new shared_ptr<ofBaseApp>(app);

    if(app != ofGetAppPtr()) {              // check if already running.

        ofRunApp(*temp);   // this fallback only case occurs when app not created in main().
    }

in order to have a app be kept by a pointer tha

[2015-02-04 09:14] danoli3 commented on #3599
@julapy and I have a fix coming up now.

On 4 February 2015 at 19:46, tallavi <notifications@github.com> wrote:

[2015-02-04 09:20] tallavi commented on #3599
Nice!! I did some more investigating, and you might know that already, but I'll write it down just in case it's helpful somehow:

The problem is that the shared_ptr chain starts in the middle, and not at the top. Even if I try to retain my app in a shared_ptr, when I pass it down to ofxIOSViewController, I pass a raw pointer, that gets passed down as raw pointer to ofxiOSEAGLView, and from there t

[2015-02-04 09:38] tallavi commented on #3599
Thanks for the quick fix!

WIll you be merging this into your Apothecary/0.9.0-All branch, or should I do merge the new change locally for now?

[2015-02-04 10:57] danoli3 commented on #3599
Yeah I've merged julapy's PR into the 0.9.0-All branch now (i'll reset the head when it goes master), for now good to pull

[2015-02-04 11:30] pierrep commented on #3609
@yty Yes, that fixes it, thanks!

[2015-02-04 12:50] danoli3 opened #3619 "Apothecary Discussions - Optimization Levels for Statics"
Should we standardise the optimization level for compilation across all static libraries (or specific deployments).

**GCC_OPTIMIZATION_LEVEL**
Description

[GCC_OPTIMIZATION_LEVEL]

#### More detailed explanation in the GCC manual:
https://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html#Optimize-Options

Also note this discussion.
http://stackoverflow.com/questions/11546075/is-optimisation-level

[2015-02-04 13:02] arturoc commented on #3609
why are there errors in the libraries files? are we still using a patched oscpack? i lost track wit @ofTheo last modifications

[2015-02-04 15:25] minusplusminus commented on #3599
Enable retina is not working i've mentioned. New issue?

[2015-02-04 19:43] warrenm commented on #1190
@remoe Ivan Leben's masters thesis is available from [his personal repo](https://github.com/ileben/HonoursThesis). I know it's been a few years, but I hope others arriving via Google will find this link helpful.

[2015-02-04 20:28] bilderbuchi commented on #3586
I guess a tough question is if those changes will break in other configurations than yours, kyle, as they are stirring the pot quite much.

[2015-02-04 20:29] bilderbuchi commented on #3614
strange that they aren't in there yet, aren't we mainly just dropping the libs in? in any case, :+1: to adding the license files.

[2015-02-04 20:34] kylemcdonald commented on #3586
i think the `shared_ptr` might break in other legitimate situations.

the other things are probably just incomplete `#if`s where we haven't delineated the exact boundary between the two cases clearly enough. i think we will discover the exact nature of that boundary as we prepare an OS X release that is both 32-bit and 64-bit compatible.

[2015-02-04 20:37] kylemcdonald commented on #3614
i know that apothecary has a working directory for checking out source, but it would be AMAZING if after cloning OF and running apothecary it was also responsible for copying the headers and licenses of these libraries into the libs/ folder (and we left everything but the openFrameworks folder empty).

[2015-02-04 20:42] bilderbuchi commented on #3255
closed by #3256, @danoli3 ?

[2015-02-04 20:48] bilderbuchi commented on #3609
unfortunately, @yty 's commit contains strange stuff, like the Win32 ifdef in a posix file (which should not be included in windows), so if there's a fix in there we should tease it out.
@yty did you ever submit this fix upstream with the oscpack developer? that's the proper place where such a fix should land, and I seem to remember that I asked if you could do that before?

[2015-02-04 21:05] bilderbuchi commented on #3408
closed by #3422

[2015-02-04 21:05] #3408 closed

[2015-02-04 21:11] bilderbuchi commented on #3614
that would probably also ensure that headers and compiled libs always stay in sync.

[2015-02-04 21:35] tgfrerer commented on #2016
I found out something quite exciting: **clang can make fat libs with the correct -stdlib and -stdc++ in one go, while compiling**!

Since this might speed up & simplify generating apothecary scripts considerably, i've put my findings into a gist. It contains the words "vanilla" and "fat", but not "ice cream":

https://gist.github.com/tgfrerer/8e2d973ed0cfdd514de6

I'll do some more testing on this

[2015-02-04 22:11] kylemcdonald commented on #2016
going to un-assign @obviousjim for on this issue now. still :heart: you, just want to open up the spot in case someone else wants to take the lead on this :)

@tgfrerer that's amazing, i would love to hear @danoli3 and @bakercp on this.

also, regarding my effort to get 64-bit compiling, it ended up working with @prisonerjohn's branch. i just had to craft a project file that was correct. using a p

[2015-02-04 22:23] pizthewiz commented on #2016
Definitely a great find and could simplify the build process, but I wonder if some of the dependencies use their own build systems such that we aren't providing the actual args and arg ordering?

[2015-02-04 22:32] bakercp commented on #2016
@pizthewiz Yes, definitely an awesome find, but indeed many of the packages are using their own libs, settings, etc and it's sometimes difficult to modify a build system (e.g. Poco e.g. https://github.com/pocoproject/poco/issues/680).

[2015-02-04 22:35] danomatika commented on #2016
Also, how will this work with the iOS simulator? Does the iPad 2 simulator use 32 bit (matching iPad arch) or 64 bit libs (matching OS X)? If so, it may not be as easy as saying 32 bit iOS libs are C++ and 64 bit are C++11. I don't know but I thought I'd throw that out there.

[2015-02-04 22:44] pizthewiz commented on #2016
The iOS simulator uses the libs paired to the target device arch - simulating the iPhone 5, a 32-bit `armv7s` device, will use 32-bit `i386` libs and simulating an iPad Air, a 64-bit `arm64` device, will use 64-bit `x86_64` libs.

[2015-02-04 22:49] pizthewiz commented on #1190
[NanoVG](https://github.com/memononen/nanovg) is another great and compact lib for antialiased vector shape rendering into OpenGL - it supports OpenGL 2, OpenGL 3.2 core profile, OpenGL ES 2 and OpenGL ES 3.

[2015-02-04 23:02] pizthewiz commented on #3507
This is in limbo given #3543…

[2015-02-05 01:19] pizthewiz opened #3620 "Support for the Raspberry Pi 2 B"
As reported in the forum thread [Raspberry Pi 2 install failing](http://forum.openframeworks.cc/t/raspberry-pi-2-install-failing), it sounds as though the existing Raspberry Pi support is detected via the cpu type which has gone from ARM11/`ARMv6` in the A/+ and B/+ to Cortex-A7/`ARMv7` with the 2 B.

[2015-02-05 01:34] kylemcdonald commented on #3620
i'm adding this to 0.9.0 under the assumption that it's not a big change, but it's important. if it turns out to be very complicated, or testing compatibility is delaying the release further, we can push it back.

[2015-02-05 06:32] pizthewiz commented on #2283
I am going to close this out now that video playback has transitioned to AV Foundation for the 0.9.0 release, while recognizing we still need a grabber implementation #3382 which will come in a later release.

[2015-02-05 06:32] #2283 closed

[2015-02-05 06:59] #2823 closed

[2015-02-05 14:33] microbians commented on #1190
NanoVG looks promising !

[2015-02-05 15:54] igiso opened #3621 "bringing our glfw branch up to date with glfw:master without breaking keyInput"
are these the only changes we've made to the glfw core?:
https://github.com/arturoc/glfw/compare/feature-keysUnicode

if so,

is it ok If I fork the glfw master, and add these 8 changes to my branch and then make a pull request to arturoc's glfw  so we can be up-to date?

I can also add libglfw3.a to master

[2015-02-05 15:57] tgfrerer commented on #3621
or we could point apothecary to @arturoc's fork, that way, we'd be up to date for 0.9.

[2015-02-05 16:23] arturoc commented on #3621
hey, yeah i've been meaning to do it for a while, those are the only changes so merging with latest master shouldn't be too problematic. @igiso if you can send me a PR to that branch that'd be super useful.

and yes we should point apothecary to that branch

[2015-02-05 18:25] igiso commented on #3621
I think you might want to do some offline testing before merging to your online branch

I've implemented your code and it works fine, but while I was editing I noticed that they have added
some  "const unichar" inside the cocoa_window.m (keyDown)func
(that weren't there before)
not sure if they have toggled this in a different manner, (that might help us go back to master)

Also:
current glfw mast

[2015-02-05 19:26] igiso commented on #3621
ok. I've solved the windowing "problem"
…

it is because position is initialised as zero and is called in  ofAppGLFWWindow:setup
and then if you call set windowPos in ofAppsetup it goes all over the place..

[2015-02-05 20:25] bilderbuchi commented on #3620
pinging @openframeworks/linuxarm who should know how to best fix this.

[2015-02-05 20:28] bilderbuchi commented on #3599
fixed by #3617 afaik.
@danoli3 do you know about the retina issue @minusplusminus mentions?

[2015-02-05 20:28] #3599 closed

[2015-02-05 20:48] bakercp commented on #3620
I'm waiting on one as well, so I should be able to give a little better input.  Here's what I'd do:

1.  Copy this file into the linux armv6l folder

https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworksCompiled/project/linuxarmv6l/config.linuxarmv6l.default.mk

and call it `config.linuxarmv7l.rpi2.mk`.

2. Then I'd change My remove the `pkg-config` checks so to allow me

[2015-02-05 22:00] pizthewiz commented on #298
This should be good to close since apothecary has v2.5.3 in the [freetype formula](https://github.com/openframeworks/openFrameworks/blob/master/scripts/apothecary/formulas/freetype.sh) yeah?

[2015-02-05 22:06] pizthewiz commented on #1741
Not sure if this fits in 0.9.0 still, regardless the iOS and OS X players will merge soon via #3590, so adding the _macOS_ label here too.

[2015-02-05 22:38] danoli3 commented on #298
Yeah definitely

On Friday, February 6, 2015, pizthewiz <notifications@github.com> wrote:

[2015-02-05 23:23] danoli3 commented on #3614
Yeah I think Apothecary should have another step to the API - like ```copy()``` except only for the license files.

So we can do
```./apothecary -t ios license tess2```

For example to just copy the license files.
And also make this a default step in the update process.

@danomatika

[2015-02-05 23:34] danomatika commented on #3614
No, that's too fine grained a step to create a new function for. Simply add the cp line to the copy() function in the formulas. Super easy.

I would have added this when I started Apothecary, but my original goal was to replicate the existing libs layout at the time which didn't include LICENSE files, as fas as I can recall. Definitely should add that now.

[2015-02-05 23:35] #298 closed

[2015-02-05 23:38] danomatika commented on #3614
For Poco this would be simply:

    cp -v LICENSE $1/include/Poco

[2015-02-05 23:43] danoli3 commented on #3614
Okay cool thanks @danomatika
I'll add the cp for all the libs we have currently.

Yeah just a matter if seeing on each where the license file / type is, for the most part should be in the root directory (build dir for each lib).

[2015-02-05 23:59] danoli3 commented on #3614
Should we create a new folder in each libs folder for  ```License```.

If we had a folder structure like:

``` libs/freetype/license ```

So a license folder in each external dependancy if appropriate.

![oflicense](https://cloud.githubusercontent.com/assets/830748/6071870/f01b10c0-adee-11e4-836e-a1ab22f3f59e.png)

Be much cleaner than mixing it with the include directory.
Also if the files are in

[2015-02-06 00:01] danomatika commented on #3614
Nah, just put it in the main dir, i.e.

    freetype/FTL.TXT
    freetype/GPLv2.TXT
    freetype/LICENSE.TXT

[2015-02-06 00:04] danoli3 commented on #3614
:+1:

Yeah most of the time it is just going to be the one file so I did think the main folder, but FreeType had the exception of 3 of them XD so thought maybe be a bit cleaner. All for the main directory though of the lib though.

[2015-02-06 00:14] danoli3 commented on #3614
Ah having them in the main lib folder does make the ordering of things a little off (aesthetically) (especially in the freetype case:)
![order](https://cloud.githubusercontent.com/assets/830748/6072077/36b9a6b6-adf1-11e4-9036-897beb174d1c.png)

(if sorted by name/alphanumerically)

[2015-02-06 00:16] danomatika commented on #3614
... I think you're getting too deep. It's an end case. There's nothing wrong with creating a license folder just for ferrotype and putting it there, I would just avoid doing that fall *all* libs when the majority have only a single file.

[2015-02-06 00:25] danoli3 commented on #3614
Yeah I just wanted to keep it consistent across them all.
However I think the split main lib dir single file and license folder is a good solution.

So spec:
For multiple License files use ```license``` folder for a lib I.E. ```freetype/license/*```
For single License file: Use main lib directory I.E. ```freetype/LICENSE.*```

[2015-02-06 00:27] danomatika commented on #3614
I avoid renaming the files from the original project. I think you're getting too detailed here.

[2015-02-06 00:29] danoli3 commented on #3614
Yeah no renaming just example of location

[2015-02-06 05:13] bilderbuchi commented on #3614
Really? An extra license folder because the order is not "aesthetic" with more than one file?? Am I reading that right, are you serious? BTW, is this maybe an osx quirk? I'm pretty sure windows and Linux group all the directories together even when ordering alphabetically....

[2015-02-06 05:14] bilderbuchi commented on #3614
Also, +1 to just dropping the files in the root folder.

[2015-02-06 05:44] danoli3 commented on #3614
Nah it messes up the structure, makes it harder to navigate down to the libs folder.
Windows / Linux and OS X by default group alphanumerically... unless custom sorted by modification date / folders / etc, so this would be an issue by default.

It is just very messy without the **license** folder for the multiple files.
**FreeImage**, **FreeType** and **Cairo** currently have multiple license file

[2015-02-06 14:26] rc1 commented on #3620
I can confirm this works when the architecture is set to: `armv7-a`.

[2015-02-06 14:46] PTS93 commented on #3620
Indeed I can confirm that, when using armv7-a I can successfully compile.

[2015-02-06 14:53] bakercp commented on #3620
Great!  Can one of you submit a PR with the rpi2 configuration variant?  I'll edit my instructions above as well.  So -- in addition to compiling, does it seem to be running OK?

[2015-02-06 15:02] arturoc commented on #3620
probably we don't need a specific variant an instead just detect the platform architecture? that way is easier to maintain if we add libraries... since it seems everything else is compatible

[2015-02-06 15:11] bakercp commented on #3620
@arturoc The only issue there is all of the RPi specific setup stuff that is currently (perhaps incorrectly) handled with `TARGET_RASPBERRY_PI`.  Other ARM7 platforms don't need to define this, which is currently how we avoid x11 and init `dispmanx`, etc etc.  I'm all for auto-detecting all of this stuff, but we just need some way to make sure those defines get set.

[2015-02-06 15:12] bakercp commented on #3620
(also the platform variant strategy is also how we deal with the idiosyncrasies of UDOO, which is armv7).

[2015-02-06 15:23] arturoc commented on #3620
oh i see, i didn't remember that we had different folders for the different architectures and arm6 defaults to rpi. yeah let's add a variant then although in the future it might be good to join linux and linux64 as one thing and linuxarm as another and just detect the architecture since the rest of settings are the same usually

[2015-02-06 15:30] rc1 commented on #3620
@bakercp yip all seems to work. Currently I can't test against the latest on github because of [this issue](https://github.com/openframeworks/openFrameworks/issues/3529).

For the PR do you want just the `config.linuxarmv7l.rpi2.mk` file added? If it's more, I'll need some guidance on what to do / needs doing.

[2015-02-06 15:42] bakercp commented on #3620
@arturoc Yes, it would be super cool if we could merge arm and such in the future and do better detection.

@rc1 Yes, just a PR including the working `config.linuxarmv7l.rpi2.mk` in the linuxarmv7l directory would be super cool.

That said, I'm going to be working on https://github.com/openframeworks/openFrameworks/issues/3529 over the next day or two, so if the only changes were those I outlined

[2015-02-06 16:27] PTS93 commented on #3620
So far everything I tried out is working fine. I tried ofxOMXPlayer aswell which is working even better than before.

[2015-02-06 17:12] bakercp commented on #3620
@PTS93 So exciting!  I'll merge.

[2015-02-06 17:30] danomatika commented on #2016
... so that means we need i386 libs with both C++ & C++11 std libs? From what it seems like, if you want to use OF 0.9.0 with C++11 on an iPhone 5, you'll be linking to the i386 libs.

[2015-02-06 17:43] pizthewiz commented on #2016
Just to be a little more clear, if you wanted to _simulate_ an iPhone 5 in the iOS Simulator, you'd be using the `i386` slice of libs - on device, it would use the `armv7` slice. The `i386` libs used for the iOS Simulator and those for OS X are separate though - does iOS _need_ anything but `libc++` and C++11?

/cc @danoli3

[2015-02-06 17:49] danomatika commented on #2016
They are separate, yes (i.e. iOS fat libs include both arm and Mac arch). I'm just asking to make sure we don't miss this point and lead to link errors etc down the road. Best to double check. There are a number of add ons which include precompiled static libs. At the last there will need to be a large, loud note in the CHANGELOG about recompiling old static libs for C++11 ... unless they work fin

[2015-02-06 17:58] danomatika commented on #3430
This is basically done with my core PR and the PG PR.

[2015-02-06 20:28] kylemcdonald commented on #3614
this looks like the kind of thing that could go either way. thanks @danoli3 for outline the pros and single con of using an extra folder.

usually small decisions like this are resolved by whoever is doing the work to solve the bigger issue (in this case, @danol3). but because there's some sentiment against his solution, it would be great to have someone from @openframeworks/core chime in to pick

[2015-02-06 20:34] danomatika commented on #3614
I still think it's an end case. Just use a license folder if there are tons of licenses & docs, otherwise put the license in the main lib folder. I don't think OF needs the readme for *every* lib, the LICENSE and perhaps a CHANGELOG are sufficient.

As for the copying command, I suggested not adding the name of the file to the designation part of the cp command since this would help avoid problems

[2015-02-06 20:56] pizthewiz commented on #3614
Unless what @danoli3 has proposed is both detrimental to the project and permanent, I am of the opinion that there are a lot of important things to do to get 0.9.0 released and bike shedding this very minor detail is likely distracting from that.

[2015-02-06 21:06] danomatika commented on #3614
Agreed. However the issue was opened and my 2 cents were asked. Also, this is something we will all be looking at for a long time to come, so getting a clear decision is not a bad idea. In any case, nothing really breaks but could be a "paper cut" to someone in the future.

[2015-02-06 21:45] ofTheo commented on #1741
can confirm this is still an issue and with the single AV player now for iOS and OSX.

[2015-02-06 22:31] pizthewiz commented on #3242
Should be good to close this yeah?

[2015-02-06 22:34] kylemcdonald commented on #3614
@pizthewiz makes a really good point: that even though there is not consensus on this, it also has basically no side effects and can be changed easily.

so i'm going to un-summon the core :) and propose that since @danoli3 offered to do the work, he gets to choose the approach.

once something with minor consequences like this is implemented and working, then let's talk later if someone else wants

[2015-02-06 22:36] pizthewiz commented on #1741
I think @dantheman and @vade looked into this a bit during the dev jam weekend in early January. Snooping around I see a branch [vade/openFrameworks/AVFoundation_HLS_Fix](https://github.com/vade/openFrameworks/tree/AVFoundation_HLS_Fix) but I'm not sure if it bore fruit and of course we just swapped video players in #3590 so…

[2015-02-06 22:43] pizthewiz commented on #3614
Sorry for being a little sharp earlier - I do agree with some of the concerns raised and don't want to make them feel invalid, but hoped we could separate the immediate issue of needing to include licenses and then continue to discuss and address the finer points in a later pass.

[2015-02-06 22:46] vade commented on #1741
Oh - ha. Yea. Life and all that. This 'works' in as much as I can get a stream to 'play' in quotes, but something upstream in the texture uploading is fucking up royally because some checking / assertion about width/height and CVPIxelBuffer square pixel nonesense.

Basically, some streams aren't square pixel aspect ratio. The test stream isn't. Also the method you request width and height doesnt w

[2015-02-06 22:52] danomatika commented on #3614
Yeah totally. Just go ahead. I think we covered everything by now :D

[2015-02-06 22:54] pizthewiz commented on #1741
Awesome, that is super helpful and provides some good intel to work from. It looks like the commit to scope out is [58843ff6](https://github.com/vade/openFrameworks/commit/58843ff68e44e5c04fe51890b175a3e40e280de3). Not sure if the _new_ new (hours old) AV Foundation video player has the same hangups, but we definitely have some specifics to investigate - thanks!

[2015-02-06 23:00] vade commented on #1741
No worries. Glad I can be of some help. :+1:

[2015-02-06 23:21] kylemcdonald commented on #3242
yes!

[2015-02-06 23:21] #3242 closed

[2015-02-06 23:52] bakercp commented on #3620
Fixed with6098cf6597134026d9f66ccf52aa693cf46b5ed8

[2015-02-06 23:53] #3620 closed

[2015-02-07 00:19] danoli3 commented on #2016
@danomatika Yeah iOS libs use their own iOS SDK version of the i386 and x86_64 which is lipo'd into the static fat lib. This fat lib is all compiled with libc++ C++11 (i386, x86_64, armv7, arm64)

Definitely need to add to the changelog all the information about this for libc++ for iOS
Libc++ and libstdc++ are not compatible at all. For example the size of core types like strings are different and

[2015-02-07 01:33] pizthewiz commented on #2016
Ahh interesting, it won't blow up statically linking to libs with different settings?

The iPhone 5 runs an Apple A7 `ARMv7s` so I'm pretty sure the simulator and device will only ever run `i386` and `ARMv7` libs respectively. The 64-bit devices/simulator can run 32-bit libs, but not the other way around, no?

[2015-02-07 02:29] danoli3 commented on #2016
Yeah it would blow up, I've made changes to remove this problem in my
current 0.9.0 ios branch, by making it link only to iOS fat libs, I'll PR
that core changes today like the OSX PR.

And it is strange thing with the new Xcode 6 for release mode for using a
lib that should be using i386 will use x86_64 (by default).
When previously this was not the case.
Anyway that is fixed by build active Arch

[2015-02-07 16:52] HalfdanJ opened #3628 "ofAVFoundationVideoPlayer async loading problems"
I'm not exactly sure what the intended behavior is, i can just see that something has changed with the new ofAVFoundationVideoPlayer on OS X #3590, take the following code:

[code]
This printed `320` in the old video player, but because the new vide player loads the video async, this now prints `0` until it laters has been loaded. I can see a huge benefit in having it load it async for other cases

[2015-02-07 17:47] igiso commented on #3621
we can make propper gui with the new glfw floating undecorated windows..
![screen shot 2015-02-07 at 7 46 17 pm](https://cloud.githubusercontent.com/assets/2058400/6093063/0969d818-af02-11e4-8f23-cec03f0da544.png)

[2015-02-08 02:48] kylemcdonald commented on #2060
as another point of reference, p5.js uses the word "heading" to describe the first meaning (angular distance from an axis) http://p5js.org/reference/#p5.Vector/heading

[2015-02-08 03:32] kylemcdonald opened #3629 "ofAVFoundationPlayer can't dance backwards"
(Accidentally submitted before I filled out the text.)

The brand new ofAVFoundationPlayer can step one frame back at a time, but can't handle a negative play rate. Instead it stays on the current frame, or toggles back and forth between the previous and current frame. Haven't looked at possible causes yet.

To reproduce, build videoPlayerExample and move the mouse left of center.

[2015-02-08 09:57] julapy commented on #3629
ah ok, ill investigate.

[2015-02-08 19:14] pizthewiz commented on #3621
I think this needs the 0.9.0 milestone as it is required by #3627.

[2015-02-08 19:35] notjosh commented on #3506
fwiw, Apple make it fairly easy/cheap (read: free) to be on the latest OS/dev tools, and they run on hardware from as far back as 2007.

As [64-bit is required for submission now](http://9to5mac.com/2014/12/17/apple-reminds-developers-about-64-bit-ios-app-store-requirement-app-updates-now-must-also-comply-by-june/), it'd seem wise to bump the minimum to what'll cause the fewest unexpected issues t

[2015-02-08 19:48] bilderbuchi commented on #3430
thanks Dan, closing, then.

[2015-02-08 19:48] #3430 closed

[2015-02-08 19:49] kylemcdonald commented on #3507
changing this issue to "remove 10.6 support" which will happen when @tgrerer's PR #3627 is pulled

[2015-02-08 20:20] kylemcdonald commented on #3614
closed by #3623

[2015-02-08 20:20] #3614 closed

[2015-02-08 21:28] notjosh opened #3630 "android_configure.sh included in/executed via `apothecary update core`"
`apothecary update core` will loop through the contents of `formulas/` and try to execute each of the scripts.

This is made evident because my current env isn't set up for Android, and we're using `set -o nounset`.

[code]

Can we move util scripts like this elsewhere (say `_util` to follow the `_depends` convention), and then we can exclude it in a similar way: https://gist.github.com/notjosh/2d

[2015-02-08 22:13] julapy commented on #3628
yep i agree.

we can add a function to `ofBaseVideoPlayer`,
`setAsyncLoad(bool value)`
which would need to be called before calling `load(string name)`
by default asynchronous load should be turned off as that is the expected behaviour.

alternatively we could have two different load functions.
`load(string name)`
`loadAsync(string name)`

i personally would prefer the first approach, setting a lo

[2015-02-09 02:25] corybarr opened #3632 "Break typedef and make ofPoint subclass from ofVec3f?"
I just ran into a little issue calculating the angles between two ofPoints. ofPoint is typedefed to ofVec3f, but points and vectors have different semantics. Take, for example, calculating a distance between two points.

Take these two points:

        ofPoint start = ofPoint(0, 0, 0);
        ofPoint end = ofPoint(500, 500, 0);

The angle between them is 45 degrees. However, start.angle(end) is c

[2015-02-09 02:51] kylemcdonald commented on #3632
#2060 is related

[2015-02-09 03:10] corybarr commented on #3632
Ah, yes. Let's move the discussion to #2060. Is there a way to fold this issue into that one, or should it just be closed?

[2015-02-09 04:22] kylemcdonald commented on #3632
if you add a comment similar to / copying what you wrote above, as a suggestion for one way to resolve the discrepancy in the `angle()` method, i think we can close this one. as it is now, this is a different enough suggestion i wouldn't want it to be overlooked.

[2015-02-09 12:35] tgfrerer commented on #3514
Might this be related to drivers not fully supporting direct state access (DSA)? I noticed that when working on windows, I have to add this to the top of `ofBufferObject` to be able to use NVidia NSight (which does not support DSA):

	#undef GLEW_ARB_direct_state_access

Do you mind giving this a spin as a quick check, @procedural ? =)

[2015-02-09 17:39] nylki opened #3636 "using multiple ofGLFW windows: white image from ofVideoGrabber"
In the *master* of OF multiple window creation is natively supported without any addons (see eg. [example](https://github.com/openframeworks/openFrameworks/tree/master/examples/events/multiWindowExample) by @arturoc ) I wanted to convert a project to use the method.

however, calling the `draw()` function of ofVideoGrabber/ofImage results in white rectangles with the dimensions of the grabbed imag

[2015-02-09 18:10] nylki commented on #3636
I have seen other strange things using the addon [ofxUI](https://github.com/rezaali/ofxUI) with multiple windows. The white blocks should be text:

![bildschirmfoto 2015-02-09 um 19 07 50](https://cloud.githubusercontent.com/assets/1710598/6112282/413e14b4-b08f-11e4-992b-fec3eb40ab8c.png)

[2015-02-09 18:28] sentex commented on #3039
when will support ios 64bit ?

[2015-02-09 20:06] kylemcdonald commented on #3039
@sentex our planned release date for 0.9.0 is may 18. for more info about milestones follow the chart here:

https://github.com/openframeworks/openFrameworks/milestones

and if you want to know more about how we are progressing towards 0.9.0 follow the issues here:

https://github.com/openframeworks/openFrameworks/milestones/0.9.0

[2015-02-09 20:12] corybarr commented on #2060
What if ofPoint was no longer a typedef of ofVec3f and instead inherited from it? ofPoint::angleTo would then be overridden.

Reasoning: I don't think of a point as a vector, and I'm pretty picky about using ofPoint or ofVec[23]f for conceptual clarity. For example, a point doesn't have a magnitude, so when using an ofPoint I have no interest in the distance from the upper left corner unless it's

[2015-02-09 20:23] bilderbuchi commented on #3632
thanks. closing this.

[2015-02-09 20:23] #3632 closed

[2015-02-09 20:25] bilderbuchi commented on #3636
ping @openframeworks/video @openframeworks/2d-3d

[2015-02-09 21:51] igiso commented on #3636
![screen shot 2015-02-09 at 11 45 08 pm](https://cloud.githubusercontent.com/assets/2058400/6116503/ce3a4a60-b0b5-11e4-9579-784a27076046.png)
this is due to the way we are sharing gl context among windows..

try keeping each assets separate and allocate whatever is meant to be used in one gl context (images videos etc) in that gl context and keep it isolated...

[2015-02-09 22:21] timmb commented on #2060
I think having a bearing/heading/direction method makes sense as a measure of the counterclockwise angle between a vector and an axis (possibly with the x axis as a default argument). But I would argue it's still a quality of a vector, not a point. Points don't have direction. You only get a direction with a pair of points, and that's because you've made a vector by considering the difference betw

[2015-02-09 22:41] nylki commented on #3636
@igiso
I am not sure I understand what the different gl contexts are in that case. I declare the ofVideoGrabber in ofApp.h and initialize it in ofApp.cpp and display it on the main window. Why would the other window affect it in any way? I probably miss some essential understanding here.
What would I need to change in my case; Could you post a code sample how your recommended structure looks like?

[2015-02-10 02:26] corybarr commented on #2060
Yeah, Tim, you've got a point. Subclassing ofVec3f is a bit of a cop out. If starting from scratch, I'd offer the idea that a point and a vector are two quite different things and should be different classes. Vectors have no fixed location, so the idea of distance between vectors seems undefined there. Similarly, the angle between two vectors and two points means a very different thing.

Functions

[2015-02-10 07:08] igiso commented on #3636
the short answer to your question is

remove everything, (ofxGui ofImage etc)

just create the two windows.

put ofVideoGrabber in the window is CREATED LAST in main

but …really just don't do this,  wait till we figure out exactly what is going on here..

you might burn your graphics card or something :)

It seems that classes like ofImage , ofVideoGrabber  don't know what GL context is current..

[2015-02-10 07:35] igiso commented on #3636
creating multiple windows in main is definately what is causing the issue,

if you create 1 window, load all things up, nice and isolated in that context

draw them etc.

then when is all done,

create your 2nd window dynamically

then you can load whatever you want in there and it will be binded to the correct texture, and everything will be swell

As you can see I've loaded two images and videog

[2015-02-10 08:01] igiso commented on #3636
you can even load all your stuff in main window::setup and then share the context to the sec window and use them (assuming they are external etc)
like:
        settings.shareContextWith = ofGetMainLoop()->getCurrentWindow();

or even better:

        settings.shareContextWith = ofGetMainLoop()->get("main"); //it doesn't exist in master yet

[2015-02-10 09:41] tgfrerer commented on #2060
How about we follow a more minimalist approach:

* Let's deprecate `ofPoint` in favour of `ofVec3f` (i was under the impression that this was the plan anyway?)
* Let's try not to extend the API by adding features that may introduce semantic ambiguity

I would advocate this for two reasons:

+ if ever we want to switch over to a maintained, optimised, and widely-used maths library like the excellen

[2015-02-10 13:40] igiso commented on #3621
here it is..
https://github.com/igiso/glfw/compare/glfw:master...master

[2015-02-10 22:08] groolot commented on #3537
I'm working on. It's, in fact amistake to have closed the #3534.
Sorry

[2015-02-10 22:27] pizthewiz commented on #3537
No worries, is this issue just for the boolean type?

[2015-02-10 22:29] groolot commented on #3537
No. I'm working on ALL OSC 1.1 specification types.
Should be available soon. :)

[2015-02-11 06:26] corybarr commented on #2060
Deprecating ofPoint sounds like a good solution. That makes all the function names, return values, and semantics much clearer. Given that, it seems like bearingTo is very intuitive for what I originally used angleTo to calculate.

[2015-02-11 09:32] ofZach commented on #2060
back in the day, when all of this was in an addon, we used to have different point and vec objects, but it got a bit confusing which to use, and they got out of sync, which is why we moved to just having vecs but typedeffed to a point, but we also felt like ofVec3f is a sort of "beginning user" unfriendly syntax.  ofPoint is a **very heavily used data type** and there will be a ton of addons and c

[2015-02-11 10:11] tgfrerer commented on #2060
By *deprecate* i mean we could add the `deprecated` pragma flag in 0.9 and remove in 0.10 or even later, meant as a signal / flag for addon implementers to watch out for a change with an upcoming release.

I wonder if reducing the choice/ambiguity could also be of benefit for beginners. To have only one data type to deal with could be nice: when I started using openFrameworks, i remember finding i

[2015-02-11 10:57] s373 commented on #3426
would really really like to count on this soon for a project, almost there, so i share what i've accomplished and some errors, hoping a fellow programmer can assist!

the process of setup is straightforward:

1. install portable sdk ( http://kripken.github.io/emscripten-site/docs/getting_started/downloads.html#all-os-installation-instructions-portable-sdk )
2. calling on the project folder <pre> e

[2015-02-11 12:17] s373 commented on #3426
prevent directshow error above, add this to emscripten makefile
<pre>
PLATFORM_CORE_EXCLUSIONS += $(OF_LIBS_PATH)/openFrameworks/video/ofDirectShowPlayer.cpp
</pre>

then must define a method in ofEmscriptenVideoPlayer.h not yet implemented
<pre>bool load(string name){
		loadMovie(name);
	}
</pre>

and compilation almost succeeds! i was trying with ofxBullet, and i get errors, probably related to

[2015-02-11 13:11] s373 commented on #3426
![screen shot 2015-02-11 at 13 10 11](https://cloud.githubusercontent.com/assets/728199/6147438/6f682170-b1ef-11e4-835c-d963f5e52ad4.png)

[2015-02-11 14:31] procedural commented on #3514
`#undef GLEW_ARB_direct_state_access` gives no result, same triangle across the screen. Mesa doesn't support that extension yet, I see nothing on `glxinfo | grep direct_state_access`.

As of today commit [08ee18](https://github.com/openframeworks/openFrameworks/commit/08ee18) works fine for both GL 2.1 and 3.3 with the same driver and hardware, currently I sticked to it for production work.

Issue

[2015-02-12 00:51] davivid commented on #3000
Hi,
Did you fix this by any chance?

[2015-02-12 14:47] bangnoise opened #3641 "ofParameterGroup does not survive copying"
Copying an ofParameterGroup renders it unusable.

    ofParameterGroup params2;
    {
        ofParameterGroup params1;
        params1.setName("parameters");
        ofParameter<bool> active_param("active", false);
        params1.add(active_param);
        params2 = params1;
    }
    params2["active"].cast<bool>() = true;

Causes a crash on the last line

`#7	0x003ee083 in Poco::MutexImpl::lock

[2015-02-12 15:33] bangnoise opened #3642 "ofXml addChild doesn't add a child but reports success"
ofXml xml;
    if (xml.addChild("top"))
    {
        int numChild = xml.getNumChildren();
        // numChild == 0
    }

ofXml::addChild() needs to check element is set before doing anything.

OF HEAD and 0.8.4, OS X 10.10, Xcode

[2015-02-12 15:55] bangnoise opened #3643 "ofXml removeContents() doesn't"
Where settings.xml is

    <top>
        <next>
            <first_child/>
        </next>
    </top>

The following doesn't behave as expected

    ofXml xml("settings.xml");
    xml.setToChild(0);
    int numChild = xml.getNumChildren();
    xml.removeContents();
    numChild = xml.getNumChildren();
    // numChild == 1

OF HEAD and 0.8.4, OS X 10.10, Xcode

[2015-02-12 16:20] NeKoFu opened #3644 "ofVbo.cpp#L330 in branch stable"
Look at  https://github.com/openframeworks/openFrameworks/blob/stable/libs/openFrameworks/gl/ofVbo.cpp#L330

Here is the incriminated line:
[code]

This line doesn't affect a boolean value as needed and cause a compilation error in the official stable package 0.8.4.

[2015-02-12 17:30] tgfrerer commented on #3644
Interesting! Which compiler / operating system are you using?

Some compilers have trouble resolving the implicit cast, that's why I'm asking. It will help pinning down the issue of we know which configurations are affected.

That said, I looked this morning and couldn't find the line

[2015-02-12 17:58] bangnoise opened #3645 "ofXml setValue doesn't behave as documented"
ofXml something;
    something.setValue("/one/two/three", "lol");

should, [according to the documentation](http://openframeworks.cc/documentation/utils/ofXml.html#show_setValue), create absent paths, which would be useful.

It doesn't, which makes it using oxXml fairly verbose.

OF HEAD and 0.8.4, Xcode, OS X 10.10

[2015-02-12 18:32] arturoc commented on #3628
just to add that the gstreamer video player already works like it's suggested here. by default it loads synchronously and then it has a flag `setAsynchronousLoad` which makes it load asynchronously. the `loadAsync` method is even a better idea in my opinion. so +1 to add this to ofBaseVideoPlayer and ofVideoPlayer

[2015-02-12 18:41] arturoc commented on #3621
thanks @igiso! i just merged it in my feature-keysUnicode. @tgfrerer can you change the apothecary script to point to my repo?

[2015-02-12 18:49] tgfrerer commented on #3621
Done =)

[2015-02-12 18:50] arturoc commented on #2060
i'd say let's move to glm asap. then deprecate all the current vector math types. my idea is that we can have both for a while and add some kind of cast operators so old projects still work as they are but get tons of warnings :) it might be a little hard to get right but i think is doable and it's for sure worth moving to glm which has a syntax much similar to opengl's + should be much more optim

[2015-02-12 18:51] arturoc commented on #3621
yay! thanks!

[2015-02-12 18:51] #3621 closed

[2015-02-12 18:58] arturoc commented on #3630
sure, can you send a PR?

[2015-02-12 20:14] #3636 closed

[2015-02-12 20:30] arturoc commented on #3426
there's been some major refactoring when introducing multiwindow support that has broken emscripten. i'll fix it when i have a moment but there's probably much more than what you've found since at least the window class needs some changes to work with the newest version

the emscripten compiler can be super slow too, compiling in debug with `make Debug` makes it slightly faster

[2015-02-12 20:39] arturoc commented on #3644
this was problematic with newer versions of gcc if i'm correct but was fixed a while ago on master. i'm going to close it but feel free to reopen if you can test with master and still have a similar issue

[2015-02-12 20:39] #3644 closed

[2015-02-13 06:07] hardmanko opened #3647 "There seems to be confusion about what ofPixels::size() returns"
In the current master version of the repo there is an error in the version of ofPixels::copyFrom() with complete type signature (in the header):
[code]

If the child has a pixel type with fewer bytes per pixel than the mom, an error occurs in this function. This function uses `ofPixels::size()` to control iteration over the contents of both objects while each pixel is copied. The reason for the er

[2015-02-13 07:16] jvcleave commented on #3529
@arturoc just pinging to see if you have any other insights? I should have some more time next week to fix (and hopefully an RPI2 as well)

[2015-02-13 09:59] s373 commented on #3426
<pre>emmake make Debug or emmake make</pre> on my system which now compiles ofxemscripten ok, produce exactly the same outcome i mentioned earlier: compile ok, but llvm-nm never finishes and no binary html generated. (10+ hours of waiting for it to finish)

could you paste the terminal output of a working project you have there? better yet, is there any of-branch somewhere where emscripten is comp

[2015-02-13 13:41] ofTheo commented on #3647
Thanks for the issue!

I think size is currently correct as the total number of pixels * the number of channels.
getTotalBytes is actually different from that as ofFloatPixels is 4 bytes per pixel channel where as ofPixels is 1 byte.

It sounds like though there is a bug with the copyFrom as you mention.
There should be a check and an error if the two ofPixels don't have the same number of channel

[2015-02-13 13:42] ofTheo opened #3649 "ofPixels copyFrom doesn't check if num channels are the same"
If you have two ofPixels objects and one has different channels from the other currently it could lead to a crash.

Solution as an error and don't do the copy here:
https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworks/graphics/ofPixels.cpp#L224

[2015-02-13 13:46] arturoc commented on #3649
mmh, don't see the error, that allocate should do the right thing and allocate the dst with the same w, h and pìxelFormat than the src

[2015-02-13 13:50] arturoc commented on #3529
haven't had time to check it but it seems correct to me, i'll give it a try this weekend

[2015-02-13 13:54] arturoc commented on #3426
no there's no branch, you could try to go back to some specfic commit but not sure either where it was working. the original branch were i did the port is not compatible anymore with the current emscripten.

but yes you can change the html as much as you want, even communicate from js/html to c++ and viceversa

[2015-02-13 14:08] rstecca commented on #2695
I'm having this issue with 0.8.4 ios on Yosemite

[2015-02-13 14:13] procedural commented on #3514
https://github.com/openframeworks/openFrameworks/commit/80a8dfa works ok
https://github.com/openframeworks/openFrameworks/commit/f9b64c9 dosn't work!

![](http://i.imgur.com/319Dhuq.png)

So now at least we know which commit introduced this issue.

[Any ideas at the first glance where should I look first](https://github.com/openframeworks/openFrameworks/commit/f9b64c9)? :D

[2015-02-13 14:18] arturoc commented on #3514
those commits are merge of several others, so it's really difficult to say, have you tried to git bisect from a commit before the multiwindow merge until that bakercp merge? that should give you the exact commit that introduced the error

[2015-02-13 15:38] NeKoFu commented on #3644
I use Visual Studio 2013 - Version 12.0.31101.00 Update 4 on Windows 8.1. This file has evolved in the branch master but the problem is embedded in the package available here:   http://openframeworks.cc/download/.

[2015-02-13 16:39] hardmanko commented on #3647
Thanks for your quick response!

There is a mistake in my first post, that I talk about at the end here, but I was right about `getTotalBytes()` and `size()` returning the same value regardless of the pixel type, which you can get from the following snippet:
[code]
The output I get from this is that size() and getTotalBytes() return the same values in all 4 cases.

Looking at the source, `getTotal

[2015-02-13 17:16] arturoc commented on #3647
you are correct, size should return the number of channels * w * h. channels is a bit ambiguous in some formats like some yuv variants that's where the confusion comes from. in 0.8.4 size was correctly returning w*h*channels but when refactoring ofPixels to introduce yuv formats i inadvertently changed it to return the number of bytes.

i'm going to reopen this since it seems to be a real issue.

[2015-02-13 17:17] arturoc commented on #3649
closing this since the original issue is actually the correct one

[2015-02-13 17:17] #3649 closed

[2015-02-13 17:24] ofTheo commented on #3649
@arturoc - yeah sorry - my logic was totally wrong on this.
closing real issues and creating fake ones :)

[2015-02-13 17:28] arturoc commented on #3649
:)

[2015-02-14 05:26] orsjb commented on #3529
Hi, I've got the same problem. Just tried compiling now. In ofTypes.h, "shared_ptr", "weak_ptr" and "enable_shared_from_this" are all already declared in scope. Fresh checkout of openFrameworks from git yesterday. Raspbian Wheezy 2014-01-07.

[2015-02-14 15:01] mattfelsen commented on #3628
Here's a comment/sample implementation for AVFoundation sync load/update from another thread. Looks like it's was done against the CLOUDS-based player so it may need some modification to get working with the *new* new player switch, but just linking to it for discussion/possible quick fix for Jonas :)

https://github.com/openframeworks/openFrameworks/pull/3200#issuecomment-70400878

[2015-02-14 15:04] HalfdanJ commented on #3628
@mattfelsen I actually just did an implementation (in a different way that seems to work)

[2015-02-14 15:07] mattfelsen commented on #3628
Haha @HalfdanJ, yea your PR popped up literally as I was clicking to submit my comment ;)

[2015-02-14 20:42] fred-dev opened #3656 "ofxUdpManager bind not sticking after receive"
It is common when communicating with UDP servers to send a hello message to initiate communication. The hello message contains the address information of the sender- the server has a single open port lets say 9910, but no specified port to return communication on.

No problem, the first hello message contains a source port (lets say 5320), this source port will be bound on the client machine and i

[2015-02-15 05:27] joshuajnoble commented on #3645
This is actually an error in the documentation I think. addValue() does create the path. Will update the documentation.

[2015-02-15 19:11] joshuajnoble commented on #3643
Addressed in https://github.com/openframeworks/openFrameworks/pull/3657

[2015-02-15 19:25] joshuajnoble commented on #3642
This one is odd because the previous snippet makes the following XML document:

```<top/>```

Since that's the document root Poco XML doesn't recognize that as being a child. We could have that reported as a child but it seems to go a bit against the XML spec and while I don't have strong feelings about that, Poco does.

[2015-02-15 19:53] #3643 closed

[2015-02-15 20:35] bangnoise commented on #3642
So in fact current behaviour is an implicit setToChild(0) after addChild() on an empty instance, but not in any other circumstance - which is a little strange too.

It's a matter of opinion what's correct (and I just add that often an ofXml instance is an XML fragment, not an entire document, to be composited later using ofXml::addXml()).

Whatever the answer, documenting behaviour would be super

[2015-02-15 20:56] joshuajnoble commented on #3642
It is but it seemed more intuitive to make a document and have the element for subsequent operations be the document rather than having everything fail until the user does setToChild(0). I wrestled with this a lot honestly and I'm still not sure it's the right answer but ultimately I just wanted XML to be simple enough.

Agreed that the documentation needs to be better. As for fragments, Poco has

[2015-02-15 21:07] bangnoise commented on #3642
Re the original issue, I think either behaviour is acceptable _if_ it's documented - I totally get your reasoning.

Re fragments, the current implementation works fine - and using addXml() is by far the simplest way to add repeating same-named (differently attributed) entities (maybe the only way).

[2015-02-16 01:00] procedural commented on #3514
@arturoc you're right, that merge had [these](https://github.com/openframeworks/openFrameworks/pull/3384/commits) commits in it, and I've tracked down exact ones:
cdcf693 - GL 3.3 works fine
1839c0b - doesn't compiles since it misses ofWindowSettings.h that was introduced in 1836ea6
df19c74 - doesn't compiles since it misses ofWindowSettings.h that was introduced in 1836ea6
1836ea6 - GL 3.3 doesn'

[2015-02-16 07:47] K0j0 opened #3658 "Android apps draw upside down"
It seems like the Y coordinate is flipped on Android. Here's what the image example looks like.

https://www.dropbox.com/s/bomgo3uh4qr4796/of_image_android_flipped.png?dl=0

I'm not seeing this on desktop or on iOS. I've poked around a bit and have a feeling that this has to do with the vFlipped property in either ofMatrixStack or ofGLRenderer. Not completely sure though.

I have a feeling that th

[2015-02-16 20:04] bilderbuchi commented on #3658
pinging @openframeworks/android

[2015-02-16 20:57] HalfdanJ opened #3659 "Android events dont get called"
The android specific window functions `resume()`, `reloadtexture()` etc dont get called anymore. I looked into the code, and i can see that  [here](https://github.com/openframeworks/openFrameworks/blob/master/addons/ofxAndroid/src/ofAppAndroidWindow.cpp#L278) the `androidApp` is no set. And as far as i can see it's never getting set anywhere.

There was [this](https://github.com/openframeworks/ope

[2015-02-16 21:33] #3529 closed

[2015-02-16 21:33] #3658 closed

[2015-02-16 21:35] arturoc commented on #3659
oh, didn't realized about this. with the refactoring of the window system i removed methods that pass a reference to an ofApp to the window. now everything works through events but the live cycle functions don't have an associated event yet. we need to create those events and make the app listen to them

[2015-02-17 01:18] orsjb commented on #3529
On 662830f I'm still getting the compile error. Clean install of Raspbian Wheezy 2014-01-07.
Is there a test to ensure I have correct dependencies?

Also note I don't have gst-launch-1.0 as per this thread: http://forum.openframeworks.cc/t/videoplayerexample-on-raspberrypi/18525/3.

[2015-02-17 03:40] jvcleave commented on #3529
@arturoc thanks for the updates!

Is there a new way to specify the `ofGLProgrammableRenderer`?

The way I was using (and still in a lot of the OF tutorial apps)

`ofSetCurrentRenderer(ofGLProgrammableRenderer::TYPE);`

gets me this

[code]

using

`ofSetCurrentRenderer(ofPtr<ofBaseRenderer>(new ofGLProgrammableRenderer()));`

causes

[code]

Apparently  main.cpp needs to pass an ofAppBaseWindow?

[2015-02-17 05:42] procedural commented on #3514
Ok, I've tracked down exact commits. I thought I did that yesterday, but it turned out I used ofSetOpenGLVersion() after ofSetupOpenGL() which was incorrect!

Using this [commit history](https://github.com/openframeworks/openFrameworks/pull/3384/commits):

c473f23 GL 2.1. works, GL 3.3 works too
08f24c6 Black screen on any rendering
94cb656 GL 2.1. works, GL 3.3 doesn't

[2015-02-17 07:29] tallavi commented on #3659
How is it related to PR #3397? I fail to see the connection. The only change there is handling jni calls from detached threads.
BTW, could it be somehow connected to issue #3555? Although I think it's an issue before the new window system, and I'm pretty sure I saw the events being called there..

[2015-02-17 07:54] procedural commented on #3460
Found [this comment](https://github.com/openframeworks/openFrameworks/blob/c473f23/libs/openFrameworks/gl/ofGLProgrammableRenderer.cpp#L868-L871) in older commit :)

[2015-02-17 08:56] bilderbuchi commented on #3460
wondering why that is commented out, though? @arturoc @tgfrerer ?

[2015-02-17 09:18] HalfdanJ commented on #3659
@tallavi i think i got confused by my git log, since your name was on the merge that introduced the code. Not quite sure why that is some weird merging, but it seems like arturoc knows what the problem and solution is.

[2015-02-17 09:34] tgfrerer commented on #3460
I put this in commented, because prints to the log are very expensive, and a log message might get emitted more than once per draw loop - slowing the renderer down terribly.

if we had a mechanism in openFrameworks to log a warning only on first occurance, that would be ideal.

[2015-02-17 09:40] tgfrerer commented on #3529
Hey @jvcleave, to select the programmable renderer, instead of the old method, try setting the GLES version to 2 - as in:

    # main.cpp

    ofGLESWindowSettings settings;
    settings.setGLESVersion(2);

    ofCreateWindow(settings);

[2015-02-17 10:10] bilderbuchi commented on #3460
OTOH, it only prints if you're doing something you shouldn't, right? so if your lines are not thickening if you use setLineWidth, slow performance shouldn't matter that much, should it?

[2015-02-17 10:11] tgfrerer commented on #3460
That, on the other hand, is very true. +1 for uncommenting it, then =)

[2015-02-17 11:12] arturoc commented on #3529
yes that's it, i actually need to turn the current ofAppEGLWindow::Settings class to extend ofGLESWindowSettings so you can pass all those parameters too when setting up the window.

[2015-02-17 11:13] arturoc commented on #3514
thanks! that helps a lot

[2015-02-17 16:52] jvcleave commented on #3529
That did it :) (wow - `ofSetupOpenGL` is gone? RIP)

For anyone else stumbling across this  - this did it for me

[code]

[2015-02-17 23:38] trentbrooks commented on #3529
I have same compile issues as @orsjb on rpi2. Steps to reproduce...
- cloned a fresh master today (last commit https://github.com/openframeworks/openFrameworks/commit/1b4eab4fad3c9016c8b5a1d7fbe78b36b18584da)
- install dependencies, codecs scripts (linux/debian)
- enter following 2 commands (https://github.com/openframeworks/openFrameworks/issues/3620):
export MAKEFLAGS='-j4 -s PLATFORM_VARIANT=rp

[2015-02-18 08:41] K0j0 commented on #3658
Thanks, that really did the trick! Seems like it was a bit more than simple fix.

[2015-02-18 09:55] tgfrerer commented on #2060
related #3477

[2015-02-18 14:29] cgimenez commented on #3529
Followed the different advices in this discussion thread and examples run all fine on rpi2 with 084 stable armv7 openframeworks archive.

[2015-02-18 17:22] nylki commented on #3636
@arturoc most things work now, thx!
However, I still get problems with drawing ttf fonts on one of the windows, showing as blocks.

![bildschirmfoto 2015-02-18 um 18 19 25](https://cloud.githubusercontent.com/assets/1710598/6252467/ee2f417c-b79a-11e4-937b-6a9a8a2836f0.png)
this should say: `"Font Example - use keyboard to type"`
Interestingly the `-`renders fine.

[2015-02-18 17:39] tgfrerer commented on #3636
hi @nylki,

try calling `ofEnableAlphaBlending();` just before you draw your text.

if true type fonts are rendered while alpha blending is off, the blocks are due to the geometry for the fonts being rendered, but the alpha mask for the font not being applied.

[2015-02-18 18:32] arturoc commented on #3636
alpha blending should be enabled by default and even by the font itself when drawing it i think it's a problem with the texture being loaded in a different context. can you post an example that demos the problem?

[2015-02-18 19:39] nylki commented on #3636
@arturoc Sure, I'll try to assemble an example tommorow.

[2015-02-19 09:20] elliotwoods opened #3663 "New bug in 0.9.0 : ofPixels::size() is pre-multiplied by sizeof(PixelType)"
As we can see in:
https://github.com/openframeworks/openFrameworks/blob/master/libs/openFrameworks/graphics/ofPixels.cpp#L225

The usage of `ofPixels::size()` has been to refer to width * height * channels

But since
https://github.com/openframeworks/openFrameworks/commit/de4839df31d9a1a80dceb51a1665dfd533c4433e

`size()` has also been premultiplied by sizeof(PixelType), which obviously breaks a l

[2015-02-19 09:21] elliotwoods commented on #3663
@arturoc - was this an intentional change?

[2015-02-19 10:06] nylki commented on #3636
@arturoc It was a problem on my side, I loaded and setup the font in the wrong setup, not the setup of the window I wanted to draw to. Everything is fine now.

[2015-02-19 11:51] arturoc commented on #3663
no, not at all. there's a similar issue to this. there's also a getBytesPerPixel and getTotalBytes methods so yeah it doesn't make sense that size also returns that. size should do be as similar as possible to vector.size

[2015-02-19 16:26] Foaly commented on #3487
I have the exact same problem.
I would love to see this being fixed. If I can do anything to help, please let me know!

[2015-02-19 18:10] #3647 closed

[2015-02-19 18:10] #3663 closed

[2015-02-19 18:32] #3598 closed

[2015-02-20 16:13] drumanart opened #3666 "unmet dependencies"
Hello
I get errors installinf OF

No LSB modules are available.
Distributor ID:	Peppermint
Description:	Peppermint Five
Release:	5
Codename:	trusty

The following packages have unmet dependencies:
 freeglut3-dev : Depends: libxt-dev but it is not going to be installed
                 Depends: libxext-dev but it is not going to be installed
 libcairo2-dev : Depends: libx11-dev but it is not going

[2015-02-20 16:13] armadillu opened #3667 "ofMesh::draw() slow vs ofGetGLRenderer()->draw(ofMesh) in fixed pipeline"
[code]
When using the fixed pipeline renderer, those two behave very differently when drawing lots of meshes. The ofMesh::draw() method is waaay slower, around ~10x slower when drawing 1000 ofMeshes. After some digging, came to the conclusion that this happens  because each ofMesh::draw() does a glPushAttrib() and a glPopAttrib() before drawing the mesh.

This was noticed on Mac OS X 10.9.

Arturo

[2015-02-20 16:30] arturoc commented on #3666
this seems like some packages are broken in your distribution, try to install them by hand. the only officially supported distributions are debian, ubuntu, fedora and arch linux. anything based on those should work but some times the distribution packagers do changes and break some dependencies which seems to be your case.

i'm going to close this since it's not an issue in OF but feel free to add

[2015-02-20 16:30] #3666 closed

[2015-02-20 16:36] arturoc commented on #3667
yeah the programmable renderer just defaults to whatever the fill state is. we could change the fixed pipeline renderer to use that too. i think before we were more careful with trying to maintain the state if someone did direct gl calls in combination with OF calls but i it's a huge performance hit to push / pop or get / set attributes this way and we've recently done other changes in that direct

[2015-02-20 16:40] tgfrerer commented on #3667
I would consider `ofMesh.draw()` a convenience method, which means i would advocate for it to aim to be designed to be easy to use - but internally careful to maintain state, and not aggressively optimised.

We're not currently tracking the polygonmode internally in the renderers and setting the polygonmode based on the current fill style in the programmable renderer is a necessary evil, following

[2015-02-20 16:48] arturoc commented on #3667
even with that, in this specific case where he's drawing 1000s of meshes, creating 1000s of vbos might not be the best idea and creating 1 vbo and updating it several times per frame can be way slower than using ofMesh if it's not done properly, the fastest would be to create 1 vbo with all the data + a texture atlas but that's probably overkill for some cases.

i think that OF fill mode == gl pol

[2015-02-20 16:52] tgfrerer commented on #3667
yeah, it's probably better to optimise the data (i.e. the amounts of meshes and draw calls) before everything else.

i like the refactor! and strange that we never noticed the `GL_FILL` swap bug in `drawInstanced`

[2015-02-20 17:05] armadillu commented on #3667
In my case each mesh is changing every frame, so for a quick 1-day prototype it seemed the best option. I believe ofVBOmesh would only add more overhead when the meshes are updated all the time.

Basically I needed 1000 different high res textures/photos with a custom crop on screen (i.e. not square), and I need to be able to zoom into them too. So unless I build a gigantic texture atlas to be abl

[2015-02-20 17:12] arturoc commented on #3667
actually creating 1 ofVboMesh and updating it by calling set() so the previous buffer is invalidated, is pretty much what's going on internally in OF. but yes i think removing the push/pop and defaulting to the fill state is a good balance of performance/least surprise in this case.

yeah right, i was having problems with instanced drawing under the programmable renderer a while ago but not sure i

[2015-02-21 06:39] jvcleave opened #3669 "May be able to remove 3rd party repo for RPI/arm6"
I *think* that we may be able to remove the vontaene.de repo as from the below it appears that Raspbian has adopted libgstreamer1.0-dev into the main repo

It seems vontaene has a newer version tho - @arturoc you are more familiar with gstreamer - any watchouts?

[code]

[2015-02-21 13:31] arturoc commented on #3669
voataene.de had the omx module for gstreamer. without that raspbian didn't had accelerated video decoding under gstreamer making it super slow

[2015-02-21 17:40] jvcleave commented on #3669
it looks like both have it (but vontaene is newer)

[code]

[2015-02-21 19:45] bilderbuchi commented on #3628
closed by #3653, I think

[2015-02-21 19:45] #3628 closed

[2015-02-22 19:42] drumanart commented on #3666
I had to downgrade the error packages manually. I did this with aptitude.

Thanks Martin

[2015-02-23 05:17] julapy opened #3673 "ofLoadImage() does not initialise a ofImage object."
there a few different way of loading an ofImage... like there are skinning a cat.

this works fine,
[code]

but when doing it this way, image is loaded ok but width, height are 0.
looks like the ofImage object is not initialised.
[code]

[2015-02-23 06:43] jvcleave commented on #3673
sounds like https://github.com/openframeworks/openFrameworks/issues/1663 :)

[2015-02-23 06:45] julapy commented on #1663
there a few different way of loading an ofImage... like there are skinning a cat.

this works fine,
[code]

but when doing it this way, image is loaded ok but width, height are 0.
looks like the ofImage object is not initialised.
[code]

[2015-02-23 06:45] julapy commented on #3673
oops my bad, thanks for spotting @jvcleave.
ive moved my comment to the original issue.
closing this one.

[2015-02-23 06:45] #3673 closed

[2015-02-23 11:13] #3667 closed

[2015-02-23 11:27] arturoc commented on #1663
this works for me like:

[code]

the problem is that ofLoadImage() expects an ofPixels, not an ofImage. ofImage automatically casts to ofPixels and ofLoadImage fills the ofPixels but some info in ofImage is not filled until update is called.

there's several problems here:

- The automatic cast is problematic, i added it a while ago so addons like ofxCv don't need to have specialized methods to wo

[2015-02-23 22:52] ofTheo commented on #2527
Actually just ran into this issue.
The sorting is happening and device list is being sorted by serial number correctly.

The issue is that opening via the ID is not opening with the now sorted index but the original bus id ( which is basically the order you plug the kinects in ). So the sorting is actually having no effect.

Here are two cases where I plug in the same two kinects but in a differen

[2015-02-23 22:59] nosarious commented on #2527
I, personally, built a system for unblinking/linking the kinects in the main code, mostly to allow people to use different models of kinects side-by-side.

While an automagic system for red tarting the equipment due to power outages or accidental unplugging would have been preferred, an alternative was to include the ability to reset the kinects in software instead.

[2015-02-23 23:11] danomatika commented on #2527
If that fix works, then it looks good to me.

[2015-02-23 23:12] ofTheo commented on #2527
Thanks for the quick reply @danomatika !

It does seem to work ( and is actually non regressive as before it was basically random which kinect would open first ).
I have a good setup for testing, so I'll do a bit more testing and then submit a PR.

[2015-02-24 01:50] julapy commented on #1663
+1 for your second point @arturoc,
if ofPixels contains all that information, no need to duplicate inside ofImage.

[2015-02-24 01:58] julapy opened #3675 "ofDrawBitmapString renders incorrectly using ofGLProgrammableRenderer"
getting some strange results when using ofDrawBitmapString on ofGLProgrammableRenderer.

`ofDrawBitmapString("testing", 20, 20);` - should just draw a white bitmap string.
instead it draws it on a background and the text is yellow.
![Image](https://dl.dropboxusercontent.com/u/3828359/OF/ofDrawBitmapString_bug0.png)

this is how text labels are rendering using ofxUI.
and i think this might be using

[2015-02-24 09:36] tgfrerer commented on #3675
Hi Lukasz, I couldn't reproduce this on my system - is there a way to rule out it's something internal to ofxUI?

From the images you posted, could it have something to do with the blue and the alpha channel going missing / not mapping properly?

Also, do you mind posting your configuration? I assume you are using the latest master branch. It would help narrow things a bit down.

[2015-02-24 09:49] zen-kizu opened #3676 "ofFbo issues when using multiple windows"
Yesterday, I switched from the latest official release to the current master branch due to the multi window support, I implemented the approach illustrated in the example multiWindowOneAppExample.
What my program currently does is displaying multiple windows, each one has a dot grid, a red outlined rectangle and a wallpaper I apply some modifications to. Currently, these are:
* resize it to fill t

[2015-02-24 10:08] tgfrerer commented on #3676
Hi @zen-kizu, you might be running into concurrency issues. Each window in openFrameworks has its own renderer. And each renderer owns its own OpenGL context. Contexts may share resources. But if you want to share dynamic resources - my suggestion is: think twice.
* Then read this article: http://blog.gvnott.com/some-usefull-facts-about-multipul-opengl-contexts/.
* Then this article: http://www.se

[2015-02-24 10:19] zen-kizu commented on #3676
Thanks a lot for your input! I'm new to coding with OpenGL (I started a few weeks ago) so I still have to learn much about it. :)

[2015-02-24 10:20] #3676 closed

[2015-02-24 10:22] julapy commented on #3675
hey, been doing some more testing and it seems to be related the way im setting up my window.

the below is the old way of creating a window,
which is what is causing these issues.
[code]

when i create a window the new way,
the issue with the bitmap fonts doesn't happen anymore.
[code]

[2015-02-24 10:27] tgfrerer commented on #3675
That's great to know! I think we should find a way to enforce the new way of window creation to make things a little more consistent =)

[2015-02-24 10:32] arturoc commented on #3675
yes, probably just checking that there's not 2 calls to setup the same window, in your example, both `window.setup(settings)` and `ofSetupOpenGL(&window...)` are setting up the window.

[2015-02-24 10:34] julapy commented on #3675
it would be good if it could still work both ways until the old method is fully deprecated, as i imagine a lot of people will be trying to create windows using the old method and running into this issue.

[2015-02-24 12:01] bangnoise opened #3677 "ofBuffer.allocate() behaviour is inconsistent with other class functions"
ofBuffer buffer;
    buffer.allocate(10);
    long length = buffer.size();
    // length == 9

ofBuffer (for better or worse) adds one byte to its internal vector size everywhere (?) except in `allocate()`. This means if you use `allocate()` you end up with a buffer which appears to be shorter than requested.

Fixing this will presumably break a lot of user and ofxAddon code that works around it b

[2015-02-24 13:52] arturoc commented on #3677
yes, allocate should allocate to 10 bytes in that case. i think it's ok to just fix it since most people use ofBuffer to read files... not allocating it directly. the fact that nobody has reported it before kind of proves that :)

[2015-02-24 19:14] nneonneo opened #3678 "ofxOpenCv missing libpng, libjpeg, libtiff"
Attempting to call `cvSaveImage`/`cvLoadImage` from `highgui.h` results in linker errors on Windows (possibly other platforms) because the OpenCV libs are missing libpng, libjpeg and libtiff.

This issue was discovered while trying to compile ofxFerns on Windows, because the FERNS code uses these two functions.

[2015-02-24 19:19] nneonneo commented on #3678
For example, when building OpenCV, these libraries are included in the output directory:

![opencv_libs](https://cloud.githubusercontent.com/assets/75449/6357125/1970cd44-bc30-11e4-887a-45043bfc88e0.png)

If we included these libraries in ofxOpenCv, the problem would disappear.

[2015-02-24 19:57] #2527 closed

[2015-02-24 20:57] arturoc commented on #3678
the problem with including this libraries is that we are already including libpng through cairo and all of them thorugh freeimage so including them again with opencv produces some clashes when compiling applications that use for example opencv and ofImage. there should be a way of making freeimage publish those symbols so opencv functions can use them too, but not sure if it's possible

[2015-02-24 21:01] arturoc commented on #1663
the main problem is that those are public so it'll for sure break some projects we should remove them at some point anyway since having those public variables is only going to be problematic. there's similar variables in the video classes and ofTexture. i would remove them for 0.9 since we are going to break some other stuff anyway.

[2015-02-24 21:07] jvcleave commented on #1663
+1 for removing them - it's a fairly straightforward search and replaceable fix

[2015-02-24 21:27] nneonneo commented on #3678
On MSVC at least, I compiled ofxFern with these libraries added to ofxOpenCv, and included some ofImage.loadImage calls. No linker errors were seen.

On other platforms, I am not sure if this problem exists.

[2015-02-25 13:24] Foaly opened #3680 "Undeclared Macros in <cerrno> in ofxNetwork when compiling with MinGW on windows"
Hello everybody!
I have trouble compiling the latest master from github with MinGW on windows. I get errors about undefined macros in `ofxNetworkUtils.h`. The errors all look like this: `error: 'EALREADY' was not declared in this scope`
For a better description of the problem and what I tried to fix it can be found in this [forum post](http://forum.openframeworks.cc/t/undeclared-macros-in-cerrno-i

[2015-02-25 13:41] Foaly opened #3681 "winsock incompatibility error in ws2tcpip.h"
Hi there!
I tried to compile the ofxKinect addon. When I do so, I get the following error in `ws2tcpip.h` line 16:
`#error "ws2tcpip.h is not compatible with winsock.h. Include winsock2.h instead."`
When i change [line 33 in `ofxKinect/libs/libfreenect/include/libfreenect.h`][1] from `#include <winsock.h>` to `#include <winsock2.h>` everything compiles fine.
Would you guys like me to send a pull r

[2015-02-26 12:23] tgfrerer commented on #2763
Yep, looked into this, but it doesn't seem to be a feasible cross-platform option at the moment. I'm closing this now, but feel free to re-open it if there's an easy way to make this work over all platforms we currently support.